[2016-04-23 02:38] benjamminf opened #3 "Translations needed"
Seeing as I'm an uncultured [bogan](https://en.wikipedia.org/wiki/Bogan) who can't speak anything other than aussie, additional phrases that need translations are

#### Configurator

- `Block type`
- `The maximum number of blocks of this type the field is allowed to have.`
- `Child Blocks`
- `Which block types do you want to allow as children?`
- `Max Child Blocks`
- `The maximum number of child b

[2016-04-24 06:01] benjamminf opened #4 "Content summary in collapsed block title"
Just like with Matrix blocks, having the field values summarised in the block title when collapsed would be nice.

[2016-04-25 02:20] benjamminf opened #5 "Only show the group drop down if there is more than one in the group"

[2016-04-25 23:33] benjamminf opened #6 "Custom Neo twig tag"

[2016-04-25 23:54] benjamminf opened #7 "Move block up/down options"
Sometimes blocks can get pretty long, if they have a lot of content or children in them. Dragging them to change their position can get a little clunky in these cases. Would be good to have an option on the dropdown menu for each block to move their positions up and down as an alternative to dragging.

[2016-04-26 00:17] benjamminf opened #8 "Implement structure querying in templates"

[2016-04-26 00:44] benjamminf opened #9 "Block tab dropdown doesn't work on new blocks"

[2016-04-27 10:21] gisu opened #10 "Fail after save field"
I wanted to test. Build a Simple Neo Field with two Blocks not more. Click on Save than a CException

/craft/app/framework/db/ar/CActiveRecord.php(146)
[code]

Tested with Craft 2.6.2781

[2016-04-27 10:54] benjamminf commented on #10
Hey @gisu thanks for the report. Can I get some more details on how you encountered this issue? What fields/field types did your blocks contain? And what were your block type settings? Thanks, Ben.

[2016-04-27 12:14] gisu commented on #10
First Try with two Blocks and serveral Fields (Exception).

Than a second try super simple. Two blocks only, one top level, the second block is nested - fields are empty.

![image](https://cloud.githubusercontent.com/assets/442468/14851747/330178a0-0c82-11e6-8842-2943f1db7862.png)

[2016-04-27 13:06] gisu commented on #10
I make a new Test with a new Craft Installation, it works. So i think on the first tested Installation is something broken or it comes from a other Plugin.

[2016-04-27 13:37] benjamminf commented on #10
Ah okay, thanks for the heads up. Am I able to get a list of the plugins you were using alongside Neo? I still want to see if I can reproduce this error to make sure I'm not doing anything wrong. Thanks!

[2016-04-27 16:06] gisu commented on #10
I have added the Plugins from the Live Page to the Test Installation. Works. So i think its a bug inside the Core or a Datatable in the DB is broken (maybe from a Update, Deinstallation Plugin whatever).

[2016-04-27 23:17] benjamminf commented on #10
Hmm okay then, if you have this problem again reply here and I'll reopen the issue.

[2016-04-27 23:17] #10 closed

[2016-04-29 00:02] benjamminf opened #11 "Child block gets added to wrong parent"
1. Add two root level blocks
2. In the first root level block, add a new child block
3. In that new child block, try adding a child block. It will add it to the last block instead.

[2016-04-29 00:07] benjamminf commented on #6
As of version `1.0.1` the [`{% nav %}`](https://craftcms.com/docs/templating/nav) tag can be used to generate a Neo block structure. Not sure if it's worth adding a `{% neo %}` tag now, as it'll essentially just be an alias for the nav tag. It does feel weird using the nav tag for Neo fields though. If only Craft had actually named it the structure tag or something...

[2016-04-29 00:10] benjamminf commented on #8
Block models should have a `children` property, and other structure-related properties, like with entries and categories. Reopening this issue to make note of this.

[2016-04-29 00:12] #6 closed

[2016-04-29 07:38] superflausch opened #12 "Block Tabs"
First thanks again for your work and an awesome plugin. While playing around with it I noticed two small points:

- The block tab titles (when you create multiple tabs for a block) don't get translated

- The block tabs trigger also the checkbox to select the block

[2016-05-03 01:44] aenrii opened #13 "Documentation With Templating Examples"
Thanks for a brilliant plugin!

Would love to eventually see some documentation with examples of templating and so forth. Various basic use cases perhaps.

[2016-05-03 01:57] benjamminf commented on #13
Cheers 👍

Absolutely, It's something I'm working on. For the most part it should work the same as Matrix fields. I'm working on having the template API be the same as entries in structures, so at the moment there's not a whole lot of support for handling child blocks. Fun fact though, you can use the `{% nav %}` tag to output a Neo field.

[2016-05-03 02:02] benjamminf commented on #12
Thanks for the report! I'll fix these up hopefully tonight.

[2016-05-09 12:45] smockensturm commented on #13
re: Templating. How do we get to, loop through and render the child blocks?

[2016-05-09 15:19] smockensturm commented on #13
Right. If we use block.children we get ALL the children regardless of entry.

[2016-05-10 17:52] smockensturm commented on #13
Here we go:

[code]

where "multiColumn" is the parent and 'column' the children.

[2016-05-11 05:15] benjamminf commented on #13
Hey @smockensturm sorry this has been trouble for you. Frustratingly this feature has been pretty hard to implement, but I've held back from advertising this plugin and writing the docs until it's implemented.

I've just released `1.0.2` which will let you get child blocks in the template, using a temporary API, just so it's usable in the meantime. This temporary API will remain supported througho

[2016-05-11 09:47] smockensturm commented on #13
Fantastic! Works a charm. On behalf of our entire team, we thank you. Looking forward to what you get up to.

[2016-05-12 03:08] benjamminf commented on #13
My pleasure, thanks for using the plugin!

[2016-05-13 05:09] benjamminf commented on #8
Finally finished implementing this in the dev branch, will be available in next release.

[2016-05-13 05:09] #8 closed

[2016-05-13 08:41] shornuk commented on #11
Hi,
Just started using Neo. Great plugin btw. I am seeing this too. Any timescale for a fix? Thanks!

[2016-05-13 08:42] benjamminf commented on #11
@shornuk Wow, what a coincidence. I literally JUST fixed this about 12 seconds ago. Expect it in the next release (will be released over the weekend).

[2016-05-13 08:42] #11 closed

[2016-05-13 08:46] shornuk commented on #11
Awesome! Thanks for that!

[2016-05-13 09:21] #9 closed

[2016-05-13 11:41] benjamminf commented on #12
I can't seem to reproduce the first issue. They are being translated just fine on my end.

[2016-05-15 08:22] #13 closed

[2016-05-15 08:24] benjamminf commented on #12
Block tabs triggering the checkbox has been fixed in the latest release. Translations are working for me, so maybe I inadvertently fixed it while changing something else. I'm closing this issue for now, but if you're still having issues post here and I'll reopen it.

[2016-05-15 08:24] #12 closed

[2016-05-16 15:14] smockensturm opened #14 "can't save can't update"
- sometimes an entry with a neo field will not save. unless I add a new block, then it will save. BUT if I delete that newly added block, the entry again will not save. no warnings. nothing. (v 1.0.2 )

- upgrading from 1.0.2 to 1.1.0 screws up the database, specifically... can't find (unknown)  **neoblocks.sortOrder** column

[2016-05-17 12:38] benjamminf commented on #14
Hey @smockensturm I'm sorry using Neo hasn't been a smooth ride for you so far.

- When you say the entry will not save, what happens? Does the page reload and the entries content is just reverted? Is it only the Neo field that the content disappears from, or is it other fields in the entry as well? Can you describe what your Neo field is composed of? Namely the field types that you're using insid

[2016-05-17 12:49] smockensturm commented on #14
Thank you. I gotta' tell you though, the pleasure of having this flexibility far outweighs the frustrations. This plug-in is a game-changer for us.

1. Yes. The page reloads and the content reverts. The neo blocks are pretty rich. We're using all kinds of stuff: asset fields, entry fields, fruiticons, lots of text fields. It's all over the place. I'm trying to remember specifically the one that wa

[2016-05-17 13:28] benjamminf commented on #14
I'm happy to hear that, although ideally there'd be no frustrations ;) Seems like you're going pretty hard with it. I haven't tested Neo with too many third-party field types yet, so this could potentially be the problem. What third-party field types are you using?

1. Just to be clear, the content for the whole entry reverts? If it's the whole entry and not just the Neo field, the cause of the is

[2016-05-17 16:52] smockensturm commented on #14
Login activation sent. (Let me know should you not receive it.)

True. It's intense. We do not have the wrecked database. We can go through the broken update again and get one if you think that would help. But hopefully, CP access will help you more. Let me know if you have questions.

(Problem #1 seems more intermittent and not as much a big deal as getting 1.1.0 up and running. That might even f

[2016-05-18 00:32] benjamminf commented on #14
I got the activation email and had a little poke around. Haven't found anything suspicious yet but I did notice you're hiding the checkboxes on the Neo blocks. I'd be wary about this as it won't disable the checkbox from being used, meaning you easily accidentally check a few blocks without realising. Moving or deleting a block will move or delete all the checked ones as well.

I'm on my lunch bre

[2016-05-18 00:36] benjamminf commented on #14
Now that I think about it, I noticed once or twice loading a page in the admin resulted in a 500 server error. Moment I refreshed it worked. It happened on pages that didn't have any reference to the Neo field so I'm doubting it had anything to do with this plugin.

[2016-05-18 00:51] smockensturm commented on #14
- So tomorrow, I'm going to go through the Neo update and get you a wrecked database to look at.

- Never, not once have we gotten a 500 server error in the CP. Ever. And a reminder of the Craft error **after** Neo update on ANY pages (CP and front end):

(There's more... it's in that email I sent a couple days ago.) We are running Neo 1.0.2 at the moment and it's not bad. But we don't want to be

[2016-05-18 02:50] theskyfloor opened #15 "Duplicate Block"
It would be a great piece of functionality if it was possible to duplicate an existing and already built block when adding content... with all of the sub fields in tact (although they don't necessarily have to be filled out, for my use case at least)

[2016-05-18 12:19] smockensturm commented on #14
Well great news. Update successful! I don't know what happened. Maybe an interrupt in the database modifications. Anyway, all seems to be well. Running Neo 1.1.0 at speed. Sorry for the trouble.

[2016-05-18 16:08] shornuk opened #16 "Performance"
Hi Benjamin.

I'm just wondering if you've hit many performance issues with Neo yet? I have a pretty large Neo field that includes an awful lot of fields including quite a few Matrix fields. I find saving a page with the Neo field is quite slow. I've had a couple of errors when my php memory was set low at 8M, but it's been upped now and although slow, I've not had any errors. I haven't tested pro

[2016-05-18 18:41] smockensturm commented on #14
v 1.1.0

Still having trouble saving an entry. After adding a new block, adding the goods into it. We hit save and the page reloads and the content reverts.

[2016-05-19 02:10] benjamminf commented on #14
I'm glad you finally were able to upgrade!

I've been testing the demo page and so far I can't seem to trip it up. It does save noticeably slower, which I've determined to be caused by Neo (and I know why, and have some ideas on how to fix this).

In the meantime, I suggest enabling `devMode` in your config. That way any errors or warnings will be logged and displayed. If a non-critical error is b

[2016-05-19 02:22] benjamminf commented on #16
Hey Sean, yes it's something I've encountered. I know of one particular bottleneck, which is actually the rendering of the field. Large Neo fields can render hundreds of kilobytes of raw HTML/JS, which will probably be a strain on the server. A lot of the generated HTML/JS doesn't change, so caching it shouldn't be a problem.

Another potential bottleneck, which I haven't verified yet, is the DB i

[2016-05-19 03:05] benjamminf opened #17 "Automatically convert Neo fields to Matrix fields when uninstalling the plugin"
In response to the concern about using Neo given it's a third-party plugin, I figured adding graceful degradation would help people feel more confident using it.

Neo fields and Matrix fields obviously aren't 1:1, so there will be a minor loss of information — specifically, block hierarchy information will be lost — but it's better than losing everything.

[2016-05-21 03:49] benjamminf opened #18 "Can't save field if new block previously had errors"
1. Add a new block, but make sure it has an error (like a required field missing a value)
2. Attempt to save the element - an error will throw
3. Fix the error shown in the new block
4. Attempt to save the element again - the same error will throw again

[2016-05-21 04:04] #18 closed

[2016-05-21 23:05] zdfs opened #19 "DB issues on installation"
Not sure if anyone has seen this before:

[code]

Not sure what to do here.

[2016-05-21 23:12] zdfs commented on #19
More information:

[code]

[2016-05-21 23:14] zdfs commented on #19
I'm starting to think this is because i'm using the free version of Craft?

[2016-05-22 04:12] benjamminf commented on #19
This is a strange error. Neo should work perfectly fine on the personal version of Craft. It appears there is some mismatch between the `locale` columns between `craft_neoblocks` and `craft_locales` tables. Not sure how or why that's happening. Can you confirm your tables look like these? Specifically, the `locale` and `ownerLocale` columns:

![](http://i.imgur.com/2hLVk87.png)

[2016-05-24 06:34] benjamminf opened #20 "Eager-loading support"
Currently only partially implemented.

[2016-05-24 22:13] louderthan10 opened #21 "Live Preview not updating with Neo field"
First. This plugin changes everything. So well done. Thank you!

I've just built a pretty robust Neo-based install using our internal [Live Wires](http://github.com/louderthanten/livewires) prototyping library. It works amazingly well, there' just one small hitch we're running into… Live Preview doesn't refresh when editing the Neo field.

Possibly related: I had the same issue with another Craft

[2016-05-25 00:04] benjamminf commented on #21
Thanks man, appreciate it!

I *think* I may have found your problem. Looking at the source for `pages/default`, I see you're caching the `content` inclusion, unless dev mode is enabled. Live preview, regardless of your config settings, will not render in dev mode. So the reason your Neo field isn't updating is because it's being cached in live preview mode.

Try this instead:

[code]

[2016-05-25 00:28] louderthan10 commented on #21
Thanks for the quick reply and suggestion.

I tried it out (updated in the demo site, and cleared cache). But still running into the same problem. It's weird because it's only the Neo field that doesn't get updated. Trying the following without saving or refreshing the entry:

1. I edit a standard text field (Heading or Subhead) and Live Preview refreshes.

2. I edit the Neo field, nothing happens

[2016-05-25 00:42] benjamminf commented on #21
Monitoring the console, I can see changes to the Neo field are being detected, as AJAX requests are being sent to the server to update the preview. The fact that the Neo field updates after saving still leads me to believe it still might be a caching problem, since caches get cleared after saving an element it fits the behaviour. Although I admit with the added live preview check, I don't understa

[2016-05-25 00:58] benjamminf commented on #21
Okay so I've set up a local version of the site, and removing the cache tags doesn't solve the problem. I'm going to have a play around with it then get back to you.

[2016-05-25 01:09] benjamminf commented on #21
Seems you've discovered a bug with Neo! Live preview fails when you modify the element criteria model on the field. Removing the `.level(1)` filter will fix the problem, but it's not a solution obviously. I'll make fixing this a priority, and hopefully have it sorted some time today.

[2016-05-25 01:23] benjamminf commented on #21
Not only that, you've discovered a bug with Craft's Matrix field too! Seems it has the same issue. I might go open a bug report with them.

[2016-05-25 01:34] louderthan10 commented on #21
That's super interesting. I think it must be related to that issue I mentioned in the original post above… having similar trouble with Matrix when eager loading was applied. I ended up removing eager loading in Live Preview to get to work. Must have been related to the `.find` filter in that case.

[2016-05-25 01:56] benjamminf commented on #21
Yeah that's probably what it was.

Looking into this issue... this is not an easy fix. All you can do when preparing criteria models for live preview is manually pass the blocks with it. All the filtering done by the element criteria model is done against the database, which explains why it doesn't live update.

I wonder if P&T already know about this issue, and have just ignored it since it would

[2016-05-25 03:56] louderthan10 commented on #21
I was afraid of something like that. Getting it to work around `level` is definitely enough for me and how I would use it 90% of the time… (probably 99% the time considering it only affects Live Preview).

Hopefully they fix it in 3.0. :)

[2016-05-25 03:59] benjamminf commented on #21
Good news! I managed to figure out a pretty clean workaround. I have the `level` filter working in live preview, but I want to extend it to other filters, as well as the `children` attribute on blocks.

[2016-05-25 13:28] johanneslamers opened #22 "Bug: Using asset field with {slug} as upload location"
Hi Benjamin.

First of all, LOVE the plugin. It's how the Matrix should work by default.
But I'm having a error when uploading an asset file (S3) with a preset upload location with {slug} as variable. The error is only showing when using the field inside Neo. As standalone field it's uploading fine.

This is the error: Could not resolve the subpath “{slug}”.

![screencapture-portfolio-craft-dev-ad

[2016-05-25 23:59] benjamminf commented on #22
Cheers mate! At work at the moment, but I'll look into this when I get home. Thanks for the report.

[2016-05-30 14:13] sidneywidmer opened #23 "Revert to version"
Hey benjammin,

I just noticed that you can't revert an entry to a previous version, the Neo field is just empty. Is this a known bug? Do you think this feature will be available in the near future?

Cheerio
Sidney

[2016-05-31 12:39] christianruhstaller commented on #23
It seems that it works fine.
Only the display of the data when going back to a version isn't working.
If you revert this version back as the current entry, the data from the version get's filled correctly.

In the fieldType the corresponding function getStaticHtml and it's rendering need to be updated.

[2016-05-31 13:52] benjamminf commented on #23
Hey @sidneywidmer , sorry for the late response. Under the pump at the moment getting a project completed by Monday so I haven't had the time to check this out (as well as finish fixing some of the other bug reports). This is embarrassingly not something I checked. I don't think I've ever used the versioning system in Craft.

Thankfully, @christianruhstaller is right - it seems to just be cosmetic

[2016-05-31 13:55] benjamminf commented on #22
Damn it's been nearly a week already? Sorry I haven't gotten around to this yet, kept busy with another project which will be done with on Monday. I haven't had a chance to check this out yet but after this week I'll be on it.

[2016-06-05 03:10] benjamminf commented on #21
I'm calling this done for now. I've implemented everything in the current API except for `relatedTo` and `search`. I think it's possible to implement these as well but it'd take a while. Also, comparison-based level queries (eg. `'>=1`) are still unimplemented. But everything else is working fine.

[2016-06-05 03:10] #21 closed

[2016-06-05 04:07] benjamminf commented on #23
Done. Thanks @christianruhstaller for your fix, it helped me out a lot. This will be available in the next release, which will be released mid-late next week.

[2016-06-05 04:07] #23 closed

[2016-06-05 04:28] #5 closed

[2016-06-05 06:19] benjamminf commented on #16
It seems rebuilding the structures is not the bottleneck, nor does it impose any significant delay when saving.

I attempted caching as well, and while it does shave off a few hundred milliseconds in rendering, saving the field is still the main bottleneck.

I'm going to keep looking into this.

[2016-06-05 06:51] benjamminf commented on #16
With a comparative Matrix field and value, the Neo counterpart performs worse, taking about twice as long to save. Just ruling out it being something to do with Craft itself. That said, a Matrix field can still take a very long time to save as well. I have a feeling the time discrepancy may be explained by the fact that Neo uses the `content` table instead of creating it's own tables for each fiel

[2016-06-05 07:50] benjamminf opened #24 "Reasons support broken in version 1.0.4"
Ironically, this is the result of a bug being fixed that I reported.

[2016-06-05 12:22] benjamminf commented on #17
Converted blocks could have an additional `level` field created specifically to retain the hierarchy information. Horrible usability, so it'd likely just be removed, but at least it lets _you_ decide what to do with the data.

[2016-06-05 12:25] benjamminf commented on #7
Another idea might be to auto-collapse the children container when dragging blocks. This will also help alleviate the pain of reordering very long blocks.

[2016-06-06 00:37] benjamminf commented on #4
I'm a bit on the fence about implementing this now that I've used Neo in production for a while. I actually like collapsed blocks without it's content filling up the title bar. It keeps it clean and readable.

[2016-06-06 10:17] louderthan10 commented on #21
Fantastic. Work perfectly for me. Thank you!

[2016-06-06 18:30] FrancisBou opened #25 "1.1.1 broke all content on our site."
Since updating to 1.1.1, all Neo matrixes on our site are broken. The CMS has become obsolete and we have to revert to a previous backup. Here is a list of problem we encountered:

- Only one NEO block remains on each field, not always the first one.
- We can only add a block using the "add block above" option. (the block has a white handle).   Another "fix" for this is disabling then enabling a b

[2016-06-06 20:13] smockensturm opened #26 "1.1.1 Install Triggers Manual Update and Database Error"
Craft 2.6.2789

- Dropped a brand new Neo folder into Plugins on an existing install.
- Got the message:  "To complete the Neo update, some changes must be made to your database."
- Clicked "Finish Up"
- Works for a little while, backs up database, then "Rolling back.."
- ERROR: "Craft was unable to install this update :( The site has been restored to the state it was in before the attempted updat

[2016-06-06 20:57] benjamminf commented on #25
Hey Francis, sorry about this. You're not the only user to report this issue. I'm honestly at a loss to explain what's going on, as I extensively tested the migration, and that the migration is quite minor. Is your site localised?

Whatever happened I'm certain your content is still there, and it's just not showing up, which you should be able to verify but checking the `neoblocks` table in the da

[2016-06-06 22:05] FrancisBou commented on #25
No problem, you put some hard work in your plugins and it's much appreciated.
The website is not localized.

[2016-06-07 14:32] fyrebase commented on #25
I have a very similar problem to this. The Neo field is working on the front end but is missing from the CP

[2016-06-08 04:13] BryceBubbles opened #27 "Multi level reorder"
It would be super helpful if blocks could be dragged in and out of different levels.
At the moment, if you have a block as a child of say a column block, then you have to recreate it if you now need it to be in another column.

[2016-06-08 10:10] samlous opened #28 "Invisible fields"
I've used Neo to add content to my homepage.
Everything worked fine and my homepage does display the content.
But after a while I wanted to change some content and all I saw was one field. The content is still there on the homepage, but I can't see the fields.
When I try to add another field it won't show either (because of the max fields, I do know that a field is added but no is shown). When I a

[2016-06-08 13:48] samlous commented on #25
I also noticed that this bug only happens when a neo(matrixfield) is used twice in different entries.

[2016-06-08 23:26] fyrebase commented on #25
@samlous I don't think that is the case. I only had one Neo field in use on a single page

[2016-06-09 00:03] benjamminf commented on #26
Hey Steve, thanks for reporting this. As you're probably aware, `1.1.1` has had a few issues so I've taken it down until I've resolved them. Though it's strange to see a failed update, considering the migration is only two lines long (just adds a column to a table in the DB).

Can you search your Craft logs (In the CP footer, click "Server Info", then "Logs") for the following messages, and let me

[2016-06-09 00:10] benjamminf commented on #25
It seems like everyone is having issues but me! What I believe is the cause is the modifications I made to the element criteria model for finding blocks. `1.1.1` solved (well, attempted to solve) a bug with Neo fields that were set to be translatable. The update added a `ownerLocale` column to the `neoblockstructures` table, and it should've defaulted all the values to `null`, but it's possible th

[2016-06-09 00:15] benjamminf commented on #27
Hey Bryce, yeah this is a feature that many have requested. Unfortunately it's quite a technical challenge, and the Garnish dragging API has no support for this particular functionality.

I've really wanted this functionality as well, so the feature is not off the table. But if I'm unable to implement moving children in and out via dragging, then it might have to be something like an option to mov

[2016-06-09 00:28] fyrebase commented on #25
@benjamminf I dm'd you in slack with a copy of my DB

[2016-06-09 07:51] christianruhstaller opened #29 "Select all (cmd + a) in handle Field does not work (Mac OS X Chrome)"
This is a small issue but still a small usability thing and annoyed me a little bit.

When creating a BlockType and you want to change the handle, Cmd + A should select the whole input value, but it directly gets unselected again.

Tested in Chrome 50.0.2661.102.

[2016-06-09 10:57] smockensturm commented on #26
I found the second string in the logs. But not the first string.

For clarity: I wouldn't call it a failed update. That was an attempt at a new install of 1.1.1 to an existing system. (With several Matrix blocks already set up and populated.) That's why I was curious about "manualupdate" in the url.

[2016-06-09 11:27] benjamminf commented on #26
Oh okay, so this is happening when you first install Neo version `1.1.1`? That seems very odd that it would immediately trigger an update. Once I fix the other issue with upgrading to `1.1.1` I'll look into this one.

[2016-06-09 11:28] benjamminf commented on #29
Ah yeah, I see what you mean. Should be relatively easy to fix. I'll make sure it's done for the next release.

[2016-06-09 11:46] benjamminf commented on #25
After scanning the DB dump (thanks for that @fyrebase) I've found the problem! I should have this fixed up tonight. Sorry for the trouble and thanks for the patience!

[2016-06-09 11:52] samlous commented on #25
Great! Really appreciate the quick response and help. Thanks!

[2016-06-09 13:33] #25 closed

[2016-06-09 13:34] #28 closed

[2016-06-09 13:46] #29 closed

[2016-06-09 14:01] benjamminf opened #30 "Add block type/group after selected one"
Would be handy to have block types and groups added after the currently selected one in the configurator. Saves having to reorder every time you add a new one.

[2016-06-10 00:16] benjamminf commented on #16
Here's an interesting idea:

Neo fields could auto-save their changes while you're editing them via AJAX, but linked to a temporary element. Then when you save the real element, instead of having to perform a tonne of DB queries to save the Neo field, it just changes the content reference from the temporary element to the real one. This means that it'd effectively take no time at all to save a Neo

[2016-06-10 00:34] benjamminf commented on #26
I'm looking through the source of Craft's plugin service, and from what I can tell the only way a plugin update is triggered is if there exists some record of the plugin in the DB prior (in the `craft_plugins` table). Can you check to confirm this is or isn't the case?

[2016-06-10 01:49] #30 closed

[2016-06-10 02:10] #24 closed

[2016-06-10 03:06] benjamminf commented on #22
Finally had a look through this, and I've discovered the problem. When parsing the target directory, it applies any `{property}` tags to the fields' containing element. An asset field added to an entry will reference the entry, but an asset field added to a Neo block will reference the block. This is why the instructions change slightly when adding an asset field to a Matrix block - it says to use

[2016-06-10 07:10] benjamminf commented on #22
I've found that in order to properly fix this, I'd have to override a few hundred lines of core code and monkey patch the front-end Javascript, which is far from ideal.

Aside from creating a duplicate field just for Neo blocks, I've come up with another way of accomplishing this. Since you can use anything Twig provides in the asset fields directory fields, you can use this to your advantage.

To

[2016-06-10 07:10] #22 closed

[2016-06-10 12:48] smockensturm commented on #26
Yes. It is the case. And it's curious. Could it be left over from the first time the install bombed?

Can I safely remove some tables and records as if to say Neo never existed here?

[2016-06-10 13:04] benjamminf commented on #26
It's possible, though Craft should've reverted the DB transaction completely. Unless inserting into the plugins table is a part of a different transaction.

You should be able to safely delete the row for the Neo plugin from the `craft_plugins` table. Also, remove the following tables entirely if they exist: `craft_neoblocks`, `craft_neoblockstructures`, `craft_neoblocktypes`, and `craft_neogroups

[2016-06-11 00:30] benjamminf opened #31 "Server-side validation to max blocks by type and valid child blocks"
Currently the restrictions for limiting blocks by their type, and blocks owning child blocks, are entirely cosmetic (in other words, it's only enforced with client-side Javascript). This is fine for the most part, but if someone were to change the rules for a Neo block type, some current values of that field may then violate these rules. At the moment, you're able to continue saving these field va

[2016-06-11 11:25] benjamminf commented on #16
Another idea is simply only perform DB queries on changed data. That should see a very noticeable increase in performance.

[2016-06-13 03:16] benjamminf commented on #16
(Just some more testing results to my own future reference)

- The actual process of saving the Neo field into the DB *isn't* the bottleneck.
- Rendering the field is the bottleneck, but it's somehow tied to saving the field in some unknown way.
- Caching the input field sees a very noticeable performance increase.
- Saving a field after caching still performs as worse as it would without caching.

[2016-06-13 05:09] benjamminf commented on #16
So I finally decided to crank out the xDebug profiler, and low-and-behold the culprit is the `ContentService::_updateSearchIndexes` method, taking up a whopping **85% of the total saving time**.

I don't know how much control I have over search indexing with fields, but I need to do something about this. Craft should *really* have run this as a separate task.

[2016-06-15 10:48] shornuk commented on #16
Good news, and great work on this. Thanks!

[2016-06-16 07:47] benjamminf commented on #16
Cheers dude. I've got keywords being generated in a task fully implemented, and now even entries that have like 50 blocks filled with content save almost as quickly as an entry with nothing at all. Still got problems with the block caching, but once that's sorted I'll be releasing `1.2.2` with all these speed improvements.

[2016-06-16 07:59] AbbeyDesign opened #32 "Blank Tabs"
In some cases, I would like the first tab in a block to be blank. For example I have a block called "row". It has options, but this block is just a simple container for child blocks and the options are rarely used. I don't want to see them all while adding new rows. In the field layout I create a tab with no fields in it and then another tab with all the optional fields.

When I go back to an entr

[2016-06-16 08:00] shornuk commented on #16
Sounds awesome.!

[2016-06-16 08:10] benjamminf commented on #32
Hey David, yeah this is a feature I myself have been really wanting. Since I'm using the field layout designer API provided by Craft, I don't have a lot (or really any) control over how the field layouts are saved. So it's actually Craft's fault it's stripping out the blank tabs - try it on an entry type and it'll do the same thing.

I'm not sure if I can trick Craft into keeping empty tabs, but i

[2016-06-16 08:57] AbbeyDesign commented on #32
Not a huge deal... on the "would be nice" list. Great plugin so far!

[2016-06-19 04:21] benjamminf commented on #16
Everything is finalised and has passed all testing, but I will be using it in the wild for at least the next week before I release. If you'd like to try out the new performance enhancements now, you can grab a copy of the plugin from the `dev` branch.

[2016-06-19 04:21] #16 closed

[2016-06-19 06:27] benjamminf commented on #26
Just following up on this issue. Did you manage to get the plugin installed?

[2016-06-19 10:52] benjamminf commented on #15
I've got the basics down under the `feature/duplicate-block` branch. So far it seems to work fine with some of the native Craft fields. Yet to see what happens when duplicating blocks with Matrix and other third-party fields, but it's looking promising.

[2016-06-19 17:21] theskyfloor commented on #15
I am testing it out! Where is the UI for duplicating a block? Or is there some other way to test it? I am happy to give it a whirl

[2016-06-19 23:16] benjamminf commented on #15
Yeah it's a development branch so the Javascript needs building. I've attached the [compiled versions here](https://github.com/benjamminf/craft-neo/files/322538/Archive.zip) (just replace the `main.js` and `main.js.map` files in the `neo/resources/` directory), or if you run an `npm install` then `webpack` on the repository's root directory you can build it yourself.

I should point out the `featu

[2016-06-21 12:54] benjamminf commented on #15
I've reworked my solution for duplicate blocks, and now it's essentially guaranteed to work with any field type. So look forward to this in `1.3.0` :+1:

[2016-06-21 12:55] benjamminf commented on #15
Accidentally closed it... my bad.

[2016-06-21 13:05] smockensturm commented on #26
Sure. We did have to delete the Neo row from `craft_plugins` Installed 1.2.1 without issue after clearing the database.

Not sure how we got out of sync. But all is well. Thanks again.

[2016-06-21 13:19] benjamminf commented on #26
That's good to hear. It was likely remnants from that past failed installation. Thanks for the update :+1:

[2016-06-21 13:19] #26 closed

[2016-06-21 14:06] theskyfloor commented on #15
Cool! Want any testing? I tested the last version and definitely ran into some bugs... but figured you would find them too : )

[2016-06-21 14:22] benjamminf commented on #15
I'd be happy for you to test :) [Here's a copy of the latest changes.](https://github.com/benjamminf/craft-neo/files/325796/neo.zip) I hadn't had a chance to really test the older version you were testing, but I could imagine it would've had quite a few bugs. The newer version renders the duplicated block server-side, instead of trying to rebuild one on the client (which no doubt would be problema

[2016-06-21 14:47] theskyfloor commented on #15
Nice it works much better and actually preserves data which it wasn't before!

The only bug I am noticing off the bat is that if I duplicate a top level block it is then moved into a child of the parent instead of creating another parent block - as a side effect of that behavior the sub blocks aren't being duplicated either.

![screen shot 2016-06-21 at 9 42 19 am](https://cloud.githubusercontent.

[2016-06-22 01:01] benjamminf commented on #15
Ah yeah, that was a silly mistake. I've fixed it now. [Here are the updated JS files.](https://github.com/benjamminf/craft-neo/files/326848/Archive.zip)

[2016-06-22 02:21] benjamminf commented on #32
Decided to have a quick look into this just then... turns out it's actually very easy to trick Craft into keeping blank tabs! I'll be releasing this feature in `1.3.0`, or possibly in a `1.2.3` release if I decide to break the `1.3.0` release up.

[2016-06-22 13:22] benjamminf commented on #15
Child blocks now duplicate with blocks. [Here's the updated compiled JS if you want to test it.](https://github.com/benjamminf/craft-neo/files/327955/resources.zip)

[2016-06-22 13:22] #15 closed

[2016-06-22 14:57] theskyfloor commented on #15
Testing it now

[2016-06-22 15:11] theskyfloor commented on #15
Great! Works much better than it had been. Still not duplicating in a specific circumstance - attached image because it gets confusing trying to verbally describe what is and isn't happening with all the child blocks... haha. Sorry if I am being annoying!

![screen shot 2016-06-22 at 10 08 56 am](https://cloud.githubusercontent.com/assets/8887839/16271983/af88f276-3861-11e6-9f0e-70fd4029a7e8.png)

[2016-06-22 23:30] benjamminf commented on #15
Ah I see, so it's not working with Matrix fields. Seems a little strange... I'm looking into it. Thanks!

[2016-06-23 05:04] benjamminf commented on #32
This has been implemented, and will be available in the `1.3.0` release.

[2016-06-23 05:04] #32 closed

[2016-06-25 08:01] benjamminf commented on #27
Decided to take the plunge and try and implement multi-level drag sorting. I'm having to break apart the Garnish dragging API and build a custom one, but it's looking promising. I'm a little hesitant to say for sure it'll be implemented, but I think it can be expected in a `1.4.x` release.

[2016-06-26 06:44] BryceBubbles opened #33 "Duplicate a whole Neo field? Possible "Field Manager" support?"
A field has to be unique within a section in Craft right? So it's not possible to have a Neo field in a "main content" tab, and then another instance of the same field in a "sidebar" or "footer" tab on the same section.

I tried cloning a Neo field with [Field Manager](https://github.com/engram-design/FieldManager). While the clone was successfully created, all the fields were removed from the ori

[2016-06-26 07:22] benjamminf commented on #33
Hey Bryce,

Unfortunately due to how Craft is built, there's no way you can do this. One field per field layout, since fields are referenced using their handles, you'd have clashes with multiples of the same field.

Duplication really is the only way to use the "same" field multiple times in a single field layout.

I haven't used Field Manager before, and I'm not sure how it works under the hood,

[2016-06-26 07:29] benjamminf commented on #33
Actually, I should point out this plugin, which can do what you're after (albeit in a roundabout way): https://github.com/Pennebaker/craftcms-thearchitect

It supports Neo fields, so what you can do is run an export on your current site, isolate the Neo field JSON declaration, give it a new handle (and name if you want), and re-import it back into the site.

[2016-06-26 07:41] benjamminf commented on #27
Well, it's done. Didn't expect it'd be as simple as it was. Multilevel dragging has been implemented, just need to add in restrictions so you can't drag a block into a place it doesn't belong. This should be completed over the next week. Exciting times.

[2016-06-26 08:57] BryceBubbles commented on #33
Woh, thanks for the quick and detailed reply.
- Yeah I made a DB backup and then deleted the cloned field rows and all is well.
- I'll give Josh a holler to see what he thinks about supporting Neo fields, but yeah it would be quite extreme to clone all it's block types, groups and field layouts.
- I had seen The Architect plugin and have been meaning to try it out, so I'll give it a go.
Cheers

[2016-06-26 08:57] #33 closed

[2016-06-26 20:42] BryceBubbles commented on #27
Awesome, looking forward to it :)

[2016-06-27 00:56] benjamminf commented on #7
I'm deciding to not implement this feature. Adding any more menu items will overcrowd the menu, and auto-collapsing dragged blocks won't actually do anything, as dragging distance is dictated by all non-dragged blocks. The alternative is to manually collapse whatever blocks you need.

[2016-06-29 07:22] aenrii opened #34 "Templating Question"
Any chance you could share an example of how one would go about templating the setup shown in the wiki under "2. Creating Neo fields"?

I'm also wondering if there's a way to use the switch for the various types, or just do if/elseif/endif.

I'm referring to this;
<img width="790" alt="creating-field" src="https://cloud.githubusercontent.com/assets/2627617/16443616/ba079108-3d8e-11e6-8fa6-69904fbc

[2016-06-29 10:50] benjamminf commented on #34
The beauty about Craft's templating system is that there isn't one right way to do this, but I'll show you one way you could template this field.

Given a Neo field with the handle `body` added to an entry:

[code]

An alternative approach, which I typically do for larger Neo fields, is create a new template file for each block type, and dynamically include it instead of using a switch/case:

[cod

[2016-06-29 14:40] tyler-deboer commented on #16
I've been seeing this too - I really love the plugin and the flexibility it's giving me with my layouts, but it's been slowing my control panel to a halt. Granted, I have a few fairly large pages that I'm working on - smaller ones (predictably) don't affect CP speed/performance nearly as much. And it does look like the culprit is the `getSearchKeywords` tasks that run every on every save - it's ru

[2016-06-29 17:32] theskyfloor commented on #27
This sounds amazing! Great work as always.

[2016-06-29 17:49] aenrii commented on #34
Awesome! Didn't realize I could use .handle! Thanks so much. Loving the plugin, really cleans things up in the admin, even compared to SuperTable/Matrix setups.

[2016-06-29 22:46] benjamminf commented on #34
I would use something similar to the above examples. My initial loop I would just assume the blocks were all rows, then I'd use an inner loop and check block types in that. Like this:

[code]

I generally wouldn't use the `.level(2)` filter, as that will select _all_ blocks on the second level, rather than blocks just inside a specific row.

[2016-06-29 22:53] aenrii commented on #34
Gotcha! Allright, so now for some reason I can't get the children, and the first one in the loop is a Rich Text Field named textContent, and I'm getting Internal Server Error: Craft\MatrixBlockModel and its behaviors do not have a method or closure named "textContent".
The textContent block is called as {{ block.textContent }}, and so is everything else like images being called as {{ block.imageFi

[2016-06-29 23:12] benjamminf commented on #16
Hmm that is interesting. Since `1.3.0` it really shouldn't be slowing down the CP much at all, even with large fields. There is still a noticeable impact when rendering large fields – this is because there's simply megabytes of generated HTML and potential external resource files provided by third-party field types. Regardless of what I do I can't get around that bottleneck (actually this might ha

[2016-06-30 15:37] tyler-deboer commented on #16
So after some time testing and trying to isolate the slowdown issues, I'm pretty sure the culprit is one (or more) of my Chrome extensions. If I load and edit entries in the CP in Chrome Incognito mode or Firefox/Safari, the slowdowns are pretty much gone (it still takes a few seconds to initially load the page which is certainly acceptable, but I was getting load times up to a minute on my normal

[2016-07-01 00:10] benjamminf commented on #16
Wow, minute load times are definitely out of the ordinary. It does sound like an extension is playing havoc with Neo, but I'm not sure why that could be. It seems that whatever is going on, a _lot_ of resource requests were being fired, until the point that Chrome ran out of memory (hence the `net::ERR_INSUFFICIENT_RESOURCES` message). That would also explain the long load time and console errors.

[2016-07-05 21:13] tyler-deboer opened #35 "Drafts not saving any fields"
When I'm creating/updating/editing entries in Draft mode, none of the fields in my Neo field are updating, including Rich Text, Plain Text, Assets, Dropdowns, etc. This _only_ happens on Draft mode though, and _only_ when I save a Draft. Live Preview is working fine on Draft mode (all my additions/edits are showing up as expected), however when I save the Draft and the entry edit page refreshes, a

[2016-07-06 06:21] benjamminf opened #36 "Duplicate all selected blocks"
The duplicate block feature currently only duplicates the block you select the "duplicate" menu item on. Would be handy to be able to duplicate all the currently selected blocks.

[2016-07-06 06:21] benjamminf commented on #35
Hey Tyler, thanks for the report. Bit busy today but I'll look into this ASAP.

[2016-07-06 14:18] tyler-deboer commented on #35
No worries, thanks Benjamin! Love the plugin...it's been working wonders for our semi-complex content builder that the Matrix+Super Table combo wasn't quite suited for.

[2016-07-07 22:10] louderthan10 commented on #21
Dang it. Looks like a recent Craft update breaks Live Preview and Neo again. This time top level blocks are updated, but children aren't.

Neo works fine in Craft v2.6.2791

When I update to v2.6.2794 (and v2.6.2793), Neo stops live previewing.

Tried in multiple installs. Also tried different Neo versions in both v2.6.2791 and v2.6.2794 with same results.

:(

[2016-07-07 23:57] benjamminf commented on #21
@louderthan10 Alright fixed it. It was a minor change to their element criteria model that resulted in this bug. They had changed the `count()` method to always access the database instead of counting the matched blocks cache. Which meant child blocks couldn't be detected so it fell back to a database call there as well. Not sure why this change was made, as the Craft changelog doesn't say anythin

[2016-07-08 00:04] louderthan10 commented on #21
Wicked. Thanks!

[2016-07-08 00:04] benjamminf commented on #35
Cheers mate :+1: Finally had a bit of time to test this and yes I'm seeing the same issue.

[2016-07-08 00:10] benjamminf commented on #35
Alright, I know what's going on. This bug was introduced in Neo 1.3.0 where blocks are now cached. Entry drafts are not busting the cache for blocks. Just need to add a rule in there for them and it should be all sorted. Will have this fixed and released today.

[2016-07-08 15:03] tyler-deboer commented on #35
Just downloaded the newest version and tried adding a Draft to an existing entry on my dev environment. When I saved it, nothing loaded and I get an error:

`Fatal error: Call to a member function getTimestamp() on null in /[my/path/to/directory]/craft/plugins/neo/etc/Neo_BlockCacheDependency.php on line 36`

Would this be something to do with the fact I'm in a dev environment?

[2016-07-09 01:04] benjamminf commented on #35
No, there's still a bug present that I didn't catch. After a while of playing around with it, I've determined the best solution is to just remove caching. I couldn't reliably invalidate the cache with drafts. Now I know why they say the two hardest things in CS is naming things and cache invalidation...

Anyway, sorry about this. I'm releasing another fix in a few minutes. Hang tight.

[2016-07-09 04:45] tyler-deboer commented on #35
No need to apologize! I appreciate your help on this and thanks again for digging into this.

[2016-07-12 03:25] simplethemes opened #37 "Matrix Block Dropdown Groups"
First of all, thanks for this great plugin. I was using PMM, but ultimately Neo suited my specific needs. One thing I miss that I'd like to request is dropdown groups:

![dropdown groups](https://s3.amazonaws.com/f.cl.ly/items/371s3X3h0q2k472P1V3M/Image%202016-07-11%20at%2010.12.29%20PM.jpg)

I was thinking this could be a managed somewhat like so:
![concept_ui]
(https://s3.amazonaws.com/f.cl.ly/i

[2016-07-12 03:31] simplethemes commented on #37
Well crap! I just realized this is already possible via the "Group" button. I thought it was disabled because of the color. You're awesome!

[2016-07-12 03:31] #37 closed

[2016-07-12 03:39] benjamminf commented on #37
Haha no worries man, cheers. Maybe I should change the colour of that text...

[2016-07-12 07:00] benjamminf opened #38 "Search keywords aren't getting generated"
Searching Neo fields on elements is broken. Problem being that the search keywords method incorrectly starts a task to generate the keywords, where it should be returning the keywords only. Need to move the task to the `onAfterSave()` hook method and have the `getSearchKeywords()` just return the currently saved keywords.

[2016-07-12 22:13] aenrii commented on #34
Ugh, sorry for being such a Craft and Twig n00b. Really can't seem to figure out the templating. Trying to port a current setup from SuperTable to Neo to give it a go, as I prefer the way it's set up in terms of not having all fields tied to just one SuperTable field, but rather reusing vanilla fields inside the Neo field (and reusing in multiple different Neo fields).

[2016-07-14 00:10] benjamminf opened #39 "Adding block type lists it in the wrong location in Child Blocks lists"
When first adding a new block type, it sometimes puts it in the wrong location in the child blocks lists. Reordering it then fixes the problem.

[2016-07-17 01:15] benjamminf commented on #38
Hm, I was wrong. Running the task in the `getSearchKeywords` method, while probably not appropriate, wasn't causing any issues like I thought. Seems I'm having an unrelated issue, since my isolated testing shows it working fine.

[2016-07-21 00:38] benjamminf commented on #27
Thought I'd give an update since it's been a bit more than a few weeks. I ran into issues when adding restrictions and had to rethink my approach. I now have a solution that works but I haven't had time to finish it lately. No ETA yet unfortunately but it'll come eventually!

[2016-07-21 00:55] benjamminf commented on #34
I'm not entirely sure what the issue is, however it's likely something to do with using the variable `block` in multiple areas, and it's conflicting. You're using `block` two loops, with one nested in the other, and that might be causing conflicts. Also, I'm not sure where your `row` variable is coming from, as well as your `block` macro (that might also be a problem – might be worth just avoiding

[2016-07-21 01:20] theskyfloor commented on #27
Sweet - excited either way - another killer feature.

[2016-07-22 06:50] aenrii commented on #34
Ah, gotcha. Gonna give it a go when I get a sec. So technically the for loop can be any variable (and block of course) if needed, like "item"? Would it then be possible to do a `{% switch item.type.handle %}`? I was under the impression that "block" itself was somehow important in the craft twig syntax.

Currently running the SuperTable version of what I'm trying to achieve at www.23d.one, gonna s

[2016-07-22 08:06] benjamminf commented on #34
Yep, that's right. There isn't anything special about Neo's API, the template examples are just using normal Twig syntax so you can use whatever variable names you want. I'd suggest using something like `{% for row in entry.post.level(1) %}` and`{% for item in row.children %}`.

Me too haha. Fingers crossed it'll be done soon.

[2016-07-22 09:42] admench opened #40 "Limit child blocks applies to all parent blocks"
I have a **columns** block which has _column_ child blocks that are limited to a maximum of 4.

In the scenario I currently face, I have added 1 **columns** block with 4 (the maximum) child _column_ blocks.
If I add another top-level **columns** block, it already imposes the limit on adding more children (by graying out the button to add a _column_).

[2016-07-22 15:38] kepano commented on #27
Very excited about this feature! Just created an awesome flexbox grid system using Neo and it would be very helpful to move columns from one container to another.

[2016-07-23 06:03] aenrii commented on #34
That did it! Crossing fingers too. ;)

[2016-07-24 00:52] benjamminf commented on #40
Hey @admench, yeah this behaviour is expected. I realise limiting block type counts per parent is more useful but I thought that kind of behaviour was not inline with what the setting described. There's also cases where you want to limit block types across the entire field too.

It's been suggested that there should be a "Max child blocks" setting per block type, but there's also a lot of other ru

[2016-07-24 05:37] #34 closed

[2016-07-24 17:43] 23d1 opened #41 "UI slowing down with many neo fields and child blocks."
It seems that the UI slows down when an entry has multiple neo fields with a lot of child blocks (not insane amount, but around 10-15 child blocks). It's extra noticeable when scrolling, which becomes sluggish.

[2016-07-24 23:27] benjamminf commented on #41
I know what you mean. Unfortunately I don't think there's a whole lot I can do about it. The bulk of the HTML comes from Craft generating fields, and all that HTML is bound to slow down the UI. Large Matrix fields suffer the same problem, though Neo comes with some extra features that do affect performance a little more.

I've built some large Neo fields and while I'm experienced some slow-down, t

[2016-07-25 01:05] aenrii commented on #41
Definitely usable, so not really a problem other than being slightly annoying. I think I read somewhere that they're updating the UI quite a bit for the next major release, hopefully that sorts it all out... Awesome plugin btw. :)

[2016-07-25 08:19] admench commented on #40
Thanks for the explanation - I can give instructions to the content editor
for now, which is a workaround that I can manage easily. Great work with
the plugin thank you.

On Sunday, 24 July 2016, Benjamin Fleming <notifications@github.com> wrote:

[2016-07-27 18:06] spAnser opened #42 "Max Child Blocks"
We can limit blocks by type but it would be nice to limit child blocks to a set number to allow a choice of which blocks they want to use.

Currently if I have 3 child blocks I can set a max of 3 to each meaning they can get up to 9 child blocks. If I set 1 max to each type they can only use 3 but have to use one of each.

[2016-07-27 23:46] benjamminf commented on #42
I agree, this would be a useful feature. As mentioned in #40, there's a lot of other rule-based options that would be useful too, so I've been thinking of ways to incorporate them all in a UI-friendly way, which is why I haven't added this one in yet. But it comes up a lot so I'll add it in sooner than later.

[2016-07-28 19:03] tyler-deboer commented on #35
I hate to keep bugging you about this, because this has been such a helpful plugin for our team and I don't want to be a pain. I'm still having issues with Drafts -- it seems like my initial problem (where fields weren't updating when I saved something in Draft mode) was solved, but now I'm having troubles with something that _was_ working before.

So like I said, it seems that changes made in Dra

[2016-07-29 01:25] benjamminf commented on #35
Hey Tyler, thanks for the detailed write-up. Sorry it's not working! I'm away for the next few days so I won't be able to verify and fix it until I'm back. You say it was working? What version did you last notice it working in?

[2016-07-31 02:59] #39 closed

[2016-07-31 03:58] benjamminf commented on #35
Okay fixed this... again. This time it had to do with the modification checking script. Blocks only save if they're modified, but due to the way drafts were being stored in the DB it wasn't working correctly. Fixed now, will be available in the next release.

[2016-07-31 03:58] #35 closed

[2016-08-01 05:40] benjamminf commented on #38
It seems the problem is the "Generating search keywords" task is not running (on a particular website I'm working on). Trying to isolate the problem now...

[2016-08-03 13:43] wbrowar opened #43 "Override field instructions"
Because Neo is re-using fields, writing instructions for clients need to be generic so that one field can be used in different situations. Sometimes generic is okay, but sometimes its not clear enough and that would warrant creating a separate field just to accommodate the different instructions. It would be great if we have the ability to override a field's instructions so we can give clearer dir

[2016-08-03 14:36] joshangell commented on #27
Hey @benjamminf just wondering if you have a timeline on this? We’re re-developing how we do our grids and like many want to use a flexbox approach, this leads us to have nested sets of columns and blocks and therefore we want to drag a block from one column to another.

Awesome plugin though man, such a great contribution to the community - massive thanks 😄

[2016-08-03 23:38] benjamminf commented on #43
Hey Will, this is actually possible using the [Relabel plugin](https://github.com/benjamminf/craft-relabel), which supports Neo :)

[2016-08-03 23:38] #43 closed

[2016-08-03 23:45] benjamminf commented on #27
Hey Josh, no timeline yet unfortunately. I've become pretty busy these last couple of weeks so I haven't had much time to spend on Neo. Block restrictions have really thrown a spanner in the works, as there's so many edge cases to consider. I'm considering a pre-release of 1.4.0 though, which will support multi-level dragging but without the block restrictions. Just wondering if anyone would find

[2016-08-04 15:22] theskyfloor commented on #27
I would love to test it even as it currently stands... At least how I usually set up my neo fields I would suspect that my clients would be dragging things into the correct locations anyway but would love to test and see if that is true or not.

[2016-08-04 18:20] joshangell commented on #27
Agreed - I would love to actually see it in action! I haven't tried it but can we just play with the relevant branch?

-Josh
angell.io - custom development and consultancy for Craft CMS

On 4 Aug 2016, 16:22 +0100, theskyfloor <notifications@github.com>, wrote:

[2016-08-05 01:20] benjamminf commented on #27
`feature/multilevel-drag-sort` is the relevant branch, but none of the new code is compiled in any branch other than `master`. Also, the algorithm I had working I've removed in the later commits. That said I can rollback to a working state and supply the compiled files here in this issue thread. I'll do it over the weekend.

[2016-08-08 10:31] tomwelch opened #44 "Rich Text fields not initialising"
I've noticed that Rich Text fields are not initialising within Neo. When a block is added with a Rich Text field inside, a JS error is thrown and the Redactor field is not loaded.

`Uncaught TypeError: Cannot read property 'opts' of undefined`

![Rich Text field failing to load](https://cloud.githubusercontent.com/assets/1016558/17477115/3ce29e1a-5d5b-11e6-9155-571c16d66ad3.png)

I believe this is

[2016-08-10 00:10] benjamminf commented on #38
It seems this is only happening on my local machine – it doesn't seem to do this on any other web server. It's also only happening with one site in particular. Very strange.

[2016-08-10 00:16] benjamminf commented on #44
Hey Tom, thanks for the detailed report! From what you've provided, it's clear the Redactor JS library is not available at the time of creating the text block. Blocks load their resources on the fly, so it might be an issue in a couple of specific areas. I haven't been able to reproduce it (yet) but I'll look into it hopefully tonight.

[2016-08-10 16:28] ianshea opened #45 "Always prompted to leave/stay"
Having a super minor issue with the javascript prompt for Staying/Leaving showing up without any changes actually made.

[2016-08-10 22:06] tomwelch commented on #44
Hi Benjamin. No worries at all. If it helps I can zip you my installation with a database dump. It's completely fresh so no trouble.

[2016-08-10 23:02] benjamminf commented on #45
Stupid question but are you running at least version 1.3.1 or greater? [I actually fixed this issue in 1.3.1](https://github.com/benjamminf/craft-neo/releases/tag/1.3.1) and can't seem to reproduce this in later versions. Otherwise, can you tell me what the specs are of your environment? (Browser as well as Craft & PHP version) Thanks

[2016-08-10 23:33] ianshea commented on #45
No prob! I'm running Neo 1.3.3. Running Craft CMS 2.6.2903, PHP 5.6.10.

Chrome Version 52.0.2743.116 (64-bit)
Safari Version 9.1.2 (11601.7.7)

I'm on my local box using Mamp. So I did a quick switch to PHP 7.0.8 and I still see the issue.

However, I'm **not** seeing the issue in Firefox 45.0.1 or 48.0. So this is most likely a webkit thing... I'll see if I can debug a bit more on this.

[2016-08-10 23:40] ianshea commented on #45
Okay, little more info. I've got a bunch of Rich Text redactor fields in my setup, and removing any  blocks containing those fields seems to alleviate this particular issue. So I think this may be related to #44

[2016-08-11 14:30] rubenwebs opened #46 "Multi locale Matrix Blocks - Blocks and content deleted on save"
Hi,

I have an issue with a Neo Field that consists of 3 block types.
And each block type has a matrix field in it.
The Neo Field and the matrix fields are all set on translatable.

![screen1](https://cloud.githubusercontent.com/assets/5013717/17591846/2ff6643e-5fe0-11e6-8849-1da679a60415.png)

The two locales are NL (Dutch) and EN (English), with dutch as the primary.

If I add a block for the fi

[2016-08-17 11:57] benjamminf commented on #3
*German* - Courtesy of Michael Jackson (cheers for that mate!)

- `Add block above => Block oberhalb hinzufügen`
- `Block type => Blocktyp`
- `The maximum number of blocks of this type the field is allowed to have. => Die maximale Anzahl an Blocks des Types, die dieses Feld besitzen darf.`
- `Child Blocks => Kind-Blöcke`
- `Which block types do you want to allow as children? => Welche Blocktypen m

[2016-08-20 00:18] benjamminf commented on #35
I finally published that release ([1.3.4](https://github.com/benjamminf/craft-neo/releases/tag/1.3.4)), apologies for the unnecessarily long delay!

[2016-08-20 00:35] benjamminf commented on #44
Hey Tom, I've released 1.3.4 which *might* address this issue. I've changed the way Neo loads resources for blocks, and I think it'll solve this issue. I can't be sure as I couldn't replicate it, but give the new version a try and let me know how it goes :+1:

[2016-08-20 00:38] benjamminf commented on #45
Unfortunately I'm still unable to reproduce this issue. I've tried on the same version of Chrome on both Windows and OSX, and with a variety of different rich text fields, and I can't get it to trip up. I have released a new version (1.3.4) which has made changes to the way resources are loaded for blocks, so it's *possible* this could solve the issue, but I doubt it. Nevertheless, give it a try a

[2016-08-20 00:50] benjamminf commented on #46
Hey Ruben, sorry you're having trouble here. Localisation is actually fairly complex when it comes to nested fields in Craft, and not even Craft itself has solved it. The Matrix field actually suffers from the same behaviour. This happens when you separately enable localisation on fields inside Matrix/Neo blocks, and also on the Matrix/Neo field itself. Since Neo simply leverages Craft's API's to

[2016-08-21 02:08] AbbeyDesign commented on #45
Funny, just posted same issue on Slack. I have the latest version 1.3.4 and I get it on Chrome. Not Firefox or Safari, just Chrome. I had this happen once on another site, but it eventually went away. In both cases I suspect it started when I added a dropdown field(after weeks without issue), then changed the options in the dropdown field(including the default value).

[2016-08-21 12:23] AbbeyDesign commented on #45
Just to clarify, I also had RichText fields in my NEO, but the issue only popped up once I added and started messing around with a dropdown.

[2016-08-22 06:28] fyrebase commented on #45
I can confirm Neo 1.3.4 and Chrome 52.0.2743.116 prompts when leaving and a dropdown / select is present. I can give you a DB dump if it helps @benjamminf

[2016-08-22 14:50] tyler-deboer commented on #35
No worries mate, thanks again for your help on this!

[2016-08-23 02:10] benjamminf commented on #45
This is so bizzare. I've figured out what's causing it and it's so stupid.

Turns out it has something to only do with Redactor 1 & 2 (I've tried other rich text editors like Froala and it doesn't do this). It happens *only* when you have *multiple paragraphs* of content in a Redactor field, and even then it only happens in *some* situations (which I haven't quite pinpointed yet...)

This is such

[2016-08-23 02:13] ianshea commented on #45
@benjamminf Can you point out in the codebase on where it's happening? I might be able to fit in some troubleshooting this week to help out.

[2016-08-23 02:39] benjamminf commented on #45
@ianshea thanks for the offer, but I've figured it out. My guess was correct - Redactor is filtering out white-space which is playing with the modification detection script. Neo actually has it's own modification detection, which is used to bypass saving individual blocks if they haven't changed. This was getting tricked, which caused it to change a hidden "modification flag" field, which in turn

[2016-08-23 11:58] benjamminf commented on #27
Forgot about this - better late than never I suppose.

Okay so [here's the appropriate files](https://github.com/benjamminf/craft-neo/files/432334/resources.zip). Just replace `main.js and `main.map.js` under the `resources/` directory. Keep in mind this is the old version of the multilevel drag sort, and there are some weird bugs. But it should be pretty usable so give it a go if you're intereste

[2016-08-23 12:57] theskyfloor commented on #27
Thanks! I just tested it and for my typical page builder set up, it actually works really well... I don't know if you have any restrictions in place in the JS you sent but I can't seem to drag blocks where they don't belong but I can drag them between levels where they are safe and appropriate. Hope the feature can be refined and rolled out

[2016-08-23 23:56] benjamminf commented on #27
Great to hear @theskyfloor 👍  Yeah there are restrictions in place but it's not perfect (it's where most of the bugs are). It should work fine for simple situations, it's mostly when you have >2 level deep blocks that it starts getting hairy.

[2016-08-24 13:51] roydigerhund commented on #4
Actually I love this feature in the Matrix blocks. Sometimes you have a lot of blocks on a page and it's much easier to spot the right one with those small summaries.

[2016-08-29 09:55] waswebb opened #47 "How to Output the Children on a Block"
Hi

I'm new in Craft. How can i output the children of a block?

With this code a don't get a output for the children. Sorry if my code looks nooby, i'm a craft beginner.
[code]

[2016-09-02 15:05] jgl221 opened #48 "Draft preview links don't work"
With the latest release, Draft tokenized links don't display correctly (or maybe this has always been the case?). If I save an existing entry as a draft and make edits to the draft, when I click the arrow to take me to the tokenized draft link, the changes that we make aren't displayed there and instead displays the current live version. Live Preview works just fine on the Drafts though and when I

[2016-09-04 02:08] benjamminf commented on #48
Hey @jgl221 thanks for the report. I was able to reproduce the issue and found out why this was happening. Similar situation to #21 so it's actually a problem with Craft's built-in Matrix field too (although you wouldn't usually run into this problem with Matrix as you don't need to filter by level).

Simple enough solution so I've gone ahead and fixed it already. I'll be releasing a new version t

[2016-09-04 02:13] benjamminf commented on #47
That's alright, everyone starts somewhere :)

Your inner for loop on the blocks children uses the variable `item`, but you're still using the variable `block` inside the loop. You need to change `block.something` to `item.something`.

[2016-09-04 02:13] #47 closed

[2016-09-04 02:48] #46 closed

[2016-09-04 10:22] benjamminf commented on #36
This is actually a pretty complex feature, given that the expected behaviour is largely ambiguous. Should the checked blocks duplicate as a chunk, or should they duplicate under each other? How should blocks of various levels be duplicated together?

[2016-09-04 11:58] benjamminf commented on #46
This issue got me thinking how I could allow this with Neo, and I'm pleased to report that I've figured out a way to "trick" Craft into allowing nesting of localised fields. It's not recommended that this be used (if you're localising the whole Neo field then you shouldn't localise the fields inside the blocks) but if you don't have a choice, I've figured out a way to allow it.

[2016-09-06 02:24] jgl221 commented on #48
That's great, thank you for the quick response and fix! My clients will be very happy :)

[2016-09-06 03:04] benjamminf commented on #48
No problem! I haven't made the release yet as I've fixed some issues relating to localisation that I want to test thoroughly before it's available. If you can't wait any longer, grab the `neo/models/Neo_CriteriaModel.php` file from the `dev` branch and replace the existing one on your site. This will fix your issue.

[2016-09-06 18:27] jgl221 commented on #48
I grabbed the updated file from the `dev` branch and it's _mostly_ working but seems to have one other caveat. Top-level blocks that I modify are updating on the Draft, but changes to child blocks aren't updating. Live Preview is again still working though.  I imagine we're just missing a loop to go through modified child blocks on Draft mode? Or maybe it's something more complex?

[2016-09-06 23:25] benjamminf commented on #48
Unfortunately it's a _lot_ more complex than that. Does it work correctly with live preview with child blocks?

If it does, I will find it a little strange that live preview would work but not drafts, since it's the same code running in both situations.

[2016-09-07 05:20] jgl221 commented on #48
Perhaps I oversimplified it just a tad :)

But yes, Live Preview is working fine with both top-level and child block modifications. I thought maybe it had to do with caching or locale, but even with caching and locales turned off, I'm still seeing the same behavior where the Live Preview is showing the modifications on child blocks on drafts, but the draft token link when saved doesn't display the

[2016-09-07 05:58] benjamminf commented on #48
Haha no it's a fair assumption, but it turns out how Live Preview (and Drafts) work in Craft is fundamentally flawed and it's taken quite a large amount of effort to get Neo to work around this problem. Clearly it's harder than I thought, as I'm still receiving issue reports relating to it.

Thanks for the clarification. I'll see what I can do, but I won't lie it's a little confusing. I'll keep th

[2016-09-07 15:31] jgl221 commented on #48
Thanks @benjamminf I appreciate your help! I don't doubt that it's very complicated, especially so if the fundamental way they work in Craft is wonky already.

[2016-09-09 12:09] benjamminf commented on #48
Good news, I figured it out :) Turns out I just missed some checks when adding in support for draft preview links. New version of Neo to be released over the weekend (probably).

[2016-09-09 15:08] jgl221 commented on #48
You're the tops! Thanks so much for the help.

[2016-09-10 06:49] #45 closed

[2016-09-10 06:49] #48 closed

[2016-09-10 06:59] benjamminf commented on #14
Given that no one else has reported this issue, and it's age, I'm going to close this for now. If this was never solved reply back here and I'll reopen it :+1:

[2016-09-10 06:59] #14 closed

[2016-09-10 06:59] benjamminf commented on #19
Given that no one else has reported this issue, and it's age, I'm going to close this for now. If this was never solved reply back here and I'll reopen it :+1:

[2016-09-10 06:59] #19 closed

[2016-09-11 10:10] benjamminf commented on #44
Hey @tomwelch any updates on the situation? Cheers, Ben.

[2016-09-15 21:48] aenrii commented on #27
Does replacing the same files work in the latest release (1.3.5)?

[2016-09-15 22:28] benjamminf commented on #27
@aenrii I don't think so. I wouldn't try it at least. I can build these files again if you want to try it on 1.3.5?

[2016-09-19 14:11] tomwelch commented on #44
Hi Benjamin. Sorry for being slow getting back to you. I think that's fixed it! The rich text fields are now working as expected.

When creating Rich Text fields for testing I tend to leave the Config option as Default. I wonder if this might have been causing the problem as a specific config wasn't chosen. I'm going to go back a version and try it out tonight for my curiosity, I'll let you know.

[2016-09-19 18:31] ockam commented on #4
+1. At least the first field.

[2016-09-20 01:16] benjamminf commented on #4
I actually started writing the feature in the other day. Decided to improve on how Matrix does it a little. For example, asset fields will show a small thumbnail in the title bar. Will be ready for the next release.

[2016-09-20 03:37] aenrii commented on #27
@benjamminf no worries, I can hold on for the proper release. 👍  Cheers!

[2016-09-20 12:39] benjamminf commented on #44
No worries Tom, glad it's fixed it for you!

I'm honestly not sure what the problem was, but I don't think it was the settings on the field. My best guess was some sort of race condition where the Redactor library was loaded after the field was initialised.

[2016-09-20 12:39] #44 closed

[2016-09-26 13:06] benjamminf commented on #17
I guess I'll give an update to this feature: it's basically done. The only issue currently is porting content from Neo to Matrix when locales are present. Once this issue is sorted, then it'll be done :+1:

[2016-09-29 09:37] tomdavies opened #49 "Question: Craft 3 plans"
Hey Ben, do you currently plan to port Neo to Craft 3 (in due course)?

I understand that Neo is a hobby project and that you can't commit to anything definitively, but Craft 3 is getting close enough that we need to make sure there's an upgrade path for our client sites, and that means thinking carefully about potentially plugin use, especially those that are both fairly substantial and OS, so I

[2016-09-29 10:02] benjamminf commented on #49
Hey Tom. Neo absolutely will be ported to Craft 3 :+1: I'm waiting until 3 has a more stable API until I start on it though.

You might be interested to know #17 is coming out in the next release, so there'll be a downgrade path in place shortly as well.

[2016-09-29 10:44] tomdavies commented on #49
Great to hear. Thanks for the quick reply. Might be worth adding to the FAQ perhaps?

[2016-09-29 10:44] #49 closed

[2016-09-29 12:11] benjamminf commented on #49
Sure, I can add it in there :)

[2016-09-29 12:15] benjamminf commented on #49
Ask and ye shall receive https://github.com/benjamminf/craft-neo/wiki/6.-FAQ#will-neo-support-craft-3

[2016-10-04 09:54] mtnorthrop opened #50 "Plugin causing JS alerts from garnish.js (Version 1.3.5 )"
I've just upgraded to version 1.3.5, and now, when I open an entry that uses Neo, I see this alert in the Chrome JS console: "Double-instantiating a transparent text input on an element" - garnish.js:6535

I'm not sure this is actually causing a problem with the plugin's functionality, but the notice was not there before.

[2016-10-07 08:01] pl-mnm opened #51 "Check if field exists"
Hi, I'm trying to check if a field exists in a neo block. I'm following [this suggestion](http://craftcms.stackexchange.com/a/9623/576) (but for a matrix field) and I can't get it to work:

[code]
It will output 'true' if the field exists anywhere in Craft, even if its not present in the block. Am I missing something?

Thanks in advance.

[2016-10-16 12:05] benjamminf opened #52 "Sprout Import support"

[2016-10-17 13:37] ladrua commented on #50
I am also seeing this, what problems are you experiencing? We have some issues with row in supertable not being saved..

[2016-10-17 23:00] benjamminf commented on #50
Sorry for the late response. The console log is just a minor warning by Garnish that doesn't really affect anything. In certain situations some Garnish components are being initialised twice, but Garnish picks up on it and handles it. This happens usually because when Neo blocks are created, Neo initialises all Garnish components inside the block, but some fields will explicitly initialise their c

[2016-10-17 23:00] #50 closed

[2016-10-17 23:19] benjamminf commented on #51
How Craft works is that every element is given a field as a property as long as that field is in the same context of the element. What this means is that because Neo fields use existing fields (the "global" context) each block is implicitly given the property of every globally defined field. This sounds weird, but it's how entries, categories, etc. all work as well. And there's likely good reasons

[2016-10-17 23:19] #51 closed

[2016-10-18 01:49] pl-mnm commented on #51
Aha! This actually answers some questions I had regarding Craft (like why all CP fields appear in the logs). Thanks for that, and thanks for your work on all your plugins, great stuff.

[2016-10-27 03:33] benjamminf opened #53 "Default lightswitch value not respected"
A lightswitch field with a default "on" position will instead default to "off" inside a Neo block.

[2016-10-30 05:56] #53 closed

[2016-10-30 05:59] benjamminf commented on #42
Now implemented in 1.4.0 which is currently still in testing. If you're interested you can grab the early release from the master branch.

[2016-10-30 05:59] #42 closed

[2016-10-30 05:59] benjamminf commented on #40
Now implemented in 1.4.0 which is currently still in testing. If you're interested you can grab the early release from the master branch.

[2016-10-30 05:59] #40 closed

[2016-10-30 05:59] benjamminf commented on #20
Now implemented in 1.4.0 which is currently still in testing. If you're interested you can grab the early release from the master branch.

[2016-10-30 05:59] #20 closed

[2016-10-30 05:59] benjamminf commented on #17
Now implemented in 1.4.0 which is currently still in testing. If you're interested you can grab the early release from the master branch.

[2016-10-30 05:59] #17 closed

[2016-10-30 06:00] benjamminf commented on #4
Now implemented in 1.4.0 which is currently still in testing. If you're interested you can grab the early release from the master branch.

[2016-10-30 06:00] #4 closed

[2016-10-30 14:29] spAnser commented on #42
Nice will do next week.

[2016-10-30 17:39] admench commented on #40
Thanks Ben!

On 30 October 2016 at 05:59, Benjamin Fleming <notifications@github.com>
wrote:

[2016-10-30 21:06] 23d1 commented on #27
Oh no! 1.4.1? ;)

[2016-10-30 21:43] benjamminf commented on #27
:( I know. It's a beast of a feature and while I had it planned for 1.4.0 I didn't want to hold off another month before releasing. Now that all of the other major features I had planned are out of the way, multi level reordering is receiving all of my focus 👍 So, 1.5.0 for absolute certain. And I doubt there'll be many, if any, patch releases on 1.4.0.

[2016-10-31 20:51] radarseven opened #54 "Internal Server Error - `admin/actions/neo/saveExpansion`"
Seeing the error below in a multi-locale site error when attempting to expand/collapse Neo blocks. Note: This is only occurring in the locales other than the primary locale, in this case, English. As a result, expanded/collapsed state isn't being saved with the entry. Any ideas?

`Argument 1 passed to Craft\NeoService::saveBlockCollapse() must be an instance of
Craft\Neo&#95;BlockModel, instance o

[2016-11-01 00:07] benjamminf commented on #54
I'm seeing this issue too. Thanks for the report, I'll look into it as soon as possible.

[2016-11-01 00:14] benjamminf opened #55 "Issues when changing a Neo field's translation setting"
If a Neo field has content, changing it's translation setting causes strange side-effects with the existing content. This is due to the locales not updating correctly and consistently across all related data. Need to correct the `NeoService::_applyFieldTranslationSetting()` method to either copy the structures along with the blocks (if going from non-translated to translated) or just not duplicate

[2016-11-01 08:10] 23d1 commented on #3
Swedish:

- `Add block above` → `Lägg till block ovanför`
- `Block type` → `Blocktyp`
- `The maximum number of blocks of this type the field is allowed to have.` → `Den maximalt tillåtna mängden block av den här typen`
- `Child Blocks` → `Underblock` (directly translates to `Barnblock`", but that's weird)
- `Which block types do you want to allow as children?` → `Vilka blocktyper vill du tillåta s

[2016-11-01 08:37] benjamminf commented on #3
Thank you so much @23d1 ! I'm going to add them in ASAP, and squeeze it into the 1.4.0 release.

I absolutely hate to bring this up, but I realised I had a few more phrases that have been added in 1.4.0, which I've edited in the original question. If it's not too much to ask, it'd be great to have them translated as well.

Thanks again, super stoked with the contribution 👍 As I'm a man of my word,

[2016-11-01 17:06] 23d1 commented on #3
@benjamminf updated! ;) No need for pizza, it's too expensive here in Los Angeles, but if you're ever in town I'll get you drunk, it's the least I could do for this awesome plugin. :) 🍺

[2016-11-01 22:42] benjamminf commented on #3
@23d1 cheers for that! Haha well okay then, if you say so. I'll actually be in California over Jan/Feb, and briefly in LA. So maybe I'll take you up on that offer if it works for you 🍻

[2016-11-02 00:12] 23d1 commented on #3
@benjamminf dope! hit me up when you're heading out!

[2016-11-06 23:44] shealan opened #56 "Have I reached the limit of Neo?"
I've been building a reasonably complex Neo layout.

![screenshot](https://photos-3.dropbox.com/t/2/AAAJs_a3vRDApglDgI0Le33WzVYwYfdIk5PhvLgkBVvcYQ/12/6296508/png/32x32/3/1478491200/0/2/Screenshot%202016-11-06%2023.37.25.png/EOCT2QQYnuoVIAcoBw/ejNUIu_bwEKhyL_eWhEdxnnC-m2J-Ryzc2S5h6RWg7o?size_mode=3&dl=0&size=2048x1536)

When constructing the page I seem to have hit a wall. It will only save content

[2016-11-06 23:52] benjamminf commented on #56
This sounds awfully a lot like you're hitting your PHP post variable limit. [Have a look at this issue](http://craftcms.stackexchange.com/questions/2765/matrix-field-input-error-from-within-the-control-panel/2777#2777) and see if increasing your max post vars setting solves it.

[2016-11-06 23:56] benjamminf commented on #56
I also notice you're using 1.4.0. It hasn't officially been released yet as I'm still testing it on real-world projects and noticed a couple of bugs. Don't worry though, they're rather edge case and not related to saving content (it's performance related, and an issue with Neo-to-Matrix conversion with locales).

[2016-11-06 23:57] shealan commented on #56
Oooh thanks for the pointer... I'm going to edit my php.ini and see if it helps... Will get back to you.

[2016-11-07 00:30] shealan commented on #56
That fixed it. Can't thank you enough for the pointer (and the incredible plugin).

[2016-11-07 00:30] #56 closed

[2016-11-07 01:50] benjamminf commented on #56
Awesome! No worries, thanks for using Neo 😄

[2016-11-07 14:06] theskyfloor opened #57 "Visual Error on Neo 1.4.0"
Getting this crazy CSS error on my content admin pages with Neo 1.4

![screen shot 2016-11-07 at 8 05 07 am](https://cloud.githubusercontent.com/assets/8887839/20060489/ffc0c8f6-a4c0-11e6-8d3b-4ff7007a2280.png)

[2016-11-08 01:01] benjamminf commented on #57
What browser are you using? I think I know what's going on.

[2016-11-08 01:12] theskyfloor commented on #57
Safari 10

[2016-11-10 23:47] benjamminf commented on #57
Haha gotta love Safari. It really is the IE of modern web development. Was a simple fix though.

[2016-11-10 23:47] #57 closed

[2016-11-11 05:33] benjamminf opened #58 "Don't offload keywords to task when element is already saving within task"

[2016-11-14 01:42] richhayler opened #59 "Live Preview not updating [v1.4.0]"
If I use the following code live preview works as expected:

`{% for item in entry.items.level(1) %}`

However if I try to order the display of the items and use the following code live preview is not updated with any changes to my items or their content.

`{% for item in entry.items.level(1).order('date asc') %}`

Seeing this in Craft CMS **v2.6.2950**

[2016-11-14 08:21] benjamminf commented on #59
Yes this is expected – the `order` filter is not explicitly part of the API for Neo's criteria model, so it has not been supported for Live Preview. Unfortunately I also don't plan to.

[2016-11-14 08:21] #59 closed

[2016-11-15 13:13] superflausch opened #60 "Changed block positions don't get saved"
When I rearrange Neo blocks within an entry and save the entry, the new positions don't get saved (in every case). Not all blocks seem to be affected. It's hard to pinpoint when it's working and when not. Looks like newer added blocks store their positions when rearranged but blocks from older edits don't.

Could you think of something what could cause this issue? I can try to find more clues, let

[2016-11-22 13:07] boraunal opened #61 "Neo fields disappear on certain entries after adding a new field."
When I add a new neoblock to an entry, previous blocks disappear. This happens on some records.

Resolution is to revert back to a previous version to the entry and save as a new entry. After saving as a new entry problem does not repeat.

We are on Craft version: 2.6.2949

[2016-11-24 12:10] doubouil commented on #60
Yup, can confirm it more or less appeared randomly. In my case my matrix field within the Neo value can be dragged and dropped, but position is the same after saving the entry (while editing)

[2016-11-24 14:43] Delonvdv opened #62 "Instructions field for Neo block"
It would be great to have an instruction field on each Neo block, the same as is available for the Matrix blocks. When building templates for clients, it would be nice to leave a little info for them. Eg: 'This block toggles between 1 and 2 columns, and only accepts text' etc

[2016-11-28 04:41] benjamminf commented on #60
@superflausch Very interesting... I have not run into this issue before. The only thing I can think of is that the order of the input fields are not being posted to the server in the correct order, in which case would be a PHP or server-related issue. But I don't think this would be the case as you'd probably see the same issue with traditional Matrix fields – actually, are you?

Chances are there

[2016-11-28 04:42] benjamminf commented on #61
- What version of Neo are you running?
- Have you since added localisation/an additional locale to the site since adding the Neo blocks?

[2016-11-28 04:45] benjamminf commented on #62
It's an interesting idea, but I'll have to think about whether it's something I want to add to Neo. In the meantime, you can accomplish something like this using the [Field Notes plugin](https://topshelfcraft.com/lagniappe/fieldnotes) which will let you add static text to the top of your blocks.

[2016-11-28 11:39] boraunal commented on #61
Hi Benjamminf,

Our version is Neo 1.3.5
Yes Neo fields are localised.
No, localisation added at the beginning.

[2016-11-29 16:18] sidneywidmer opened #63 "Version rollback not working"
The `$modified` attribute on the `Neo_BlockModel` prevents a successful rollback to an older version.

For example if you just change the title of an entry and save it, all the $modified attributes on the BlockModels are false because nothing got changed. This setting is also json encoded and saved in the entryversions table. When we later try to rollback to this version, all the neo blocks get sk

[2016-11-29 20:26] smockensturm opened #64 "Static Supertables"
I don't think Neo template code is prepared to parse a static Super Table.

For example, this works as expected (assume we are looping through Neo blocks):

    {% for row in block.superTable %}
        {{ row.somehandle }}
    {% endfor %}

BUT, if we turn on Super Table's **Static Field** ("A static field will only display a single row of fields.") and use this template code:

    {{ block.super

[2016-12-02 09:03] sidneywidmer commented on #63
By the way, I just saw that the same issue happens with entrydrafts since they're also json encoded

[2016-12-02 20:49] jpoiri commented on #60
Seeing the same issue, using a matrix field in a neo block, doesn't keep the order unless you change the block content. Any workaround?

[2016-12-05 15:49] superflausch commented on #60
@benjamminf I will try to document the next occurrence a little better. We just had a single locale active at that moment, but there were two active ones before and we plan to add additional locales on that project in the close future.

We also noticed the issue with the order of nested matrix fields @doubouil mentioned.

[2016-12-05 16:07] superflausch commented on #55
We also noticed that the content of our NEO field within an entry didn't populate the newly added locales as the other translatable fields do. I quickly checked our DB and also noticed the NULL values you mentioned.

[2016-12-06 19:24] louderthan10 opened #65 "A way to visually identify blocks or block types"
Still really loving this field, but one of the issues that I (and any of our CMS users) often experience is that it's really difficult to find/discern between different blocks in the control panel (this is also a problem with Matrix). Especially when an entry is longer or has nested blocks.

Would love a simple way to visually separate between blocks so it's easier to find things and see that you

[2016-12-07 16:59] louderthan10 commented on #65
Doh, just saw that the plugin actually _does_ generate classes for each block type, and used the Control Panel CSS plugin to add some visual separation.

I still think it would be awesome to have something built-in, but this solution definitely works for us for the time being.

[2016-12-09 15:41] Skadi2k3 opened #66 "Neo Field crashes editing page"
My editing page for a single page entry is blank after adding and saving a neo field once. It works fine, when the neo field layout has just text fields (plain and richtext), but crashes once I add an assets field. In the source of the page it says (See attachment):

![neobug](https://cloud.githubusercontent.com/assets/1088973/21054491/46e6c63c-be2e-11e6-8537-873327c7484f.png)
! in /vagrant/stmich

[2016-12-09 15:52] Skadi2k3 commented on #66
Sorry, same problem with the matrix field, so I will look for the problem elsewhere.

[2016-12-09 15:52] #66 closed

[2016-12-14 23:37] imagehat opened #67 "Error when non-admin user tries to expand/collapse neo blocks."
When logged in as a non-admin user, expanding or collapsing a neo block results in flash error showing on the page that states "An unknown error occurred."

In the console it appears this is because the ajax request to the controller action is unauthorized.

[code]

This does not happen when logged in as a full admin user.

Any ideas? This add-on is great but we turned a new site over to a client

[2016-12-14 23:56] imagehat commented on #67
Quick followup, I found the issue and wonder if it is intentional (and if so, if it really should be).

In `controllers/NeoController.php` the `actionSaveExpansion()` function is calling the BaseController method to check for an admin user. Shouldn't a non-admin user with access to the entry in the control panel be able to expand/collapse a block?

[code]

It's also set for `actionRenderBlocks()`.

[2016-12-15 10:34] davidhellmann commented on #55
Any news about this topic? We run into it now and it's sadly a big problem :/

[2016-12-15 10:43] slimiles commented on #55
Seems to work in Neo Version 1.3.3; I got two language and it has no `NULL` in de database. (Craft CMS 2.6.2911)

[2016-12-21 09:34] davidhellmann opened #68 "Content Summaries for SuperTable + Child Blocks"
We discussed it in Slack. It would be cool to have this Feature for Neo.
Thanks @benjamminf :)

![image](https://cloud.githubusercontent.com/assets/764292/21384061/045cae64-c769-11e6-832d-40e50e5002c4.png)

[2016-12-22 09:58] jonXmack opened #69 "Matrix rows not respecting re-order in Neo field"
Hi, I have just noticed an issue when there's a Matrix field within a Neo field. Despite being able to drag and drop the matrix rows within the Neo field, when saving the entry, the order reverts back to how it was initially published. I have just updated Neo to the latest version to ensure it wasn't an issue with using an older version but the issue is still present.

[2016-12-22 14:33] websNL commented on #63
Hi,

I have the same problem with version rollback. In an entry there are some blocks that got changed and are live.

When I go back to an older version and click on the _Revert entry to this version_ button. The blocks are still the same as in the live and not those of the version I choose.

Would be very happy if this got fixed.

[2017-01-03 21:27] simplethemes commented on #69
Same issue here. Is this possibly related to a recent Craft update or has this just flown under the radar?

[2017-01-03 22:39] benjamminf commented on #69
This is actually an issue with the Garnish framework that Craft uses. I'm using a form data diffing function in Garnish that is buggy. I'm replacing it with my own. Will update when done.

[2017-01-03 22:50] simplethemes commented on #69
Thank you for the quick response.

[2017-01-03 23:04] #69 closed

[2017-01-03 23:06] benjamminf commented on #69
@simplethemes download from the master branch – should be all working now

[2017-01-03 23:09] #67 closed

[2017-01-03 23:11] benjamminf commented on #67
Sorry for the late response @imagehat – you're right, I mistakenly added those `requireAdmin` calls. I've gone ahead and taken them out, so it should be all good now if you download from the master branch.

Thanks for the kind words, glad you like the plugin :)

[2017-01-03 23:13] benjamminf commented on #65
Yeah I added in those class names for this exact reason. I've thought about a block type colouring setting, but I don't have any plans as of yet to implement. I figure the class names are a good enough start for those who really need it.

I'll keep this open for now though.

[2017-01-03 23:17] benjamminf commented on #60
@jpoiri @superflausch The issue with Matrix orders is an unrelated issue (#69) which I've now fixed. I'm still looking into the other issue though.

[2017-01-07 17:29] chasegiunta opened #70 "Option to use Neo-specific fields"
At this point, Neo is so much more than this: Tab Organization, Block Grouping, Nestable Blocks, etc.

Neo is so incredibly powerful, I've come to realize that my field count can jump up pretty high (with the help of Quick Field) _really_ fast.

Not sure how the UX would fit, but would it be possible (or wanted by anyone else other than me) to have the option to create Neo-specific fields (like Ma

[2017-01-08 00:26] 23d1 commented on #70
I think that's one of the main features of Neo, in terms of being able to reuse existing fields in multiple neo fields. I group all that stuff into field groups. If you want similar functionality but less clutter under Settings > Fields (which doesn't really matter to be honest, as only an admin should have access to that stuff anyways) you could use SuperTable with Matrix fields. I did that prior

[2017-01-08 19:01] ChaseGiunta commented on #70
@23d1

It is! I'm not requesting to change that. I _need_ that functionality. Which is also why the fields would have to live along side the existing fields in layout-editor. The **real** reason for my concern here is _the amount of columns being added to my content table_ with my very elaborate (yet flipping awesome!) Neo field(s).

Again, quite possibly a pipe-dream and more effort than it's wor

[2017-01-09 02:18] leevigraham commented on #21
http://craftcms.stackexchange.com/a/8880/963

[2017-01-09 15:43] brianrivet opened #71 "NEO not saving block when submitted"
Hi,

I'm having a bit of trouble with Neo. I have set up a number of block types and I have a page where I have a bunch of blocks set up. I have a group of page row blocks, then a sub items of those I have some grid column blocks. Inside the grid column blocks I have blocks for content elements. On the last page row of my entry, I have two grid columns set up, and when I try to create content elem

[2017-01-09 17:40] Emkaytoo commented on #70
@ChaseGiunta What's the use case you're going for? There might be another solution but I'm not sure what the practical case is. Are you just looking to reduce your field count?

This may not apply to you, but one thing that I had to learn to get used to (coming from an EE environment) is reusing fields in general. In EE you had `headline_products` and `headline_services` as two separate fields, wh

[2017-01-09 17:49] benjamminf commented on #71
Hey @brianrivet, to me this seems like the PHP `max_input_vars` and/or `post_max_size` settings are too low on your local server ([see link](http://craftcms.stackexchange.com/questions/2765/matrix-field-input-error-from-within-the-control-panel/2777#2777)). Try increasing these values and see if that fixes it.

[2017-01-09 18:01] brianrivet commented on #71
Hi Benjamin,

Thanks for getting back to me so quickly. I took your recommendations and that appears to have fixed the issue. Thanks for your help!

Brian Rivet
brian@odysseydesignstudio.com
Phone: 225-505-9243
Fax: 225-300-8517
www.odysseydesignstudio.com

[2017-01-09 18:15] benjamminf commented on #70
@ChaseGiunta At the beginning, I had considered whether to separate Neo fields from the general fields, but having another field manager seemed too much. The alternative was to give Neo block types their own content tables in the database. But given how Craft's fields system works, each block type's table would need to have every field as a column anyway, kind of defeating the purpose.

I think @E

[2017-01-09 18:19] #71 closed

[2017-01-11 11:34] richardwiggins opened #72 "Can't see it get reverse relational field from within a Neo field"
Has anyone managed to get reverse relations from a Neo field working? I have a Neo field containing an Entries field which works fine on the page/section entry where I have the Neo field, but I’m trying to get data out on that related entry page. Might just be bad coding on my part!

I've tried a simple test using a standard Matrix field and the reverse relation works fine, here's that working cod

[2017-01-11 20:28] smockensturm commented on #64
why this issue get no love?

[2017-01-11 20:32] benjamminf commented on #64
Hey @smockensturm, sorry I haven't been around. I've been extremely busy for the last few months and am currently overseas for work. I've been going through the issues one by one when I have time, just haven't gotten to this one yet. I'd probably have to talk to Josh about this as I'm not sure where the issue lies in this one. I'll keep you posted.

[2017-01-13 22:07] ChaseGiunta commented on #70
@benjamminf Fair enough :) I've gone down the relabel / single-field-multiple-cases route before so I'm quite familiar with it. Just a suggestion to get alleviate some of that. I'll let you close if you think it should be off the table / outside Neo's scope.

[2017-01-15 13:26] shealan commented on #21
Is this still an issue?

I just installed the current release of Craft and Neo and I am not seeing anything in live preview.

I have a pretty standard nested configuration. The component with data is an entries field type.

![image](https://cloud.githubusercontent.com/assets/74932/21962793/2c9ecb7a-db26-11e6-8622-e78238dc68bd.png)

[2017-01-15 14:18] shealan commented on #21
Update: I replaced the file mentioned earlier and it works. Assumed it would have already been merged in. Is there a new version planned soon? Or has development halted until Craft 3 is released?

[2017-01-16 03:48] SimonEast opened #73 "All relabelled fields get reset when validation fails"
*Brilliant plugin by the way. It's becoming part of our essential toolkit!*

But today I've noticed a bug where I lose all custom field labels (from relabel plugin) when the form fails validation.

Steps to reproduce:

1. Create/Edit a Neo field with multiple blocks
2. Relabel some fields (using great relabel plugin)
3. Do something to cause a validation error such as leave a handle blank
4. Hit s

[2017-01-16 04:05] SimonEast commented on #67
Just noticed those `requireAdmin()` calls gone. Should it still check for a privileged user of some sort? Otherwise could that AJAX endpoint potentially be used to retrieve the contents of a Neo block that is not meant for public viewing?

[2017-01-16 11:40] Skadi2k3 opened #74 "Image file field not saved on first save"
I've got a translatable block and an image field. Upon saving (cmd + s) the block is added just fine, but the image is cleared and I have to add it again, hit save again, and then it successfully saves. Any idea as to what might cause this? I used neo 1.3.4 when creating the fields, updated to 1.4.0 but the bug persists. The block is saved on the first try when editing the main language.

[2017-01-18 06:30] owldesign opened #75 "Saving entry doesn't update some fields, reverts back"
Hey @benjamminf awsome plugin and I appreciate all the work put into it! 👍

Check out the gif bellow, I'm noticing that fields don't get updated and keep reverting to previous record.

Steps I take:
1. Remove old text from field, hit update entry, field reverted back to old
2. Update any other field in the block and also the desired field, now both fields get saved just fine
3. Revert any other fi

[2017-01-18 17:25] johnhoysa opened #76 "Dynamic Asset Folders"
Hi there,

Great product, I am having one issue that I hope to get some assistance with:
The fields created with Neo do not seem to display all images in the assets folder for the entry upon creation of the Neo field when asset fields are dynamic.

New fields: Show what appears to be the last two items in our assets folder and one random other image.
If I create module-1 I am able to upload an ite

[2017-01-18 23:38] zachshallbetter commented on #75
We discovered this issue yesterday as well. We found that we HAD to delete the recreate the entry entirely to solve the issue.

[2017-01-18 23:43] zachshallbetter opened #77 "Cloning fields between locales"
Content from the default locale (EN) does not copy over to newly created locales (CN). This requires us to recreate content from scratch for every language and entry.

**Steps to reproduce:**
Add content to English locale.
Save and continue editing.
Click previously unselected locale.

<img width="1505" alt="screenshot 2017-01-18 15 42 20" src="https://cloud.githubusercontent.com/assets/949434/220

[2017-01-19 03:33] SimonEast commented on #64
@smockensturm - have you tried looping through the field like in the first example?

[code]

Perhaps for some reason it's still in an array format instead of a single var? (I have not tested this, just attempting to troubleshoot with you.)

Otherwise if you can debug the `{{ block.superTable.somehandle }}` object, there might be a way to access it's data.

[2017-01-20 00:26] SavanaFernandes commented on #74
This is happening to me as well. It happens in all languages though.

[2017-01-20 01:10] zachshallbetter commented on #74
We're experiencing this same issue. Here's a gif!

![neo-assets](https://cloud.githubusercontent.com/assets/949434/22131748/283d9f1a-de6a-11e6-86cf-d73dc051cfbe.gif)

[2017-01-20 15:59] richardwiggins commented on #72
Anyone with an idea, this really frustrating and I need to go live with the site soon?

[2017-01-20 16:07] smockensturm commented on #64
@SimonEast Yes. Thank you. Oh that works. For sure. I think I mentioned that in the post. :)

This is a control panel experience thing. I'd like to use Super Table as advertised (regarding **Static Field**, i.e. don't show the user  " + Add a Column" at the bottom. I know we can limit the rows to 1, but the prompt is still visible / grayed out.) Using **Static Field** we _don't_ get that prompt in

[2017-01-20 17:10] matt3224 commented on #34
How can i target a specific child block handle without looping?

[code]

I thought it would be one of these but none work:

[code]

I'm pulling my hair out trying to get it to work how I want, any help would be much appreciated.
Thank you

[2017-01-20 18:07] benjamminf commented on #72
Hey @richardwiggins, seems I've figured out the problem. Since Neo is built much like a glorified entries field, `relatedTo` filters will not look inside Neo blocks (like how it won't look inside related entries). I'm looking into how I can support this, but in the meantime I've come up with a simple Twig alternative.

Instead of using the entry as your target element, use each Neo block on the en

[2017-01-20 18:43] richardwiggins commented on #72
Hey @benjamminf, appreciate you looking at this.

Sadly this isn't working and just returns all entries from the section 'events', and not the linked/related ones in the Neo field.

[2017-01-20 18:49] benjamminf commented on #72
Okay, maybe I haven't fully understood how you've set these relations up.

Is it that you have a list of event entries, that contain Neo fields with entry fields? And you want to select those events that have some particular entry added to that Neo > Entry field?

[2017-01-20 18:56] benjamminf commented on #72
Try this:

[code]

[2017-01-20 19:02] richardwiggins commented on #72
I have a list of event entries, correct.

They contain a Neo field which has a 'speaker' entries field. On my events pages I have this working fine and listing items containing the related 'speaker.

But then I have individual 'speakers' pages and on those I want to list any events that the 'speaker' has been linked to via that Neo field on the events page.

Does that make sense?

[2017-01-20 19:02] richardwiggins commented on #72
Just tried that but getting:

[2017-01-20 19:03] benjamminf commented on #72
Okay, yeah it's as I thought. Code had a bug, fixed it now. Try it again.

[2017-01-20 19:14] richardwiggins commented on #72
That looks to have done it! Thanks!!!!

[2017-01-20 19:26] benjamminf commented on #72
Great, no problem 👍

[2017-01-20 19:38] benjamminf commented on #67
@SimonEast Controllers automatically are restricted to logged in users, but yes I realise there's still the privilege concern with general user accounts. Thankfully, the only two non-admin controller actions are `actionSaveExpansion` and `actionRenderBlocks`, neither of which actually expose any content data. `actionSaveExpansion` might be a concern since it writes to the database, but it's extrem

[2017-01-20 19:40] benjamminf commented on #63
I've actually had this fixed for a while now, not sure why I didn't respond here. I'm sure if you clone the master branch this should be all working now.

[2017-01-20 19:40] #63 closed

[2017-01-20 19:40] websNL commented on #63
Geachte relatie,

Welkom bij de servicedesk van Webs. Voor vragen, bugs en wijzigingen aan uw
website of hosting pakket, kunt u gebruik maken van dit Servicedesk
systeem.

Nadat een project of service is opgeleverd zijn er vaak nog veel
aanvullende vragen. Om efficiënt antwoord te kunnen geven op deze vragen
werken we met de Webs Servicedesk. Jij kunt met een eigen account 24-uur
per dag al je vra

[2017-01-20 20:02] rachelrine opened #78 "Fields preparsing at level 3?"
I've got a block nested at level 3:
Multicolumn > Column > Button

The button block contains a [linkit fieldtype](https://github.com/fruitstudios/LinkIt). The button block (and linkit field) behave as expected at level 1, but at level 3 my field returns only a preparsed link, with no access to the properties that field contains.

Additionally, the html is not rendering, only displaying as a string

[2017-01-20 22:57] benjamminf commented on #78
That's a strange issue - blocks at any level should behave identically. Can I see your template code?

In regards to the HTML not rendering, you can use the [raw filter](http://twig.sensiolabs.org/doc/2.x/filters/raw.html) to force it to display as HTML.

[2017-01-24 09:15] mrksmts commented on #77
Same goes for when you remove a locale and copy all the data to another or new locale.
All neo data is not being copied to the new locale.

[2017-01-24 14:53] mrksmts opened #79 "Transfering data between locale when deleting a locale"
When you delete a locale you get the option to transfer the data from the old locale to a different locale.

Instead of moving the data to the different locale the data gets deleted.
Probably done by `deleteSiteLocale()` on line 334 of `LocalizationService`

[2017-01-24 17:47] dhdchicago commented on #38
Thanks for the great plugin. We're having the same issue on a site we're working on. NEO fields are not searchable. From what we can see, search keywords are not generated on both our local machines or our production server (Arcustech).

[2017-01-27 12:52] darbymanning commented on #34
Hi matt3224,

You were so close. You can target by handle name by using:

`{{ entry.logos.level(2).type('logoSingle').logoImage.first().url() }}`

You could even use the type handle if appropriate instead of targeting level(2), but I wasn't sure what your exact query/data structure was.

[2017-01-30 11:19] davidhellmann opened #80 "Non Admins unable to duplicate content within an entry"
Hey Benjamin.

We've found a problem with the neo field. Our editor came to use few minutes ago and said he can't duplicate content within an entry. As Admin it's not a Problem.

In the Sys-Infos is this error:

[code]

[2017-02-08 09:27] johanneslamers commented on #68
This! Exactly this!

[2017-02-10 18:09] jake-dohm commented on #75
We've just run into this problem ourselves also.

Once you've created some content blocks and filled them in, and saved the entry, then when you return to the page and edit the content of that block, it doesn't updated in the CP, DB, or front-end (obviously).

Then, the only way to "update" the data in that block is to copy the content from it, delete it, add a new block, paste back in the content

[2017-02-10 18:17] benjamminf commented on #75
Is this an issue that's only recently happened? I made some changes to how content changes are detected about a month ago, this could be the root of the issue. I'm looking into it now.

[2017-02-10 18:20] jake-dohm commented on #75
@benjamminf thanks for the uber-quick response 😀. I haven't experienced the problem before this past week. We haven't used NEO in a month or so though, so that timeline sounds about right.

[2017-02-10 18:22] benjamminf commented on #75
@jake-dohm have you downloaded from the master branch? Just want to be sure it's the changes I made on the 3rd of Jan causing this. I can kind of replicate the problem, but it's only if I use shortcuts to change the field value and then save the entry, but only without releasing my finger off the command/control button.

[2017-02-10 18:25] benjamminf commented on #75
Ah, okay so when using the context menu to modify the text, it happens if you don't then de-focus the input field. I'll bind it to a few more events to solve this problem.

[2017-02-10 18:35] benjamminf commented on #75
Try pulling the `/neo/resources/` directory to see if that fixed the problem.

[2017-02-10 18:42] benjamminf commented on #79
Been something I've been working on for a while now – turns out locales are tricky 😅

[2017-02-10 18:44] benjamminf commented on #77
Been something I've been working on for a while now – turns out locales are tricky 😅 I'll keep this thread updated instead of the other.

[2017-02-10 18:50] benjamminf commented on #74
Still unable to replicate this unfortunately. I'll keep trying and update this when I figure it out...

[2017-02-10 18:51] zachshallbetter commented on #74
Thanks! If you need a db backup or anything, let me know.

[2017-02-10 20:21] jake-dohm commented on #75
Thanks, Ben, that seems to have fixed the issue! I'll report back if I have any more trouble.

[2017-02-10 20:22] benjamminf commented on #75
Great :) I'll leave this open for now

[2017-02-10 21:27] jake-dohm commented on #75
I just ran into the problem again 😬. I have downloaded the plugin and replaced the old plugin, and it's still not saving correctly.

I haven't noticed it but once, and it was when I removed a link from some text and then saved, it would re-appear linked once the entry saved.

[2017-02-10 21:36] benjamminf commented on #75
Okay so you have a rich text field, and you remove a link and then save and it doesn't save?

[2017-02-10 21:41] jake-dohm commented on #75
The entry will save, but the link will not be removed. It reverts back to it's original (linked state).

And, I found another text field, where I'll change a line of text it won't update either. Same as earlier.

[2017-02-10 21:43] benjamminf commented on #75
Seems the observer is always a change behind. Hold up, adding in a execution cycle delay to see if this fixes it.

[2017-02-10 21:54] benjamminf commented on #75
@jake-dohm Try pulling the same resources folder down now

[2017-02-10 21:56] jake-dohm commented on #75
The resources folder from the master branch, correct?

[2017-02-10 22:08] jake-dohm commented on #75
That seems to have fixed all of the problems I've been having!

I think you can go ahead and close the issue, I'll let you know if it comes back up.

Thanks so much @benjamminf!

[2017-02-10 22:19] benjamminf commented on #75
Yay :man_dancing: all good, I'll close it for now

[2017-02-10 22:19] #75 closed

[2017-02-10 22:28] benjamminf commented on #70
@ChaseGiunta I think this is an interesting discussion to have though, and I'm starting to plan out Neo for Craft 3 soon, which will be essentially a complete rebuild. There might be an elegant and memory efficient solution I haven't thought of.

[2017-02-11 19:56] benjamminf commented on #55
Good news, I finally have this fixed and working on the dev branch. Expect this very soon 👍

[2017-02-11 20:07] benjamminf commented on #74
This is so strange, no matter what I try I can't seem to replicate this. @zachshallbetter what version of Craft and PHP are you running? I may also have to grab a DB backup. Thanks.

[2017-02-11 20:10] #54 closed

[2017-02-11 20:10] benjamminf commented on #74
Before you do that, I did fix #75 yesterday. Try cloning the plugin from the master branch and see if that fixes it.

[2017-02-11 20:54] benjamminf commented on #79
After comparing the behaviour to the Matrix field, it seems that Neo's behaviour is identical. To be honest, I'm not entirely sure what you should expect when transferring locale data. Should any data in the locale being overwritten be completely replaced with the deleted one? Or should only Neo fields that are empty have data copied over to them?

I may need to discuss this with somebody who know

[2017-02-11 21:01] benjamminf commented on #77
As I observed with #79, Matrix fields seem to behave in the same way as Neo in this instance – their blocks also do not get copied over. I actually thought they did, but it appears, at least for me, they do not.

Now the question becomes – should Neo steer away from the way Matrix behaves? Honestly, in this circumstance I feel like it should.

[2017-02-11 21:12] benjamminf commented on #76
Hey John, thanks for reporting. Can I get you to post your settings for the asset field? In case you haven't already seen this, there's [a caveat when using dynamic folders on asset fields in Neo blocks](https://github.com/benjamminf/craft-neo/wiki/8.-FAQ#why-do-asset-fields-with-slug-as-an-upload-location-break-on-neo-blocks), which may the cause of this behaviour.

[2017-02-11 21:24] benjamminf commented on #73
Hey Simon, thanks!

Seems like this is an issue with Relabel, as it won't keep them around if an error is reported. I'll move this issue over to the Relabel repository.

[2017-02-11 21:26] #73 closed

[2017-02-11 21:32] benjamminf commented on #64
@smockensturm This may be a silly question but have you made sure the "Static field" lightswitch is on? If you're still seeing the "+ Add a column" button in the CP then that's most likely your issue. I have a static Super Table field inside a Neo block and it's working as advertised.

[2017-02-12 01:42] #55 closed

[2017-02-12 05:09] benjamminf commented on #21
@shealan There has been 1.4.0 on the master branch without an official release since late last year, but it had a bug with the Neo-to-Matrix conversion feature that I only just got around to fixing. Since then I've fixed a number of issues, most of which have been pushed to the master branch, which would explain why it's probably working for you now.

Since late last year life has essentially caus

[2017-02-12 14:38] shealan commented on #21
@benjamminf thanks for the update. Your work is really appreciated. Looking forward to seeing the Craft 3 update!

[2017-02-12 17:57] benjamminf commented on #38
@dhdchicago This seems to be a very precarious issue, as it rarely happens but without reason. When you save an entry, on the left sidebar do you see a "Generating search keywords" task start to run?

[2017-02-13 15:13] dhdchicago commented on #38
The task doesn't seem to run when we save. We have even tried to rebuild search indexes manually a few times and that runs and finishes but without any NEO related field content.

[2017-02-13 16:55] benjamminf commented on #38
@dhdchicago You're right, they aren't generating when you do a manual search index rebuild. I'm working on fixing this bug right now, should be done in a couple of hours.

As for the task sometimes not running after saving an entry, well, I'm still yet to be able to reproduce this since I last encountered this in July. Tasks appear to be a finicky thing in Craft so I might include a configuration

[2017-02-13 19:11] benjamminf commented on #58
This is pretty unnecessary now that I think about it. I'm going to close this as it doesn't really improve anything.

[2017-02-13 19:11] #58 closed

[2017-02-13 19:44] zachshallbetter commented on #77
Yeah, I agree. Given users are using neo for every type of fields, I would say they should translation between all locales. I'm still unable to wrap my head around their thinking regarding not copying matrix data when "allow translation" is enabled.

[2017-02-13 19:52] zachshallbetter commented on #74
Looks like that issue is solved. I can reopen if it we discover it's still occurring.

[2017-02-13 19:57] benjamminf commented on #74
Great! I'll close it for now then.

[2017-02-13 20:04] smockensturm commented on #64
We're good here. I'm a dope. Thanks, Ben.

[2017-02-13 20:05] benjamminf commented on #38
I've added the config option, and I'll write up how to override the options in the Wiki once I publish 1.4.1

[2017-02-13 20:12] benjamminf commented on #64
Haha all good, glad it's working 👍

[2017-02-13 20:12] #64 closed

[2017-02-13 20:20] benjamminf commented on #77
It's pretty strange.

This functionality is pretty tricky to implement, and I've been sitting on this new release for far too long, so I'm going to be publishing a 1.4.1 today without having solved this one. If you can hold on a little longer I'll fix this after for a 1.4.2 release soon.

[2017-02-13 20:53] 23d1 opened #81 "1.4.1 update made entry content disappear"
It seems when I go in to edit entries after updating, some are blank—although the database content is still there (as the website renders the content correctly). I'm assuming that if I save the blank page it will break though. Any way to fix this, could it be a migration issue?

This seems related; spectrum color picker fields in a separate tab fails to load on those specific entries as well. When

[2017-02-13 21:09] zachshallbetter commented on #77
Awesome. Our team appreciates all of your hard work and attention.

[2017-02-13 21:20] benjamminf commented on #81
This is almost certainly an issue with that color picker field. Neo blocks are initialised with JS, so if a JS error is encountered, those blocks don't get initialised.

Can you post what errors are printing to the console?

[2017-02-13 21:23] benjamminf commented on #81
Also, you are right in that resaving that entry with blank blocks will mean losing your content (if you don't have revisions enabled). But the content is still there, and by updating Neo it would have triggered a full DB backup so worst case would require you re-importing that DB backup.

[2017-02-13 21:27] benjamminf opened #82 "Neo-to-Matrix conversion support for Super Table"

[2017-02-13 21:39] 23d1 commented on #81
Gotcha, yeah it seems to be giving this error:

[code]

Strangely, it seems to be working on other pages that don't have Commerce Product fields (essentially entries fields) in the Neo field. That might not be the case though. Strange indeed.

[2017-02-13 21:48] benjamminf commented on #81
Okay so it's definitely this JS error causing the missing content problem. Not much help for finding the offending line though. What browser and it's version are you running?

[2017-02-13 21:51] benjamminf commented on #81
Also, can you try temporarily disabling the colour picker plugin and see if that fixes it?

[2017-02-13 21:56] 23d1 commented on #81
Chrome 56.0.2924.87 (latest) on OSX. Definitely JS error as some of the stuff renders on some pages, and breaks either on or after the first Neo block, but sometimes cycles through a couple before breaking.
Disabling spectrum gives me a Craft error;
[code]

The JS errors are in various places, sometimes
[code]
And sometimes at;
[code]

There's an inbetween that just flashes, as well, that I manage

[2017-02-13 22:03] 23d1 commented on #81
It seems to have something to do with these pieces of code in Block.js and Input.js;

Block.js
[code]

Input.js
[code]

[2017-02-13 22:07] benjamminf commented on #81
Thanks for the details! I've tried both Spectrum and Product fields and can't seem to trip it up. But thanks for narrowing it down, I think I see the problem! I've written up the fix for it and committed it to the master. Try re-downloading the plugin (from the master branch) and see if that fixes it.

[2017-02-13 22:11] 23d1 commented on #81
That seems to have done, it. Hold on, gonna test on another install. It seems that perhaps the issue was with entries where neo field blocks were rolled up (i.e. double-click the "title-bar").

[2017-02-13 22:13] benjamminf commented on #81
Awesome. Yeah, the error was with generating the content summaries for collapsed blocks. The `_limit` function truncated the content, but was expecting a string to be passed. For some odd reason, at some point it was getting passed `undefined`, causing the issue in `_limit`.

[2017-02-13 22:16] 23d1 commented on #81
Awesome. Yeah, it seems to be fixed. Working across sites. 💯  Dope!

I do get this warning from time to time on big entries, which is just a warning as far as I can tell (haven't messed around with garnish at all—so not sure);

![image](https://cloud.githubusercontent.com/assets/2627617/22905903/f612dc08-f1f6-11e6-8b29-e8802835f0d3.png)

[2017-02-14 01:52] #81 closed

[2017-02-14 02:04] benjamminf commented on #81
Whoops, forgot to close, thanks for that. Glad it's all working!

That warning is nothing to worry about, see #50. I actually get asked about this pretty often, I might add it to the FAQ.

[2017-02-14 20:07] dhdchicago commented on #38
Works great, searching NEO fields again. Thanks!

[2017-02-15 11:44] Etsur commented on #49
Now that the beta has been released, is this something we can expect soon?

[2017-02-15 17:43] benjamminf commented on #49
I wouldn't say soon, but I'll be starting on the port in the next few weeks. Plan is to have it complete by Craft 3's release in 6-9 months. I'd like to have it done some time before then but we'll see – this is a big plugin that relies heavily on the elements API, which has been completely overhauled in 3.

[2017-02-16 17:36] intoeetive opened #83 "Is uncompressed JS available?"
Hi Benjamin,

Could you by chance release uncomressed JS source for this plugin?

I need to make some modifications to Neo's JS functions (auto-populate some fields based on conditional checks) and having the main.js uncompressed and human-readable would make my life easier =)

Thank you for the wonderful job of building it!

[2017-02-17 18:21] zachshallbetter commented on #83
Hey @intoeetive. The Javascript is located in the /src directory and is compiled with Webpack. After you download the repo, you can install the npm modules with the command `npm install`. Then you can use the command `webpack` to compile, or `webpack --watch` to watch for changes and compile automatically.

[2017-02-18 02:50] delajed opened #84 "Printing matrix field inside a neo field?"
I haven't had any luck printing a matrix field inside a neo field. No errors, just no values rendered.

See code below:

[code]

Any advice on how to fix this? I'm basically going off both Craft's matrix guide, and the neo wiki w/ no luck.

[2017-02-21 21:54] johnhoysa commented on #76
Thanks for the info! Wished I had seen that earlier when I was setting up the site.
Once our dev server is back up I will plan on testing.

Thanks again!

John

[2017-02-23 00:15] maxwellhibbert opened #85 "Show field handle in Field Layout view"
This is a great plugin!
It would be super handy if field handles could be shown or even copied to the clipboard from the Field Layout view (via the cog icon). The extra layer of Neo means getting the handle for each field is tedious if you can't remember them.

[2017-02-28 23:05] benjamminf commented on #84
Looks like you have a few issues. You're using the `block` variable for both the Neo field and the nested Matrix field. Try renaming the variable to something else. Also, you seem to be referencing the Matrix field on the `entry` variable, rather than the `block`. Try this:

[code]

[2017-02-28 23:06] #83 closed

[2017-02-28 23:10] benjamminf commented on #77
I'm a little hesitant to implement this as there's so many edge and corner cases, as well as a lot of ambiguity as to whether content should be copied over or not.

Good news is, I'm working on a new feature that should get around this problem. I'm implementing a "copy/paste" feature which will let you copy and paste blocks or the entire field between entries and even different locales. This would

[2017-02-28 23:12] benjamminf commented on #85
This plugin seems like something you'd like: https://github.com/mmikkel/CpFieldLinks-Craft

I don't think it supports Neo, however it would be a great plugin to support. I'll put it on my TODO list.

[2017-02-28 23:19] maxwellhibbert commented on #85
Yeah, I installed that with the hope that Neo was supported  :)
But yeah, that's precisely what I'm after for Neo.

[2017-02-28 23:45] maxwellhibbert opened #87 "Slow to load and save?"
I've just saved my first page with Neo and the performance for saving and loading the page seems a bit slow to me and I'm a bit worried about how slow a more complicated page might end up being. So I just wanted to check if it's roughly normal?

I've got an Assets field with 20 images + about 20 rich text fields with no more than a paragraph each + a handful of lightswitch and radio fields.

Loadi

[2017-03-01 00:40] benjamminf commented on #87
That's certainly abnormal. Do you have any way to compare the Neo field with, say a Matrix field of similar size and content? I don't think it's Neo (as Neo has some performance optimisations that should outperform Matrix) but it'd be good to rule it out. My best guess is your local server is underperforming, whether that's a configuration issue or something else.

[2017-03-01 00:59] 23d1 commented on #87
I have this issue as well for large entries, and I think it's actually the Garnish JS library slowing things down. Is scrolling the entry slow in general as well (scrolling up and down, and so forth)?

[2017-03-01 01:57] maxwellhibbert commented on #87
I setup a matrix field with similar content. It's heaps quicker - about 2 seconds to load and save. I don't have a problem scrolling the entry with the Neo field though, sorry @23d1 .

Could having fields a layer or 2 deep in the Neo field cause the delay?  I do have some fields inside a grid like setup: section->grid->cell->content fields.

[2017-03-01 02:32] benjamminf commented on #87
Hm that's odd. I have a Neo field here that has 30-40 blocks with 5-10 fields each, including lots of rich text and assets. It's understandably slightly slower, but on this 5 year old iMac it's saves in about ~4 seconds and loads ~1 second. What browser are you using?

[2017-03-01 03:11] maxwellhibbert commented on #87
I've tried in Safari 10.0.2, Chrome latest and have all extensions disabled. Would it matter if the fields are a few levels deep?

[2017-03-01 04:02] 23d1 commented on #87
Either way, the UI is slow, and always has been for me. I anticipate it being more of a Craft issue than a Neo issue. For example, hitting save or cmd+s makes the site appear as if it's rerouting while submitting each and every field to the database (taking up to 10 seconds to actually save and reload)—which is likely a Garnish JS issue, or potentially a rendering issue with JS related to handling

[2017-03-01 05:06] maxwellhibbert commented on #87
My setup is quite similar to that, I do have grids/rows within grids/rows as well.

[2017-03-01 07:43] fspeckmaier opened #88 "Export via schematic or necessary tables to include blocks"
Currently deploying one of our recent projects and found out, that our schematic export / import handles all fields correctly, but misses out the blocks within a neo field. Unfortunately we have quite a lot blocks, so remodelling would be a real pain... Exporting the "neo field" - tables from Craft's database wasn't successful either. So, any ideas how to export a neo field including its blocks?

[2017-03-01 08:43] maxwellhibbert commented on #87
Some more testing:

I disabled every plugin except Neo - no difference.

I setup a test entry with similar content to the other one. I began deleting Neo blocks from the entry one by one, starting with ones that had the most nested blocks - that made a massive difference. Just removing 3 blocks that contained fields nested 2-3 deep got the load time down to 2 seconds. The content in those blocks w

[2017-03-01 09:52] fspeckmaier commented on #21
Had the same problem with live preview on craft-neo 1.41. Disabling eager loading explicitly for the preview helped:

`{% if craft.request.isLivePreview %}
    {% set contents = entry.f_contents.level(1).find() %}
{% else %}
    {% set contents =
        entry.f_contents.level(1).find({
            with: [`

@benjamminf

[2017-03-01 16:39] admench commented on #40
Hi Ben,

I have upgraded to 1.4.1 which still exhibits the same issue, is this deliberate, did you stick to your thoughts that it is better to limit the number of child block types for the entire entry rather than per-parent?

Thanks again

[2017-03-01 16:41] admench commented on #40
Sorry, Ignore my last comment, I just noticed the new 'Max Child Blocks' field.

Thanks for your continued work on this!

[2017-03-02 01:14] 23d1 commented on #87
Seems to be Chrome specific for me, upon further testing. Very nice and responsive in Safari and Vivaldi (Webkit as well).

[2017-03-02 22:37] avr opened #89 "Editing doesn't output levels correctly"
I have a Neo field with 1 "parent" and 5 or so allow child blocks.

The edit screens for all of my previous entries work as expected, but one new entry is nesting everything one level deep.  When I try to create a new "parent", it gets nested inside the previous parent.  Looking at the content in the DB, the entry JSON has the correct levels for each block.

![2017-03-02 17 32 31](https://cloud.gi

[2017-03-06 05:33] away86 opened #90 "Maximum Top Level Blocks?"
Do we have ability to set maximum number of top level blocks?

I have this neo field with top-level block type called 'tabs' which is used for front-end tabs, and I have a couple of sub-matrix inside.

When I set the 'Max Block' of this neo field to 5, I was expecting it could help limiting to 5 tabs. However,  seems like it counts every single sub blocks as well.

Current workaround is to set 'Ma

[2017-03-07 13:01] superflausch opened #91 "Entry content disappears within CP"
We have an issue on on of our clients website where NEO blocks started to disappear and only the first block is shown within the CP entries pages. When I check the rendered pages or the DB directly, the content is still there.

Maybe this is also related to [issue #81](https://github.com/benjamminf/craft-neo/issues/81).

I see the following JS error in my console:

[code]

I just checked and we ar

[2017-03-07 13:45] superflausch commented on #91
I just noticed that we had an old JS error coming from an other plugin. Deactivating the other plugin resolved the issue. Strangely this error/issue never affected the display of the NEO blocks until today. Not sure what changed, next to additional content added by the client, what could cause this new behaviour.

As our issue is resolved for now we can close this issue here. I will just leave it

[2017-03-10 21:50] johnhoysa commented on #76
Hi there,

I went and added {{ object is neoblock ? object.owner.slug : object.slug }} as my upload location. It was {owner.slug}

I have not seen any changes in behavior of my asset fields, did I forget to do something?
I cleared Craft CMS cache and I also ran an assets update just in case that would help. I even doubled checked that I updated the correct fields.

Thanks and appreciate the help :

[2017-03-15 11:48] cole007 opened #92 "hasDescendent() not available within saveEntry event"
I'm trying to capture an entry on save using the `craft()->on('entries.onBeforeSaveEntry')` and `craft()->on('entries.onSaveEntry')` events.

I want to try and map the element IDs of the entry before and after save.
For `onBeforeSaveEntry` this is fine - I can loop through the Neo blocks and log their level, etc by targeting the `hasDescendents()` property.

However, for `onSaveEntry` this informa

[2017-03-15 11:51] cole007 commented on #87
I'm experiencing similar and noticed in the console getting a garnish.js log:

```Double-instantiating a transparent text input on an element```

Could this be related?

[2017-03-16 22:30] maxwellhibbert commented on #87
I have that in my log too. 34 times for the entry I'm testing with.

[2017-03-22 20:43] zachshallbetter commented on #74
@benjamminf this issue seems to still be occurring (clients going a bit nuts). I've uploaded a video. any thoughts? Thanks again for your help.

![neo-image-upload](https://cloud.githubusercontent.com/assets/949434/24219803/5caaa6d2-0f05-11e7-9dda-d2725335ef4b.gif)

[2017-03-22 21:51] benjamminf commented on #74
I see the Neo field is localised, although that shouldn't be the problem. Do you perhaps have your "Image" field set as localisable as well? There can be unexpected behaviour when you nest localised fields.

[2017-03-22 21:54] zachshallbetter commented on #74
Yeah, they often choose different images for each language. Should it not be?
![screenshot 2017-03-22 14 54 24](https://cloud.githubusercontent.com/assets/949434/24222481/7b0f6306-0f0f-11e7-8125-59f20d3833a0.png)

[2017-03-22 21:59] benjamminf commented on #91
Neo renders it's fields entirely with Javascript. This is in order to keep the codebase DRY, which in turn makes things more reliable (in a sense). Unfortunately if a JS error happens before the Neo field is initialised, then the JS stops executing and the Neo field doesn't render. Since I can't guarantee the order of JS in the control panel I can't do a whole lot about it.

An idea could be to pr

[2017-03-22 22:01] benjamminf commented on #90
You're right, it does count all blocks in the field. I had this setting before I had the "Max Child Blocks" setting, so it no longer makes much sense to have it count all blocks in the field. I'm very likely going to change it's behaviour for the next release.

[2017-03-22 22:04] benjamminf commented on #89
It's most likely an issue with the focus point field throwing an error which in turn stops the Neo field from initialising correctly. If the focus point field is inside a Neo block then this would explain the above behaviour.

If you could point me to the focus point plugin you're using, I'll see if I can replicate it and hopefully come up with a way around this problem.

[2017-03-22 22:09] benjamminf commented on #88
I've never used the Schematic plugin, but from what I can see it doesn't seem to handle content, only the fields themselves. So it wouldn't export Neo blocks by design. Unless you mean the block types?

[2017-03-22 22:16] fspeckmaier commented on #88
Yes, I meant block types. Sorry for being unclear. So, only the Neo field
itself gets  exported, but not the block types created within...

Benjamin Fleming <notifications@github.com> schrieb am Mi. 22. März 2017 um
23:09:

[2017-03-22 22:20] benjamminf commented on #74
Ideally it shouldn't, but in my testing it typically hasn't been an issue so I haven't needed to mention it. I would bet this is the problem in this instance, though I haven't tested it. The quickest fix for this for now would be to create a second Image field that isn't localised to be used in localised Neo fields.

It'll be wise to document this somewhere, so I'll get on that ASAP

[2017-03-24 12:23] kringkaste opened #93 "Reorder of child block"
Hi!

We have a small problem here: If you only reorder the child blocks of a neo block and press save, the reorder is not saved and everything is in the same old order. But if you reorder the child blocks and change something within a child block, then the new order is saved. It seems, that the reordering of the child blocks without changing the content is not recognized as "change".

Regards,
Tho

[2017-03-25 04:02] tjdraper opened #94 "Deleting Elements that have a Neo Field (such as en Entry) does not fire `onBeforeDeleteElements`"
My field type has it's own table and watches for `elements.onBeforeDeleteElements` to clean up any orphaned items when something like entries are deleted like so:

[code]

However, it seems that Neo does not fire the `elements.onBeforeDeleteElements` event when parent elements are deleted. Compare this to the behavior of Matrix: if my field is in a Matrix field and an entry (or other containing el

[2017-03-27 17:11] avr commented on #89
Thanks, Ben.

I'm using this plugin: https://github.com/smcyr/Craft-FocusPoint

avr

[2017-03-30 17:02] JackBewley commented on #38
I was having this same issue. Setting generateKeywordsWithTask to false allowed searching Neo field content to work again.

[2017-04-04 20:09] spAnser opened #95 "Category Field w/o Categories = Internal Server Error upon Saving"
If you have no categories created and you use a category field inside a Neo field. It will prevent the entry from being saved.

[2017-04-05 01:06] jordanlev opened #96 "Can I make fields required in a block type?"
Is there a way to denote that a particular field should be required in a block type (like how the matrix field allows you to)?

Thanks!

[2017-04-06 15:57] yohoGDES opened #97 "Nested Content - Live Preview Not working"
I've been working with this issue for a while now and I have done as much research as I can to attempt to resolve this. Essentially I have a reasonable number of nested fields and they are not displaying in live preview but do in the live site. It may be how I'm setting up my templates but I would love some input here.

![screen shot 2017-04-06 at 10 14 12 am](https://cloud.githubusercontent.com/a

[2017-04-07 01:38] benjamminf commented on #97
As I've mentioned in other related issues, Live Preview is a huge pain in the ass and is very temperamental. I've gone to great lengths to have Neo support it properly (#21), but due to how LP works it's not always going to play nice.

I suspect it has to do with this line:
[code]
It should be the case but it might be forcing a database query when filtering by block type. In that case, LP would be

[2017-04-07 14:46] yohoGDES commented on #97
@benjamminf Thank you for the quick reply.

This does in fact make the content able to display in live preview (odd right?)... but it displays a duplicate of the first object in the grouping.

The output is like this:
[code]

With this code as the source:
[code]

Any ideas on what could be causing that? I've included the count variable only as a means to show what and how many columns are being di

[2017-04-12 02:22] benjamminf commented on #41
(#87) I don't know if this is the cause for anyone else, but I just discovered something that has a serious performance degradation effect with Neo – Rich text fields with fixed toolbars. If rich text fields inside Neo blocks have their fields fix to the top of the browser when scrolling, if this is triggered enough times it causes a huge UI performance hit.

This actually indicates a memory leak

[2017-04-15 07:41] benjamminf commented on #97
You just need to replace that one line (`{% set columns = block.children.type('column') %}`) with what I wrote. The problem is you're looping over the columns twice, but one of them is inside the other. So you'll end up outputting the same column multiple times.

[2017-04-15 07:43] benjamminf commented on #96
You can set required fields in the same way you do for entry types. In the field layout designer for a block type, click the "cog" icon next to a field and you'll be given an option to set it as required.

[2017-04-15 07:43] #96 closed

[2017-04-15 07:45] benjamminf commented on #95
I can't seem to reproduce this. Can you post the error details?

[2017-04-16 01:26] benjamminf commented on #94
I've implemented this in the dev branch, working on a few more things before I make the next release.

[2017-04-16 02:38] benjamminf commented on #97
I've found the issue that's causing this in Neo and have fixed it. It'll be available in the next release, so when you upgrade next you can safely revert back to your old template code.

[2017-04-16 03:35] benjamminf commented on #93
Reordering true Neo child blocks should always update when saving the entry. The structure for the field gets regenerated every time. When you're talking about child blocks, are you maybe referring to a Matrix or SuperTable field inside a Neo block?

Also, what browser/version are you using?

[2017-04-16 05:42] #84 closed

[2017-04-16 09:48] benjamminf commented on #74
I've fixed this issue with translated relational fields inside translated Neo fields. It'll be available in the next release.

[2017-04-16 13:47] benjamminf commented on #87
@maxwellhibbert @23d1 @cole007 Would any of you be okay with providing me a DB dump of your setups that you're experiencing these slowdowns with? I want to run a profiler on them to see what's the bottleneck and hopefully improve on it. Cheers.

[2017-04-18 14:08] yohoGDES commented on #97
Fantastic! Thank you @benjamminf

[2017-04-18 14:28] TomDeSmet opened #99 "Disabled blocks are still shown"
This was an issue with Matrix blocks too that got resolved in a previous Craft update.
Maybe you could update Neo to do the same?

[2017-04-19 02:47] theskyfloor opened #100 "FR: Ability to define block templates"
The idea would be to allow a template to be made (i.e. 2-column, with image on the left and text on the right) but it would just spin up a neo block and children using the existing structure of the neo field. This would let me define layouts for my clients without sacrificing flexibility when they want to make a change, add a column, or rearrange the column order.

[2017-04-19 07:01] benjamminf commented on #99
Are you talking about in Live Preview mode? I can see disabled Neo blocks are still showing in Live Preview, but they are hidden on the main site. I'll get this fixed for the next release.

[2017-04-19 07:03] benjamminf commented on #100
This is a cool idea which I've had for a while now. I haven't yet come up with the UX for creating/using block templates, but it's something I'm aiming to have in version 2 of Neo, which will be coming with the release of Craft 3.

[2017-04-19 07:58] TomDeSmet commented on #99
Yes, sorry, I should of been more specific. It's indeed an issue in Live Preview.

Thanks for the quick reply!

[2017-04-19 14:32] Emkaytoo commented on #100
I've given this some thought, too. My guys were looking at how we could manage blocks outside the context of a field, and then use the field as a "block selector" to essentially *include* the blocks.

My first thought went to using the sidebar are to define blocks, and then adding an "include" feature to the Neo field config. The UI for the block builder could be the same, just sans a few features

[2017-04-19 14:34] Emkaytoo commented on #100
Addendum: in my ideal world, the blocks would be independent models. It would make adding and managing them using The Architect a little easier, and would move the Neo field and Craft closer to a Django-like model where all content models are files.

[2017-04-19 15:08] theskyfloor commented on #100
Good thoughts! My thought would be to have a different UI related to a button similar to "Add a group" this button would activate the UI to create a block template. When it is complete you name it and it either automatically goes into a Matrix collapsed menu/selector called "Templates" or you can maybe just assign the template block to an existing group... leaving the naming up to you. The main wa

[2017-04-19 15:14] theskyfloor commented on #100
In some ways I almost feel like this concept is less useful unless there is a "page layout" view where you can actually seeing content side by side if you are making a column builder but on the other hand the savings in time building layouts and maintaining flexibility could be worth it.

[2017-04-21 05:30] zachshallbetter commented on #74
Thanks Ben

[2017-04-21 09:32] SilverCrowS opened #101 "Fixed bug where Neo could be created inside Matrix"
this is not a bug actually it worked just fine with me , it was more efficient, after the last Update i noticed that all my neo blocks inside matrix was removed, any way that this bug return ? :)

[2017-04-26 22:58] brianrivet opened #102 "Getting PHP Error"
Hi,

I'm just updated my Craft install to v.2.6.2974 and I am now getting a PHP error whenever I try to edit an entry that has a Neo field in it. The error says it is trying to get property of non-object. The line number it gives is line 749 in NeoFieldType.php. Can you help me to resolve this issue? I can provide login credentials if needed.

Thanks!

Brian

[2017-04-27 00:04] benjamminf commented on #102
The offending line: https://github.com/benjamminf/craft-neo/blob/master/neo/fieldtypes/NeoFieldType.php#L749

My guess is that one of your Neo blocks contains a field that's field type no longer exists. Are you using any third-party field type plugins?

[2017-04-27 01:28] brianrivet commented on #102
Hi Benjamin,

First thanks for getting back to me so quickly. I really appreciate it. That was the culprit. I had removed a couple of plugins I wasn’t using and forgot to remove one of them from the Neo field set.

Thanks,

Brian Rivet
brian@odysseydesignstudio.com
Phone: 225-505-9243
Fax: 225-300-8517
www.odysseydesignstudio.com

[2017-04-27 17:50] akukral commented on #77
Is there any way to affect this on older entries, instead of just new entries?

[2017-05-06 01:16] avr opened #103 "Understanding Eager Loading without row.children"
I'm struggling to understand where and how to eager load child blocks in a hierarchical field.  I have this code:

[code]

In a different file, I have:

[code]

I've tried the above code to eager load the blocks and pass `blocks` instead of `row.children`, but then I all the blocks repeated for every row.

[2017-05-24 13:50] agosman commented on #88
Just ran into this same issue and was wondering if there are any updates on this?

[2017-05-25 06:41] benjamminf commented on #100
A bit late to the party, but I really like the ideas you guys have come up with! I've put a lot of thought into them over the last month and I think I have a good idea on how to tackle both of them. I want to address both ideas in their own comments, which might be a couple of days from now.

My one concern is by adding these features, it increases the complexity of the plugin substantially. Neo i

[2017-06-09 15:01] shealan opened #105 "Has anyone got Neo working with the ElementAPI plugin?"
Would love to spit out the Neo fields as pure JSON to consume as an api. Has anyone ever managed to achieve this?

[2017-06-19 07:46] websNL commented on #77
Hi,

Nice, that the fix for saving a new entry is working with copying over the Neo Blocks. This saved us a massive amount of time for translations.

But we noticed one thing that didn't work. If you have a Neo Block with a Matrix in it, the Matrix content isn't filled / copied over to the other locale.

Is it possible to quickfix this issue? So that Matrix content in a Neo Block also get's copied

[2017-06-22 00:30] SimonEast commented on #49
Ben, are there any aspects of Craft 3 support that others can assist with? Perhaps if it was broken down into smaller chunks some of us might be able to chip in with contributions.

[2017-06-23 11:27] Harrisonbro commented on #49
I echo Simon: if there's any way we can chip in to help with the Craft 3 update please let us know!

[2017-06-25 10:26] benjamminf commented on #49
@SimonEast @Harrisonbro I haven't really thought about how to make it easy for contributors, but it's probably a good idea to set up the Kanban board in the Projects section. It's a little early in development for me to start accepting contributions yet—I'm still figuring out how I want the code architecture to look, and I need to set up some more tooling (PHP unit tests, linter, etc.)—but once th

[2017-06-25 13:04] Harrisonbro commented on #49
Ok. Let us know when we can help!

[2017-07-06 07:18] 23d1 opened #106 "Max Blocks on a child block issue"
Setting the Max Blocks on a child block causes that block to not be accessible on any other item on the page once it's been used anywhere, within another nested sibling block.

Example;
Row Block > Image Block > Overlay Block (this one has Max Blocks set to 1).
Then add another;
Row Block > Slideshow Block > Overlay Block is now grayed out.

Is this a bug or a feature, and would it make sense to r

[2017-07-07 13:38] Emkaytoo commented on #106
To call this a *feature* would be wrong, but it is the expected behavior. See #40 or #42 for some more detailed information.

[2017-07-07 18:48] 23d1 commented on #106
Gotcha. Wouldn't it then make sense to just have a switch next to it along the lines of "Set Max Blocks across all parent blocks"? The wording could use some work, of course. Feels convoluted to have to solve that with a matrix field, no?

[2017-07-19 00:11] rrazong commented on #105
Any success on this?  I'd like to do the same.

[2017-07-21 08:22] martinherweg commented on #76
I have a similar problem.
I have checked what might be the problem and and found out that matrix fields have a owner as you add them.

If you dump a Neo Field it has no owner as long as you haven't saved the entry, therefore the path of the Asset Field isn't correct and you can't see the images belonging to the entry.

[2017-07-21 16:09] martinherweg commented on #76
I've done some changes to the Plugin which worked for my setup.
Maybe you could try it too @johnhoysa ?
You can find the forked repo here https://github.com/martinherweg/craft-neo

The Changes I made can be seen here: https://github.com/martinherweg/craft-neo/commit/d4691f5ebde483b1ec3383246c0b3087d115ed5c

I will test it a bit and then would be happy to submit a PR @benjamminf

[2017-07-24 14:18] johnhoysa commented on #76
@martinherweg, Thanks for the suggestion, for some reason this is not helping me out after some testing. Once I create an entry I am still seeing calls to images that are not on the server or related to the entry. It is as if the images are cached somehow, see attached image.The below image is what it looks like after I add a neo block and then try to add an image to it. The images listed are not

[2017-07-24 15:31] martinherweg commented on #76
Hi John,

nothing I'm aware of. I have the same Problem with "Ghost Images" when I create a new Entry.

I have that even when I save the Entry and add the Neo Field, but as soon as I add at least one neo Field with an asset it works as expected.

So for Clarification here is what is working for me:

1. Create Entry with Neo Field containing an asset Field and Upload a File (the File Viewer shows 2

[2017-07-26 14:44] Moorst opened #107 "Managing Neo field on the frontend"
I was just wondering whether there is any documentation on how to manage Neo fields on the frontend?
 I'm planning to use Neo for some user profile fields and they'd need the ability to manage them from their frontend account page.

[2017-07-27 02:00] benjamminf commented on #107
That's a pretty interesting problem. It shouldn't be too hard – you'll want to open up your DOM inspect tools in the CP when looking at a Neo field to reference how the input fields are formatted/named. You can ignore the `modified` and `collapsed` hidden fields on each block, but you'll want to replicate all the other hidden fields. Apart from the additional `level` field, it's the same process a

[2017-07-27 02:06] benjamminf commented on #106
I agree, and I think I've covered this in the other issue reports, that the Max Blocks option needs to work the way you describe. Unfortunately it's not too easy to change this behaviour, as it'll break sites that rely on this behaviour (I know we rely on this behaviour on most of our sites).

What I'm going to do is add a new setting "Max Top Blocks", which should be out in the next release the w

[2017-07-27 07:57] megheaiulian opened #108 "Extending Neo.Input"
I have a case where I need to subclass Neo.Input and add more functionality (e.g. a import blocks from same field on other elements).

Would it be possible to add in NeoFieldType a hook in `_includeResources` function to include additional JS and instantiate a different subclass of Neo.Input?
With the line:
`craft()->templates->includeJs('new Neo.' . ucfirst($class) . '(' . JsonHelper::encode($set

[2017-07-27 21:04] johnhoysa commented on #76
Hi Martin,

Yeah I need a way to remove those ghost images. Images upload fine but those darn ghost images are bugging me.

Appreciate they help!

[2017-07-27 23:01] benjamminf commented on #76
@martinherweg thanks for the fix 👍

This behaviour with assets is the standard behaviour for asset fields, as far as I can see. The problem is when the asset path is dependent on properties of an entry, if the entry hasn't even been saved yet and those properties aren't filled out, Craft can't resolve the path. So it seems it puts those assets in a temporary directory, and when the entry is saved

[2017-07-28 08:51] martinherweg commented on #76
@benjamminf I tested in a current Project and it works for me with the described flow in my last post.

I submitted a PR even I don't know if the implementation is the best way :)

Regarding the "Ghost" assets at least for me cache clearing isn't helping.

[2017-07-28 18:49] 23d1 commented on #106
Just to clarify "Max Top Blocks"; that would then be "Max of This Block under Parent Block"? :)

[2017-08-03 14:09] gregorterrill opened #110 "Querying for entries with empty Neo fields?"
This is probably a simple one, I just can't figure out the syntax. Is it possible to query for entries with a Neo field that has no child blocks? Here, eventDates is a Neo field which has one block type: Date. I'm trying to find three events that have no dates. This doesn't work:

`craft.entries.section('events').eventDates(':empty:').limit(3)`

By the way, the reason I'm using Neo instead of Matr

[2017-08-04 12:16] steveooo9 commented on #87
@benjamminf Same here. I also have the problem that sometimes when trying to save, it doesn't save. Takes a long time 5-6s. Maybe timeout related? But no error here...

[2017-08-07 10:23] jripmeester opened #111 "Not translateable NEO field in multi locale website only shows latest added block and upon save deletes older blocks"
I've installed NEO on my website (multi locale : NL, EN & DE) and created a list of possible blocks for a non translateable NEO field. The fields use in the blocks are translateable though.

I've created an entry with some blocks and saved the entry. Upon editing the entry and adding a new block to the NEO field. Everything is saved correctly. Except when i than again edit the entry the NEO field

[2017-08-18 22:04] missmatsuko commented on #51
@benjamminf Wondering if there is another solution to checking if a Neo block can use a field? Checking if the field is not empty errors out for me because the field doesn't exist (callout here is a lightswitch field).

Code:
[code]

Result:
[code]

[2017-08-21 03:48] mateostabio commented on #77
+1

[2017-08-21 03:48] websNL commented on #77
Geachte relatie,Welkom bij de servicedesk van Webs. Voor vragen, bugs en wijzigingen aan uw website of hosting pakket, kunt u gebruik maken van dit Servicedesk systeem.Nadat een project of service is opgeleverd zijn er vaak nog veel aanvullende vragen. Om efficiënt antwoord te kunnen geven op deze vragen werken we met de Webs Servicedesk. Jij kunt met een eigen account 24-uur per dag al je vragen

[2017-08-21 12:28] camerondway commented on #91
Any update on a fix for this?

[2017-08-23 14:31] dennisfrank commented on #27
@benjamminf Is multi level reordering still planned for the Craft 2 version?

[2017-08-23 16:51] ghost opened #112 "Keyword generation occurring on pages that are saving"
On pages that are saving in version 1.4.1 NeoFieldTypes are generating keywords hogging lots of memory and causing mass slowdown.
Looking at the change from 1.3.5 to 1.4.1 we noticed that the event here: https://github.com/benjamminf/craft-neo/blob/1.4.1/neo/fieldtypes/NeoFieldType.php#L43-L46
does not seem to be firing.
This causes Line 607 here: https://github.com/benjamminf/craft-neo/blob/1.4.1

[2017-08-24 07:53] optima-ben opened #113 "Craft 3"
Hi Ben,

Hope you are well, brilliant addon by the way. Thank you for the time and effort you've put into it. A quick question:  Is Neo ready for Craft 3 and if not do you have any intentions of supporting it? We are hoping to use your field on all ongoing developments so need to make sure you are happy to continue to support it. Many thanks again.

Kind regards,
Ben

[2017-08-24 08:50] pgrzyb opened #114 "Block visibility per Section/EntryType"
Hi there,

needless to say - love your plugin(s, reasons is super cool aswell)!
It could be something that fits Reasons a bit more, but:

Would it be possible to add some kind of a field (list of checkboxes?) in the block settings, that would allow hiding/showing that block depending on the Section or Entry Type that it was used in?
Use case: i have a single generic Neo field, called "Content" in

[2017-08-26 00:06] benjamminf commented on #113
Hey Ben. Neo will support Craft 3. You can follow the development of the plugin under the `dev-3` branch. It's a complete rewrite so it's going to take a while yet before something usable is ready. But the plan is still to be ready by Craft 3's first release.

[2017-08-29 07:06] optima-ben commented on #113
Perfect thank you.

[2017-09-02 02:36] 23d1 commented on #106
Just bumping, sorry. :) Any progress?

[2017-09-20 08:55] waswebb opened #115 "individual color for each block type"
Hi

First of all: You build a awesome Plugin, I hove it, thank you for that great plugin!

I often have a lot of different block types and my cliends use a lot of blocks on every page.
That can become very cliends. So I think it would be nice to have the option do give every blocktype a color like this:

<img width="880" alt="bildschirmfoto 2017-09-20 um 10 49 08" src="https://user-images.githubus

[2017-09-23 21:09] brianrivet commented on #34
I'm having trouble accessing any properties of the currently displayed entry from my Neo Blocks. I have an entry with a neo field in it to build page content. I am using includes to load in the code for the blocks. In one of my blocks I am trying to display a video from an entry that is related to the current entry being displayed. Here's my code:

    {% set videoContent = craft.entries.section('

[2017-09-29 16:22] ShaneHowell commented on #106
Bumping this as well. Any update?

Currently running into the same (or along the same line) issue where the top-level `Max Blocks` option prevents multiple `Child Blocks` from being added.

Example: setting `Max Blocks` to 1 and allowing child blocks with your `Block Type`, you won't be able to add any because the `Max Blocks` limit cascades down and ignores the individual settings.
![Screenshot](

[2017-10-03 22:08] fodney commented on #34
I'm having trouble outputting the fields within my neo field (layout). Everything is outputting as expected except for the fields i.e. block.heading and block.body. I think there must be some kind of syntax for the children here that I'm not grasping. Thanks very much in advance. I've attached a screenshot of the cp as well.

` {% for row in entry.layout.level(1) %}

           {% switch block.typ

[2017-10-05 04:56] gabrielmoreira commented on #27
I really appreciate this feature.

But as an alternative, would not it be easier to have a COPY and PASTE option, using the same behavior as duplicate?

[2017-10-05 11:38] theskyfloor commented on #27
Copy/paste would be huge - great idea! Perhaps it is easier to implement a gate if a block isn't assigned to a parent block as well?

[2017-10-05 23:13] benjamminf commented on #27
Man, I really need to find the time to make a new version release! I actually have copy/paste functionality done, and have fixed a lot of other issues. It's all on the [dev](https://github.com/benjamminf/craft-neo/tree/dev) branch – [download the plugin](https://github.com/benjamminf/craft-neo/archive/dev.zip) from there and try it out. Make sure you back up your database first.

Just a little gen

[2017-10-05 23:21] benjamminf commented on #27
@dennisfrank at this point I don't think it's going to happen for Craft 2, at least yet. The reason it hasn't happened yet is because it would require a big rebuild of the UI to accommodate it, and with Craft 3 coming up I'd rather focus my efforts on that.

What *might* happen is the new UI being built for Craft 3 being back-ported to the Craft 2 compat version.

[2017-10-06 00:03] theskyfloor commented on #27
Congrats on your upcoming graduation!

[2017-10-06 00:12] theskyfloor commented on #27
Copy/paste works very very well. Thanks for the dev branch tip!!

[2017-10-19 00:00] owldesign commented on #41
Any progress on this one? The more child blocks the slower it runs.

[2017-10-19 02:12] AbbeyDesign commented on #115
+10 for this. I can do it, painfully, via the cp css plugin but it would be much more functional if it where something I could just click when creating the field. Also would like the whole box colored (subtle) instead of just the outlines in the above example.

[2017-10-20 10:43] amypower94 opened #116 "Fields suddenly stopped displaying"
resolved

[2017-10-20 11:26] haavardb commented on #114
How did you end up solving this @pgrzyb ?

[2017-10-23 14:29] pgrzyb commented on #114
Did it the manual way and I guess I will keep doing it untill @benjamminf finds time to tackle this ;) I understand that this is only an improvement for some edge case scenarios, and with the whole plugin porting to Craft 3 Soon™, I am not hoping for any focus on this :)

[2017-10-30 16:39] zizther commented on #76
@martinherweg Did you manage to sort out how to clear the ghost images, cache clearing isn't working for me either

[2017-11-01 14:10] martinherweg commented on #76
Nope, still having ghost Images if I uploaded images before the changes in my PR.

[2017-11-01 21:35] johnhoysa commented on #76
Hi everyone, I am going to close the issue even though my ghost images are still appearing. I do think this is a Craft CMS issue and not a Neo issue.

@martinherweg, thanks for taking a look into this issue, I greatly appreciate the help and your time.

[2017-11-01 21:36] #76 closed

[2017-11-10 09:22] #94 closed

[2017-11-10 09:24] #97 closed

[2017-11-10 09:27] #85 closed

[2017-11-10 09:34] #74 closed

[2017-11-10 09:34] websNL commented on #77
Geachte relatie,Welkom bij de servicedesk van Webs. Voor vragen, bugs en wijzigingen aan uw website of hosting pakket, kunt u gebruik maken van dit Servicedesk systeem.Nadat een project of service is opgeleverd zijn er vaak nog veel aanvullende vragen. Om efficiënt antwoord te kunnen geven op deze vragen werken we met de Webs Servicedesk. Jij kunt met een eigen account 24-uur per dag al je vragen

[2017-11-10 09:47] #116 closed

[2017-11-10 09:48] #113 closed

[2017-11-10 09:53] benjamminf commented on #115
Thanks @waswebb! This is a planned feature for the Craft 3 rewrite, but sadly it won't be developed for the Craft 2 version. @AbbeyDesign I think I'm just going to go with the title bar + border like above as nesting blocks with clashing colours looks bad, but we'll see.

[2017-11-10 09:53] #115 closed

[2017-11-10 09:54] #107 closed

[2017-11-10 09:58] #102 closed

[2017-11-10 10:01] benjamminf commented on #101
Sorry about that, Neo was never meant to be used inside Matrix. It's definitely possible it may have worked for you, but it's a very fragile setup and none of the plugin's architecture was designed to account for those situations, and more complex setups would undoubtedly break for you.

Unfortunately your only solutions are to either downgrade to the last version that had this "feature", or redes

[2017-11-10 10:01] #101 closed

[2017-11-10 21:19] websNL commented on #77
Geachte relatie,Welkom bij de servicedesk van Webs. Voor vragen, bugs en wijzigingen aan uw website of hosting pakket, kunt u gebruik maken van dit Servicedesk systeem.Nadat een project of service is opgeleverd zijn er vaak nog veel aanvullende vragen. Om efficiënt antwoord te kunnen geven op deze vragen werken we met de Webs Servicedesk. Jij kunt met een eigen account 24-uur per dag al je vragen

[2017-11-11 07:40] klick commented on #34
@fodney I guess it must be {{ accordions.heading }} and {{ accordions.body }} instead of {{ block.heading }} and {{ block.body }} because you named the expression that way.

[2017-11-14 14:38] groe commented on #38
Is this still an issue?

[2017-11-16 15:44] madebyfir3 opened #117 "No more duplicate field?"
No more duplicate field, that was handy?

[2017-11-16 15:45] madebyfir3 commented on #117
nm it's copy / paste now

[2017-11-16 15:45] #117 closed

[2017-11-20 18:21] steveooo9 commented on #87
@benjamminf Well, it was better when having higher memory_limit in php.ini, but when using a lot of complex blocks, a big sum of variables get's POSTed to the server... Any way to optimize sending the data more compact (on save)?

[2017-11-20 23:44] 23d1 opened #118 "Lightswitches don't work before saving once."
It seems lightswtiches don't work before you save one time, and it seems to be the case whenever you add a block containing one or more lightswitches.

[2017-11-23 13:46] ncc-jwood opened #119 "Plugin Compatibility"
Your Neo plugin does not seem to be compatible with the newest version of Solspace's Calendar plugin.  With both plugins at the latest version and the calender using a Neo field, the calendar dies and throws an error when trying trying to create an event.

[2017-11-23 15:51] knynkwl commented on #118
I am getting this issue as well.

[2017-11-24 09:40] websNL commented on #77
Hi,

I see that the saving a new entry copies over the Neo Blocks is in the latest release.
Does that also include Neo Blocks with a Matrix field in it?

Previous comment on this:
_If you have a Neo Block with a Matrix in it, the Matrix content isn't filled / copied over to the other locale._

[2017-11-25 16:32] mateostabio commented on #77
You need to edit the Neo field settings, make sure the "translatable" checkmark is not checked for this Neo field. Go back to your page with the Neo block, make a modification to the page (like adding a space) and hit save. It will copy everything over to the other locales!

[2017-11-26 22:22] steveooo9 commented on #119
Same here.

[2017-11-28 07:53] seichenberger opened #120 "Neo-Elements disappear after saving"
We have build a site for our customer largely based on your faboulus plugin. After the Neo Plugin update to version 1.5 we see strange things happening (a downgrade to 1.4.1 solved these problems):

- The lightswitch problem as mentionend in https://github.com/benjamminf/craft-neo/issues/118 occurs
- On a page with 3 Neo matrices: On one matrix, it is not possible to add an Element after loading t

[2017-11-29 23:14] dennisfrank commented on #120
Unfortunately, I am also struggling with both issues. (#118 is the minor one.) Losing content when saving an entry could be catastrophic.

All Matrix-in-Neo content get erased when editing another Matrix or Neo field.

[2017-11-29 23:18] benjamminf commented on #120
Hey guys, thanks for reporting. I'm well aware of the issue, which stems from a feature I added in 1.5.0 for copying content to other locales. I'm going to bring that version down in the meantime while I work on a patch for this.

Downgrading to 1.4.1 should get things back in order. There were no database changes between those versions so it's safe to do so.

[2017-12-05 18:41] groe commented on #99
Any news regarding this?

If it's not fixed yet, is there some workaround to prevent disabled neo blocks from showing up in the live preview?

[2017-12-08 15:44] madebyfir3 commented on #120
There are also issues with the new "copy & paste" changed from "duplicate" where there are two neo fields on a template, remove and unorder the other neo fields lets say in a sidebar, weird. Backing up to version with duplicate neo fields fixes the issue.

[2017-12-12 16:39] groe commented on #99
As a workaround I have added this to all loops over neo fields:

[code]

Works for now.

[2017-12-13 18:56] knynkwl commented on #118
Any movement on this?

[2017-12-20 15:51] H-i-red opened #121 "When is "the one" comming to Craft 3 !?"

[2018-01-05 09:43] Nav33d commented on #27
Hey @benjamminf I was wondering if it is possible to use the drag and drop patch with the latest 1.5.0 release?

[2018-01-09 16:32] j2is commented on #121
+1 👍

[2018-01-12 13:57] knynkwl commented on #120
@benjamminf Looks like 1.5.0 is still up downloadable, were you going pause that version and revert to 1.4? Just worring about other people having this bug. I am having a lot of issues with 1.5

[2018-01-12 13:58] knynkwl commented on #120
This is another that issue I was having with 1.5 https://github.com/benjamminf/craft-neo/issues/118

[2018-01-12 14:36] E2design opened #122 "raft 3"

[2018-01-15 11:09] stevepiron opened #123 "Uncaught Error: only one instance of babel-polyfill is allowed"
Hi,

My project requires babel-polyfill (https://babeljs.io/docs/usage/polyfill/) and so does this plugin. This breaks the scripts execution when using live reload from the back-end. For example, images that are lazyloaded don't load anymore, which is a big problem.

**A suggestion to fix this is to use transform-runtime which polyfills the code without polluting globals:** https://babeljs.io/docs

[2018-01-18 09:38] terryupton commented on #118
Any update on this all? Are we best to downgrade still?

[2018-01-19 16:14] hisnameisjimmy commented on #87
@benjamminf I would be happy to do this (give you a db dump). I have a situation where our website has sections with as many as 5k pages, and it's multi-lingual, with approximately 15 languages. If I save one of these sections, it can be hours before all the Neo_GetSearchKeywords tasks clear. On a Digital Ocean 2 CPU-optimized instance, it can be an hour. Further, these sections generally contain

[2018-01-22 14:38] rhoffmann commented on #105
I experimented a little bit with it and got it working. Basically you need to save your whole Neo entity structure for the field and use it later with different filters. The nested content structure is:

[code]

I also used the `Chain` class to make JSON creation feel a little bit more functional.

But it feels there needs to be an easier approach.

https://gist.github.com/rhoffmann/7b65d65fb685fe

[2018-01-22 19:44] envas commented on #19
Sorry for re-opening the issue. I got the same error. The error message has been probably raised when installation almost finished because the plugin status was, despite the error, set to `installed`. Unfortunately, the plugin did not work properly.

In my case, the issue was due to different table collations. My Craft instance, including the table craft_locales, has been installed with the collat

[2018-01-25 16:11] terryupton commented on #120
Hey @benjamminf I am also experiencing this issue and #118 - would we best to downgrade? I can only see 1.5 available. Thanks.

[2018-01-26 14:53] fThues commented on #113
Are things still on track for the rewrite to be released alongside Craft 3? I appreciate this is a huge undertaking and I'm not trying to be pushy, it's just that we're starting a new project and I'm evaluating whether to build on Craft 2 or 3. Your plugin's availability is a big factor in that decision. Thanks!

[2018-01-29 10:23] ghost opened #124 "Limit Neo entries"
Hi there,

I'm trying to load some Neo matrix blocks on another page and limit the entries to 10 but I can't seem to get it working using .limit(10).

Here's the code I'm using.
`{% for entry in craft.entries.section('projects') %}

	{% for block in entry.globalAgenda.level(1) %}

		{% switch block.type.handle %}

			{% case 'agendaDatum' %}
				{% if block.agendaDatum >= now %}
					<table class=

[2018-01-31 19:10] elfacht commented on #121
Srsly, please make it happen!

[2018-02-01 01:53] timostsauber commented on #121
Is there a rough ETA?  Now that Craft3 is in RC

[2018-02-01 01:56] maxwellhibbert commented on #121
I think his goal is Craft 3 launch

[2018-02-01 01:59] timostsauber commented on #121
Have you heard when the Craft 3 might be moving from RC to final version?  I couldn't find any roadmap on their website.

[2018-02-01 02:00] maxwellhibbert commented on #121
Mid April I think

[2018-02-01 02:06] timostsauber commented on #121
Wow thats close innit. Thanks for the info maxwellhibbert!

[2018-02-03 15:55] terryupton opened #125 "Possibility to set the minimum number of child blocks"
Perhaps a future feature enhancement but I am currently implementing a build where i'd like to set the minimum number of child blocks. I know this can be coded for in Twig but ideally i'd like to error trap this before in Craft.

[2018-02-04 01:07] kisonay commented on #121
Would love to help test this, just no clue as to how to install the dev-3-port branch into my local env.

[2018-02-07 15:09] svenpeeters commented on #120
Any movement on this?

[2018-02-07 15:34] danieltott commented on #87
I am experiencing this issue as well - the entry is taking a long long time to save. I got it to work by bumping up `max_execution_time` to `120` - before that it was set to `60` and was timing out.

This entry type has two neo fields, and while they don't have multiple tabs, each block has at least one relation and matrix field. one of the matrix fields has a block type that contains a relation a

[2018-02-07 21:59] kisonay commented on #121
Is there anything that we can do to help with this development? Only 2 months away from a GA.

[2018-02-08 15:09] svenpeeters commented on #118
Update?

[2018-02-24 00:49] seamusmh commented on #120
FYI, if you're having this issue, try increasing max_input_var in PHP. The default is 1000, and if you have a Neo setup with lots of layout options in every row, it's pretty easy to get up over 1000 on a long post. At least that was why my fields were getting truncated. No warning in Craft about it either.

[2018-02-26 22:30] kisonay commented on #49
We are just about a month away from GA. Let us know if there is anything we can do to help.

[2018-03-01 18:10] bryantAXS commented on #116
How did you fix this?

[2018-03-05 14:01] terryupton commented on #118
Anyone managed to find a fix for this at all?

[2018-03-06 14:17] andrewhawkes commented on #121
Any idea on an ETA? Would be ace to use this on a new project we're doing on Craft 3. Would happily pay for this plugin on Craft 3!

[2018-03-07 13:41] elfacht commented on #121
I already did the work and transferred my Neo fields to [Super Table](https://github.com/verbb/super-table) fields. Not as nice as Neo, but good for everyone who dislike waiting.

[2018-03-12 13:59] j-greig opened #126 "All blocks lost when converting to Matrix field"
When I change the Neo field to a Matrix, everything inside it disappears. Am I doing something wrong?

There are a fair number of blocks defined...

![image](https://user-images.githubusercontent.com/616194/37287808-95d557ee-25fd-11e8-9917-2b9422345ce6.png)

[2018-03-14 14:02] nickdunn commented on #121
Looks like there are a couple of branches on the go, but no activity since January :-(

[2018-03-14 14:32] andrewhawkes commented on #121
@nickdunn that's good to know. I don't think Super Table is going to work in this case so Neo on Craft 3 would be good.

[2018-03-14 15:31] kisonay commented on #126
I believe this is expected. If you change the field type of a field, data will be lost. If you wanted to convert a neo field to a matrix, it would need to be manual (recreate the field with the matrix type.)

[2018-03-15 09:18] j-greig commented on #126
Not according to https://github.com/benjamminf/craft-neo/issues/17 and the relates notes that follow... ?

[2018-03-15 12:11] kisonay commented on #126
You talk about changing the field from a Neo to matrix field, #17 says that is converts them when Neo is uninstalled. Which are you trying to do?

[2018-03-20 20:54] jerwarren opened #127 "Duplicate / Missing blocks"
I've been working on a rather large site that uses neo pretty extensively, and as I've been inputting content I've been running into what I believed to be the 1.5.0 "missing blocks" problem.  I THINK I've downgraded to 1.4.1 (but the version number still says 1.5.0) so I'm not 100% sure this is the problem I'm now running into, but I think it might be.

What happens:

I have two neo blocks in one

[2018-03-21 18:05] jerwarren commented on #127
turning off "save only edited blocks" seems to have solved this.

[2018-03-28 15:08] justenh commented on #120
We just reverted our neo plugin to 1.4. I'm not sure if it fixed the issue. We'll just have to wait and see.

Posting this here as a warning to anyone else who is encountering this issue as of today. I must have downloaded the plugin just before it was taken down.

[2018-03-31 01:14] jerwarren commented on #127
False alarm.  I can't figure out when and how this is going wrong.  It seems to be breaking when loading the entry into the editor.  I can save it and all looks well, but then when returning to edit it again later is when everything falls apart.

[2018-03-31 01:16] jerwarren commented on #120
I'm having this issue with the version currently available here on github (which, incidentally, claims to be version 1.5.0 in the plugin settings.)

[2018-04-04 20:33] groe commented on #121
Craft 3 has been released today :) Any news yet?

[2018-04-09 16:35] kisonay commented on #121
Ben updated the README on the dev-3-port branch. He is hoping to get Neo updated this week for Craft 3. https://github.com/benjamminf/craft-neo/commit/29f7b13966c40a4a0aa346a3886e46e99bc69031

[2018-04-11 22:26] jerwarren commented on #127
I finally realized there's a 'Releases' page on this github, where I grabbed 1.4.1 and all is well now.

[2018-04-13 13:39] kblizeck commented on #99
@benjamminf Any word on this issue? I'm encountering it as well, and would like to avoid adding the fix from @groe above, if possible.

[2018-04-14 13:15] ejaedesign commented on #121
Also waiting for "The One" :)
I don't think the update has happened yet but hopefully soon.

[2018-04-17 12:01] jarnstad commented on #121
Any information when the port is done on this brilliant plugin?

[2018-04-18 09:52] waswebb commented on #121
*THE ONE* for CRAFT 3!

[2018-04-18 11:57] kisonay commented on #121
I have tried the dev-3-port branch and although you can build fields with it, it still isn't in a state where you can save content in entries.

[2018-04-20 20:01] owldesign commented on #122
wow..just wow

[2018-04-24 15:33] lazlo-bonin commented on #121
Last update that mentioned being done in the week was more than 2 weeks ago now, any update from @benjamminf ? 😄 Waiting on Neo to migrate my website to Craft 3.

[2018-04-25 14:02] aaronbushnell opened #128 "Hierarchy/order issues when adding new blocks. Possible issue from duplicate IDs in neoblockstructures table?"
We're seeing a strange Neo issue on one particular Craft entry. I have two Neo fields in the entry:

| Field Name  | Field ID      |
|-------------|-----------|
| Modules |48 |
| Hero | 53|

When we add a new block to either of these Neo fields—in just this entry—and save it the Neo field blocks have a strange order and hierarchy. Here's a step-by-step of that experience when adding content to the

[2018-04-26 09:28] jarnstad commented on #121
Has the craft 3 port stalled completely? Have a project that has been put on hold until neo for craft 3 is ready, so i would really like to see this in production soon.

[2018-04-26 09:47] waswebb commented on #121
Please release Neo for Craft 3!
I have 2 projects with are waiting for Neo

[2018-04-26 09:51] JonnyTurnerUK commented on #121
Doh! I thought this would have been one of the first to be ported. Need Neo. 😞

[2018-04-30 01:02] mikethehud commented on #121
Newest commit message on the `dev-3-port` from last night: `Block structure is next, then almost ready`

[2018-05-02 08:56] waswebb commented on #121
@benjamminf NEOO!

I love your Plugin!

[2018-05-04 13:37] kisonay commented on #121
dev 3 port branch is looking good! can't wait for this to be released.

[2018-05-04 15:48] waswebb commented on #121
Is it ready to use?

[2018-05-04 15:52] kisonay commented on #121
@waswebb I've been playing with it but it def isn't ready. I do find it usable enough to do some development though.

[2018-05-06 16:43] lazlo-bonin commented on #121
Just a heads up for everyone else waiting, I reached out to Benjammin about the progress, and here's his reply (I hope he won't mind me posting!):

tl;dr: It's definitely coming soon, we just have to be a little more patient!

[2018-05-08 10:28] fThues commented on #121
We're trying to evaulate the plugin's current state, but after installing the `dev-3-port` branch via Composer, Craft doesn't the show the plugin in the Plugins section. Does this work for anyone?

[2018-05-08 10:32] kisonay commented on #121
@fThues I’ve been using it without a problem? Are you sure it’s installing and that composer isn’t producing an error?

[2018-05-08 10:36] fThues commented on #121
@kisonay Yeah, Composer does its thing and the plugin gets installed to `vendor/benjamminf/craft-neo`.

[2018-05-11 14:54] eliseferguson opened #129 "Lightswitch field disabled until entry save"
If I add a Neo block that has a lightswitch field to an entry I cannot change the state of that lightswitch.  The entry has to be saved first and then re-edited and then the lightswitch field state can be changed. (craft 2.6.3015)

[2018-05-14 07:01] waswebb commented on #121
No Update on Neo since 12 Days. Have anyone a idea why?

[2018-05-18 06:54] jarnstad commented on #121
16 days and no updates. Is it possible to get an estimate when this plugin is released for craft 3? And a realistic estimate, until now all estimates have been completely wrong. Have a couple of projects for a customer that have stalled because I'm waiting for neo. Considering finding another solution instead of waiting.

[2018-05-18 10:40] mwadera commented on #121
Any update?

[2018-05-18 11:55] waswebb commented on #121
No. Till jet noting new :(

I have 5 projects on hold because of the missing kid Neo!

[2018-05-22 08:19] SuperlabTina commented on #120
Is there any update on this matter?

[2018-05-24 19:00] BrandonJamesBorders commented on #121
So I figured I'd give the dev3 branch a go as I loved using it in Craft 2. So far, so good aside from a few Craft 2 styles being present. Here is a how to get it going.

1. Download the [dev-3-branch](https://github.com/benjamminf/craft-neo/archive/dev-3-port.zip).
2. In your project root, create a folder named plugins.
3. Extract the contents from step 1 into a folder named Neo. Your folder struc

[2018-05-25 19:02] knynkwl commented on #113
Any update on this?

[2018-05-29 16:00] ciaojames opened #130 "Admin login failure"
We're getting this error when trying to login to Craft (2 not 3), which appears to be related to Neo:

[code]

I can't get into the CMS to look at the issue from there - any suggestions of how I can bypass this error via FTP or a config file?

[2018-06-01 12:56] kisonay commented on #121
@benjamminf I now things take time but could we get an update on this?

[2018-06-01 17:09] mrksmts commented on #121
@BrandonJamesBorders Could you tell us something about how well is this version working also taking multiple sites into account?

@benjamminf please let us know if there is any way how we can support you.

[2018-06-03 22:40] BrandonJamesBorders commented on #121
@mrksmts Using it in a multi-site environment now without major issue. There was one potential major oddity that I'm not sure if it was related to Craft or Neo where I had a channel available across all sites. The channel had one entry with dummy content in a Neo field. When I then disabled a channel for one of the sites, the non disabled entry blew up in form of a bunch of empty sub(?) Neo fields

[2018-06-06 08:29] waswebb commented on #121
@benjamminf Can you please give us a status update?
Here are so many people waiting for a Neo, please give us something.

[2018-06-07 10:02] mrksmts commented on #121
@BrandonJamesBorders You could skip the first 3 steps of the guide. This also makes it easier to update once there is an update I think.

1. Update the repositories section in composer.json:
[code]

2. Run `composer require benjamminf/craft-neo dev-dev-3-port`

[2018-06-10 00:35] brianrivet commented on #113
Hi Ben,
Thanks for the plugin, it really is great. I was hoping to see if there is any new ETA on when the Craft 3 version might be ready. I have a few projects that I could really use Neo on.

Thanks!

[2018-06-13 12:39] jarnstad commented on #121
Anything? Really hope something will happen soon. Need this plugin so bad.

[2018-06-13 13:47] smockensturm commented on #121
Anybody just update Craft to 3.0.11 and have the Neo dev plugin go all to hell?

[2018-06-13 13:51] kisonay commented on #121
@smockensturm  I just upgraded and it seems fine to me. (The only issue I have had for a while now is that the checkbox next to each header/box is higher than it should be)

[2018-06-18 08:35] ewhicher commented on #121
Any updates for us @benjamminf ? Sorry to bump 🤕

[2018-06-25 07:01] waswebb opened #131 "We miss Neo in Craft 3"
We need Neo for Craft!

[2018-06-25 10:37] jamielaughton commented on #121
Sorry to harass, but we're gonna have to ditch Neo in all our up-and-coming releases if there is no ETA announced for this update. We believe in you!

[2018-07-02 14:17] terryupton commented on #38
Is this still an issue? Once setting generateKeywordsWithTask to false. Do we need to rebuild the Craft Search index?

[2018-07-03 13:34] groe commented on #121
Still hoping for a Craft 3 release, but seeing there are no commits for 2 months makes we wonder about the future of Neo. Are there any alternatives?

We're currently in the process of planning a new Craft site and with Craft 3 being released for 3 months starting a site from scratch with Craft 2.x becomes harder to justify every week :persevere:

[2018-07-03 13:36] kisonay commented on #121
@groe  I have feared the same. I found that "Pimp My Matrix" has started development again and has been renamed to Spoon which may be an alternative.

[2018-07-04 17:23] j-greig commented on #131
What about adding a nice big DONATE button on the Readme page?

I'm sure people would like to send a token of their appreciation your way...

eg https://gist.githubusercontent.com/skratchdot/6668394177f5444bab26/raw/9f9d541aec6ad8c00d7da3b6ce4624a47ec5325a/donate.md

[2018-07-05 08:46] jamielaughton commented on #121
@groe @kisonay I agree, Pimp My Matrix looks like the way forward. Unhappy about losing the ability to re-use fields but even if Neo Craft 3 does come along there's no guarantee the plugin will be maintained in the future

[2018-07-05 15:19] i-hardy commented on #121
@benjamminf You're still active on Github so I just hope you haven't muted this issue. Please could you at least confirm if you plan to continue development, if you welcome PRs for the Craft 3 version, if you would rather someone else take this on, etc.

I began work on a business-critical Craft-based marketing site in May, using the dev-3-port branch as you suggested above under the good faith as

[2018-07-07 06:20] narration-sd opened #132 "question on block housekeeping"
Ben, I wonder what your plan iis for cleaning up when a Craft Element holding Neo items is deleted?

I've briefly scoped here on dev-3-port, and don't seem to find either cascade delete database setup, or Events registered on Craft's Elements::deleteElement();

It could well be you just haven't gotten to this yet.

I'm querying because I noticed your blocks tables not seeming to be cleared out whe

[2018-07-08 12:47] vandres opened #133 "Craft 3: Default value of Select and MultiSelect is not taken"
Hi, found a probably small bug. The default value of Select and MultiSelect fields is not taken:

Definition:
<img width="1180" alt="bildschirmfoto 2018-07-08 um 15 45 09" src="https://user-images.githubusercontent.com/1436383/42419893-fb0b7d8a-82c5-11e8-9f06-8bc84a7a26bc.png">

Working when used normally:

<img width="381" alt="bildschirmfoto 2018-07-08 um 15 43 11" src="https://user-images.githu

[2018-07-09 08:12] narration-sd commented on #132
Ben, actually this appears to have been a fault on my side; perhaps interruption by closing an xdebug session before it had run to completion.

deleteElement on the parent Entry does indeed result in cleanup of  your Neo elements and relations, as far as I can see  today.

Best on your progress, and cheers,
Clive

[2018-07-09 08:12] #132 closed

[2018-07-09 09:44] jamielaughton commented on #121
Just noticed that dev-3-port branch was updated 2 days ago, hopefully we'll hear an update soon!

[2018-07-09 16:17] chrisrowe commented on #121
It's happening...

[2018-07-18 15:10] JayBox325 commented on #131
Go join the big thread about Craft 3 discussion/need/desires here: #121

[2018-07-18 15:11] JayBox325 commented on #122
Delete this, please. This doesn't add anything to the need for a Craft 3 Neo plugin.

Can you go and add a comment to this discussion on #121

[2018-07-18 15:11] kisonay commented on #121
It is happening.... just slowly, not additional updates for the last 11 days.

[2018-07-18 16:52] lazlo-bonin commented on #121
Is it possible to start architecting a site with the dev-3-port branch?
I don't need to use it in production yet, but I do need to start structuring my content.
If I start using it now, will I be able to migrate to the full version once it's ready?

[2018-07-18 16:58] kisonay commented on #121
@lazio-bonin yes, the dev-3-port branch is usable (with a few bugs.) I have been using it for a few months but have started to look at other options since there is no indication on when it will be production ready and I have been holding a project because of it.

[2018-07-18 17:16] msimpson commented on #122
![](https://media.giphy.com/media/UckaRhCl0rNQs/giphy.gif)

[2018-07-18 21:30] kisonay commented on #121
@23d1 its mostly around third party field type plugins (so not really Neo's fault.) If you havne't experienced any issues, and are using it in production, that is great news.

[2018-07-20 14:11] jamielaughton opened #134 "v"

[2018-07-20 14:11] #134 closed

[2018-07-20 14:54] kisonay commented on #121
@23d1  have you had any issues with Live Preview and Neo? for some reason I am not getting the preview to update when modify the content with a Neo field.

[2018-07-20 14:56] gregorydavidjenkins commented on #121
Live preview isn't working yet. I had a conversation with Ben a couple months ago and he said the structure is in place so as updates come they won't break the overall structure, but "bells and whistles" like live preview aren't set up yet.

[2018-07-29 15:35] Osze commented on #121
I have more than 10 projects waiting for NEO Craft 3. Please, make it happen and for your sake, don't make it for free this time! I think we all want to contribute. :)

[2018-07-31 02:43] BryceBubbles opened #135 "Craft 3 dev port: SQL error on entry delete"
On deleting an entry with a fairly large Neo field, an SQL error is being thrown, with a stack trace that points to the Neo Field service.

Error:
`PDOException: SQLSTATE[22003]: Numeric value out of range: 1690 BIGINT UNSIGNED value is out of range in '(`xxxxxxx`.`craft_structureelements`.`level` - 1)'`

The relevant stack trace lines from Fields.php:
Line 231: `$elementsService->deleteElement($d

[2018-07-31 02:50] BryceBubbles commented on #135
There were some blocks disabled, so I enabled them, saved the entry, then it could be deleted without error. I'm now trying to recreate the error.

[2018-08-01 09:58] divyan commented on #135
I got the same problem.
Workaround: If you delete them first from the deepest field and save the entry after each deletion it works.
Directly deleting the highest field will give this error.

[2018-08-15 10:18] divyan commented on #121
Any news on this?

[2018-08-21 23:55] narration-sd opened #136 "400 and stack trace on collapsing or expanding Neo section"
By and large, Neo dev-3 has been working well in not-too-demanding development - thanks, Ben.

However, today I collapsed a section -- and got a 400 on your intent to save information, though the CP went  ahead and collapsed it.

Experimenting, expanding acts the same:  CP action ok, but the section came back. I don't know what might  change in the data that you're pulsed/pulsing about...

Here's

[2018-08-22 15:01] httpster commented on #121
In the early phases of a project where Neo would be a great addition, but if it's abandoned or is going to be awhile I will move in another direction. A progress update would be very helpful.

[2018-08-23 10:51] lukebailey commented on #121
Looks like Ben has moved to Facebook (according to Spicy Web) and the repo has been moved to their organisation account - anyone their looking to maintain/release this?

[2018-08-28 00:51] timeverts commented on #121
I've recently made contact with Tony Sambell, Director of Spicy Web, querying about whether Neo will still get Craft 3 support now that @benjamminf has left the company.

Thankfully, the news sounds promising:

We use NEO on all our websites and now that we have ownership we are making it a high priority to get it C3 ready.

[2018-08-30 09:08] ttempleton commented on #121
Hi everyone,

I'm Thomas, I'm a developer for Spicy Web, and I'll be involved in completing the Craft 3 version of Neo.  I've just updated the readme with a public message from Tony Sambell, the Director of Spicy Web, stating that Spicy Web will be supporting Neo from now on and intends to have the Craft 3 version completed and released by October 30.  We will, of course, endeavour to complete it

[2018-09-01 15:05] ttempleton commented on #136
Thanks for reporting this!  I believe that this should be fixed now.  Please let us know if you continue to experience errors with expanding/collapsing blocks.

[2018-09-01 15:05] #136 closed

[2018-09-01 17:24] kisonay opened #137 "Craft 3 Dev - Issues collapsing Neo Field with "Typed Link Field" child."
I've installed the "Typed Link Field" plugin from the store and created a field with it which was included in the Neo block.

When I use this block, the UI will not allow me to collapse it. It says that it is collapsed but still shows open.

[2018-09-02 04:40] ttempleton commented on #137
Thanks for letting us know about this; it has now been fixed.

[2018-09-02 04:40] #137 closed

[2018-09-12 22:01] peterbedor commented on #127
We're having a somewhat similar issue where, seemingly randomly, every Neo block will duplicate itself four times.  This duplication exists in the CP as well as the template output.  Deleting this duplicate blocks doesn't work and there is no error output.

[2018-09-18 12:30] ttempleton commented on #133
Thanks for reporting this -- it has now been fixed.

[2018-09-18 12:30] #133 closed

[2018-09-18 13:46] vandres commented on #133
Thanks man!

[2018-09-18 17:59] peterbedor opened #138 "Duplicating Blocks"
It seems that in some cases, and I'm still trying to figure out exactly when, Neo blocks appear duplicated in the CMS as well as front end.  I did a little digging and found that it was, in my case,  caused by the structure elements join statement.

For anyone else, I have a temporary fix that seems to work so far:

Adding `$this->query->groupBy('{{elements}}.uid');` to the `beforePrepare` method