[2018-09-27 18:31] 23d1 commented on #121
Hey @ttempleton, I didn't want to open a whole new "issue" for a brief question;

Have you guys started looking into the new Project Config functionality in Craft 3.1, outlined [here](https://craftcms.com/news/craft-3-1-dev-preview)?

I'm sure it's on your radar, just curious—it seems like an amazing functionality that seems so logical it's crazy it wasn't built in into Craft 2. Anyway, looking fo

[2018-09-28 15:18] ttempleton commented on #121
Hi @23d1

We've not yet looked into Project Config in detail, but we definitely agree, it's a fantastic new feature that will make life much easier.

Neo for Craft 3 is coming along well, it's still on track to be released by October 30, and I would say, for those who have been using it for testing purposes, that it's still safe to do so.  All of the structural work was completed by Ben before we

[2018-09-28 21:33] pierrestoffe commented on #127
I've noticed the same issue and it seems to only happen to entries where we use drafts.

[2018-09-29 00:49] ritagya-meharishi commented on #120
Thanks @seamusmh, do you know if I can make this change from Control Panel?

[2018-09-29 05:02] seamusmh commented on #120
No. It needs to be done in the php.ini file.

[2018-10-04 17:52] theskyfloor commented on #121
@ttempleton great news... and exactly what i was hoping to hear as far as migrations go. are you going to make neo paid? i hope so, i want to be sure we can rely on it going forward :)

[2018-10-05 13:06] ttempleton commented on #121
Hi @theskyfloor -- at this stage I can say it's likely that the Craft 3 version of Neo will be a paid plugin.  I can't yet confirm pricing, but will update with that information as soon as possible next week.

[2018-10-05 14:50] theskyfloor commented on #121
@ttempleton awesome, that is fantastic news in my opinion!

[2018-10-11 16:43] H-i-red commented on #121
Hi @ttempleton is there a way to install the dev-3 for previewing/testing ? Composer ?

[2018-10-11 19:22] H-i-red commented on #121
Hi @timkelty , thanks but it´s not working "Your requirements could not be resolved to an installable set of packages", I have set "minimum-stability": "dev", "prefer-stable": true...  ?!

[2018-10-12 01:56] ttempleton commented on #121
Hi @H-i-red

What @timkelty posted should work with one small change: Despite the changeover to Spicy Web, at this time the entry in the Composer project requirements should still be `benjamminf/craft-neo` (this will be updated in the near future and I will notify when it has been updated).

---

On another topic, regarding Neo pricing: My understanding is that the initial purchase price of Neo fo

[2018-10-12 08:12] H-i-red commented on #121
Woohooo 🤘 **NEO** is back  💪 !! Thanks @ttempleton

[2018-10-12 08:29] H-i-red commented on #121
I see the `duplicate` button is replaced by a `copy`. Here comes a future request.. 😬

1.  Be able to copy multiple selected `blocks` (Now I can only copy one at a time ?)
2. Bring back the `duplicate` button. For quick one copy use the `duplicate` button, for multiple, select your blocks and use the `copy`button. So you have two buttons one for `copy` & one for `duplicate`.

Found a 🐛 . Upon save

[2018-10-12 08:31] H-i-red opened #139 "Craft 3 / Undefined in block topbar"
Found a 🐛 . Upon save the preview for the blocks is lost, returning undefined in `.preview-section`. When I expand/collapse the block it´s shown..

[2018-10-12 08:35] H-i-red opened #140 "Craft 3 / Copy - Duplicate blocks"
I see the duplicate button is replaced by a copy. Here comes a future request.. 😬
1. Be able to copy multiple selected blocks (Now I can only copy one at a time ?)
2. Bring back the duplicate button. For quick one copy use the duplicate button, for multiple, select your blocks and use the copy button. So you have two buttons one for copy & one for duplicate.

Perhaps rename `duplicate` to `clone`.

[2018-10-16 05:28] ttempleton commented on #139
Are you seeing this issue on blocks with a color field?  I have reproduced the issue for that field type (but the previews for the other fields in the block were still working on page load).

If not, can you please let me know whether you're experiencing this issue just for certain blocks or for all blocks and, if just for certain blocks, what field types those blocks use?

[2018-10-16 07:10] H-i-red commented on #139
Hi man ! It seems to only affect the `assets`(Images) field, and the `color` field, everything else seems to work just fine!

[2018-10-16 07:18] H-i-red commented on #139
It also happens upon `copy/paste` other block.

[2018-10-16 09:53] ttempleton commented on #139
Thanks!  The color and asset previews should now work properly on page load and when copying/pasting blocks.

[2018-10-16 09:53] #139 closed

[2018-10-16 13:01] H-i-red commented on #139
👍 it works !

[2018-10-17 20:08] vandres commented on #135
Same here. It happens when there are nested Blocks. Deleting the deepest Blocks first helps, but it no real solution for customers using it.

[2018-10-19 00:41] ttempleton commented on #135
I've made a small change to how blocks are deleted, deleting them in reverse, which fixes the issue for me (the element deletion tries to adjust child elements' levels, but since we're operating on the original block data, deleting nested blocks in order may cause attempts to set a negative level).  @BryceBubbles @divyan and @vandres can you please confirm whether this has fixed the issue for you?

[2018-10-19 00:48] #122 closed

[2018-10-19 00:55] ttempleton commented on #131
Not too long to go now 😃

[2018-10-19 00:55] #131 closed

[2018-10-19 18:29] 23d1 commented on #121
I know this probably isn't the place for it, but I was thinking about making Neo a paid plugin... Being somewhat of an idealist in terms of open source and free software, I would urge that if there's a pricing model invoked—would it make sense to use a similar approach as ACF, where you essentially license the software, but can use it across many/all your projects?...

[2018-10-19 18:33] theskyfloor commented on #121
@23d1 that's an interesting idea. Would love to hear SpicyWeb's thoughts on that... we do use Neo on a lot of projects and pricing like that would be beneficial to us - we would gladly pay a decent fee for it let's say 99 to 199 a year but be able to use it on any site we want.

[2018-10-19 18:52] kisonay commented on #121
Interesting idea. If you go this route, Is it possible for two pricing levels? Single site and agency? Can’t forget about the little guys.

[2018-10-19 19:08] luke-nehemedia commented on #121
I am not that much a fan of this idea ;)

I use neo on a lot of small budget projects or even for small charitable projects. All those sites/projects would not be able to pay such a high fee.

However, from an agency’s point of view it makes total sense.
Am 19. Okt. 2018, 20:53 +0200 schrieb kisonay <notifications@github.com>:

[2018-10-19 21:14] 23d1 commented on #121
Ideally it just remains free. I don't want the projects with micro budgets to have to use SuperTable or the likes. What was Ben's plans and wishes for this? Anyway, if it's not a huge fee I'd be fine with it, or developer licensing (one-time with low a low yearly cost for updates or something).

[2018-10-20 11:13] ttempleton commented on #135
Thanks @vandres!

I will close this issue now but @BryceBubbles and @divyan please let us know if you continue to experience this error.

[2018-10-20 11:13] #135 closed

[2018-10-21 13:55] ttempleton commented on #138
Hi @peterbedor,

I've as yet been unable to reproduce this, sorry.  Were you able to find out any more about the cases where this issue appears?

[2018-10-21 20:45] peterbedor commented on #138
@ttempleton Yeah, it's really weird and I've also been unable to figure out exactly when/how/why this happens.  Someone in another thread mentioned that it happens to them when [they use drafts](https://github.com/spicywebau/craft-neo/issues/127#issuecomment-425572403).  I'm using drafts all over and it's only happened in two channels.

I really wish I had more info.

[2018-10-22 12:22] ttempleton commented on #138
Is your Craft installation multi-site and are those two channels using Neo fields set to manage blocks on a per-site basis?  I've been able to reproduce the issue in that case (though I'm only experiencing it on blocks associated with the first site).  Four of each block, just as you described in [#127](https://github.com/spicywebau/craft-neo/issues/127#issuecomment-420812406), and I can confirm t

[2018-10-22 16:57] peterbedor commented on #138
Not using multi-site or locales.  It's a pretty basic set up.  I can remove the fix locally and see what happens and try to get you some more information.

[2018-10-24 23:05] tonysambell commented on #121
Hello All, Neo will indeed be becoming a paid plugin. However, we have given this much thought and the way we have decided to price it will allow us to prove it's worth to developers. From my current understanding, we cannot charge unlimited agency pricing via the Craft Plugin Store. But once you see how we have decided to price Neo this shouldn't be as much of a concern. I know we can never make

[2018-10-28 18:37] Osze opened #141 "Migration from Craft 2 to Craft 3"
I know NEO for Craft 3 is not 100% done yet but I just had to try to migrate a site from Craft 2 to Craft 3.

Ran into this issue when migrating NEO. Maybe it helps:

------------
Database Exception: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'my_db.craft_neoBlocks' doesn't exist
The SQL being executed was: SELECT id, collapsed
FROM craft_neoBlocks

Migration: benf\neo\migrations\m1

[2018-10-29 00:08] ttempleton commented on #141
Oops... not sure how that happened, sorry about that!  Thanks for reporting it!

[2018-10-29 00:08] #141 closed

[2018-10-30 02:41] ttempleton commented on #138
I'm curious to know what could have caused the issue for you, then, but the most important thing is that your fix does resolve the issue for you and it does resolve the duplication I was seeing, so I've now added it to the project code.  I'll close this issue now; it probably isn't necessary to look further into it unless you really want to, but if you do look further into it and find out any more

[2018-10-30 02:41] #138 closed

[2018-10-30 19:12] 23d1 commented on #121
Totally get the choice of going toward a paid model. Personally, I'm super disappointed by it, however—as the ideal for me, and many I know, would be an agency pricing model. I guess it's time to look elsewhere. It was a great ride, though. Keep up the good work, and hopefully in the future there's room to have a couple of different licensing models.

Cheers! ✌🏻

[2018-10-31 02:39] tonysambell commented on #121
Hello All, NEO is now officially in the Craft 3 plug-in store. We are very proud to see it finally Craft 3 ready.
Yes, it is now a paid plug-in but Spicy Web as an agency will be giving NEO prompt and ongoing support.

[2018-10-31 02:39] #121 closed

[2018-10-31 08:51] Osze opened #143 "Migrating from benjamminf/craft-neo to spicyweb/craft-neo ?"
Hi Spicyweb,

great job with NEO!!

I have worked with benjamminf/craft-neo for a week now - installed it manually by repositories.

How do I change it to spicyweb/craft-neo without loosing any data? Can I just install the latest Neo version from plugin store and then delete the benjamminf/craft-neo or how should I tackle this?

Thanks again for a great plugin.

[2018-10-31 09:15] jamielaughton opened #144 "Plugin store 'Documentation' button 404"
Just fyi, when you click the Documentation link within the Neo modal in the plugin store it links to:

https://github.com/spicywebau/craft-neo/docs

Which is a 404

[2018-10-31 09:32] ttempleton commented on #144
Sorry about that @jamielaughton -- will get that fixed right away.

[2018-10-31 09:43] #144 closed

[2018-10-31 11:21] Osze commented on #143
did as you said, and installation went fine but it throws an error when browsing an entry with neo and when browsing the pages using neo.

`Caused by: PDOException
SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'db-se_db.elements.id' which is not functionally dependent on columns in GROUP BY clause; t

[2018-10-31 12:24] theskyfloor opened #145 "Roadmap?"
Hey y'all... this is prob not a great place for this question but I don't know where else to ask it. Now that Neo is released and paid is there a roadmap for feature improvements?  Or is it in more of a maintenance and bug fix mode? Thanks! So happy it's finally on 3 👍

[2018-10-31 14:58] christianruhstaller opened #146 "Block type names not translated"
The Craft 2 version of neo had the nice feature that you just could use the field name as the translation key and the backend would automatically output the translated name for editing an entry.

Unfortunately it seems that this feature wasn't ported or forgotten.

In the Craft 2 version following line of code translated the name (neo/fieldtypes/NeoFieldType.php on line 758 in the function _prepar

[2018-11-01 03:09] 23d1 commented on #143
I can confirm, getting SQL errors.
`SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'askrembla.elements.id' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by`

[2018-11-01 07:41] EternalBlack opened #147 "Neo "light"-Version i.e. Pricing"
I just saw the Neo Matrix plugin pop up in my craft plugin store for $49. Fair price I guess, yet I'm not willing to pay extra for my portfolio site even though I used Neo back in Craft 2 and liked it very much.
I've waited (I guess other can relate) pretty long to see Neo finally come to live, but actually expected it to be free or at least have a free version given that SuperTable is free and is

[2018-11-01 10:03] RyanRoberts commented on #147
I was going to recommend Spoon as an alternative for merely organising Matrix fields, but that's even more expensive (initial cost and the yearly cost).

Charging for work is perfectly fair, as you say, but a problem I'm facing is the stacking up of costs for plugins I once used in Craft 2. It basically wipes out the chance to use many plugins on smaller projects, especially personal or charity pr

[2018-11-01 10:33] 3dgroup opened #148 "Neo Field Causing Error"
Existing content will not resave after adding a Neo Field. Also saving new entry gives the following mySQL error:

SQLSTATE[42803]: Grouping error: 7 ERROR: column "elements.id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT "elements"."id", "elements"."fieldLayoutId", "element...

[2018-11-01 18:31] 23d1 commented on #148
Yeah, I can't even edit and entry or global set that has a neo field (either empty or not). Getting the grouping error among other SQL related errors.

[2018-11-01 20:17] Reddogdesigns commented on #143
I am also receiving this error when upgrading.

[2018-11-02 01:10] 23d1 commented on #147
I still feel like an agency pricing model like how ACF for Wordpress does it would be great. Perhaps a fixed first year cost and then maintenance/support for a yearly cost something like that. That would certainly help when working on many smaller projects.

[2018-11-02 05:29] tonysambell commented on #145
Thanks @theskyfloor, as we just released NEO on Craft 3 we will initially be focused on bug fixes but as time goes on we plan to add features and improvements also.

[2018-11-02 05:29] #145 closed

[2018-11-02 05:32] tonysambell commented on #147
Hello All,

NEO is now paid as we as an agency will be actively supporting it and adding features as time goes on.
The idea of Agency pricing is a good one, and once the Craft Plug-in store has this option I am sure we will implement it.

[2018-11-02 05:33] #146 closed

[2018-11-02 05:57] ttempleton commented on #143
Sorry about this.  The issue should be resolved in the latest release, but if any of you continue to experience errors, please let us know.

Good to hear that the installation otherwise went well, though, @Osze 👍

[2018-11-02 05:57] #143 closed

[2018-11-02 05:59] ttempleton commented on #148
Sorry about this.  The issue should be fixed in v2.0.1 but please let us know if you're still getting errors.

[2018-11-02 05:59] #148 closed

[2018-11-02 06:58] 23d1 opened #150 "Live Preview not loading page, gives 500 Error in browser console."
Live Preview seems to be broken/not load, as I get 500 error in the browser console.
Edit: Not happening on every install, very strange. I'll report back what the log says.

[2018-11-02 07:05] 23d1 commented on #150
This seems to be JS/cross-origin related;

[code]

Will reopen if I find anything related to Neo.

[2018-11-02 07:05] #150 closed

[2018-11-04 19:31] 23d1 commented on #143
Quick question;
How does one update without composer? Is there a table in the DB that one can modify? The production server doesn't have composer, which is a huge bummer—so I've tried to manually update folders and composer.json (which I thought Craft somehow checked regardless of composer, which seems to be wrong). Any help is much appreciated.

Cheers, and great job!

[2018-11-05 02:20] jassok commented on #147
Welp, guess I won't be using Neo anymore. GG

[2018-11-05 20:39] peterbedor commented on #138
Hey @ttempleton - I just pulled in the most recent version of Neo and noticed that my duplication issues are back.  I saw that you removed the line in [this commit](https://github.com/spicywebau/craft-neo/commit/eb7c20ad8acd33d2d6ec061ceb746062c8260fa7).  Was this intentional?  Was it causing other issues?

[2018-11-07 11:56] EternalBlack commented on #147
@tonysambell Thanks for the quick response. I appreciate that the pricing model is not set in stone (and currently limited due to the craft store not handling those cases) but I also somewhat assume that it's going to be hard to win back a "user-base", once people are scared off and have switched to another solution. I mean I wouldn't rebuild a website, just because a plugin went `free` some time

[2018-11-07 18:19] SherriAlexander opened #151 "Neo 1.4.1 and Reasons support bug (flickering Reasons fieldtype layout)"
With the latest versions of Neo for Craft 2 (v1.4.1) and the Reasons conditional plugin (v1.0.11), it's not possible to create new conditionals or edit existing ones in the Field Layout view if they're in a Neo field.  Selecting "Edit conditionals" triggers a wildly flashing Reasons modal, which does eventually stop flashing, but no changes that you make within the modal have any effect.

The auth

[2018-11-07 18:36] vandres opened #152 "Drag and Drop in or out of Neo blocks"
Hi,

Would it be possible to implement a feature, that makes it possible to drag Neo blocks into child blocks? As an example: I made a structure for a "Grid", where the blocks are added in a "Grid-Column". Now the editor would like to move elements which where not in the "Grid" into it.

[2018-11-08 11:46] ttempleton commented on #138
There were issues with it in certain cases, yeah; but I also found that the core problem was multiple block structures sometimes being created for a given field/owner/site combination and therefore blocks being associated with multiple structures in those cases.  I ended up with about twenty of each block appearing for one particular entry; it was quite nightmarish 😄.  In my case, it was caused by

[2018-11-08 11:58] ttempleton commented on #143
Thanks @23d1!

No database changes would be necessary.  If your production server doesn't have Composer, then I think the best option would be to perform the `composer update` on your dev machine, then copy the `composer.json`/`composer.lock` files and the entire `vendor` directory to the production server.  That should be all you need to do (do keep a backup of the original `composer.json`, `comp

[2018-11-08 21:21] peterbedor commented on #138
@ttempleton Hey thanks again for taking the time to help me resolve this issue.  Thankfully there are only a handful of affected entries and re-saving them as new entries has solved the issue so far.

[2018-11-09 00:08] BaReinhard opened #153 "Neo 1.4.1 release feed 404 error"
Client Side Error is caused due to
[code]

The above url returns a 404 as there is no longer a craft-neo repo for benjamminf

[2018-11-09 04:49] tonysambell commented on #147
Thanks for the feedback, really appreciate it.
I did just want to make something clear, we have no plans to bring out a free version, I want NEO to be supported forever and charging for something means we obligated to be there supporting it. If the plugin store brings out a change (especially agency pricing) we will reevaluate then, but right now NEO is a paid plugin for the foreseeable future.

S

[2018-11-09 12:58] ttempleton commented on #138
No worries, and great news about the new entries 👍

That should be the last we see of the duplicated block issue, then -- but if it does happen again, please do let us know.

[2018-11-09 19:13] glitchedmob opened #154 "Relabel Support"
This plugin https://github.com/Anubarak/craft-relabel adds the ability to relabel fields. It doesn't quite work in Neo though. Someone already opened an issue with that plugin to try and get Neo support added and the maintainer said that it would have to be added on Neo's end. Any idea if this is something that could be supported?

[2018-11-12 07:47] trangiiieee opened #155 "Automatically collapse Neo fields"
Hi there!

Thanks for making this great plugin!

I have a question for v1.4.1. Is there a way I can inject some javascript into CraftCMS to make all neo fields automatically collapse by default every time I go to an entry? I'm hoping for a solution that is similar to this one: https://craftcms.stackexchange.com/questions/10198/possible-have-matrix-rows-collapsed-by-default-in-the-control-panel#ans

[2018-11-13 14:43] Osze opened #156 "Duplicates NEO blocks when saving "Homepage" section"
My NEO block in the entry "Homepage" gets duplicated 9! times when saving the section - "Homepage" (single)

I've made a short video explaining.

https://youtu.be/lcW89xrKjwU

[2018-11-13 14:55] Osze commented on #156
Created another Single Section "Test" and same issue. Happens only to NEO Blocks.

[2018-11-15 05:46] ttempleton commented on #140
Hi @H-i-red,

I do like the idea of restoring the duplicate/clone option as a quick alternative to copy/paste, so that option will return in the v2.1.0 release which we expect will be some time within the next month.

Regarding the ability to copy/paste multiple selected blocks, Ben discussed the complexities around this in issue #36 -- albeit using the duplicate option (this was before the copy/p

[2018-11-15 06:09] ttempleton commented on #152
Hi @vandres,

Ben made some progress on implementing this for the Craft 2 version of Neo, and discussed his progress in issue #27 -- we can certainly port that work over to the Craft 3 version and ideally I'd like to see that completed and included in v2.1.0, but it'll require some rigorous testing to ensure it functions correctly with Craft 3 and that any of the weird bugs Ben mentioned are resol

[2018-11-15 06:09] #152 closed

[2018-11-15 08:30] ttempleton commented on #156
Hi @Osze,

There were duplicating block issues (actually extra block structures mistakenly being created) but they should have been resolved in v2.0.1... I've repeated the process as shown in your video and have as yet been unable to reproduce this.  I'll try to look through the plugin code and find any places that fields/blocks could possibly be updated and saved without the block structure also

[2018-11-15 08:38] Osze commented on #156
Hi ttempleton,

I only get the issue on singles.
Both Craft and NEO are using the latest version.

If it helps I can give you access to the system. My name is Oscar Carlsson in the Craft Slack channel. Or add me on skype - oscar_carlsson84

Regards
Oscar

[2018-11-15 10:04] ttempleton commented on #156
The offer is much appreciated; for the time being I'm going to see if there's any setting or combination of settings that could cause this, but if I come up empty then I'll be in touch.

[2018-11-15 13:19] Osze commented on #156
I've been trying to find a pattern or something to understand the bug better. But without luck.

For example:
I created a new Single.
Added my NEO Block to it and saved some content.
Went back to the Single and saved it.

It all looked as it should.

Clear:ed my cache and re-saved the Single Section again. Then the duplicated neo blocked appeard.

hm...

[2018-11-15 19:16] robmcfadden opened #157 "Block Types handle should not update dynamically once field has been saved"
When you create a Block Type in Neo, the field handle generates dynamically based on the Name you give your Block Type. If you come back to edit this field later, and change the Title of a Block Type, the handle should not change, unless you do so explicitly.

Not a major issue, but I could see it breaking someone's template who wasn't paying attention.

Thanks!

[2018-11-15 21:43] vandres commented on #152
@ttempleton Thank you for the information. If you need some testing, I can check the Beta for you

[2018-11-16 10:36] i-hardy commented on #156
I'm seeing this too, latest version of Neo and Craft 3.0.30. Every block in the page is duplicated and I can't actually open it in the CP.

[2018-11-18 18:42] Osze commented on #156
@ttempleton did you have time to look at this issue?

I'm hopefully launching the new site tomorrow and would feel much better if this was solved :)

[2018-11-19 08:30] ttempleton commented on #156
Sorry for the delay @Osze and @i-hardy.  We've just released v2.0.2 which includes a clean-up of duplicated block structures.  If you update Neo and then re-save the affected sections, the appearance of duplicated blocks should be gone.  Can both of you please confirm whether this has resolved the situation for you?

[2018-11-19 08:38] ttempleton commented on #95
I'm going to close this issue, given its age and no other reports of the issue, but if you do continue to experience the issue, let us know and we'll reopen.

[2018-11-19 08:38] #95 closed

[2018-11-19 08:47] ttempleton commented on #93
I'm going to close this issue, given its age and no other reports of the issue, but if you do continue to experience the issue, let us know and we'll reopen.

[2018-11-19 08:47] #93 closed

[2018-11-19 08:50] Osze commented on #156
Hi Ttempleton,

I've upgraded NEO to v.2.0.2.

but re-savning entries doesn't work at all now. Throws me this error:

`
PDOException: SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction in /srv/users/craft/apps/mybetting-in/craft/vendor/yiisoft/yii2/db/Command.php:1258
Stack trace:
#0 /srv/users/craft/apps/mybetting-in/craft/vendor/yiisoft/yii2/db/Command.ph

[2018-11-19 09:29] ttempleton commented on #151
Hi @SherriAlexander,

Yes, we will fix this :+1: We plan to have a (probably) final release of Neo for Craft 2 sometime within the next month, which will include a fix for this issue.

[2018-11-19 09:33] Osze commented on #156
Yeah, same issue when saving the entry directly.

Tried it on 2 different craft installations and same problem. Endless loading until General error: 1205 Lock wait timeout exceeded;.

[2018-11-20 02:39] ttempleton commented on #152
No worries @vandres and thanks for the offer to test the feature -- when we develop v2.1.0 it'll be available on a separate branch for anyone who wants to try it out and report any issues.

[2018-11-20 09:57] Osze commented on #156
I have two installations with the same setup and same plugins.

On both the mysql locks the table when saving the Hompage section and sometimes the Homepage entry:
[code]

I've tried to get Craft support helping me without any success.

I have another installation that is almost the same, but not updated to the latest NEO 2.0.2.
On that site the Homepage entry and Homepage section is able to save.

[2018-11-20 10:06] Osze commented on #156
- Using MySQL 5.7.24 on the system where I get lock wait timeout.
- MySQL 5.5.62 on the system where neo blocks get duplicated. Don't dare to update to NEO 2.0.2 because of the locking issue on the other server.

[2018-11-20 12:29] Osze commented on #156
Hi ttempleton, you are right. I don't think it is a NEO issue anymore.

I think it might have something with Blitz Cache. Just typically that Blitz also made an update at the same time you fixed #1 bug in NEO.
Sorry for taking your time on this!

[2018-11-20 19:09] kotyy opened #158 "Live Preview of drafts does not display Neo fields"
When viewing a draft of an entry, if you enter Live Preview mode, the Neo field is not rendered.

I've confirmed the issue on two different installations of Craft 3 Pro with Neo.

Steps to reproduce:
1) Create or duplicate an entry that has a Neo field.
2) Enter Live Preview mode.
3) Observe that changes to the Neo field are reflected in the Live Preview.
4) Save as a draft.
5) Enter Live Preview

[2018-11-21 02:47] ttempleton commented on #156
No worries @Osze -- if it's a Blitz Cache issue, hopefully that gets sorted out soon.

I'll close this issue now, but if it does still turn out that Neo is involved, let us know and we'll reopen; and @i-hardy if you continue to experience issues with Neo after updating to v2.0.2, let us know.

[2018-11-21 02:47] #156 closed

[2018-11-21 02:50] ttempleton commented on #157
Thanks @robmcfadden -- we'll make sure this is fixed in the next releases of Neo for Craft 3 and Craft 2.

[2018-11-21 03:18] ttempleton commented on #153
We'll make sure that this is adjusted to the new feed location in the next release of Neo for Craft 2 (though the next release is likely to be the final release, but even in that case we can at least fix the 404)

[2018-11-21 17:20] seanconn opened #159 "Error Message re-saving an entry that contains neo fields"
When I add neo fields to a section, it seems to cause an error when saving an entry for the second time. The entry saves correctly the first time, however if I open the entry and attempt to save it again (with or without changing any content) it generates the following error message:

Unknown Method – yii\base\UnknownMethodException
Calling unknown method: benf\neo\elements\db\BlockQuery::anyStatu

[2018-11-22 06:06] ttempleton commented on #159
Hi @seanconn,

Can you please confirm the version of Craft CMS 3 you're using?  In version 3.0.17 the `anyStatus()` element query method was introduced for querying elements regardless of their status or whether they're enabled for a given site, with the intention that plugins could then override or extend that functionality where necessary.  Neo does not alter that functionality, but it does use

[2018-11-22 06:15] ttempleton commented on #158
Hi @kotyy,

Thanks for the report, but unfortunately I've been unable to reproduce it thus far.  We have just released v2.0.3 which fixes another issue with drafts; can you please confirm whether you experience this issue with the new release?

Also, do you experience any issues with Neo fields not rendering when viewing live preview of entry revisions?

[2018-11-22 07:35] ttempleton commented on #78
I'm going to close this issue, given its age and no other reports of the issue, but if you do continue to experience the issue, let us know and we'll reopen.

[2018-11-22 07:36] #78 closed

[2018-11-22 07:48] #153 closed

[2018-11-22 08:05] ttempleton commented on #127
Closing this issue as a duplicate of #120 which will be fixed by the end of the year.

[2018-11-22 08:05] #127 closed

[2018-11-22 17:17] seanconn commented on #159
I was on version 3.0.15. Updating seems to have solved the Issue, Thanks.

[2018-11-22 17:17] #159 closed

[2018-11-22 23:21] 23d1 opened #160 "Live Preview Fails"
I know this has been fixed, but for some reason I'm still not able to use live preview in some installs. Here's a test environment example from the log;

`2018-11-22 15:00:48 [-][1][fbf3h52qpincln64is2d12c5b5][error][TypeError] TypeError: Argument 1 passed to benf\neo\elements\db\BlockQuery::setAllElements() must be of the type array, null given, called in /Users/a/Sites/test/craft/vendor/spicyweb

[2018-11-23 11:26] #160 closed, assigned to ttempleton

[2018-11-23 11:32] ttempleton commented on #160
Thanks @23d1 -- we discovered that this was occurring when trying to access the children, descendants, etc. of a Neo block belonging to an entry that is associated via a relational field to the entry currently being edited.  Neo's live preview mode works by storing with each block an array of all blocks belonging to the same field, so queries for 'relative' blocks can query this set of blocks rath

[2018-11-24 06:17] ttempleton commented on #155
Hi @trangiiieee,

Thank you for using Neo 👍

All Neo blocks for an entry can be collapsed by running the following script after the blocks have been rendered:

[code]

There may be some brief performance issues if an entry has many Neo blocks, as each block's collapse animation would occur at the same time, but once that has completed, performance should return to normal.

The script could then be

[2018-11-24 06:17] #155 closed

[2018-11-26 04:04] #157 closed

[2018-11-26 13:59] ttempleton commented on #140
The duplicate/clone option has now been restored to the dev-neo-2.1 branch.

I'll close this issue now, as issue #36 covers copying multiple selected blocks, so any updates regarding the implementation of that functionality will be posted there.

[2018-11-26 13:59] #140 closed

[2018-11-26 20:16] kotyy commented on #158
@ttempleton

Thanks for your response. There was no issue with entry revisions. I've updated to 2.0.4 and it's working fine now, thanks!

[2018-11-26 20:16] #158 closed

[2018-11-28 13:44] ttempleton commented on #129
Closing this issue as a duplicate of #118 (which will be fixed by the end of the week)

[2018-11-28 13:44] #129 closed

[2018-11-28 20:29] kotyy opened #162 "Saving drafts moves nested blocks to top level"
Steps to reproduce:
1. Create a Neo field that has a block (Accordion) with child blocks (Accordion Item). (see screenshots)
2. Create an entry, add an Accordion, add one or more Accordion items. Save the page.
3. Observe that the page is correctly rendered.
4. Modify that entry's content, then save as a draft.
5. The content is not rendered, because the Accordion Items are now at the same level a

[2018-11-29 04:49] leigeber opened #163 "Error with setAllElements() null argument"
Running Neo 2.0.4 after an upgrade from Craft 2 I get the following error on every page with Neo.

[code]

What seems to resolve the issue is just removing the array type hint on the setAllElements function in BlockQuery.php. Didn't dig in beyond that but everything seems as it should on the front-end.

[2018-11-29 08:31] ttempleton commented on #118
This has been fixed and will be included in Neo v1.5.1 (or you can grab the latest from the `craft-2` branch now).

[2018-11-29 08:31] #118 closed

[2018-12-01 04:37] ttempleton commented on #36
With the v2.1.0 release, Neo will support copying multiple selected blocks from the same level (and their descendants, if any).  The blocks will paste as a chunk, under whichever block has its paste menu option selected.

We do intend to implement copying of blocks from multiple levels and are currently aiming for v2.2.0 with that functionality, which would then complete this issue.

The Duplicate

[2018-12-01 04:48] ttempleton commented on #88
At this stage Neo for Craft 2 will not be supporting Schematic, but Neo v2.1.0 for Craft 3 will support Schematic -- thanks again @boboldehampsink!

[2018-12-01 04:48] #88 closed

[2018-12-01 04:55] ttempleton commented on #162
This issue has been fixed and will be included in Neo v2.1.0, which will be released over the weekend.

[2018-12-01 04:55] #162 closed

[2018-12-01 12:11] ttempleton commented on #163
Hi @leigeber,

Can you please let me know if you get this (or a similar) error with Neo v2.1.0?  I'm not sure whether you make use of the [`useMemoized()`](https://github.com/spicywebau/craft-neo/blob/master/docs/eager-loading.md#with-hierarchy) functionality of blocks (though I really hope you do, since that's the only way you should be able to run that code outside of live preview...) but there

[2018-12-05 01:26] leigeber opened #166 "Failed "Deleting stale template caches""
Hello, getting the following error in the "Deleting stale template caches" queue after any entry change.

[code]

It appears the 2nd id in the query needs to be qualified with a table name - or if it's referring to the element ID, it's not necessary at all since Craft automatically includes it. Looks like it's coming from: https://github.com/spicywebau/craft-neo/blob/master/src/elements/db/BlockQu

[2018-12-05 15:17] mdominguez opened #167 "CP Field Inspect support"
Any chance this plugin would get supported in the Craft 3 version? I believe it was in Neo for Craft 2. This is a real timesaver :) Thanks in advance!

https://github.com/mmikkel/CpFieldInspect-Craft

[2018-12-06 11:14] ttempleton commented on #166
Hi @leigeber,

I'm having some trouble reproducing this so far.  There shouldn't be a problem with line 224 of BlockQuery.php, though; that just helps set the block type ID for a block query, and should only ever generate something like this:

[code]

I'll continue to investigate, but in the meantime, can you please confirm the following:
- This is happening for any entry with a Neo field, regardl

[2018-12-06 15:03] leigeber commented on #166
Thanks for looking, I had originally emailed Craft support and they pointed to that bit of code but may not have dug too far. I can confirm it only happens on entries with Neo. Craft version is 3.0.33.

[2018-12-07 01:13] jsunsawyer commented on #106
I think that child blocks should be able to be limited based on the number of uses within a parent block.

This would keep the UI consistent for users. Dropdown options change between NEO and matrix fields, making it so users can't utilize the copy, paste, and clone features.

Also, the use of matrix fields doesn't even handle the desired limitations of fields, while maintaining re-ordering, for c

[2018-12-07 10:44] i-just opened #168 "Multisite - list of elements in Entry/Category field within new Neo blocks always pulls in elements from the primary site"
With multiple sites on one Craft installation, when including an Entry/Category selector field in a Neo block, the entries/categories available for selection are the ones from the primary site and not the site currently being edited. If I then save the block, the selected entries are not saved (but the block is) and after that if I try to select an entry again, the list will be from the correct si

[2018-12-08 12:36] ttempleton commented on #166
Are you able to view a page for a newly-created entry with a Neo field without any issues?  Just want to confirm that the problem is only affecting the deletion of old caches and not the creation of new ones.

[2018-12-08 12:38] ttempleton commented on #168
Thanks for reporting this @i-just; I can confirm that I can reproduce it.  We'll look into it and have it fixed as soon as possible.

[2018-12-08 15:55] leigeber commented on #166
Yes, everything seems to work as it should other than the template cache busting failing. I did confirm that if I prefix the 'id' selection in BlockQuery.php on 224 with the table names that the issue is resolved. There's a lot going on behind the scenes I didn't look at but the little bit I saw in the craft caches table in that serialized base64 encoded column seems to indicate that if an 'id' co

[2018-12-09 14:49] ttempleton commented on #166
Thanks for your help with this.  We've made some changes to lines 224-226 in line with what is fixing the problem for you.  I'll keep this issue open and the updated code in the `dev-neo-2` branch for now; can you please confirm whether the updated code resolves the problem, and then we'll release it.

[2018-12-09 15:07] leigeber commented on #166
Confirmed

[2018-12-10 03:53] ttempleton commented on #36
Copying blocks from different levels has now been added to the `dev-neo-2` branch.  The blocks will be pasted at the same level.  This functionality will be included in v2.2.0.

[2018-12-10 03:53] #36 closed

[2018-12-11 13:59] pablofernandezgh opened #169 "Craft 3.1 Project Config compatibility"
When creating a Neo field in Craft 3.1, this gets written in `project.yaml`

`a3fab66a-fed6-4fbd-8a5c-2cdd24e9e51f:

    contentColumnType: string

    fieldGroup: ec5bf6bc-0fc3-454a-bde8-7e4dca8afa51

    handle: testNeoField

    instructions: ''

    name: 'Test neo field'

    searchable: true

    settings:

    localizeBlocks: ''

    maxBlocks: ''

    minBlocks: ''

    translationKeyForma

[2018-12-11 15:32] vanpet commented on #169
Same question! It would be really great to make this work with the new Project Config feature to sync the db to the code!

[2018-12-22 23:47] caferelgin commented on #120
Any news with this bug? Is there a workaround?

[2019-01-04 15:18] rbaud commented on #120
**Warning: this issue, from well over a year ago, still seems to be occurring with the most-recent commit (11/29/18) to the craft-2 branch.**

In this version, and the now-pulled 1.5.0, if 2 Neo fields are present on an Entry and populated with any configuration of blocks, adding any block (by either manual addition or copy/paste) to the 1st field will utterly destroy the 2nd field.

@ttempleton,

[2019-01-04 17:06] jerwarren commented on #120
I struggled a bunch with this.  I've found that even with the fixed release (which can be downloaded from the releases page on github instead of pulling from git) it's possible for an entry to get into a broken state in what I've determined is a race condition due to multiple people saving the same entry at the same time or flipping between various revisions of a page.

If you're seeing this on fr

[2019-01-04 18:22] rbaud commented on #120
@jerwarren thanks for the feedback!

I'm working on a local VM, so I'm sure the manifestation of this issue I mentioned [above](https://github.com/spicywebau/craft-neo/issues/120#issuecomment-451472558) isn't caused by a race condition with multiple editors/admins.

I've also confirmed that both the 1.5.0 release (which was pulled from the releases page in Nov 2017) and the craft-2 branch at the l

[2019-01-04 18:59] jerwarren commented on #120
Oh! That reminds me of something I forgot:

There's a config for whether neo saves everything or tries to save only changed fields.  Setting that to always save everything is when I think everything started working OK for me (save for the race condition.)

I think your code change probably achieves something similar.

[2019-01-05 06:56] rbaud commented on #120
@jerwarren thanks again for following up. Continued testing has proven that the change I posted [above](https://github.com/spicywebau/craft-neo/issues/120#issuecomment-451525969) does not fully work. Sometimes -- I can't quite pin it down -- the 2nd Neo field will become corrupted (due to multiple rows being created in `craft_neoblocks` for the same block).

However, your suggestion to toggle the

[2019-01-05 12:19] ttempleton commented on #120
@caferelgin, @rbaud, @jerwarren apologies for the delay with work on Neo for Craft 2 since late November.

As you've discussed, this does involve extra rows being added to the `neoblocks` table.  Specifically, when adding new blocks to existing fields, I notice that only the new block will be saved for the first field, but it appears all blocks are being saved as new blocks for the other fields --

[2019-01-05 12:37] ttempleton commented on #126
@j-greig Sorry that this issue was not resolved sooner, hopefully this has since been sorted out, but if not:

When changing a Neo field to Matrix, after selecting Matrix on the field type dropdown, you should have a button appear below the dropdown that will perform the conversion process.  If you're still experiencing this issue, can you please confirm the version of Neo you're using, and whethe

[2019-01-06 09:20] malamoet opened #171 "Attempting to save an element in an unsupported site"
Hi,

I'm getting the following error when duplicating entries (Save as a new entry).
[code]
Since this error only occurs when duplicating entries **with** NEO fields, i'm guessing it has something to do with the NEO plugin?

Could any body take a look please?

Thanks,
Thomas

[2019-01-06 10:45] ttempleton commented on #120
The issue is that the field type `_savingElement` and `_isNewElement` properties are being set before saving *every* element -- things like Neo and Matrix blocks included -- when `_isNewElement` should only be set for the overall element being saved, e.g. an entry or category.  I've changed it to only set `_savingElement` and therefore `_isNewElement` for the first element, which will be the entry

[2019-01-07 01:33] rbaud commented on #120
@jerwarren, thanks for following up again!

And thanks, @ttempleton, for looking into this! Excited to here an officially-fixed release may be coming for this. The effort is very much appreciated! Thank you.

[2019-01-07 15:18] vandres commented on #68
@ttempleton Hi, is this feature on the roadmap? My client would love to see it

[2019-01-08 10:16] ttempleton commented on #112
In my testing, those areas of the field type code are definitely running.  I'm not sure why the reporter of this issue was experiencing this issue, but at this stage I'm going to have to close this as not reproducible.  If anyone else is experiencing this and has more information, please let us know.

[2019-01-08 10:16] #112 closed

[2019-01-08 11:10] ttempleton commented on #68
Hi @vandres, this feature has now been completed and will be included in Neo v2.2.0.

[2019-01-08 11:10] #68 closed

[2019-01-08 14:10] vandres commented on #68
@ttempleton WOW!, that was quick. Thank you

[2019-01-09 10:01] naboo commented on #168
Is there an update on this issue @ttempleton? Makes editing multi-sites quite hard for now :)

[2019-01-10 13:18] justjoolz opened #172 "Problem when updating from Craft 2"
I just updated a site to Craft 3 everything seemed to go smoothly when installing Neo but when I try to access the field page I run into an internal server error and this in the logs:

[code]

[2019-01-10 14:41] ttempleton commented on #171
Thanks @brandonkelly!

@malamoet This will be fixed in Neo and released within the next day.

[2019-01-10 14:44] ttempleton commented on #172
Hi @justjoolz,

Can you please confirm the version of Neo you were using on your Craft 2 installation?  The `maxChildBlocks` column should definitely exist if using Neo 1.4.0 or newer.

[2019-01-10 14:52] ttempleton commented on #168
@naboo Sorry for the inconvenience with this issue; this has turned out to be a tricky one to fix.  We have definitely not forgotten about it, though, and will continue to investigate why it is happening.

[2019-01-10 15:18] justjoolz commented on #172
I updated the site to Craft 2.7.4 and then all my plugins to the latest version (according to craft).
I'm using version 1.3.5 of Neo and it's not showing a new version available in the cp.

[2019-01-10 15:24] naboo commented on #168
Since it works after the entry has been saved there must be some instance in which the siteId isn't sent with. Would you like some help investigating? If you point me into the right direction(files) I can dig around a little and see. This issue feels pretty crucial to get sorted as authors can't use "Entries" fields at all in multi-site setups (even if its just for two different language versions)

[2019-01-10 22:34] pr1ntr opened #173 "CraftQL support"
I was testing this for my project. It turns out that it does not add a schema for CraftQL which is problematic for us.

[2019-01-11 00:40] ttempleton commented on #172
Sorry about the release feed issue; unfortunately the release feeds on existing releases of Neo for Craft 2 were broken when we released the Craft 3 version.  The only database change made to Neo for Craft 2 after 1.3.5 was adding the `maxChildBlocks` column to the `neoblocktypes` table, though, so you should be ready to use the Craft 3 version now that you've manually created the column.  If you

[2019-01-11 00:40] #172 closed

[2019-01-11 12:44] vandres commented on #27
Hi @ttempleton 2.1.0 is out, what is the status of this issue?

[2019-01-11 14:34] #171 closed

[2019-01-11 18:01] theskyfloor commented on #128
Did you solve this? I am having this same issue and its a nightmare!!

[2019-01-11 20:30] theskyfloor commented on #120
I seem to have this issue but going back to 1.4.1 has't helped with my bug which seems to be related to the table maker plug-in? Any chance that could be confirmed? Have a client site where they are struck by this bug and the site editing has had to grind to a halt

[2019-01-11 20:46] theskyfloor commented on #120
Actually it does it for me no matter what. Even on 1.4.1... any ideas?

[2019-01-11 20:56] theskyfloor commented on #120
Actually still happening when I try 1.5.1 and no matter what fields I try : (

[2019-01-12 14:41] #168 closed

[2019-01-12 14:47] ttempleton commented on #168
Thanks, the offer to help investigate is much appreciated -- but we have now identified and fixed the areas where `siteId` was not being set for new/pasted/cloned blocks.  These fixes have been included in Neo v2.1.4.

[2019-01-12 14:57] ttempleton commented on #27
Hi @vandres, sorry that this did not make 2.1.0.  We definitely still plan to work on this, but at the moment our focus is on wrapping things up with the Craft 2 version and then implementing project config support for Craft 3.1.  Once we've finished those tasks, we'll be able to proceed with work on this feature.

[2019-01-13 07:34] ttempleton commented on #128
I've no idea how the duplicated block structures would've happened, but that would definitely cause serious issues with a field's order and hierarchy.

@theskyfloor -- I'm not sure if or how @aaronbushnell might have resolved this situation, but if you or anyone else is experiencing this, I'd suggest that the older row in `neoblockstructures` should be deleted, and also any rows in Craft's `struct

[2019-01-13 09:43] ttempleton commented on #120
@theskyfloor I've just been testing with Table Maker and yet to run into any problems.  This issue definitely should not occur in Neo 1.4.1 or 1.5.1, though, so I think there's something else going on.  Just in case, can you please check your `neoblocks` database table after saving a field and confirm whether it does have the same situation as described in [this comment](https://github.com/spicywe

[2019-01-13 15:16] theskyfloor commented on #120
Will check!

[2019-01-14 22:49] markhuot commented on #173
I have a basic implementation of this working over at,

https://github.com/spicywebau/craft-neo/compare/master...markhuot:craftql?expand=0

@ttempleton, would you entertain merging this in to Neo? Or would you rather I keep this outside of Neo, in CraftQL itself?

[2019-01-15 14:38] ttempleton commented on #173
Thanks @markhuot!  Yeah, we're happy to merge it in to Neo.

[2019-01-16 06:24] 23d1 opened #174 "Getting Tons of Junk Blocks When Saving Existing Entries"
I've come across an issue after updating to Craft 3.1 and Craft Neo 2.1.4 where saving an entry that had content prior generates a whole heap of empty blocks and duplicates of existing content. The only way to make that not happen is to remove all blocks and start over, which isn't feasible for a project I'm currently working on.

[2019-01-16 14:41] mdominguez commented on #174
Experiencing this too...

[2019-01-16 15:39] zroberts commented on #174
Experiencing same issue

[2019-01-16 15:49] gregorydavidjenkins commented on #174
Same here. 4x existing blocks on save after updating to Craft 3.1 and  Neo 2.1.4

[2019-01-16 15:55] kylerits commented on #174
I'm experiencing the same issues as described above. I'm really hoping to avoid rolling back to Craft 3.0.37

[2019-01-16 15:58] gregorydavidjenkins commented on #174
For what it's worth, rollingback NEO didn't seem to help.

[2019-01-16 16:50] ttempleton commented on #174
This unfortunately seems to have been introduced with the official Craft 3.1 release; it was working fine with 3.1 beta 7.  The 4x each block situation sounds like two block structures exist for that particular field/owner/site combination -- but there's definitely only one for each combination in my databases, so maybe it's getting loaded twice somehow...  We will look into this and have a fix ou

[2019-01-16 17:38] brandonkelly commented on #174
@ttempleton Let me know if you can isolate a Craft bug introduced in 3.1.0 that’s causing this.

[2019-01-16 17:40] brandonkelly commented on #174
Structures gained soft-delete support in 3.1.0 (didn’t make it into any of the beta releases), so that could have something to do with it, if there are soft-deleted structures in the database and Neo is manually querying that table without accounting for the new `dateDeleted` column.

[2019-01-16 20:40] kylerits commented on #174
Is there an ETA on this bug fix?

[2019-01-16 20:44] Mosnar commented on #174
Not sure where @ttempleton is on this; however, I started investigating myself, as this is a high-priority issue that is blocking us from moving forward on development of a project. At first glance, this looks like an a `join` issue since we're getting duplicate content without duplicate rows. I looked at the debug console and saw the main element query for the Neo structure.

[code]

Running this

[2019-01-16 22:01] Mosnar commented on #174
I'm looking into this as well since it's blocking progress on a project. It looks like the main block query needs to join craft_structures to check for soft-deletes on both the outer query and subquery. Here's the corrected query that needs to be implemented.

[code]

[2019-01-17 02:08] Mosnar commented on #174
I've implemented the above fix. I will submit a PR tomorrow morning for proper review. In case I die before then, this method needs to be added to the BlockQuery class:

[code]

[2019-01-17 04:48] ttempleton commented on #174
Thanks @Mosnar, the effort is much appreciated; however, we've been investigating and found an issue where the `structureId` wasn't being set on a block query.  That doesn't seem to have caused any problems until now, and clearly the addition of the `dateDeleted` column as noted by @brandonkelly has affected the returning of blocks, but I suspect at the moment that the addition of `dateDeleted` ha

[2019-01-17 08:36] mdominguez commented on #174
Don't know if this has been confirmed yet but I can tell you that the error persists in a project that's not even on Craft 3.1, but does when updating Neo to 2.1.4. Downgrading back to Neo 2.1.2 now as this is a fairly critical issue..

[2019-01-17 09:47] ttempleton commented on #174
@mdominguez if possible, can you please apply the changes as noted in [my previous comment](https://github.com/spicywebau/craft-neo/issues/174#issuecomment-455041380) and let me know if that resolves the issue?

If that does not resolve the issue, can you please confirm the following:

- Craft version
- Whether this is a multi-site installation
- If yes to the above, whether the affected fields ar

[2019-01-17 13:37] kylerits commented on #174
The fix from @ttempleton above seems to have worked for me.

Craft version 3.1.1

[2019-01-17 13:55] ttempleton commented on #174
Thanks @kylerits!  Everything seems fine with our testing of the structure ID fix, too, so I've just released Neo 2.1.5 and at this stage I'll close this issue.  If anyone does continue to experience this issue with Craft 3.1 and Neo 2.1.5, please let us know and we'll reopen.

@mdominguez, if we don't get any further reports of this issue with Craft 3.1 / Neo 2.1.5 and you still experience issues

[2019-01-17 13:55] #174 closed

[2019-01-17 14:05] gregorydavidjenkins commented on #174
Just a quick to confirm that 2.1.5 fixed the issue for me. Thank you!

[2019-01-17 14:08] mdominguez commented on #174
@ttempleton Thanks, haven't got the time yet to update the site again where it backfired. Will do that asap :) thanks for the quick updates btw!

[2019-01-18 11:04] luke-nehemedia opened #176 "Multisite Problem: Getting unknown property"
Hello

I just set up a multisite and wanted to use NEO on this. However, every time I save the page, I get the following error message:

The same happens when I try to edit the section properties, but only if it is set to "Single." The rest of the problems stays the same, also set to "structure" or "channel."

Any idea what causes this problem?
As soon as I remove the Neo-field from the field desi

[2019-01-18 11:39] ttempleton commented on #176
Hi @luke-nehemedia,

I suspect that you're using Neo 2.1.4 with a version of Craft older than 3.0.31.  The fix for issue #171 in Neo 2.1.4 involved the usage of a `duplicateOf` Craft element property that was introduced in Craft 3.0.31.  When applying that fix and releasing Neo 2.1.4, I forgot to update Neo's minimum Craft version requirement; sorry about that.  Updating Craft to 3.0.31 or newer s

[2019-01-19 04:01] ttempleton commented on #128
I've been playing around with a Craft 2 installation, temporarily removing the block structure deletion to deliberately generate multiple block structures for a field/owner/locale combination, and can confirm that I could cause the same behaviour as seen in @aaronbushnell's screenshot (in certain cases, I could also cause behaviour similar to issue #120 in that the old blocks would disappear).  I'

[2019-01-21 13:34] N0ps32 commented on #169
Hey, do you have an ETA for 2.3? We're starting a very big project with neo just now and I'm trying to judge if it makes sense to write migrations instead of relying on project.yaml.

[2019-01-21 13:49] ttempleton commented on #169
@N0ps32 Project config support will now be included in Neo 2.2, which should be released by the end of the week.

[2019-01-21 14:06] N0ps32 commented on #169
@ttempleton awesome, thank you very much!

[2019-01-21 14:45] luke-nehemedia commented on #176
Hello @ttempleton,

Thank you for the answer. The update did indeed fix the issue.

[2019-01-21 14:46] #176 closed

[2019-01-21 20:30] outline4 opened #177 "Getting unknown property: craft\elements\Entry::duplicateOf"
Hi,
It's the first time I use Neo and it's not working at all.

I've created a big neo field with all sorts of fields attached to improve my matrix setup. I couldn't save the entry. So I've deleted the neo field and created a new neo matrix with just one field in it (a plain text field), but It still get's stuck with the following error message:

Unknown Property – yii\base\UnknownPropertyExceptio

[2019-01-21 21:32] kylecotter commented on #154
Hi!

Piggy-backing on this, is this something on the roadmap for Neo?

Thanks!

[2019-01-21 23:35] ttempleton commented on #177
Hi @outline4,

Sorry about this; Neo 2.1.4 was released with an incorrect Craft version requirement and Craft will need to be updated to 3.0.31 or newer -- see #176 for details.

[2019-01-21 23:35] #177 closed

[2019-01-23 01:20] ttempleton commented on #120
@theskyfloor, have you had a chance to check whether you had the extra rows being added to the `neoblocks` table with Neo 1.4.1 or 1.5.1?

[2019-01-23 01:21] theskyfloor commented on #120
Unfortunately the client changed the login creds for the DB and they haven't been able to provide me with updated ones :(

[2019-01-23 02:34] ttempleton commented on #120
No worries, hopefully it's not too long before they can provide you with those.  I suspect at the moment that you were just experiencing issue #128, since that issue can present in a similar way to this one (if the newly-added block does not have any allowed child block types, in my testing), but this issue could still be involved if the site was running Neo 1.5.0 at the time the problem appeared.

[2019-01-23 21:03] kellyannmcnamara01 opened #178 "Craft 3 Clone/Copy+Paste Blocks Hangs"
**Problem:**
When trying to clone or copy+paste a neo block the page just hangs. In my console, I am getting a 500 error. (We have tried this on two of our Craft 3 websites)

**Errors Returning:**
`Failed to load resource: the server responded with a status of 500 (Internal Server Error)`
`Uncaught TypeError: Cannot read property 'success' of null
    at main.js?v=1548088701:13
    at Object.error

[2019-01-23 23:51] ttempleton commented on #178
Thanks for reporting this, @kellyannmcnamara01 -- looks like part of a recent fix for an issue involving pasting/cloning blocks on multi-site Craft installations did not properly account for single-site installations.  We'll have release 2.1.6 out shortly.

[2019-01-23 23:56] #178 closed

[2019-01-24 12:20] boboldehampsink opened #179 "Duplicating entries with Neo fields doesn't copy field content"
#### Description

Duplicating entries with Neo fields doesn't copy Neo field content.

#### Steps to reproduce
1. Create entry with neo field
2. Add blocks
3. Duplicate entry
4. Blocks are lost in the duplicated entry

#### Other information
- Neo version: 2.1.6
- Craft version: 3.0.37
- Is the affected Craft installation multi-site: No
- (if multi-site) Are the affected Neo fields set to manage b

[2019-01-25 10:33] #179 closed

[2019-01-25 10:53] ttempleton commented on #179
Thanks for reporting this, @boboldehampsink -- turns out the new blocks were being created, but the new block structure wasn't being created properly due to using the incorrect set of block IDs.  Fixed now in 2.1.7.

[2019-01-25 10:54] boboldehampsink commented on #179
Thanks!

[2019-01-25 19:21] 23d1 commented on #169
Bump; is end of week today or this weekend? 😜

[2019-01-26 12:33] ttempleton commented on #169
@23d1 Definitely out by the end of the weekend 😄 Just need to make some updates for compatibility with the new soft-delete functionality, to make sure that blocks get restored in the same order/hierarchy if the owner element is restored, and then it should be ready to go.

[2019-01-27 04:37] ttempleton commented on #169
Neo 2.2.0 is out now with project config support.

[2019-01-27 04:37] #169 closed

[2019-01-27 21:28] 23d1 opened #180 "Error when updating to Neo 2.2.0"
#### Description
Getting this fatal error any time I try to finish up the update, meaning it breaks the site (tested on multiple setups);

[code]

#### Other information
- Neo version: 2.2.0
- Craft version: 3.1.5

[2019-01-28 04:13] #180 closed

[2019-01-28 04:18] ttempleton commented on #180
Thanks for reporting this, @23d1.  I believe that this affects Neo 2 installations from pre-release, or at least from prior to October 22, when the Craft 3 upgrade migration was created.  Though the plugin's schema version was first added to Neo 2 at that time, Neo 2.2 is the first release since then that the schema version has been updated.

Neo 2.2.1 is out now, with an adjustment to the Craft 3

[2019-01-28 10:56] pablofernandezgh opened #181 "Content from draft is not shown when setting block query parameters"
When I loop over the content of an EntryDraft, I get the content from the published Entry, not from the EntryDraft

When I do

[code]

I get null, so I assume the block doesn't understand it belongs to an EntryDraft and not to an Entry

Neo version: **2.2.1**
Craft version: **3.1.5**
Is the affected Craft installation multi-site: **Yes**
(if multi-site) Are the affected Neo fields set to manage bl

[2019-01-28 11:34] ttempleton commented on #89
Sorry for the delay with this, @avr -- you've probably resolved this situation one way or another, but I've been playing around with this and, while I was unfortunately unable to replicate the error from Focus Point (using the version that was most recent at the time of this issue report), the 'nested' blocks looks a lot like issue #128, where an extra row was somehow created in the `neoblockstruc

[2019-01-28 11:34] #89 closed

[2019-01-28 11:36] ttempleton commented on #181
Can you please provide the following:
- Neo version:
- Craft version:
- Is the affected Craft installation multi-site:
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis:

[2019-01-28 12:45] pablofernandezgh commented on #181
@ttempleton I've updated my issue with the info you requested

[2019-01-28 14:50] jesuismaxime commented on #169
Nice to know: You will need to resave your Neo field(s) to force the blocks to appear in the project.yaml

[2019-01-28 16:43] timoteh opened #182 "Blank tabs"
#### Description

We used to be able to create blank tabs inside a Neo field.
Now the empty tab gets deleted right after saving our Neo field.

#32

#### Steps to reproduce
1. Create a Neo field,
2. Add one block type,
3. Configure two tabs, one empty and one containing the field of your choice,
4. Save and realize the empty tab has disappeared

#### Other information
- Neo version: Neo 2.2.1
- Cr

[2019-01-29 01:09] ttempleton commented on #182
Thanks for reporting, @timoteh.  Unfortunately, it looks like the changes in Craft's field layout code, as part of the project config update, might have made the type of workaround originally implemented by @benjamminf for #32 no longer possible.  It seems that workaround ensured that the empty tab was preserved by just making sure its fields were an empty array and not null, whereas now Craft act

[2019-01-29 01:12] ttempleton commented on #181
Thanks @pablofernandezgh!  Confirming that I can see the behaviour from Neo that you describe, and that, for example, a Matrix field works in the way that you would expect.  We will investigate and hopefully it won't be too long before we can implement a fix.

[2019-01-29 09:14] naboo commented on #179
@ttempleton I have a site in which the "Duplicate" function was applied to entry with Neo 2.1.4 causing Neo to render (and save) ~250 blocks for the entry making it unable to browse in Craft (it just keeps looping until the browser freezes). Can I somehow fix this entry in the database to make it "work" again? I can edit tables manually if you tell me how to do it.

Thank you

[2019-01-29 18:56] naboo commented on #179
For anyone finding this issue running Neo pre. 2.1.7 and have clients which have used the "Duplicate" function and got their entry destroyed. Updating to the latest version will fix the entry so it can be re-saved.

[2019-01-30 08:18] #182 closed

[2019-01-30 08:22] ttempleton commented on #182
After investigating further, I've added some extra workaround where Neo checks if Craft's field layout `createFromConfig()` function stripped out any blank tabs, and puts them back in.  This update is included in Neo 2.2.2 which is out now.

[2019-01-31 08:07] seamofreality commented on #173
This would be absolutely great!
Looking forward to the merge.

[2019-01-31 10:21] joshua-turner commented on #151
Hey @ttempleton - I'm still experiencing this issue after your fix.

Craft 2.7.0.

I have noticed that changes are applied, but only if you wait for the flashing to stop and after applying the conditions reopen the modal. It's a headache, but it's a workaround and thankfully isn't exposed to our end users.

Any help on this would be greatly appreciated - like @SherriAlexander, Craft 3 really isn't

[2019-01-31 12:48] mijewe opened #183 "Is the annual fee per site, or per Craft install?"
I have a question about the pricing.

Does "$19/year per site" mean "per Craft install"?

ie, when running multisite do I just need to pay $19/year, or n*$19/year?

[2019-01-31 15:15] kringkaste opened #184 "MySQL error on newly created Neo fields"
#### Description
When saving an entry with a newly created neo field, an MySQL error occurs:

[code]

thrown by NeoService.php line 142.

Existing neo fields are working fine. Only new created fields have this issue.

#### Steps to reproduce
1. Create a new, simple neo field (one block, with one field in the field set).
2. Add the newly created neo field to the field set of a channel section.
3. E

[2019-02-01 03:12] ttempleton commented on #183
Hi @mijewe,

It does mean per Craft install; if you renew, you would just need to pay $19/year.

[2019-02-01 03:12] #183 closed

[2019-02-01 07:16] ttempleton commented on #151
Sorry about that, the flickering should be properly fixed now.

[2019-02-01 15:33] naboo opened #185 "How copy an entry's neo field value across non-propagated site channels?"
#### Description
I have a multi-site in which my channel is set to not propagate entries across sites. I now want to copy an entry from Site A to Site B (no relation, just the same function as "Save as a new entry" but into another site). The channel has the same setup in both sites.

So for regular entries with basic fields there's no issue. `Craft::$app->getElements()->duplicateElement();` does

[2019-02-01 16:18] joshua-turner commented on #151
@ttempleton Cannot thank you enough for this.

[2019-02-02 12:59] ttempleton commented on #185
Hi @naboo,

Once you have the BlockQuery set up to find the Neo field's blocks from the old entry that you want to copy to the new entry, the blocks can also be copied using `Craft::$app->getElements()->duplicateElement()`:

[code]

Then, a new block structure will need to be created for the `$duplicatedBlocks`, which might look something like this:

[code]

Hope that helps!

[2019-02-02 15:07] aaronbushnell commented on #128
Wow, thanks so much for the detail here @ttempleton! Sorry—I'm late with a response here. I believe the way we resolved this was either:

1. Delete all the Neo fields in this entry and recreate them, or...
2. Delete the entire entry and recreate it

Really appreciate you taking such a deep dive into this one and all your hard work on this plugin, @ttempleton!

[2019-02-03 05:52] 23d1 opened #186 "Error when trying to delete (some) blocks."
#### Description
When trying to delete some (not all) blocks, the following error happens (stack trace);

[code]

Edit: Seems to have been a prior failed migration, ran again and it seems to work. Will investigate further.

#### Other information
- Neo version: 2.2.2
- Craft version: 3.1.7
- Is the affected Craft installation multi-site:
- (if multi-site) Are the affected Neo fields set to manage

[2019-02-04 15:10] naboo commented on #185
Thank you @ttempleton. I'll continue with this approach. 👍

[2019-02-04 15:10] #185 closed

[2019-02-05 03:20] 23d1 commented on #186
Closing, as it seems to be resolved after getting migrations going.

[2019-02-05 03:20] #186 closed

[2019-02-06 17:46] theskyfloor opened #187 "Question About Future Dev"
#### Description

Just wondering if you might comment on Neo's future plans now that P&T is talking about adding nested Matrix to core in Craft 4. Will development continue until then? Will it continue after that? Thanks!

[2019-02-06 18:51] vandres commented on #187
Hi @theskyfloor. Just curious, where did you read that?

[2019-02-06 18:55] theskyfloor commented on #187
@vandres https://speakerdeck.com/brandonkelly/future-of-craft?slide=24 & https://speakerdeck.com/brandonkelly/future-of-craft?slide=25

[2019-02-07 23:59] rjhewitt3 commented on #154
@tonysambell @ttempleton Are you guys planning on adding support for Relabel? It's much requested featured based on the +1's on this issue. We'd very much appreciate a response! If this won't be a consideration, I may need to seek alternative solutions.

[2019-02-08 00:00] rjhewitt3 commented on #154
For your convenience, here's a link to the issue over on Relabel: https://github.com/Anubarak/craft-relabel/issues/2

[2019-02-08 02:34] ttempleton commented on #181
Hi @pablofernandezgh,

Can I ask which method you're using to get the entry draft?

Craft's entry revisions service has the [`getDraftsByEntryId()`](https://docs.craftcms.com/api/v3/craft-services-entryrevisions.html#method-getdraftsbyentryid) and [`getDraftById()`](https://docs.craftcms.com/api/v3/craft-services-entryrevisions.html#method-getdraftbyid) methods and, while the latter will include t

[2019-02-11 06:14] ttempleton commented on #187
Everyone at Spicy Web was definitely pleased and excited to hear about the features planned for Craft and particularly for Matrix fields in future versions of Craft, including nested Matrix fields.  At this stage, though, we feel that Neo would still offer enough in terms of features and convenience that it would continue to stand as its own field type in Craft 4.

Even if all of Neo's features we

[2019-02-11 11:08] pablofernandezgh commented on #181
Hello @ttempleton
I get the entry draft with `getDraftById()`

Here's my code :
[code]

The richText outputted is the one from the published entry, not from the draft
The draftId is always null

[2019-02-11 16:34] theskyfloor commented on #187
Thanks for the reply! I was guessing and hoping you would say that. I wanted to make sure this was out there so the community knows they can and should still rely on Neo's future development. Excited to keep using it myself!!

[2019-02-13 15:02] mdominguez opened #188 "Neo field doesn't save settings/layout changes after initial save"
#### Description
When creating a new Neo field, on initial save all of the settings are saved correctly. But when I re-edit the field and make some changes, they don't get applied on save.

#### Steps to reproduce
1. Create neo field with multi level blocks and limits
2. Save it
3. Try to edit the settings/layout of the field and save, the changes are not applied.

#### Other information
- Neo ver

[2019-02-13 16:25] leigeber commented on #188
Same end result here, can't update a particular Neo field anymore. In my case I was able to edit the field many times in different ways but then after trying to reorder some groups and types I can no longer make any changes stick. Hard to say what triggered it exactly. No errors anywhere, just silently failing.

[2019-02-13 16:27] mdominguez commented on #188
Yes indeed, probably triggered after reordering or multi-level editing groups / block types

[2019-02-13 20:36] simeon-uxiliary commented on #188
I'm having the same issue with the same version.

[2019-02-13 20:51] zachshallbetter commented on #188
Very serious issue. We have an extremely large client entering content into a production site and we're unable to backtrack or modify existing fields.

[2019-02-13 21:55] ttempleton commented on #188
Thanks for reporting, everyone.  This is due to a bug in Craft which will be fixed in the next release -- see craftcms/cms#3832

[2019-02-13 21:55] #188 closed

[2019-02-15 11:06] ttempleton commented on #181
Thanks @pablofernandezgh.  It looks like setting the `level` (or other block query parameters) causes it to query the database instead of using the draft content.  It also looks like Matrix fields do the same (tested with querying for a specific `typeId`), which I think is probably the intended behaviour, [since Matrix fields work the same way with live preview](https://craftcms.stackexchange.com/

[2019-02-15 11:23] ttempleton commented on #184
Thanks for reporting this, @kringkaste.  This is a strange issue and unfortunately I've been unable to reproduce it so far.  Which versions of PHP and MySQL are you using?

[2019-02-18 19:55] Michael-Reich opened #189 "Error when creating new section (Undefined offset)"
#### Description

When I work locally on MAMP Pro and I want to create a new Section I get this error:

[code]

#### Steps to reproduce
1.
2.
3.

#### Other information
- Neo version: Latest
- Craft version: Latest
- Is the affected Craft installation multi-site:
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis:

[2019-02-19 01:35] ttempleton commented on #181
This will be included in the next Neo release, within the next day or two.

[2019-02-19 01:35] #181 closed

[2019-02-19 02:39] ttempleton commented on #189
Thanks for reporting, @Michael-Reich.  This has now been fixed in Neo 2.2.4.

[2019-02-19 02:39] #189 closed

[2019-02-19 07:50] Michael-Reich commented on #189
That's fast support, thank you very much!

[2019-02-20 16:14] luke-nehemedia opened #190 "Deactivated blocks disappear"
I have experienced this a couple of time now: When deactivating some blocks and saving the page, the deactivated blocks disappear. I am not sure whether they still exist in the database, however, on the CP they are missing.

#### Other information
- Neo version: 2.2.4
- Craft version: Craft Pro 3.1.12
- Is the affected Craft installation multi-site: no

[2019-02-20 21:45] N0ps32 opened #191 "Documentation on writing migrations for NEO fields"
#### Description

Hi, I wasn't able to find documentation on how to write migrations for Neo fields.
We have an existing Neo field and would like to add new Child blocks to it using a craft 3 migration.

Any pointers on how to do this would be awesome.
Thank you!

[2019-02-21 04:44] #187 closed

[2019-02-21 13:38] Anubarak commented on #154
Just a note from me (the creator of Relabel). If you want to provide support for Relabel there are "only" a view things to do. I included the funtionality to Neo but since all your files are minified I won't really create a pull request.

To include supprt for the Plugin you need to first register/publish your field layout id in the field layout designer either by including a `name` input or by ad

[2019-02-22 10:14] ttempleton commented on #151
Neo 1.5.1 is out now and includes the fix for this issue.  Due to the move to the `craft-2` branch since 1.5.0, this release won't appear on a Craft installation's updates page, so it'll need to be downloaded from its [release page on GitHub](https://github.com/spicywebau/craft-neo/releases/tag/1.5.1).

[2019-02-22 10:14] #151 closed

[2019-02-22 10:19] ttempleton commented on #128
Thanks @aaronbushnell!

---

The block structure cleanup is included in Neo 1.5.1, which has just been released.  Due to the move to the `craft-2` branch since 1.5.0, this release won't appear on a Craft installation's updates page, so it'll need to be downloaded from its [release page on GitHub](https://github.com/spicywebau/craft-neo/releases/tag/1.5.1).

[2019-02-22 10:19] #128 closed

[2019-02-22 10:38] ttempleton commented on #120
After further testing and improvements, we feel confident enough to release Neo 1.5.1 now with the fix for this issue.  Due to the move to the `craft-2` branch since 1.5.0, this release won't appear on a Craft installation's updates page, so it'll need to be downloaded from its [release page on GitHub](https://github.com/spicywebau/craft-neo/releases/tag/1.5.1).

@theskyfloor if you regain access

[2019-02-22 10:38] #120 closed

[2019-02-23 09:18] Sam-Black-0013 opened #192 "Blocks get deleted if disabled"
#### Description
When I try to disable a block, they get deleted after I save my entry

#### Steps to reproduce
1. Create a block in a global set
2. Save the global set
3. disable that block and save
4. Gone

#### Other information
- Neo version: 2.2.4
- Craft version: 3.1.12
- Is the affected Craft installation multi-site: Yes
- (if multi-site) Are the affected Neo fields set to manage blocks on

[2019-02-23 09:26] Sam-Black-0013 commented on #190
I am having the same issue as well

[2019-02-23 11:53] ttempleton commented on #192
Closing this issue as a duplicate of #190.

[2019-02-23 11:53] #192 closed

[2019-02-23 12:12] ttempleton commented on #190
Thanks @luke-nehemedia and @Sam-Black-0013.  This is fixed in Neo 2.2.5.

[2019-02-23 12:12] #190 closed

[2019-02-23 12:21] Sam-Black-0013 commented on #190
Thank you very much @ttempleton for the fix ^^

[2019-02-26 10:24] engram-design commented on #120
Not sure if I'm experiencing this same issue or not. Recently upgraded site from Craft 2 to Craft 3. Neo blocks were intact, but when I go to save, all blocks disappear. I can see the blocks exist in the db table, linked to the correct owner, but they don't appear.

If I switch back to an earlier revision, the blocks are there, but when trying to revert, the Neo field remains empty. Anyone with a

[2019-02-26 11:20] ttempleton commented on #120
@engram-design Which versions of Neo for Craft 2/3 were you using?  I don't think it's related to this issue, but it sounds like something might have gone wrong with the block structure somehow.  Could you please check the `neoblockstructures` table for the `structureId` for an affected field/owner/site, and then check the `structureelements` table for the elements with that `structureId` and see

[2019-02-26 11:30] engram-design commented on #120
We were using 1.4.1 for C2, and 2.2.5 for C3. At first, I thought it might be because all the `craft_neoblocks` and `craft_neoblockstructures` rows had `NULL` as the `ownerSiteId`, but setting that to 1 didn't seem to help.

I've cross-referenced all those tables/values and everything seems to be in place. Going to clone this site locally and dive in...

[2019-02-26 22:17] engram-design commented on #120
@ttempleton Yep, ignore this - this is an issue with https://github.com/aelvan/Preparse-Field-Craft, as disabling the plugin rectifies the situation. However, a handy thing to note in your support.

[2019-02-27 09:05] ttempleton commented on #120
@engram-design Will do, thanks!

[2019-02-28 14:45] ttempleton commented on #191
Hi @N0ps32,

Sorry for the delay in addressing this.  It's somewhat complicated to explain everything around updating and adding block types, but I wanted to at least give part one of an answer now, so I'm going to explain how to update an existing block type first (which will be necessary to know when adding child block types) and then hopefully in the coming days I'll have an appropriate answer

[2019-03-02 05:20] ttempleton commented on #27
The `feature/multilevel-drag-sort-neo-2` branch now includes the work on the feature originally written for the Craft 2 version up to the point that @benjamminf made [this comment](https://github.com/spicywebau/craft-neo/issues/27#issuecomment-228588812) (i.e. multilevel dragging works, without restrictions on dragging blocks where they don't belong).

There is further work to include from the old

[2019-03-02 10:20] ttempleton commented on #27
Update: Ben's progress on adding restrictions has now been ported to Neo 2 in the `feature/multilevel-drag-sort-neo-2` branch.  If anyone would like to try it out, it's recommended that you grab the branch's [`src/resources/main.js`](https://raw.githubusercontent.com/spicywebau/craft-neo/feature/multilevel-drag-sort-neo-2/src/resources/main.js) file (as long as you're on Neo 2.2.5 there shouldn't

[2019-03-02 12:04] ttempleton commented on #90
A max top-level blocks field setting has now been added to the `dev` branch and will be included in Neo 2.3.  The existing max blocks setting has been retained (for now, at least).

[2019-03-02 12:04] #90 closed

[2019-03-02 18:41] vandres commented on #27
@ttempleton Thank you. I will test it next week

[2019-03-04 02:12] vandres commented on #27
@ttempleton My first quick test looks very promising!

[2019-03-04 18:48] aaronbushnell commented on #128
Thanks so much for your work on this! Appreciate it a bunch, @ttempleton

[2019-03-05 09:54] ttempleton commented on #191
(Part Two)

So as mentioned previously, creating and saving a new block type -- whether it's a top-level or child block -- can get a bit more complicated.  You could place it at the end of the field's block types and that would remove some of the complication, but if you're creating child block types, you probably want them placed right after their associated top-level block in the overall block t

[2019-03-06 12:43] outline4 opened #193 "Copy/Paste break Neo field"
#### Description

The Copy/Paste Function does not really work in my case. Sometimes when I copy/paste a block it'll break the neo field.

#### Steps to reproduce

1. I choose a block within a block within a block and copy it (first is the layout block, then the column left block, then a content block)
2. when I paste it into a layout block, the blocks get rearranged. like there will be no more la

[2019-03-07 12:40] N0ps32 commented on #191
Thank you for your response, I'll try and implement this asap!

[2019-03-07 22:30] timeverts commented on #191
@ttempleton, this is all extremely useful stuff! Will you be adding this to the official Neo docs?

[2019-03-09 07:39] ttempleton commented on #193
Hi @outline4,

A copied block can be pasted anywhere within its field that allows that particular block type to exist -- it doesn't have to be within the exact same area in the field's hierarchy unless that's the only place that block type is allowed.  If the copied block isn't allowed in a certain place, the paste option should be disabled.

You can copy blocks that have children -- when Neo copi

[2019-03-09 08:15] ttempleton commented on #27
Good to hear, @vandres!

From what I can tell, it's mostly functional, except that block types' max child blocks settings are not enforced (also the max top-level blocks field setting coming to Neo 2.3).  We'll continue working on it and testing it, though, and hopefully this will be ready for release soon.

[2019-03-09 09:04] ttempleton commented on #191
@N0ps32 -- Hope it all goes well!

@timeverts -- Just added it all to the docs 👍

[2019-03-09 14:13] ttempleton commented on #70
The future plans for Craft and Matrix fields involve [using global fields](https://speakerdeck.com/brandonkelly/future-of-craft?slide=25) rather than their own specific fields.  Presumably, Craft's `fields` table's `context` column would be removed at the same time, since it mainly exists to allow Matrix fields to have their own fields, so that would remove the possibility for Neo to have its own

[2019-03-09 14:13] #70 closed

[2019-03-09 14:25] vandres commented on #27
@ttempleton That would be great, thank you

[2019-03-10 01:54] ttempleton commented on #110
That would definitely be the correct syntax and appears to work correctly for me with Neo for Craft 3, but not on Craft 2 (where it finds no entries) so we'll file this as a bug.

[2019-03-10 02:21] ttempleton commented on #110
This will be fixed in Neo 1.5.2 which will be released in the next couple of weeks (or you can grab the latest from the [`craft-2`](https://github.com/spicywebau/craft-neo/tree/craft-2) branch now).

[2019-03-10 02:21] #110 closed

[2019-03-11 20:06] 23d1 commented on #27
Also tested, and seems to work! 🎉

[2019-03-12 13:39] kringkaste commented on #184
Hey @ttempleton! We tried to reproduce the error, but we couldn't do it either. Maybe it was a combination of different effects. Thanks for your support!

[2019-03-12 13:39] #184 closed

[2019-03-13 11:14] wiledal commented on #173
Any indication for when the merge might happen?
We are working on a site that utilizes CraftQL, and it would be a tremendous improvement if we could use Neo with it.

[2019-03-13 14:16] jalendport opened #194 "Database Exception - Numeric value out of range"
#### Description
I have a Neo block I'm trying to delete. I've verified it has no child blocks, is a child of no other blocks, and has no fields. Basically, it's a pretty clean block. It used to be my `row` block (basically the only top-level block) and all my other blocks used to be child blocks. I've since made my other blocks top-level and basically stripped this `row` block clean. I'm 99% sure

[2019-03-13 15:05] cholawo opened #195 "Unable to copy project config between installations because of neo fields"
#### Description
I was testing the ability to copy the project.yaml file between craft installations to imitate what would happen we deploying to a production environment.    I found that neo fields caused an error during the synchronize process when craft attempts to read an updated project.yaml file.

#### Steps to reproduce
1.  Create two identical craft installations, install neo on both.
1.

[2019-03-13 22:34] wedot commented on #195
Some problem here

[2019-03-14 02:33] #195 closed

[2019-03-14 02:35] #194 closed

[2019-03-14 02:40] ttempleton commented on #195
Thanks for reporting.  This has been fixed in Neo 2.2.6.

[2019-03-14 02:44] ttempleton commented on #194
Thanks for reporting.  This is similar to issue #135, but occurring in a different situation.  I've applied the same fix for that (deleting blocks in reverse to avoid issues with invalid block levels) when deleting a block type and its associated blocks, so that should now be fixed in Neo 2.2.6.

[2019-03-14 06:49] wedot commented on #195
I've tested to move all configs in project.yaml to a new site again. All blocks of the neo field were not imported in the new installation.

[2019-03-14 10:30] ttempleton commented on #195
Hi @wedot, the issue described in the initial post has been resolved, but if you're experiencing issues with not all of the block types importing, you're welcome to submit it as a new issue.  If you do, any information about whether the non-imported block types use a common field or field type, or whether they're all from the same group (basically any info that could help us narrow down why the bl

[2019-03-15 09:47] samuelbirch opened #196 "Block permissions"
It would be great to be able to have permissions on block types, whether the user has the ability to create that block type or just edit it.

[2019-03-15 09:49] samuelbirch opened #197 "Disable block types"
Is it possible to disable blocks, so that cp users cannot create them.

Existing blocks could ether be read only, edit only or hidden?

[2019-03-15 10:43] ttempleton commented on #194
No worries @jalendport -- though this was similar to #135, it differed in how the error was triggered from a Neo user's perspective, so I'd consider it a different issue (or a reminder that I missed a spot, I suppose 😅)

[2019-03-15 10:57] ttempleton commented on #111
Hi @jripmeester,

Not sure if you're still experiencing this issue at this point, or if the affected website continues to run Craft 2, but if so, I was wondering whether [Neo 1.5.1](https://github.com/spicywebau/craft-neo/releases/tag/1.5.1) (which includes some fixes for situations where blocks disappear) resolves the issue?

[2019-03-15 11:15] ttempleton commented on #61
I believe, based on the description of the problem being resolved by saving as a new entry, that the cause of the disappearing blocks in this case was probably the same as #128 where more than one block structure existed for the affected field/entry/locale combination.  [Neo 1.5.1](https://github.com/spicywebau/craft-neo/releases/tag/1.5.1) includes block structure cleanup in case an extra one is

[2019-03-15 11:15] #61 closed

[2019-03-20 22:01] leigeber commented on #166
@ttempleton It looks like something related back in play now. Getting this on the latest release.

[code]

[2019-03-21 05:27] wedot opened #198 "Import full Neo filed config to new installation"
#### Description
How to import the Neo field setup to a other installation via project.yaml? I'm new in the topic CLI and project.yaml so it may be an easy question to answer.

#### Steps to reproduce
1. I've moved the project.yaml to the new installation and have imported this. But i only get a empty Neo field.

#### Other information
- Neo version: Neo 2.2.6
- Craft version: Craft CMS 3.1.19
- I

[2019-03-21 09:58] boboldehampsink commented on #198
I'm seeing this too - looks like a serious bug

[2019-03-21 20:13] aaronbushnell commented on #154
We're wrapping up a sizable Craft 2 → Craft 3 update and it would be _awesome_ to get Relabel support back into Neo! Any chance of @Anubarak's update being included in a future release?

[2019-03-22 08:18] ttempleton commented on #198
The fix for project config syncing in Neo 2.2.6 involved using the `craft\services\ProjectConfig::defer()` method to delay the importation of block types until the associated Neo field has been imported.  That said, if it's deferred for too long, it will eventually give up.  Unfortunately, we're yet to reproduce this issue, but I think, for some reason, that is what's happening here.

Does an atte

[2019-03-22 15:58] naboo opened #199 "Issue with project config and new fields added to new Neo block type"
#### Description
When using project config to sync between multiple envs. sometime newly added fields doesn't get added to the Neo field in question. For example if you have a Neo field and you add a new block, and to that block you assign a newly created field from Craft. When you later sync your project config the block type gets added to the Neo field but the field isn't added to the same block

[2019-03-22 19:29] #199 closed

[2019-03-22 19:34] ttempleton commented on #199
Thanks @naboo, it is under Neo's control to force the fields to be synced before the block types, so that has been fixed in Neo 2.2.7.

[2019-03-22 19:37] ttempleton commented on #198
@wedot, @boboldehampsink, you can probably disregard my previous comment.  The method for ensuring the field exists before the block types has changed in Neo 2.2.7.  Can you please update Neo, re-attempt the importation with a new installation and let us know how it goes?

[2019-03-24 11:15] ttempleton commented on #126
We'll close this issue now, given its age and no other reports of the issue, and that we've been unable to find a case where a Neo-to-Matrix field conversion loses all of its block types or the convert button doesn't appear.  If you do continue to experience the issue, though, let us know and we'll reopen.

[2019-03-24 11:15] #126 closed

[2019-03-24 11:19] ttempleton commented on #191
Closing this issue now, hopefully it all went well for you @N0ps32 but still let us know if you have any more questions 👍

[2019-03-24 11:19] #191 closed

[2019-03-25 09:18] ttempleton commented on #154
Spicy Web has taken over the original Relabel from @benjamminf, the creator of Relabel, and we've renamed it [**Field Labels**](https://github.com/spicywebau/craft-fieldlabels).  We've ported it to Craft 3 and will release it on the Plugin Store.  Neo (having previously supported the Craft 2 version of the original Relabel) has had its support for Field Labels restored in the [`dev`](https://githu

[2019-03-25 09:18] #154 closed

[2019-03-25 14:43] boboldehampsink commented on #198
It didn't work for me!

[2019-03-26 12:44] boboldehampsink commented on #198
Looks ok here now. Only thing I'm finding is that Block Type Groups are created twice, see database screenshot:

<img width="926" alt="Screen Shot 2019-03-26 at 13 44 28" src="https://user-images.githubusercontent.com/378974/54997969-4cfc3d80-4fcd-11e9-8c0f-767458ff6517.png">

[2019-03-26 13:15] boboldehampsink commented on #198
I fixed that in here: https://github.com/spicywebau/craft-neo/pull/200

[2019-03-27 09:33] ttempleton commented on #198
Thanks @boboldehampsink!

@wedot -- we'll close this issue now, but if you still have project config issues with Neo 2.2.8, please let us know and we'll reopen the issue.

[2019-03-27 09:33] #198 closed

[2019-03-27 20:24] wedot commented on #198
@ttempleton It works great! Thank you for the fix!

[2019-03-30 04:08] vandres opened #201 "saveModifiedBlocksOnly and translations"
#### Description
When using `saveModifiedBlocksOnly` and adding a new locale, the content is not copied into the new translations

#### Steps to reproduce
1. Add a new locale, e.g. "fr"
2. Go to an entry and save it in the base language
3. Go to the "fr" translations of that entry, it lacks the copy of the neo fields

When setting `saveModifiedBlocksOnly` to false, and repeating the steps, then th

[2019-04-03 02:47] ttempleton commented on #201
Thanks @vandres, should be fixed now!

[2019-04-03 02:47] #201 closed

[2019-04-03 03:18] ttempleton commented on #111
Closing this issue now, as we believe this issue report had the same cause as #128, which was resolved in Neo 1.5.1.

[2019-04-03 03:18] #111 closed

[2019-04-03 04:18] ttempleton commented on #130
Sorry to hear that you experienced this and hopefully you got it sorted out.  It is strange that the block type table would be lost -- certainly Neo only drops it when uninstalling the plugin.  This sort of error can't really be bypassed, since, for example, recreating the table would lead to further errors, since any existing blocks would have nonexistent block types.  Unfortunately I don't think

[2019-04-03 04:18] #130 closed

[2019-04-03 11:57] jurriaanr opened #202 "Max blocks not synced correctly when using project.yml"
#### Description
I changed the max block on the top level of a neo block locally from 4 to 5. Synced that to the acceptance server. I now do have the option to add a fifth block, but when I do the other 4 blocks are removed and only that single block will remain. If I re-add the other 4 blocks, and save, only a total of 4 is saved. So one of the settings controlling the amount of blocks is not syn

[2019-04-03 12:01] jurriaanr commented on #202
The databases looks correct and lists 5 blocks

[2019-04-03 17:41] gallogiuseppe opened #203 "Limit the nesting level"
Is it possible to limit the nesting level of children? I'm not saying to limit the number of blocks but the level that can be nested:

eg:

limit to 1 child level
Main block
-- child 1
-- child 2

limit to 2 children levels
Main block
-- child 1
---- child a
---- child b
-- child 2
---- child a
---- child a

[2019-04-03 19:54] aaronbushnell opened #204 "Getting Error while sending QUERY packet errors when caching large sequence of Neo blocks"
#### Description
One of our websites is receiving an error when it attempts to cache a page with a fair amount of Neo blocks. Here's the error:

[code]

When I looked through the logs it looks like Neo is sending a massive amount of data into `templatecachequeries` and a snippet of that action looks like this:

[code]

That garbled data is _very_ lengthy and I assume that amount of data is not pos

[2019-04-03 22:13] bstein-clever commented on #154
Just noticing this - I somehow missed during our upgrade that our Neo fields no longer supported relabel.
I just tried installing your Field Labels plugin, but it doesn't seem like any of the label overrides got migrated. Is there any way to do trigger this manually, and/or get a list of data that existed to re-enter? Thanks!

[2019-04-04 05:25] ttempleton commented on #154
Hi @bstein-clever,

Field Labels runs a migration process on install that is intended for labels from its previous version, the original Relabel for Craft 2 -- but, due to the other Relabel for Craft 3 using the same database table and column names as the original, the migration process should work fine for converting from it, too.  The catch, though, is that the Craft 3 Relabel still needs to be

[2019-04-04 06:57] evanwarner commented on #120
@ttempleton I don't think this is fixed, even in 1.5.2. Working on a site, I'm still loading up pages in Craft that suddenly have half their Neo blocks missing. The blocks are still in the database, and they seem to render on the front-end still. But if I want to edit the page, I need to recreate all the content because as soon as it's saved, the orphaned blocks are purged from the database.

[2019-04-04 08:31] bstein-clever commented on #154
That makes sense. Thanks for the extra context!
I was actually just digging into this some more this evening, and noticed something sadder ... we were using the other relabel craft3 plugin (https://github.com/Anubarak/craft-relabel), and in looking over their page again, I find it says:

which to me is quite frankly ridiculous, and there should be much bigger warnings when upgrading if this is the

[2019-04-05 06:19] meredevelopment opened #205 "Help wanted Eager Loading"
#### Description
I'm trying to understand how to reduce the DB lookups on a Neo field using Eager Loading.

I have a Neo field called `componentsMatrix` and in my test page there are 18 Neo items, 5 at level 1, 13 at level 2:

[code]

Without loading the Neo field at all, the page makes 27 Queries (Q).

With a call like this it's 28Q:
[code]

If I attempt to pull the type handle out, like this it'

[2019-04-05 23:03] nmcweb opened #206 "Issues with saving entries after updating neo plugin"
#### Description
Whenever I try to update an entry, sometimes the entry returns an Internal Server error message, and won't commit the change.

#### Steps to reproduce
1. Choose an existing entry (page, or custom entry in this case, event calendar event)
2. Save the entry.
3. Attempt steps 1 - 2 on a few entries. Does not occur on all but some
4. Observe web.log via tail

Below is the reported exc

[2019-04-06 13:47] ttempleton commented on #154
I've done some playing around with this with a test installation upgraded from Craft 2 and its DB backup; I don't think anything specifically related to the Craft 3 upgrade would cause this sort of issue, as the field/layout IDs didn't change and I was able to import the original Relabel table and data without issue.  I'm not too sure how the IDs could have changed -- the only thing that comes to

[2019-04-08 21:57] remmar13 commented on #173
Same here! 👍

[2019-04-09 08:59] lukasNo1 commented on #206
I got the same Problem when trying to save an existing entry as a new entry (copy) with $element->setFieldValuesFromRequest('fields');

Now saving the element throws this error.
Only since Neo version 2.3.0

[2019-04-09 09:36] jurriaanr opened #207 "Groups not synced correctly when using project.yml"
#### Description
When grouping or ungrouping fields and than syncing the field on another server, the groups behave unpredictable.

F.e. The first time it works, but after that new fields are not added, the group is recreated when reordering fields inside, the group is duplicated with the old one now being empty. When removing the group altogether, the old copy and the new copy still exists, only

[2019-04-09 20:45] bstein-clever commented on #154
That's an interesting idea, thanks.
I just tried it out (pulling more of the data from the backup), but unfortunately it didn't help.
Its seems like while many of the original UIDS (and actually IDs) are the same, all of the Neo ones have been recreated.
In the Craft2 DB, all of the Neo_Block (type) field layouts have a `dateCreated` of 2018-10-24 - which is suprising, we've been using Neo a lot l

[2019-04-10 15:21] andrewfairlie commented on #206
We also get this if we try to publish a saved entry with a Neo field.

[2019-04-10 15:30] andrewfairlie commented on #206
It looks like this is to do with the new `saveModifiedBlocksOnly` feature.

If in `services/Fields.php` I manually change line `278` from...

[code]

to

[code]

I am able to publish drafts

[2019-04-10 15:33] andrewfairlie commented on #206
Further clarification that may help @benjamminf / @ttempleton this only seems to happen in my test when there's nested / child blocks within a block.

[2019-04-10 15:55] 23d1 commented on #206
A very common use case. Looking forward to a fix.

[2019-04-10 20:14] nmcweb commented on #206
@andrewfairlie  Can confirm your hotfix works like a charm. Thanks!

[2019-04-10 23:23] vandres commented on #206
You can disable the setting by creating a `neo.php` in the `config` folder with the following content:

[code]

[2019-04-11 13:28] ttempleton commented on #154
I'm a bit puzzled about all the Neo field layout IDs/UIDs changing...  That said, as long as all of your field and Neo block type handles have not changed, we should still be able to resolve this.

I've come up with a process to save a Craft 2 installation's Neo-specific Relabel data to a JSON file, and to then try to import the data into a Craft 3 installation based on the field and block type ha

[2019-04-11 18:40] jerwarren commented on #120
I'm still seeing this happen on 1.5.2 with the latest craft version.

I seem to be losing fields randomly, and it SEEMS as if it's happening on fields that were previously removed from the page.

How can I best help troubleshoot?

[2019-04-12 00:35] bstein-clever commented on #154
Phew. That ended up being more work than I expected, because of some weird permissions/setup issues from spinning up an old instance of our setup. But I was able to extract the data (which was already a big help to see the assignments) and then run the data migration.

The second half actually threw me for a bit as well, because I was expecting it to show up in the craft_relabel table, when in fac

[2019-04-13 15:13] ttempleton commented on #154
No worries!  Glad the original data was restored 😄 And yeah, the Craft 3 release as Field Labels is now using the `fieldlabels` table to avoid any potential conflicts with the other Relabel's data, so the import process just saves the Neo labels straight into the new table.

[2019-04-15 11:44] proimage commented on #207
I'm seeing Group-related oddities as well. I had a Neo field (2.3.0.1) with blocks sorted into some groups, and after trying to add a new block, I went back and not only was the new block not there, neither were the groups.

[2019-04-15 23:42] pvldigital commented on #207
Thanks @jurriaanr and @proimage. This should now be fixed in Neo 2.3.1.

[2019-04-15 23:42] #207 closed

[2019-04-16 20:33] leigeber commented on #166
Just checking in on this as we've hit it in another project now as well. If you think it may be awhile are you open to a pull request if we can track this down on our end?

[2019-04-18 13:23] jurriaanr opened #209 "Adding fieldlayout after syncing creates sql error"
#### Description
I have a neo block which has been synced to another server with the project.yml file.
I added a field layout to a block at top level and added 2 fields. On syncing this will throw an sql error. The field layouts and it's fields are also not added to the database. As you can see the syncing tries to recreate the block with insert, instead of updating with an update query.

`The SQL

[2019-04-19 09:36] pvldigital commented on #166
Hi @leigeber, I'll look into this issue some time next week. However you're free to have a look at it yourself and submit a pull request down the track.

[2019-04-24 08:53] wiledal commented on #173
As it's been over 3 months with no update, I did an unconventional composer install from a fork of @markhuot's branch, to see if I could potentially cobble together the support until it gets officially merged (we really want this functionality), but I get this GraphQL error as soon as there is a `Neo Group` field present in a section:

[code]

You could potentially disregard this issue as invalid,

[2019-04-26 16:05] cjativa opened #210 "Previews from Share button on Draft versions displays a mix of field data from Current Version/Draft Version of an entry"
#### Description

We have an entry for which there exists a Current Version and a Draft Version. Both versions of the entry are essentially the same in terms of structure and field setup -- a few plain text fields, a date field, couple of image fields, and a Neo block that contains a child plain text field and child block.

The problem we see is when using the Share button to share what the Draft

[2019-05-03 14:19] theskyfloor opened #211 "Invalid text representation: 7 ERROR: invalid input syntax for integer"
#### Description

Getting a significant error on PostreSQL that prevents me from applying new fields. Please help.

#### Steps to reproduce

[Database Exception – yii\db\Exception.pdf](https://github.com/spicywebau/craft-neo/files/3142275/Database.Exception.yii.db.Exception.pdf)

#### Other information
- Neo version: 2.3.2
- Craft version: Craft Pro 3.1.24
- Is the affected Craft installation mult

[2019-05-03 15:33] ttempleton commented on #211
This seems to be related to my merged pull request #208 to fix an issue with Field Labels compatibility, sorry... I have opened #212 to fix this.

[2019-05-03 23:13] #211 closed

[2019-05-07 16:58] rbaud opened #213 "Craft 3 - disabled nested blocks still shown in Live Preview"
#### Description
Disabled nested blocks (any block not at the top level) in a Neo field are still shown in Live Preview, although they do not appear on the front-end once the page is saved. This seems to affect all levels of nesting (other than the top level).

#### Steps to reproduce
1. Slap together a fresh Craft 3 setup and install Neo from the Plugin Store.
2. Create a Neo field with a top-lev

[2019-05-07 17:02] rbaud commented on #213
And as it goes, I just realized I've got a handful of Craft/Neo updates to apply. Could solve this. Will update and report back immediately. 🤦‍♂

[2019-05-07 17:13] rbaud commented on #213
No dice. Fully upgraded, same issue. I've updated the **Other Information** portion of the original issue to reflect this.

[2019-05-07 19:52] 23d1 commented on #213
I can confirm this.

[2019-05-07 21:34] rbaud opened #214 "Craft 3 - element query with type() param not respected in Live Preview"
#### Description
Element queries that use the `.type()` parameter to filter blocks are not correctly filtered when viewing Entries in Live Preview, although they work as expected on the front-end (only blocks with the specified handle(s) are displayed). Could be related to [issue #213](https://github.com/spicywebau/craft-neo/issues/213) I posted earlier today.

#### Steps to reproduce
1. Slap toge

[2019-05-09 10:37] nstCactus commented on #173
I managed to get basic Neo-field support using the [following module](https://gist.github.com/nstCactus/199e339b56bc27befff369f771f1f53a).
Currently this fits my needs so I didn't dig any deeper but it could be used as a starting point.

[2019-05-10 14:32] tomfrew commented on #173
Would also love to see this get merged!

I've tried manually applying @markhuot's changes from https://github.com/spicywebau/craft-neo/compare/master...markhuot:craftql to the latest version and seems to work great.
@wiledal I didn't run into your issue, although haven't tried installing from a folk only manually updating the plugin.

[2019-05-10 16:05] tomfrew commented on #173
Although I can't get dropdown or multi-select fields to show in the schema

[2019-05-14 13:57] kblizeck commented on #120
Also experiencing issues with Neo 1.5.0 deleting fields on save. May be related to #128 - I tinkered locally with my database and deleted duplicate entries in `neoblockstructures` for the `ownerId` that was erroring on save, and the fields are appearing as expected. Definitely not sure what the repercussions are for deleting those records though...
Also, increased `max_input_vars=5000`

[2019-05-21 07:30] #213 closed

[2019-05-22 00:06] #214 closed

[2019-05-22 14:18] Mosnar opened #216 "Updating from Craft 2: Translatable does not transfer properly to "manage blocks on per site basis""
#### Description
Running update from a Craft 2 site running Neo 1.5.0 migrated all of the blocks over from the primary site into each of the locales; however, the newly created sites contain the Neo blocks with english content rather than their localized version. Upon closer inspection, it appears that the blocks are not set to be managed on a "per-site basis" as one would expect if the Neo field

[2019-05-22 16:55] Mosnar commented on #216
I just tried a fresh migration and it worked fine! Must have been user-error!

[2019-05-23 13:38] mrksmts opened #217 "Syncing project.yaml changes causes writes to project.yaml while in read only mode"
#### Description
When applying the project.yaml changes Neo tries to update the project.yaml, even though it is in read-only mode.

#### Steps to reproduce
1. Syncing project.yaml changes

#### Other information
- Neo version: 2.3.4
- Craft version: Craft Pro 3.1.28
- Is the affected Craft installation multi-site: No

From the logs:
[code]

[2019-05-23 16:53] yoannisj opened #218 "Getting "Undefined variable: siteId" error when saving new entries with neo blocks"
#### Description

Whenever we save an entry with a Neo field which is not empty (happens also with 1 single block in 1 Neo field), we get the following error:

[code]

The entry gets saved correctly though, and editing the entry further, adding or removing blocks and saving it again works just fine. My guess is that the problematic code only gets called in the `afterElementSave` event, for new ent

[2019-05-24 05:44] #210 closed

[2019-05-24 13:07] Mosnar commented on #216
Reopening: After further inspection, the problem occurs when a section is resaved, this is because the translation method is stored in the field settings as `"localizeBlocks":"1`. This does get set during the migration process on multi-site intalls.

[2019-05-28 13:14] robmcfadden opened #220 "Getting "Attempting to duplicate an unsaved element." when saving a draft in Craft alpha"
#### Description

This is only happening on sections with a Neo field which is why I'm reporting here. If I make a change and let Craft auto-save its draft, then click "Update entry" to save, I get "Attempting to duplicate an unsaved element." Clicking the browser's back button and clicking "Update entry" again seems to save correctly, though.

#### Steps to reproduce
1. Update to latest Craft alp

[2019-05-28 13:36] robmcfadden commented on #220
My bad. This is also happening on entries with a Matrix field.

[2019-05-28 13:38] robmcfadden commented on #220
Uggh. Now I can't reproduce what I just saw with only the Matrix field. Maybe a false alarm.

[2019-05-29 06:53] jonXmack commented on #220
I'm getting this issue too, in 3.2.0-alpha.7. I make a change to an existing entry, craft does it's draft save, when I click Update entry I get "Attempting to duplicate an unsaved element." I tried the clicking back/update entry again but that didn't do anything for me.

[2019-05-29 11:59] robmcfadden commented on #220
@jonXmack - Sometimes when you click back it goes to the current version instead. I've found that if you then choose the draft from the dropdown that Craft just saved and click "Update entry" it will work. Hope that helps you out until this is resolved.

[2019-05-30 13:22] puck3000 commented on #173
@tomfrew: Thank you for your solution, seems to work so far!!!

[2019-06-03 07:08] jonXmack commented on #220
Unfortunately that's not working for me, very frustrating.

[2019-06-04 07:48] jmverges opened #221 "Feature: Clone a Block Type from one Neo Field to another one."
Hi,

I feel this could be a useful feature.

Does anybody know if there is a way to do this? if not, do you think this could be useful?

Thanks in advance

[2019-06-04 20:22] timkelty commented on #220
Seems to be fixed in Craft 3.2 beta.1

[2019-06-04 20:22] #220 closed

[2019-06-05 04:36] dasunr commented on #202
Hi @jurriaanr,

I'm having some trouble reproducing this so far. Are you able to update to the latest version and try again?
I'll close the issue for now and if it still persists shall reopen.

[2019-06-05 04:37] #202 closed

[2019-06-05 05:54] dasunr commented on #193
Hi @outline4,

I have looked into this issue and I'm having some trouble reproducing this so far. Are you able to update Neo to the latest version and try again? I will close this issue for now and let me know if this issue happens again.

[2019-06-05 05:55] #193 closed

[2019-06-07 13:27] jurriaanr commented on #202
Yes, It is still a problem, updated to the last version of neoblocks, updated the max items to a higher number, it is not synced on other locations

[2019-06-12 08:13] lastgiven opened #223 "Invalid text representation: 7 ERROR: invalid input syntax for integer"
#### Description
SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: ":empty:"
The SQL being executed was: SELECT "id", "structureId", "ownerId", "ownerSiteId", "fieldId"
FROM "honda_neoblockstructures"
WHERE (("fieldId"=4) AND ("ownerId"=2)) AND ("ownerSiteId"=':empty:')
LIMIT 1

Cannot save my entry when using neo.

This seems to be an issue between Neo and P

[2019-06-12 09:23] lastgiven commented on #223
Reinstalled the plugin and recreated all the fields fixed the issue.

[2019-06-12 09:23] #223 closed

[2019-06-13 16:04] Konsti-O commented on #213
#### Description
We still have a similar issue on different systems and projects. It works fine now for nested blocks with a depth of two levels. When you go deeper there is still a problem width the live preview. Because it would be a little confusing to describe all the cases i decided to make a short video:

[https://www.youtube.com/watch?v=DMis0CyZ7OE](https://www.youtube.com/watch?v=DMis0CyZ7

[2019-06-13 20:17] alexgilbertDG commented on #221
+1. I do feel having some kind of import/export for each block will be very useful. It could be just a JSON or base64 representation string that you put into the import field and it recreate the block.

[2019-06-14 01:07] dasunr commented on #209
Hi @jurriaanr,

I'm having trouble reproducing the issue so far. I have tested with few basic field types and also while syncing a NEO field in multiple steps. Are you able to give more information as to what was your original neo block configuration and the additional field layout changes added for a more thorough investigation?

[2019-07-02 07:38] lastgiven commented on #173
@markhuot Is there any workaround at the moment to get this working?

Is third party field support a viable solution for the time being?

[2019-07-09 17:34] gregorterrill commented on #204
Also just ran into this issue pushing some updates to a staging site. Was working fine on dev where template caching is off, but on staging I was getting an internal server error on certain pages (though they worked fine in Live Preview mode or if I changed the .env environment to "dev").

Error log showed several errors like:

[code]
and
[code]

MySQL `max_allowed_packet` was set to 16M, upped it

[2019-07-10 01:23] dasunr commented on #221
Hi @jmverges , @alexgilbertDG ,
This seems like a good feature to have however duplicating block types across fields seems to be outside the functionality of this plugin.
Although there is a very handy plugin, Architect (https://github.com/Pennebaker/craft-architect) which can be used to duplicate block types across fields.

[2019-07-10 15:25] joao-proenca-ef opened #225 "Translating fields but not blocks"
#### Description
Would it be possible to have the blocks be the same for the different sites, but have the individual fields translatable?

Currently it seems that the only options are:
1. Have `Manage blocks on a per-site basis` disabled so when you add a block to a site, it's added to all sites, but then the fields inside the block aren't translatable (even if they are set as translatable)
or
2.

[2019-07-12 16:57] bryantAXS opened #226 "Multi-site Content Being Overwritten"
#### Description
After migrating to 3.2, saving blocks in one language/site was overriding another.

#### Steps to reproduce
Context: we've got two sites, each of which has a different language (english/spanish)

1. Open a language in English, click save
2. Switch to spanish
3. Spanish site has English content.
4. Update content to spanish again, click Save.
5. Switch back to English, all things g

[2019-07-12 21:59] bryantAXS opened #227 "Site Content Disappearing until Save"
#### Description
After an update to 3.2 I'm seeing issues where content on the site gets deleted.

#### Steps to reproduce
1. Open entry fresh of a 3.2
2. Click Share
3. Content Disappears
4. Need to Resave content to appear on site.

Video: https://cl.ly/642e0f3d58ef

#### Other information
- Neo version: 2.3.5
- Craft version: 3.2
- Is the affected Craft installation multi-site: Yes
- (if multi-

[2019-07-13 18:30] bryantAXS commented on #227
Also, I attempted to use the Craft CLI to resave all entries, but entries that I hadn't opened within the CP and saved at least once we're throwing a particular error.

https://cl.ly/6eac6a87ad64

Once I opened up those entries that did error, saved them, then reran the CLI command, it worked as intended.

[2019-07-15 05:55] pvldigital commented on #226
Hi @bryantAXS,

Can you further explain the weirdness you're seeing with the revisions and drafts between languages?

[2019-07-15 09:54] mtnorthrop opened #228 "Is Neo causing multiple "updating the search index" jobs to be created in Craft 3.2?"
#### Description
In Craft 3.2, when I save an entry with Neo fields, I see that many "updating the search index" jobs are added to the job queue. The number of "updating the search index" jobs that are added to the queue increases exponentially with the number of Neo fields used.

An issue addressing the growing job count was opened on the Craft issue board (craftcms/cms#4507) and @brandonkelly co

[2019-07-15 10:13] zizther commented on #228
I am experiencing the same thing, along with other issues related with C3.2 and plugins such as Neo and SuperTable which may be causing issues with Drafts.

+1 to look into this issue and support C3.2

[2019-07-15 11:46] joao-proenca-ef commented on #226
Sounds like the same issue I'm having #225

[2019-07-15 12:53] khalwat commented on #82
This was implemented here https://github.com/blasvicco/NeoToMatrixExportPlusPlugin

[2019-07-15 16:31] bryantAXS commented on #226
@pvldigital Bear with me because it's pretty confusing and I'm not quite sure what happened...

https://cl.ly/af25534a03fa

- This video shows an entry inside a Structure.
- Before updating to 3.2, this entry had English content and Spanish content, inside their respective sites.
- After updating to 3.2, I opened this entry and re-saved it.
- This video is me reopening the entry for a second time

[2019-07-16 07:34] pvldigital commented on #226
Hi Everyone,

Small update. I'm currently making changes/fixes for Craft 3.2 and plan on releasing it in the next couple of days, stay tuned.

[2019-07-16 07:37] pvldigital commented on #228
Hi @mtnorthrop and @zizther,

I'm currently making changes/fixes for Craft 3.2 and plan on releasing it in the next couple of days. It should fix most issues relating to 3.2 (including the above).

[2019-07-16 14:58] bryantAXS commented on #226
Thanks @pvldigital, keep us posted!

[2019-07-18 16:05] jamiewade opened #229 "Browser "Leave site?" message appears when moving away from recently saved entry"
### Description

After you save an entry and wait for the `Updating search indexes` task to complete, then click a Craft link to move away from the entry you have just saved, you receive this browser notification (Chrome) :

![screenshot](https://user-images.githubusercontent.com/6672331/61471436-aa503c00-a97a-11e9-8213-832c71631a1f.jpg)

You get this message even though all tasks have completed,

[2019-07-19 06:44] pvldigital commented on #226
Hi Everyone,

I've released a minor patch that should fix the multisite issues, in release 2.3.6. The minimum requirement will be >= 3.2.0.

[2019-07-19 11:39] lukasNo1 commented on #229
I had the same issue, the most recent release 2.3.6 fixed it for me though.

[2019-07-19 14:35] jesuismaxime commented on #228
@pvldigital any release date for this patch?

[2019-07-19 16:15] mtnorthrop commented on #228
The patch has been released and I've tested it, but it seems that, in my case, the more Neo blocks I have on a page, the more "updating the search index" jobs I see after I save the page. On a larger page, it looks like it could be 100+ jobs in the queue.

I don't know if this is expected behavior in Craft 3.2, or whether this is a bug in Neo.

[2019-07-19 16:26] mtnorthrop commented on #228
I've just updated the plugin in my production environment, and the issue is fixed. I'm still seeing extra jobs in my development environment for some reason, but the issue looks like it's completely fixed in my production environment. So it looks like the patch has worked, at least for me.

[2019-07-21 22:05] pvldigital commented on #228
@jesuismaxime yep, the patch does include the implementation of `BlockElementInterface` which should fix the issue.

@mtnorthrop hmm that's strange, it should be working in any environment. I've tested it on my dev and staging, and it looks to be working correctly. I'll have a look at it again and see if I can find any issues.

[2019-07-21 22:13] pvldigital commented on #229
Hi @jamiewade,

As @lukasNo1 has mentioned, release 2.3.6 should capture and fix most of the `leave site?` alert.

[2019-07-21 22:21] jesuismaxime commented on #228
Yes I confirm that the release patch the issue, I test it last friday (few minutes after my comment) but forget to update here. Thank you!

[2019-07-22 08:49] mtnorthrop commented on #228
@pvldigital I'm guessing that the issue I'm having in my dev environment is not directly related to Neo, so it's probably safe to say that this issue has been fixed.

[2019-07-22 08:49] #228 closed

[2019-07-22 21:58] KatieMFritz opened #232 "JavaScript error in Neo field editor"
#### Description

Neo field editor isn't displaying the blocks I previously set up, I can't create new blocks, and the tabs/fields selector is printing below the main CP screen (see screenshot). The field and its contents are okay in entries where I'm using it, but I can't change its structure.

Console error:
[code]

#### Steps to reproduce
1. Go to Settings > Fields and open previously created N

[2019-07-23 00:02] pvldigital commented on #232
Hi @KatieMFritz,

I'm unable to replicate this issues in 3.2.5.1.

Looking at the error provided, it seems that issue lies within the field layouts in the neo block. It's unable to find the cog for the field (that displays the options for `Make Required`/`Remove`).

Are you using any non-standard field types within that neo field?

[2019-07-23 00:39] KatieMFritz commented on #232
A few. I just recreated the field and it works - I'm guessing maybe something got messed up between changing fields that were included in the original Neo field and all the recent updates.

I'm also seeing some fields in my project.yaml that aren't in the CP, so I may have a bigger issue going on.

Thanks for the response! I'm okay with just recreating my field for now.

[2019-07-23 02:52] pvldigital commented on #232
Oh okay no worries. If it happens again you can reopen this issue and i'll have a look into it further.

[2019-07-23 14:25] KatieMFritz commented on #232
It did happen again after the rebuild, and I also noticed in project.yaml some Neo blocks hanging out from a field that used to be Neo but I had changed to Matrix. I'm implementing a scorched earth policy - deleted Neo, deleted project.yaml and rebuilt it, trying again. I'll report back if I get the same issue again.

[2019-07-24 01:59] pvldigital commented on #232
Tell me how is goes. In the meantime I will do some further testing to see if I can replicate the issue.

[2019-07-24 05:54] umkasanki commented on #207
I have the same issue
Neo 2.3.5
Craft Pro 3.1.34.2

Local:
![Screenshot_2019-07-24 ⚙ Create a new entry - Simplicate](https://user-images.githubusercontent.com/496132/61768453-2d94e600-adf0-11e9-8f50-968a6920f0c6.png)

Remote
![Screenshot_2019-07-24 🚧⚙ Create a new entry - Simplicate](https://user-images.githubusercontent.com/496132/61768553-79478f80-adf0-11e9-8d57-e52dacdb8a7b.png)

[2019-07-24 20:25] m8brgarc commented on #91
Hey, I'm still having issues with this.  For some reason, content randomly disappears from my entries (It's only the neo field that completely disappears)  then I need to select an earlier version to get my content back.  I checked to make sure no one was randomly deleting the content and it doesn't look like any updates were made to the entry for a long while.

So I'm not sure what is going on.

[2019-07-24 22:00] #229 closed

[2019-07-24 22:04] pvldigital commented on #91
Hi @m8brgarc,

What version of Craft and neo are you using? This issue was for craft 2 which is not supported anymore.

[2019-07-26 17:38] lewisjenkins opened #233 "Newly-created Neo blocks unable to browse existing assets until save"
#### Description

When using `{{ object is neoblock ? object.owner.slug : object.slug }}` for image upload location, it works as expected, with the following exception.

If I create a new Neo block that contains an image field within an existing entry, the image select dialogue is empty, even though the entry already contains previously uploaded images from earlier Neo blocks. The only workaround

[2019-07-29 09:22] davidhellmann opened #234 "Craft 2 => Craft 3 - Language Problem"
#### Description
We updated an old Craft 2 site to Craft 3. Looks all fine but we noticed that all the content within NEO ist overwritten by the default language.

#### Other information
- Neo version: 2.3.6
- Craft version: 3.2.7
- Is the affected Craft installation multi-site: yes
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis: nope

[2019-07-29 12:26] Mosnar commented on #234
Maybe related #216

I was able to get around this by manually adding the `"localizeBlocks":"1` setting to the Neo field settings prior to the migration.

[2019-07-29 14:02] davidhellmann commented on #234
@Mosnar I'll try that out. Thanks.

[2019-07-29 19:20] eliseferguson commented on #227
I've noticed a similar issue.  Pre-craft 3.2 I have an entry with several blocks from a Neo field.  Upgrade to 3.2 and nothing appears on the entry both front end and admin side.  I have been able to revert to a previous version of the page and get my neo blocks back.

[2019-07-30 23:07] brandonkelly commented on #227
I’ve been able to reproduce this locally with @eliseferguson’s install. The data loss is happening during the “Updating entry drafts and revisions” background job that kicks off automatically after updating to Craft 3.2. It only affects entries that have old revisions which don’t have any Neo field data. In those cases, when Craft goes to create the old revision, Neo ends up reassigning the curren

[2019-07-30 23:49] bstein-clever commented on #227
We just ran into this issue on a Craft version upgrade yesterday. Several of our blocks went missing, but the previous version was extremely old, so restoring from that wasn't a good update.
I, too, would love a way to protect against this before we re-upgrade.

I also recall running into https://github.com/spicywebau/craft-neo/issues/174 the last time we did a big version bump. I'd love it there

[2019-07-31 21:50] #227 closed

[2019-08-05 09:44] nitech opened #237 "Error Invalid Owner Id when disabling element on multisite after upgrade to 3.2"
#### Description
I just upgraded Craft CMS to latest (3.2.8). I also upgraded all other plugins:

Admin Bar 3.1.8.1
CKEditor 1.0.0-beta.2
CP Field Inspect 1.0.6
HTML Cache 1.0.15
Imager 2.1.10
Kint 1.0.0
Mailchimp Subscribe 3.0.0
NSM Fields 0.0.14
Navigation 1.1.13
Neo 2.3.7
Redactor 2.3.3.2
SEO 3.6.1.1
Section Fields 1.1.0
Super Table 2.2.1
Typed link field 1.0.19
oEmbed 1.1.6

I saw a message sa

[2019-08-05 09:51] nitech commented on #237
Also - when editing a specific entry and deselecting "enable for x site", I am able to save and successfully disable the entry for the current site - but not when doing so from the list view - regardless of whether I select one or multiple entries.

[2019-08-06 01:20] pvldigital commented on #226
Hi @bryantAXS ,

Sorry about the radio silence.

We've found the issue to be related to how the blocks were being saved in craft 3.2 for multisites. I've remade the block saving function so it's more inline with how the matrix field does it.

Release v2.4.0 should solve problems relating to how blocks are propagated to different sites which is what your issue is related to.

[2019-08-06 01:21] #226 closed

[2019-08-06 01:26] pvldigital commented on #237
Hi @nitech,

I'm sure this issue is related to how the blocks are being propagated. I've made changes on how neo blocks are saved and propagated in release v2.4.0.

Can you update neo and try again to see if the issue still occurs?

[2019-08-06 07:45] nitech commented on #237
@pvldigital Thanks. This solved the issue. Awesome work!

[2019-08-06 08:30] nitech opened #239 "Error "Integrity constraint violation" when deleting a section"
#### Description
When I try to delete a section that is available to one certain site, I get an "unknown error". Web.log says this:

[code]

#### Other information
- Neo version: 2.4.0
- Craft version: 3.2.8
- Is the affected Craft installation multi-site: Yes
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis: No

[2019-08-06 22:18] #237 closed

[2019-08-06 22:41] pvldigital commented on #239
Hi @nitech,

From your logs I can see that it's trying to setup the neo structure with a `siteId` of `0` which throws an error because it couldn't find the `id` in the `sites` table. The `siteId` being `0` might be related to how neo was saving the blocks previously but I'm not too sure yet.

I'm trying to replicate this issue but currently unsuccessful in doing so. Can you give me more info on th

[2019-08-07 06:49] nitech commented on #239
Is it easier for you if you get a copy of the database? Would you need the project also? Send me your email address at nitech (asasd) gmail.com and I'll send you what you need.

Here is some additional info:
Type: Single
Propagation Method -- not available on single
Versioning Enabled: Yes

When I look inside the database, I see that `neoblockstructures` has a lot of rows with `ownerSiteId == null

[2019-08-07 15:33] leigeber commented on #239
For what it's worth, getting a similar error when saving entries with Neo 2.4.0.

[code]

The only valid site ID we have is 1.

[2019-08-07 15:46] leigeber commented on #239
Seems to be resolved on my end by updating all NULL ownerSiteId values in craft_neoblockstructures to 1.

[code]

[2019-08-07 21:47] theskyfloor commented on #239
@leigeber has this been good for you since you did that? considering updating

[2019-08-07 22:02] leigeber commented on #239
@theskyfloor Yep, no error since then. Everything is saving as it should.

[2019-08-07 22:06] pvldigital commented on #239
Hi @nitech @leigeber @theskyfloor ,

I've found the root of the issues and the fix will be released soon after testing.

The issue was because the blocks doesn't use `ownerSiteId` anymore in 3.2. When migrating from 3.1 -> 3.2 all entries was resaved and since we didn't release the changes in 2.4.0 yet the `ownerSiteId` in the `neoblockstructures` was saved as null.

The fix I'll add will be to ch

[2019-08-08 00:13] pvldigital commented on #239
Hi All,

I've made a release for this issue. If there's still problems leave a comment and stack trace of it (found in the logs).

[2019-08-08 06:49] nitech commented on #239
Hi @pvldigital, this solved the issue. Well done!

[2019-08-08 11:51] BrandonJamesBorders commented on #239
@pvldigital I was getting the same sort of errors as @nitech, I updated and now I'm getting this error when trying to save an entry. Multi-site setup. Entry site ID is 2.

Undefined offset: 2
1. in /mnt/c/sites/rev-group/vendor/spicyweb/craft-neo/src/Field.php

[2019-08-08 12:23] pvldigital commented on #239
Hi @BrandonJamesBorders,

Release 2.4.2 should fix that issue. I needed to update the `$key` value if `ownerSiteId` was updated with the new id

[2019-08-09 02:36] #239 closed

[2019-08-12 08:15] nitech opened #240 "Tons of work being performed when setting status on entry"
#### Description
When I select one or more entries in the entries list and select "Disabled for site", the web server performs a ton of work. When I review the web.log, I am not really able to access the web.log - only the web.log.1, 2 etc. because the web.log is still locked by the web server.

![image](https://user-images.githubusercontent.com/1279436/62850858-94693900-bce4-11e9-8c7f-95305952646

[2019-08-12 08:20] nitech opened #241 "`Array to string conversion error` when setting propagation method on section"
#### Description
When I set propagation method to `Save entries to all sites enabled for this section` on a certain section type, the `Updating search indexes` seems to hang, the entries don't become available on all sites, and the following error is logged:

[code]

#### Other information
- Neo version: 2.4.2
- Craft version: 3.2.9
- Is the affected Craft installation multi-site: Yes
- (if multi-

[2019-08-12 08:24] nitech commented on #241
Or is this only related to wrav/oembed?

[2019-08-12 08:51] nitech commented on #241
Don't know if this helps, but of all the jobs in queue, the following has 6 attempts:

`O:34:"craft\queue\jobs\UpdateSearchIndex":6:{s:11:"elementType";s:20:"craft\elements\Entry";s:9:"elementId";s:3:"108";s:6:"siteId";s:1:"*";s:11:"description";N;s:30:" craft\queue\BaseJob _progress";i:0;s:35:" craft\queue\BaseJob _progressLabel";N;}`

[2019-08-12 08:51] nitech commented on #241
I deleted all the jobs in the queue and changed the propagation method again. Now it works.

[2019-08-12 10:09] nitech commented on #240
This also happens when I change propagation method (I changed to: "Save entries to all sites enabled for this section")

![Uploading image.png…]()

When I look at jobs, I can see one entry that is being increased +=1 on `attempt` every x minutes:

[code]

At the moment I have two attempts. If I look in `queue.log` I see two `[error]` logged, which corresponds with the number of retries on the job.

[2019-08-12 12:20] nitech commented on #241
It is certainly related to oEmbed. Have a look at https://github.com/wrav/oembed/issues/17

[2019-08-12 12:20] #241 closed

[2019-08-12 12:21] nitech opened #242 "Duplicated blocks when changing propagation method"
#### Description
I believe this problem has arisen when I changed a section's propagation method from `Only save entries to the site they were created in` to `Save entries to all sites enabled for this section`

My Craft CMS has four sites.
The content was originally created in the first site.
The three latter sites were introduced after the content was created

When I change propagation method to

[2019-08-12 18:16] louderthan10 opened #243 "Blocks being rendered multiple times on front-end"
#### Description
After updating to Neo 2.4.2, on some Structures, all the of the blocks are being repeated several times when rendered on the page (no extra blocks being created in the entry itself… those look fine).

#### Steps to reproduce
1. Have a multi-site Craft install with multiple sites
2. Create a Structure that's used in multiple sites
3. Upgrade Neo

I've also tried switching the Struc

[2019-08-13 06:21] nitech commented on #243
It sounds like it's related to this issue https://github.com/spicywebau/craft-neo/issues/242

Are the duplicated content visible inside the editor - or only on the front end? On my site, some of the duplicates on the front end are also visible in the editor, while others are only visible on the front end.

[2019-08-13 13:21] nitech commented on #242
As a side note, I also experience that the block appear and disappear in the editor seemingly randomly. I can open an entry and everything but the title is missing. I click save - and suddenly the blocks reappear.

I also experience that I've added a whole lot of blocks on a few different sites - and when I revisit one of the previous sites, the blocks are suddenly totally gone - and won't appear

[2019-08-14 06:28] nitech commented on #242
I think this bug is related to these issues: https://github.com/spicywebau/craft-neo/issues/174 https://github.com/spicywebau/craft-neo/issues/227

It looks like the bug has been fixed, and that I am kind of caught between a rock and a hard place because I upgraded to Craft 3.2 and corresponding Neo upgrades prior to the bug being fixed.

[2019-08-14 18:34] louderthan10 commented on #243
Yeah, I figured that the issues might be related, but wasn't sure because, as far as I can see at least, I'm only getting dupes on the front-end. I don't see any duplicate blocks in the entries in the editor. Also, this happened before switching the propagation method (though the field was set to manage blocks on a per-site basis pre-upgrade).

[2019-08-14 18:36] nitech commented on #242
Or not. I tried upgrading from a 3.1 database, and even if I first upgraded the 3rd party plugins like craft-neo and then Craft CMS, I still got the duplicates.

Which means I was kind of stuck with the "broken" database. I did some more testing, and have figured out that when duplicates or no blocks at all are shown, just click  _save_ once and see if the duplicates don't disappear and the missin

[2019-08-14 19:02] nitech commented on #243
Ah, nice to see life signs from others with the same or similar problem. I've really been banging my head against the wall the last two days trying to find a solution - or at least a logic to when and why this is happening.

On the positive side, I've started diving into the database structure of Craft CMS, and I like what I see.

[2019-08-14 22:30] pvldigital commented on #242
Hi @nitech,

Sorry about the silence, been really busy working on another project for the last week.

I'll have a look at the issue today.

[2019-08-15 03:59] pvldigital commented on #242
Hey @nitech,

Update: I've made the fixes on my forked repo here: https://github.com/pvldigital/craft-neo/commits/master

We're testing it now so hopefully it will be released soon.

*Note: If you have a **local** version of your craft setup then you should be able test the changes using the repo I linked.

[2019-08-15 06:22] nitech commented on #242
Thank you so much @pvldigital. I have the deepest understanding for being busy.

I do have a local version - but because of time strain (the site goes live today because it is for a conference that starts on monday..!) I just have to push the site to production now, and get back to testing the updated Neo plugin after that.

[2019-08-15 09:04] nitech commented on #242
Can you help me along with an example command for installing that particular fork? I don't yet know enough about how to use composer.

[2019-08-15 09:46] pvldigital commented on #242
Hi @nitech,

Have a look at this article: https://nystudio107.com/blog/so-you-wanna-make-a-craft-3-plugin. If you search `Adding our plugin` in that article it'll redirect you the method to add a local repo to craft.

You'll need to clone/download the plugin and place it on your local machine first. You'll then link it using the method in the article.

[2019-08-15 13:49] nitech commented on #242
Here are some additional screenshots that illustrate the problem:

![image](https://user-images.githubusercontent.com/1279436/63098527-6188a480-bf73-11e9-9e1d-411bde3778a2.png)

![image](https://user-images.githubusercontent.com/1279436/63098619-8e3cbc00-bf73-11e9-9327-6fd71ced948f.png)

When I then click "save", everything goes bananas. Craft admin sometimes will redirect to the current entry on

[2019-08-15 21:14] pvldigital commented on #242
Is this occurring with the forked repo?

Make sure to check the composer lock file (open and find “craft-neo”) and see if it’s using the symlinked version (it should should the relative/absolute path to the plugin).

I’ve been testing with the forked repo and the issue with the missing blocks and such isn’t occurring for me.

[2019-08-16 04:05] pvldigital commented on #242
@nitech I've made a release for the fix.

What i suggest when saving an entry with the problem.
1. Enter an entry to edit
2. Delete any orphan blocks (like your image is shown)
3. Make sure the content and structure of the blocks is correct
4. Save entry.

This should correctly save the entry and duplicate the blocks to the other sites.

If the orphan child still appears then I recommend rebuildin

[2019-08-16 09:20] nitech commented on #242
Yes. My chains are gone. Thank you so much.

Perhaps this release also fixes https://github.com/spicywebau/craft-neo/issues/243

[2019-08-16 13:04] pvldigital commented on #242
Awesome, good to know it's working for you. Release v2.4.3 should be issue #243 as well.

[2019-08-16 13:04] #242 closed

[2019-08-16 13:05] pvldigital commented on #243
Hi @louderthan10,

This issue should be fixed in Release v2.4.3.

[2019-08-16 21:11] louderthan10 commented on #243
@pvldigital Still getting the same issue over here after updating. Adding an example image:

Left is current live site (pre-upgrade) VS Right is local site (imported database from live, then upgraded Neo and Craft… this keeps repeat several times down the page)

![Live vs local + upgrade](https://user-images.githubusercontent.com/49751/63195788-6eb39b00-c028-11e9-8dbd-32bc8703f54d.png)

The editin

[2019-08-16 21:21] louderthan10 commented on #243
Okay the really weird thing is that the entry Preview looks perfect while editing. It's just the published version on the front-end that gets messed up.

[2019-08-17 09:40] pvldigital commented on #243
@louderthan10 Hmm that's strange. Can you try changing the neo field propagation method to another option and then back?

*Make sure neo field resaving queue job is completed after each option change.

[2019-08-19 05:32] seichenberger opened #246 "Language Problem with Draft Mode"
#### Description
On a translated site with a neo field (whole neo field is not translatable, but with most of its fields set to translatable): When first saved in draft mode and then updated, the neo field content of the translated site is transferred to the other language versions as well.
E.g. on a page that is translateable in english and french: If french version is opened, neo field content i

[2019-08-19 14:11] michaelhue commented on #243
@louderthan10 Do you use eager loading for the Neo field? I have similar problems with duplicated and unordered blocks, but only when using eager loading.

The template code could be useful to debug the issue.

[2019-08-19 18:24] louderthan10 commented on #243
@pvldigital Tried saving the field to "Only save blocks to the site they were created in", then waiting for the Neo fields to resave… same result on the front-end. Then switched back to "Save blocks to other sites in the same site group" and waited for the Neo blocks to resave… and same result.

---

@michaelhue Yes! I am using eager loading. Here's my Neo field template code (local version has te

[2019-08-19 18:34] louderthan10 commented on #243
Update: After looking closer at the Craft task list, I had a _huge_ list of failed tasks (including resaving Neo fields)… most were failed search engine indexing.

<img width="312" alt="Screen Shot 2019-08-19 at 11 26 01" src="https://user-images.githubusercontent.com/49751/63289824-e413ab80-c274-11e9-906d-74a95dacc455.png">

Then I went into the database and cleared out the craft queue table, the

[2019-08-19 20:28] pvldigital commented on #243
Can you check the queue logs and send the stack trace of the issue?

Nope, `use this fields values as search keywords` shouldn’t matter for content to be indexed

[2019-08-19 20:36] pvldigital commented on #246
Hi @seichenberger, can you change the propagation method for the neo field to: `Only save blocks to the site they were created in`.

This will allow you to save different block content for each site and won’t propagate/copy to the other sites.

If you have a local or staging then I recommend testing it on there first.

[2019-08-19 22:23] louderthan10 commented on #243
Alright, uploaded my log files in the attached zip.

The web.log is isolated to one page load of that resources page. The queue log is so massive that one field save far exceeds 6 queue.log files so I tried to grab it right when the Neo saving task kicks in and first creates a log file (queu-start.log.1) and the log file right when the task fails (queue-end.log).

Let me know if I can narrow this

[2019-08-19 22:56] pvldigital commented on #243
Thanks for that @louderthan10. I had a look and it seems like it's mainly for the search index queue job.

Within the queue logs, can you look for something like this: `[-][1][-][info][craft\queue\QueueLogBehavior::afterExec]  [####] Resaving neo blocks  (attempt: 1)`. It should provide you with the error after this.

*#### should be numbers.

[2019-08-19 23:10] pvldigital commented on #234
@davidhellmann with >2.4.0 you'll have to select the propagation method `Only save blocks to the site they were created in`

[2019-08-19 23:10] #234 closed

[2019-08-20 02:46] louderthan10 commented on #243
@pvldigital Gotcha! Okay, So managed to copy a bunch of log files to see if I could catch the whole task. I just renamed them in order starting from the `Resaving neo blocks (attempt: 1)` line in `01queue.log`. Let me know if I didn't catch the whole thing.

[lt10.zip](https://github.com/spicywebau/craft-neo/files/3518446/lt10.zip)

[2019-08-20 03:07] pvldigital commented on #243
@louderthan10 thanks again for the logs.

It seems like the resaving of the neo blocks is failing because of supertables.
Error:
`2019-08-19 19:09:51 [-][1][-][error][craft\queue\QueueLogBehavior::afterError]  [555375] Resaving neo blocks (attempt: 1) - Error (time: 64.243s): Invalid owner ID: 12924`

`2019-08-19 19:09:51 [-][1][-][error][yii\base\InvalidConfigException] yii\base\InvalidConfigExce

[2019-08-20 05:15] seichenberger commented on #246
Hi
Thanks for your reply. As far as I understand the recommended "save blocks
to the site they were created in" would not fulfill my requirements. I need
the same blocks or block structure in all sites/languages. Just the content
of the fields must be different.
The problem that occurs comes from a) the preview mode switching
automatically to a draft version (a craft issue) and b) when choosing
"u

[2019-08-20 07:17] pvldigital commented on #246
Ah I have a clearer understanding of the issue now. So on a draft publish, the block translations is not being respected and content is getting overridden.

I’ll see what I can do.

[2019-08-20 12:50] nitech commented on #239
I am afraid this still happens once in a while; when I edit an entry the text in the current entry gets propagated on all sites that share the entry, despite the propagation method being "language".

In my setup I have two site groups with the following setup:

- Site Group A
  - Site A - Norwegian
- Site Group B
  - Site B - Norwegian
  - Site C - English
  - Site D - Spanish

My experience is th

[2019-08-20 14:59] jlachancekffein opened #247 "Duplicate blocks when using eager loading"
For some unknown reason, the query result using the Neo plugin using the eager loading returns duplicate blocks.

We have always used the eager load in connection with Neo in all our projects without problem.

Here is an example of a problem using globals with a Neo field (search_bloc)

[code]

The output of the $debug variable :

[code]

We can clearly see that the block is duplicate 3 times with

[2019-08-20 22:58] pvldigital commented on #247
@jlachancekffein hmm I'm sure eager-loading still functions the same. I'll look into it after #243.

[2019-08-20 23:00] pvldigital commented on #239
@nitech the issue does sound similar to #243. if you have more info/logs, can you post it to that thread or create a new one.

[2019-08-20 23:17] louderthan10 commented on #243
@pvldigital Even if the Neo fields don't auto-resave, shouldn't the page go back to normal after manually resaving it?

[2019-08-21 01:18] pvldigital commented on #247
@jlachancekffein i've made a change on how eagerloading retrieves the blocks in my fork of neo: https://github.com/pvldigital/craft-neo

You can test it by cloning the repo changing the require for neo to `"spicyweb/craft-neo": "^2.4.4",` and add the path to the clone repo.
e.g:
[code]

[2019-08-21 01:24] pvldigital commented on #243
@louderthan10 changing the neo field propagation resaves the fields so it's not the same as manually saving the entry.

I didn't see that you were using eager loading for the neo fields. The duplicate block on the front end was probably an issue with eager loading.

I've made a change on how eagerloading retrieves the blocks in my fork of neo: https://github.com/pvldigital/craft-neo

You can test

[2019-08-21 03:15] louderthan10 commented on #243
@pvldigital That worked! Everything's loading correctly again.

[2019-08-21 03:20] pvldigital commented on #243
@louderthan10 Awesome, good to know it's working. I'll make a release for it soon after some further testing and when I'm done fixing another issue.

[2019-08-21 06:16] pvldigital commented on #243
@louderthan10 v2.4.4 is now released. this should fix the issues with the duplicating blocks.

[2019-08-21 06:16] #243 closed

[2019-08-21 06:17] pvldigital commented on #247
@jlachancekffein v2.4.4 is now released. It should fix the issue with duplicated content like #243

[2019-08-21 06:17] #247 closed

[2019-08-21 06:29] pvldigital commented on #239
@nitech this issue has been fixed with the latest release. it was not related to 243.

[2019-08-21 06:49] nitech commented on #239
Thanks @pvldigital. I will update immediately and report back if I see it reoccurring. Awesome work!

[2019-08-21 13:21] timkelty opened #249 "Cannot delete Neo field with nested block types"
Deleting a NEO field with _nested block types_ will throw an error. If you delete all the nested block types, then try and delete it will succeed.

[code]

I get the same error if I try and delete a _parent_ block type (leaving the children), and try and save the field.

Looks similar to https://github.com/spicywebau/craft-neo/issues/135 and https://github.com/spicywebau/craft-neo/issues/194, but

[2019-08-21 13:28] timkelty commented on #249
Similarly, I get the same error if I try and delete a _parent_ block type (leaving the childen), and try and save.

[2019-08-21 22:20] pvldigital commented on #249
Hi @timkelty,

Is the stack trace similar to #135?

[2019-08-22 00:13] pvldigital commented on #246
Hi @seichenberger, I've added a fix for this issue and it will be released soon.

In the mean time you can test it by using my forked repo: https://github.com/pvldigital/craft-neo

You can test it by cloning the repo, changing the require for neo to `"spicyweb/craft-neo": "^2.4.5",` and add the path to the clone repo. (on local or staging)
e.g:
[code]

[2019-08-22 18:59] vandres commented on #27
@ttempleton @pvldigital What is the state of this issue? It always gets postponed...

[2019-08-22 22:17] ttempleton commented on #27
Hi @vandres,

I opened pull request #222 a little while ago with more progress on this feature.  I've parted ways with @spicywebau since my last comment on this issue, so I can't give you an idea of when they'll complete and release this feature, sorry; but as a Neo fan, I, too, am looking forward to this feature being released!

[2019-08-22 22:20] vandres commented on #27
@ttempleton oh, sorry to hear. I hope you are fine?! Then lets hope somebody else take it up at @spicywebau

[2019-08-22 22:40] pvldigital commented on #27
Hi @vandres,

We're still looking into implementing multi level orders. It's just been slow because of the craft 3.2 update and the issues that arises from it.

@ttempleton i'll have a look at the PR soon.

[2019-08-23 01:04] ttempleton commented on #27
@pvldigital Thanks!

@vandres Thanks for your concern!  I am fine; to clarify, I returned to studying and decided to focus on that for a while.

For now, [I've set up a branch on my Neo fork](https://github.com/ttempleton/craft-neo/tree/multilevel-drag-sort-testing) with the updates from #222 merged in with the latest version of Neo for Craft 3.2.  If you'd like to try out the updates from #222, s

[2019-08-23 16:33] texasbaptists opened #250 "Neo `fieldLayouts` are removed from `project.yaml`"
#### Description

When running `./craft project-config/rebuild` Neo `fieldLayouts` are removed from `project.yaml.

#### Steps to reproduce
1. Build a Neo Field and set up the Field Layout tab on each block.
2. Compare changes in `project.yaml` with a previous version.
3. Run `./craft project-config/rebuild`.
2. Compare changes in `project.yaml` with version after building the Neo FIeld.

#### Oth

[2019-08-23 17:24] texasbaptists commented on #217
I believe this is happening with my project too. When pushing a change to a staging server, Forge send this error:
[code]

[2019-08-26 13:37] timkelty commented on #249
@pvldigital here's the trace:

[code]

[2019-08-28 07:52] mediabeastnz commented on #173
+1 now that 3.3 is out

[2019-08-29 09:17] pvldigital commented on #249
Hi @timkelty, thanks for that. I've successfully replicated the issue and currently working on a fix. Will keep you updated on the progress.

[2019-08-29 13:14] Jones-S commented on #173
Is this already available?
I really need NEO fields in GraphQL :).

[2019-08-30 02:26] pvldigital commented on #246
@seichenberger this issue should be fixed in release v2.4.5

[2019-08-30 02:26] #246 closed

[2019-08-30 02:26] pvldigital commented on #249
@timkelty this issue should be fixed in release v2.4.5

[2019-08-30 05:30] pvldigital commented on #225
@joao-proenca-ef this issue is resolved in the latest releases. neo will respect the individual fields translation

[2019-08-30 05:30] #225 closed

[2019-08-30 13:00] Jones-S opened #252 "GraphQL Support in Craft 3.3"
Now that Craft 3.3 is out with core GraphQL Service, will you add GraphQL support soon?
Or is there a beta version I could use until you have a new release of your plugin?

Cheers

#### Other information
- Neo version: 2.3.6
- Craft version: 3.3

[2019-09-02 22:12] pvldigital commented on #252
Hi @Jones-S,

Since GraphQL is now a core feature of Craft we'll be updating neo to support it. It's still in development so i'll give you a heads up when it's about to be released.

[2019-09-03 18:59] sgtpenguin commented on #252
Hey @pvldigital.  This is great news!  Any idea of a rough timeline?  I'd also be interested in an alpha/beta situation when that becomes available.

[2019-09-04 23:05] pvldigital commented on #252
Hi @sgtpenguin, I would say at the end of this month, maybe? there's no definitive timeline as of yet but i'll try to get it up by the end of this month. I will keep everyone updated on the progress.

[2019-09-09 12:55] Osze opened #253 "Deleting 1 block type --> Deletes ALL block types"
#### Description
I've just upgraded to the latest version of Craft and NEO. After upgrade I deleted a block type in a large NEO Field (+40 block types).
When I clicked Save all Block Types where gone. Only the Group Names where left. ;)

#### Steps to reproduce
1. Deleting a Block Type in a large Neo Field.
2. All Block Types gets deleted after save. (Thankfully I saved my DB)

#### Other informat

[2019-09-09 15:24] eliseferguson commented on #253
Just came here to report the same error.

Reproduced on:
Craft CMS 3.3.0.1
Neo 2.4.5

[2019-09-09 17:21] zizther opened #254 "Unable to find the template “_components/fieldtypes/Assets/input” with Neo and Craft 3.3.1.2"
#### Description
Since upgrading to Craft 3.3.1.2 Neo is causing an error where an assets field is in a Neo block.
The error shows as `Unable to find the template “_components/fieldtypes/Assets/input”`

I have disabled Neo and the entry shows fine in the CP.

This issue is only seen in the CP, not on the frontend.
There was no issue when using Craft 3.3.01

#### Steps to reproduce
1. Create a neo

[2019-09-09 18:53] Jones-S commented on #173
I really like @tomfrew s approach but it was some time back and I wanted to make sure I have the newest neo version and on top the changes from @markhuot.
So I made another fork, added the PR manually (I did not know how to merge an already merged PR... couldn't pull it) and published here:
https://github.com/wearelucid/craft-neo/

My composer looks like this:
[code]
Note also that I am still on c

[2019-09-09 23:33] pvldigital commented on #253
Hi @Osze and @eliseferguson, I've reverted the changes to the `handleDeletedBlockType` function which causes the issue. Release v2.4.6 should fix the problem.

Can you both confirm that it works?

[2019-09-10 00:10] pvldigital commented on #254
Hi @zizther, I'm unable to replicate this issue. Can you send me the stack trace of it?

[2019-09-10 00:28] #249 closed

[2019-09-10 05:44] Osze commented on #253
It Works!

Thank you very much for the quick fix!

[2019-09-10 05:44] #253 closed

[2019-09-10 06:50] SamNewism opened #255 "Field Labels error when saving after updating to 2.4.6"
#### Description
I updated Craft and Neo and now I can't save my Neo fields. I posted the stack trace below.

#### Steps to reproduce
1. Create field as Neo type
2. Update Neo from 2.4.4 to 2.4.6
3. Attempt to save the Neo field

#### Other information
- Neo version: 2.4.6
- Craft version: 3.3.1.2
- Is the affected Craft installation multi-site: Yes
- (if multi-site) Are the affected Neo fields se

[2019-09-10 07:44] #255 closed

[2019-09-10 07:47] pvldigital commented on #255
Hi @SamNewism, looks like this issue was caused by the field labels integration update PR. I've reverted the change now in release v2.4.7

[2019-09-10 08:51] zizther commented on #254
@pvldigital Thanks. Here is the stack trace.

[code]

[2019-09-10 09:01] zizther commented on #254
I don't know if it has anything to do with Neo having Matrix fields with Assets fields within them.

[2019-09-10 13:36] eliseferguson commented on #253
Confirmed, worked for me as well.

[2019-09-11 07:08] pvldigital commented on #254
strange i've been trying to replicate and still haven't been able to, even with assets within a matrix field within neo.

is there any nonstandard fields you're using?

[2019-09-11 12:21] zizther commented on #254
There are no special fields being used in this Neo or Matrix fields.

I am using plugins, which are listed below. I have tried disabling all of them besides Neo, but the issue remains.

Only disabling the Neo plugin allows me to see the pages with the Neo field in them without any errors. But then obviously the field and field content won't show.

I have removed the vendor folder and composer.lock

[2019-09-11 12:25] zizther commented on #254
Some good news.
I downgraded to Craft 3.3.1.1 down from 3.3.1.2 and I don't get the error anymore.

So something in Craft 3.3.1.2 is causing the issue.

[2019-09-11 14:26] N0ps32 commented on #254
We have the same issue!

[2019-09-11 16:51] brandonkelly commented on #254
We just released Craft 3.3.2 with a fix for this. (craftcms/cms@bdd484a674c6898d50fdb9f47b9ed2d2a2ca38b4)

[2019-09-11 17:16] zizther commented on #254
Amazing, thanks Brandon

[2019-09-11 20:23] pvldigital commented on #254
Ah so it was something related to craft. Good to know it’s fixed. Thanks @brandonkelly

[2019-09-11 20:23] #254 closed

[2019-09-11 22:28] pvldigital commented on #252
Progress update:

GraphQL now outputs the neo field and its data but the structure for it is incorrect. Will continue working on it and keep you all updated.

[2019-09-12 20:08] bryantAXS opened #256 "Ability to "view" images or examples of blocks when selecting."
Hey guys, I wanted to bring something up and see if you had any thoughts for a potential feature, or a way Neo could be extended.

A problem we run into a lot is that our Neo fields contain a large number of blocks, and the block selector ends up being this massive list of hard to identify terms. eg "Content With Image", "Gallery Listing Left", "Gallery With Text", etc...

I'm wondering what could

[2019-09-13 22:50] SwiseWeb commented on #232
FWIW, I just ran into this issue as well. Steps to reproduce:

1. Create a `Neo` field
2. Save `Neo` field
3. Convert that `Neo` field to a `Matrix` field
4. Edit a different `Neo` field, note the JS issue mentioned above
5. Delete the converted `Matrix` field
6. Neo editor is back to normal without the JS issue

[2019-09-17 05:19] SwiseWeb commented on #250
I can confirm the same issue with the following setup:

**Other information**
- Neo version: 2.4.7
- Craft version: 3.3.2
- Is the affected Craft installation multi-site: no
- Is eager-loading used? no

[2019-09-17 21:09] aaronbushnell opened #257 "Handling "Lock wait timeout exceeded" errors when saving entries with numerous Neo modules"
#### Description
I have a couple Craft entries that use Neo pretty extensively and—upon save—throw the following error:

[code]

Currently our `innodb_lock_wait_timeout` is set to `50` and that _seems_ like it'd be enough time to process any entry with Neo fields, even ones using it pretty extensively.

Is this a common problem? Anything that might help us optimize things a bit? Or do we need to r

[2019-09-17 22:29] ca-miked commented on #252
Hi,  I'm running a headless craft + GraphQL + react stack for a new site build that is fast approaching launch. I'm trying to determine whether i need to pivot over to the elements rest api or if you're update for native GQL support will happen in time.

Don't want you to feel pressured, just wondering if your end of the month or sooner ETA still looks intact? Thanks again for all the efforts on a

[2019-09-17 22:52] pvldigital commented on #252
Hi @ca-miked, it's still on track to be released the end of the month. But I do have other issues and projects to work on, which could cause a delay. I'll give a heads up if it does get delayed.

Update on progress:
Single level blocks works and returns the correct structure. There's currently issues with multi level blocks, which I'm currently working on.

[2019-09-17 22:54] ca-miked commented on #252
Thanks for the update!

[2019-09-17 22:54] pvldigital commented on #232
Hi @SwiseWeb,

Thats for listing the steps. I'll try to replicate it and see what I can do.

[2019-09-18 00:26] #232 closed

[2019-09-20 00:51] pvldigital commented on #257
Hi @aaronbushnell, `50` should be enough when saving an entry with neo.

Can you estimate how many blocks are within the entry that's being saved? A huge amount of blocks being saved would extend the time needed which is most likely the issue.

For now, increasing the time to `120` or higher should be enough time to allow the entry to be saved.

[2019-09-20 00:56] aaronbushnell commented on #257
Thanks for the recommendation! Let me try that and I’ll get back to you on what happens with that adjustment.

[2019-09-20 01:07] pvldigital commented on #252
Hi Everyone,

I have created a new branch called `feature\graphql` which includes the grahpql implementation for neo. You can have a look and test it using that branch.

** If you do test it and there's some problems, create a new issue with [GraphQL beta] in the title

I'm going to continue testing it and hopefully release it some time next week.

----

How to:

Let's say you have a neo field cal

[2019-09-23 04:56] pvldigital commented on #252
With v2.5.0, GraphQL support has been added.

If you're seeing an error like: `Schema must contain unique named types but contains multiple types named...`, add the below to the query.

[code]

For some reason when updating from craft 3.3.2 -> latest, it creates that error. Added the above, query and then removing fixes it.

[2019-09-23 05:14] pvldigital commented on #257
Hi @aaronbushnell, I'm closing this issue for now. If it continues happening i'll have a further look into the issue.

[2019-09-23 19:30] ca-miked opened #263 "GraphQL Unexpected children query behaviour"
#### Description
I have a 3 level Neo field defined as follows:

When querying `Department->Layout->children[]` I'm getting _ALL_ `Media` items instead of the items constrained to the ancestral `Department->Layout`.

Am I setting up my BlockTypes incorrectly or is this potentially a bug?

#### Steps to reproduce
1. Create a 3 tier field hierarchy
2. Limit ChildBlocks as per the above
3. Query `chi

[2019-09-23 20:56] ca-miked commented on #263
Here's some output to demonstrate, note the same IDs

[code]

[2019-09-23 20:58] ca-miked commented on #263
Here's the expected output

[code]

[2019-09-23 21:00] ca-miked commented on #263
In all fairness perhaps what I'm expecting is more of native Matrix functionality vs NEO. Any guidance/thoughts/feedback welcome. Thanks again for a great plugin!

[2019-09-23 22:24] pvldigital commented on #263
Hi @ca-miked, Thanks for all the info. I'll have a look at this issue this morning.

[2019-09-23 23:14] #263 closed

[2019-09-24 10:07] andrewfairlie opened #264 "Continued support in Craft 4"
With Craft 4 supporting nested matrix blocks, we are evaluating whether it's safe to use Neo on a new website or if that would lead to problems upgrading next year.

I know it's early days, but is Neo planned to be supported in Craft 4?

[2019-09-25 00:31] tonysambell commented on #264
@andrewfairlie
Back in Feb 2019, everyone at Spicy Web was definitely pleased and excited to hear about the features planned for Craft and particularly for Matrix fields in future versions of Craft, including nested Matrix fields. At this stage, though, we feel that Neo would still offer enough in terms of features and convenience that it would continue to stand as its own field type in Craft 4.
E

[2019-09-25 07:45] andrewfairlie commented on #264
Fantastic, thank you Tony.

[2019-09-25 16:12] 23d1 commented on #264
Pixel & Tonic should just acquire Neo from you guys and make it part of the core. It's basically impossible to build a site in Craft without it (which is also why I wish it was free, or had an unlimited sites developer license). :)

[2019-09-25 16:31] ca-miked commented on #264
Glad you guys are gonna keep NEO going through v4. I also agree it is indispensable in building craft sites - keep up the great work and thanks. 👍 💪 💥

MIKE DUNLOP / 323.461.3696 [tel://323.461.3696] / 6422 SELMA HOLLYWOOD CA 90028 / CONCEPTARTS.COM [http://www.conceptarts.com/]
On Wed, Sep 25, 2019 at 9:12 AM, Anders Svensson <notifications@github.com> wrote:
Pixel & Tonic should just acquire Neo

[2019-09-26 05:51] pvldigital commented on #218
Thanks. However this is now not applicable for the latest version.

[2019-09-26 05:51] #218 closed

[2019-09-26 06:17] umkasanki opened #265 "Updated fields not synced correctly"
#### Description
I added a new dropdown field to a previously created neo field on my local machine. After that, I send the project file to the staging server and start the synchronization. A new field does not appear.
Also, I tried to rebuild my project.yamls before adding field and before sync... It's not helped me too.

**Local:**
![изображение](https://user-images.githubusercontent.com/496132/

[2019-09-26 06:24] pvldigital commented on #265
Hi @umkasanki,

Thanks but don't worry about the backups for now.

Can you check to see if `fieldLayouts` is under `neoBlockTypes` within the project.yaml file?

This issue might be related to #250.

[2019-09-26 10:02] punkch commented on #250
I am experiencing the issue while doing `craft project-sync/rebuild`. All the Neo fieldLayouts were removed from the project.yaml. The reason I've needed the rebuild, is because Neo was generating new uids for the fieldLayouts on change.

#### Other information
- Neo version: 2.4.7 & 2.5.1
- Craft version: 3.3.4. & 3.3.5
- Is the affected Craft installation multi-site: no
- Is eager-loading used?

[2019-09-26 13:38] epic-elise opened #266 "Feature request - instructions/helper text available for each block"
Just wondering if the addition of instructions/helper text for each block inside the Neo field would ever be a future feature?

I can add text to individual fields (eg. Image) but sometimes the usage of that field differs from block to block within the Neo field itself.  In order to maintain a more streamlined system my team prefers to not have separate "image" fields for a background versus a ico

[2019-09-27 15:36] jmverges commented on #265
same here

[2019-09-27 15:36] jmverges commented on #250
Same here

[2019-09-30 01:00] pvldigital commented on #265
thanks @umkasanki.

@jmverges I'll be looking into this issue today.

[2019-09-30 05:38] pvldigital commented on #266
Hi @epic-elise,

You could use our other plugin [Field Labels](https://github.com/spicywebau/craft-fieldlabels) for that functionality. That plugin will allow you to change the name and instructions of that field.

[2019-09-30 05:44] #250 closed

[2019-09-30 06:03] pvldigital commented on #265
Hi @umkasanki,

Could you rebuild on your local machine first after getting the latest build, send it to staging and then sync? See if that works for you.

[2019-09-30 06:18] pvldigital commented on #240
Hi @nitech,

I'm unable to replicate this issue. I'll close it for now since it's more than a month old. However if this issue still occurs then reopen it.

[2019-09-30 06:18] #240 closed

[2019-09-30 06:40] P233 opened #268 "GraphQL query issue with Gatsby (Did not fetch typename for object, unable to resolve interface.)"
#### Description

I am building a new site with Craft as a headless CMS and Gatsby static site generator.

In the Craft built-in GraphQL IDE, I fixed the `Schema must contain unique named types but contains multiple types named...` issue by adding the scheme checking query.

Here is a working query example:

[code]

However, when I query the same thing in Gatsby GraphQL IDE, I got an error message

[2019-09-30 06:44] P233 commented on #268
Here is the error message from the Gatsby GraphQL IDE:

[code]

[2019-09-30 06:51] umkasanki commented on #265
Yes. I have already tried this approach. sometimes it helps, and sometimes not. and this does not solve the problem. Because A synchronization error occurs quite often when updating previously created fields. Besides the fact that new fields are not added, the content of child fields often disappears.. ((

**Local:**
![изображение](https://user-images.githubusercontent.com/496132/65855382-a6bc3680

[2019-09-30 07:45] nitech commented on #240
I believe it was fixed by one of the releases after Craft 3.2

[2019-09-30 13:27] epic-elise commented on #266
Okay this is perfect, thanks for pointing it out!

[2019-09-30 13:27] #266 closed

[2019-09-30 22:24] pvldigital commented on #268
Hi @P233,

It could be something related to this:
https://github.com/apollographql/graphql-tools/issues/441#issuecomment-345423403

Can you try the fix above and see if it works for you?

[2019-10-01 12:58] P233 commented on #268
@pvldigital Thank you! I tested it, but that's not working.

Maybe this issue is not related to craft-neo. I'll close it and see if I could find any solution.

[2019-10-01 12:58] #268 closed

[2019-10-01 19:01] jmverges opened #269 "Integrity constraint violation: Duplicate entry when project-config/sync"
#### Description

./craft project-config/sync
Installing plugin "architect" ... done
Applying changes from project.yaml ... error: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'hero-1' for key 'neoblocktypes_handle_fieldId_unq_idx'
The SQL being executed was: INSERT INTO `neoblocktypes` (`fieldId`, `name`, `handle`, `sortOrder`, `maxBlocks`, `maxChildBlocks`, `childBlocks`

[2019-10-03 14:25] Jones-S commented on #173
Do you think when using the core graphql this is resolved? (Meaning with the newest version: 2.5.3) (I can't update yet, so I can't test the __typename thing, because of some other dependencies not supporting the core graphql.. but maybe someone knows)...

[2019-10-03 23:03] pvldigital commented on #265
Hi @umkasanki,

Strange, I'm unable to replicate the issue.

Could you send through your composer lock file and any other relevant files to plugins@spicyweb.com.au?

[2019-10-08 05:51] P233 commented on #252
I just found that we can also query the `__typename` for `__schema`,  so we won't have the long types list in the return data.

[code]

[2019-10-08 10:02] mdominguez commented on #246
When is v2.4.5 going to be released?

[2019-10-08 10:09] mdominguez commented on #246
Added a screencast here => [view screencast](https://cl.ly/72ca869b2246)

[2019-10-08 10:28] mdominguez opened #270 "Saving and publishing drafts causes content on another site to be overwritten"
[view screencast](https://cl.ly/72ca869b2246)

It is probably related to #246 but the issue is closed mentioning it should have been fixed in version 2.4.5, but still occurs in version 2.5.3.

Thanks for looking into this, one of our clients sites has lost a tremendous amount of already translated content like this and had to stop content editing until it gets fixed...

#### Other information
- Ne

[2019-10-08 12:30] P233 commented on #268
@pvldigital Downgrading Craft to version `3.3.2` solves this issue. It is probably a bug of Craft.

[2019-10-08 16:55] dangayle commented on #252
A fix for this has been made upstream in CraftCMS, but Neo needs to adapt to it:

https://github.com/craftcms/cms/issues/5067

[2019-10-08 23:20] pvldigital commented on #252
@dangayle thanks for letting me know. I will implement the changes.

[2019-10-08 23:59] pvldigital commented on #252
Done with the changes. I'll make a release for it soon.

[2019-10-08 23:59] #252 closed

[2019-10-09 04:28] pvldigital commented on #270
Hi @mdominguez, I have replicated the issue and working on a fix now.

[2019-10-11 04:47] pvldigital commented on #269
Hi @jmverges,

I've been trying to replicate the issue but wasn't able to. Can you me the trace log file to plugins@spicyweb.com.au? Can you also list out the other plugins you've used in conjunction with neo.

[2019-10-11 04:49] pvldigital commented on #265
Hi @umkasanki, i'll close this issue for now since it was indicated by your email that it hasn't appeared again. If it does happen again please leave a message and reopen this issue.

[2019-10-11 04:49] #265 closed

[2019-10-11 04:56] pvldigital commented on #270
Hi @mdominguez, this issue should be fixed with release v2.5.4.

[2019-10-11 04:56] #270 closed

[2019-10-11 11:58] jmverges commented on #269
Hi @pvldigital ,

thanks for your response. I will as soon as I'm with it, probably on Monday.

Regards

[2019-10-11 20:23] dangayle opened #271 "Nested Neo fields?"
I know it's probably not a good idea and I'm asking for trouble, but is there any way to do it?

[2019-10-13 21:37] pvldigital commented on #271
Hi @dangayle,

I had a chat with one of the previous devs about the issue and basically Neo was only ever designed to work at the top level and was never meant to be nested. You can have a look at issue #101 and the original devs reply since it also applies here.

It's something we can look into for future versions of the plugin but currently have no plans for it.

[2019-10-13 21:37] #271 closed

[2019-10-14 14:47] Jones-S opened #272 "GraphQL Error: Schema must contain unique named types but contains multiple types named"
#### Description
When querying a neo field like (pageBuilder = Neo Field), where I have a blocktype `standardSection` with a title:

[code]

I would get this in return:

[code]

I realize that this problem was addressed in another post already:
https://github.com/spicywebau/craft-neo/issues/268

Indeed downgrading to 3.3.2 worked, but I also read here:
https://github.com/craftcms/cms/issues/5067
T

[2019-10-14 16:46] Jones-S opened #273 "Craft 3: Not receiving neo content from graphql with live-preview token"
#### Description
I am setting up the preview part of my headless project and whenever I see a url param `'x-craft-live-preview'` I would load the content of my page via axios/graphql where I pass on the `token` and the `x-craft-live-preview` query to my graphql endpoint.
This gets me the latest draft of the entry I am requesting.
Not so for the neo field. I would just get an empty array (no blocks

[2019-10-15 01:10] pvldigital commented on #272
Hi @Jones-S,

The changes in https://github.com/craftcms/cms/issues/5067#issuecomment-539519135 has been made for neo. It was released in v2.5.4. Can you try upgrading and see if the error still occurs?

[2019-10-15 08:04] Jones-S commented on #272
Oh damn. Deeply sorry for that. Haven't checked if there was already another update. Thanks it works. 👍

[2019-10-15 08:04] #272 closed

[2019-10-15 18:12] ca-miked commented on #273
I'm seeing this behaviour as well. Was just about to post a ticket but Jones-s beat me to it.

[2019-10-15 23:18] pvldigital commented on #273
@ca-miked are you also using the `3.4.x-dev` branch?

[2019-10-15 23:48] ca-miked commented on #273
No, I'm running version: 3.3.10

[2019-10-16 00:12] pvldigital commented on #273
@ca-miked alright thanks

[2019-10-16 01:24] pvldigital commented on #273
I have committed a fix for this issue. It can be tested by changing the composer file to `"spicyweb/craft-neo": "dev-master",` and using `composer update`. Will be making a release for it soon.

@Jones-S @ca-miked

[2019-10-16 04:27] pvldigital commented on #273
release v2.5.5 should fix this issue.

[2019-10-16 04:27] #273 closed

[2019-10-17 14:14] N0ps32 opened #274 "Neo field fails to load when viewing a revision"
#### Description
I think I encountered a bug in Neo. When trying to access a revision of a page with a large Neo block in it it fails to load:

[code]

This line seems to cause the issue:
[code]

#### Steps to reproduce
1. Open entry
2. Open revision dropdown and select a revision

#### Other information
- Neo version: Neo 2.5.5
- Craft version: Craft Pro 3.3.11
- (if multi-site) Are the affected

[2019-10-17 21:23] #274 closed

[2019-10-17 21:29] pvldigital commented on #274
Hi @N0ps32,

A fix has been released for this issue in v2.5.6.

[2019-10-18 09:04] N0ps32 commented on #274
Thank you! That seems to have fixed the issue

[2019-10-31 14:30] twosixcode opened #280 "Error "Invalid owner ID" on saving some entries with Neo field"
#### Description

Updated Craft from 2 to 3. In Craft 3, on _some_ entries (not all), we get the following error when attempting to save the entry:

Some other, very similar entries in the same Section will save just fine.

We are able to take a non-saving entry and "Save as New Entry" and it works without issue. The new entry does not have the Invalid owner ID error on entry-save.

We are also ab

[2019-10-31 21:19] pvldigital commented on #280
Hi @twosixcode,

Can you send me the web log and composer.json files to plugins@spicyweb.com.au after receiving the error? It's going to be difficult to debug but i'll see what I can do.

[2019-11-04 23:08] twosixcode commented on #280
Thanks for the reply! I sent a copy of web.log and composer.json.

[2019-11-05 19:56] twosixcode commented on #120
In case it helps anyone else I'll just add here that we ran into this, too. Some neo blocks were being lost for us on a Craft 2 to 3 update. But taking Preparse out of the equation solved that issue for us.

[2019-11-05 21:17] pvldigital commented on #280
Hi @twosixcode,

I had a look at the web.log and it looks like it has something to do with the matrix field/block missing its owner id.

Can you give me more info on how it's laid out? e.g is there a matrix field within neo or does the entry have a matrix field separate from neo?

[2019-11-05 22:18] twosixcode commented on #280
Thanks. Yes, there are a 6 Matrix fields that are available for use in this particular Neo field layout (they are part of the Neo field). The Neo field layout includes 26 total block types. Some of those are used only as child blocks (not top level). I can provide a screenshot of the field settings, highlighting the block types that involve a Matrix field. Or is there a more useful format to provi

[2019-11-05 22:40] pvldigital commented on #280
Hmm I wonder if the issue is with the cached pages after upgrading to craft 3. Did you try fully clearing the cache and warming it again?

[2019-11-05 22:42] twosixcode commented on #280
See my edit to my previous comment. I'm having trouble even reproducing the original issue now. So seeing all the saves run fine with Blitz disabled may have been a red herring.

We've been actively working on this site right now so things are a bit in flux and I find I'm now unable to reproduce the original Invalid OnwerId issue, even though when I posted issue originally it was consistent. I wil

[2019-11-05 22:45] pvldigital commented on #280
Ah okay no worries. Let me know once you're able to reproduce it.

[2019-11-08 16:42] gregorterrill opened #281 "Maintain or access order of child blocks in GraphQL"
#### Description
I've got a fairly complex content builder Neo field, and I'm trying to access this via GraphQL to populate a Gridsome app. So far it's been working great, but I've run into an issue where I can't figure out how to maintain the order of child blocks in the Craft admin (or even query their order). I have a top-level block (called a Section) that contains child blocks (called Blocks)

[2019-11-10 21:22] pvldigital commented on #281
Hi @gregorterrill,

That's strange, the order of the children blocks returned should be the same as the CMS. I'll have a look into it.

[2019-11-13 01:18] pvldigital commented on #281
Hi @gregorterrill,

I've been testing but can't seem to replicate the issue. The order is maintained for the children blocks (same order as the CMS). Tested it with multiple levels as well.

[2019-11-13 01:24] pvldigital commented on #280
Hi @twosixcode,

I'm going to close this issue for now. If it reoccurs or more information can be provided please comment and i'll reopen this.

[2019-11-13 01:24] #280 closed

[2019-11-13 01:50] twosixcode commented on #280
Thanks. Yeah, I haven't been able to turn to it again and create the same conditions where it might arise. As I mentioned earlier, much in flux, so might not even crop up again. If I do, I will reopen. I appreciate it.

[2019-11-13 14:05] bryantAXS commented on #256
The UI here is obviously much different from Craft and Neo's, but the idea is inline with what I'm discussing above: https://tailwind.build/

[2019-11-13 14:06] gregorterrill commented on #281
@pvldigital Appreciate you taking a look. Here are some screenshots of the above-mentioned example comparing the entry screen vs. the order they're showing in GraphQL:

![Screen Shot 2019-11-13 at 8 54 23 AM](https://user-images.githubusercontent.com/1774747/68770522-4b32c900-05f4-11ea-814b-8ec2c0b192cb.png)
![Screen Shot 2019-11-13 at 9 01 08 AM](https://user-images.githubusercontent.com/1774747/

[2019-11-13 15:11] gregorterrill commented on #281
@pvldigital After some further testing on other pages I've realized it's not sorting child blocks by block type or CMS order, it's sorting them by `dateCreated` (or possibly some other hidden sequential id). Whatever block I've most recently added always appears last in GraphQL, regardless of type or order. Editing content doesn't change the order, so it definitely seems like its `dateCreated` and

[2019-11-13 23:02] pvldigital commented on #281
Hi @gregorterrill,

Thanks for all the extra info. I am able to replicate and can see what is causing the issue. A fix has been made and I'm testing it right now and will put out a fix soon.

[2019-11-13 23:47] pvldigital commented on #281
Fix has been released. v2.5.8.

[2019-11-13 23:47] #281 closed

[2019-11-14 15:58] gregorterrill commented on #281
@pvldigital Works perfectly now! Thanks so much!

[2019-11-16 17:59] leigeber opened #282 "Children of disabled blocks showing with useMemoized"
#### Description

When using the useMemoized method on blocks prior to looping, children of disabled top-level blocks are still being displayed. Without useMemoized things work as expected.

#### Steps to reproduce
1. Look through blocks and call ```block.useMemoized(blocks)```
2. In the loop ```block in blocks if block.level == 1``` see that the children of the disabled blocks flow into the previ

[2019-11-18 01:53] pvldigital commented on #282
Hi @leigeber,

I have been testing but can't replicate it. Is it possible for you to extract and send your template code to plugins@spicyweb.com.au?

[2019-11-20 11:04] superdonpan opened #283 "Filtering entries query with neo fields"
When querying entries you can filter based on the fields available in the entries and the values for them. So say you want to fetch all "partner" entries which have the field "partnerLevel" with the value "gold". For a normal Craft field you'd query:

{% set partnersQuery = craft.entries()
    .section('partners')
    .partnerLevel('gold')
%}

We've been trying to query the same way with Neo field

[2019-11-20 22:34] pvldigital commented on #269
Hi @jmverges,

I'm going to close this issue for now. If it does come up again, comment on this issue and i'll reopen it.

[2019-11-20 22:34] #269 closed

[2019-11-22 03:19] pvldigital commented on #283
Hi @superdonpan,

Currently neo doesn't have that functionality. We can look into implementing this is the future but it'll be difficult because Craft doesn't an easy way to query entries based on a neo blocks contents.

I had a chat with the previous dev and he suggested querying the blocks directly, getting the owner ids from them and then search for the entries.

Something like this:
[code]

[2019-11-26 16:06] jacobleech commented on #72
How would I drill down into specific block types within the Neo field for the relatedTo argument? When I try this currently, i get an error: Impossible to invoke a method ("relatedTo") on a null variable.

[2019-11-27 15:55] jacobleech opened #284 "relatedTo neo field"
I've tried the solution below to display entries with a particular neo field value set, however i get an error: Impossible to invoke a method ("relatedTo") on a null variable.

How would I now go about drilling down into specific block types/fields within the Neo field for the relatedTo argument? It's like the neoField I reference isn't being recognised..

Original solution:

Try this:

[code]

_O

[2019-11-28 02:03] pvldigital commented on #284
Hi @jacobleech,

I'm not sure if that functionality was ported to craft 3. I'll need to talk to previous developer who ported it.

For now you could try the method in #283.

First you search for the neo block with the field name and value. You'll then loop through the returned blocks for the owners ID which is the entry ID.

[code]

[2019-11-28 20:13] jacobleech commented on #284
Hi @pvldigital the section does have a neo field added. The neo field in my case is called 'components' but I actually want to target a block type field within the neo field... Shoul I be able to target a block type like so: neoField.blockType.field?

[2019-11-28 21:28] pvldigital commented on #284
Hi @jacobleech,

You shouldn't need to target an inner block type. `relatedTo` should return all blocks that meets the criteria. Can you post an extract of the code you're trying to get working? I'll have a better idea what you're trying to accomplish.

---
If you're trying to filter with a particular block type field value then you could try something like:

[code]

[2019-11-28 21:59] jacobleech commented on #284
Thanks for your response :)

I don't have code to share, basically I have an entry field as a neo block assigned to 'Entry A', the entry field allows for selection of 'Entry B's.' When rendering out Entry B I want to retrieve all 'Entry A's' that have the current 'Entry B' assigned as a 'related' entry in the neo block. Does that make sense? Sorry if it's a convoluted explanation.

Querying by an

[2019-11-28 22:10] pvldigital commented on #284
Ah gotcha. For this section: `craft.entries.section('events')`, are you querying multiple sections? or just one like the example?

[2019-11-28 22:14] jacobleech commented on #284
Just the one section at this stage.

[2019-11-28 22:17] pvldigital commented on #284
Going back to your original post, the `Impossible to invoke a method ("relatedTo") on a null variable.` error tells me that the neo field couldn't be accessed.

You could try to check if the field is not null like below:
[code]

Can you try that and see how it goes?

[2019-11-28 22:21] jacobleech commented on #284
Assuming this needs to be:

[2019-11-28 22:24] pvldigital commented on #284
yep, that's right. fixed my code.

[2019-11-28 22:43] jacobleech commented on #284
So I believe the problem might actually be that the neo block field I want to access the related Entry from is a Super Table field... I need to access components > blockType > superTableField > relatedEntry.

Does that make sense? I can see that foundEntry.components returns data, but for some reason the keyInsights field is null. Even though there are keyInsights assigned. This is the Super Table

[2019-11-28 23:29] pvldigital commented on #284
Ahh okay. I think you can use `craft.superTable.getRelatedElements()` to query the data you need for supertables.

Something like this:
[code]

---

https://verbb.io/craft-plugins/super-table/docs/template-guides/available-variables

[2019-11-29 13:33] jacobleech commented on #284
Hmm this still doesn't seem right, the superTable field that I want to query belongs to entryA, not entryB... When I try the code (adjusted with relevant field names) the Array results are empty.

I want to see if entryA's superTable entry field (within the neo field) contains the current entry B... Maybe I'll just make it a manual link 😂

[2019-12-01 22:51] pvldigital commented on #284
I wonder if `getRelatedElements` is returning the owner id of the neo field instead of the entry (because the super table field added in neo block).

I think a manual link would be the easiest way or you can try modifying the first example to fit your needs:

** I'm not sure if `relatedTo` works with supertables though.
[code]

[2019-12-02 11:07] jacobleech commented on #284
Perfect! I just needed to add an exclude for the current entry ID and it works just as I'd hoped.

Thanks so much for all your help.

[2019-12-02 21:31] pvldigital commented on #284
No worries.

[2019-12-02 21:31] #284 closed

[2019-12-03 11:17] denisyilmaz opened #285 "Has the Neo demo license limitations?"
Hi,

first of all, awesome plugin. I'm using it for several projects now and am currently developing the next one with neo.

But now I found a problem where I don't know if its a limitation to the demo license or more serious bug.

I have a "form builder" built with Neo matrix where you can add multiple steps and to this multiple field blocks as children.
this works great, but now one of our test

[2019-12-03 21:47] pvldigital commented on #285
Hi @denisyilmaz,

Nope, neo doesn't have any demo limitations.

This issue might be related to #257. Can you send me the web.log (to plugins@spicyweb.com.au) after attempting to save?

[2019-12-04 20:11] denisyilmaz commented on #285
Hi @pvldigital

Thanks for the quick response. I finally found the error log for the issue:
[code]

I increased my `max_input_vars` to 2000 and now its works (but takes a long time for saving).
Is this normal? The example form we build has around 150 fields in the Neo Block field.

[2019-12-04 20:20] denisyilmaz commented on #285
Some additional informations about the server:

[code]

[code]

[code]

[2019-12-04 20:43] httpster commented on #207
I'm still seeing this problem as well. I created multiple groups and a new block. When syncing the project.yaml I encountered an Internal Server Error and neither the groups nor the block were created.

Craft CMS: 3.3.17
Neo: 2.5.8

[2019-12-05 21:25] pvldigital commented on #285
@denisyilmaz Oh so it was reaching the max capacity for `max_input_vars`, I guess it makes sense with all the fields. I'm not sure we can do anything about that since the limiting factor with php.

Note: You might need to increase `post_max_size` as well.

[2019-12-06 10:25] denisyilmaz commented on #285
Is this "error message not being shown in the Backend UI" something that could be resolved?
But maybe that has to be resolved in CraftCMS, right?

Thanks for your responsiveness and the help. closing this now.

[2019-12-06 10:25] #285 closed

[2019-12-12 14:59] nickroberts opened #286 "Failure when trying to use NerdsAndCompany\Schematic"
I installed the [Craft webhooks plugin](https://github.com/craftcms/webhooks), and when creating a new webhook (or editing an existing one), `An unknown error occurred.` shows up.

I haven't seen this before, until using the Webhooks plugin, and looks to be related to getting an auto complete list for classes.

URL: `/index.php?p=admin/actions/webhooks/webhooks/class-suggestions`
[code]

It doesn'

[2019-12-12 21:22] pvldigital commented on #286
Hi @nickroberts,

To clarify, you have both the webhooks and schematic plugin installed and active correct?

[2019-12-12 21:43] nickroberts commented on #286
I only have the webhooks plugin installed, not the schematics plugin.

[2019-12-12 22:44] pvldigital commented on #286
Gotcha. I was able to replicate the issue so i'll work on a fix for it.

[2019-12-13 15:59] icreatestuff opened #287 "Field Labels uid undefined index on project config sync"
#### Description
When syncing project config to a staging environment we are hit with a fatal error during the syncing process. Digging into the logs we see it's related to `Undefined index: 05929d77-08e5-4793-a521-b6c5f1500122 in /var/www/vhosts/mysite.dev/vendor/spicyweb/craft-neo/src/integrations/fieldlabels/FieldLabels.php:50`

To test we exported the database from the staging environment to u

[2019-12-15 21:45] pvldigital commented on #287
Hi @icreatestuff,

I think the issue is related to a fix I made for field labels, i'll need to upgrade the integration of it.

[2019-12-16 01:25] #287 closed

[2019-12-16 10:39] icreatestuff commented on #287
Amazing thank you @pvldigital. Any idea when that fix will be released as an update?

[2019-12-16 20:57] pvldigital commented on #287
@icreatestuff i'll be releasing the update today some time, just looking into some other issues first.

[2019-12-16 22:05] pvldigital commented on #286
update on this issue:

I don't think this is inherently an issue with neo. Weirdly enough disabling + reenabling neo fixes the issue. I assume it has something to do with the loading of the webhook plugin.

[2019-12-17 04:24] #206 closed

[2019-12-17 20:36] nickroberts commented on #286
Well that's weird! I disabled, then re-enabled the plugin and everything seems ok. Thanks!

[2019-12-17 21:50] nickroberts commented on #286
It came back (I think after saving the Webhook). Any other ideas?

[2019-12-18 23:29] pvldigital commented on #286
Oh really? Hmm I’ll need to look into this further.

[2019-12-29 23:43] tyssen opened #289 "Children won't display or I get all() deprecation notice"
I created a question on [StackExchange](https://craftcms.stackexchange.com/questions/33310/neo-children-wont-display-or-i-get-all-deprecation-notice) and also posted it on the Slack channel but didn't get any replies.

I did see some other issues asking similar sorts of templating questions, but apologies if this isn't the correct place to ask.

[2020-01-12 23:04] pvldigital commented on #289
Hi @tyssen,

Sorry for the late reply, I was on break for a while. I'm not sure about the slack channel but all issues and questions should be on GitHub as it keeps everything centralised and it easier to keep track.

---

Regarding your question, it seems like you're trying to use eager loading with neo. Neo does eager loading a bit differently. You can read it here: https://github.com/spicywebau

[2020-01-13 01:06] tyssen commented on #289
Thanks, that seems to have done the trick. I just had to add `.all()` in a few places.

[2020-01-13 01:09] pvldigital commented on #289
Awesome, good to know it's working.

[2020-01-13 01:09] #289 closed

[2020-01-14 08:09] cjgrauco opened #290 "Error when fetching block children in console command. (Calling unknown method)"
#### Description
Fetching block children from console command gives me the following error:
Calling unknown method: craft\console\Request::getParam().
Looks like it stems from the Block class line 574.

#### Steps to reproduce
1. calling MyNeoBlock->children->all() from a console command.

#### Other information
- Neo version: 2.5.9

- Craft version: 3.3.19

- (if multi-site) Are the affected Neo