[2020-01-15 15:18] nordentwickler commented on #246
We do have exactly the same issue and especially with saving via "STRG+S" in a multisite-environment.

- Craft 3.3.19
- NEO 2.5.9
- Propagation-method: Only save blocks to the site they were created in
- PHP 7.4.1

[2020-01-15 22:25] pvldigital commented on #246
Hi @nordentwickler,

Can you create a new issue that contains all the information e.g issue + any information you think that might help me debug the issue, steps to reproduce and other info.

[2020-01-16 00:19] pvldigital commented on #290
Hi @cjgrauco,

Is this a custom console command you used or a built in craft one?

[2020-01-16 09:18] cjgrauco commented on #290
Hello @pvldigital,

It is a custom console command from a module.

Let me know if you need any more info from me.

[2020-01-17 19:33] mihow commented on #217
We are running into this as well

[2020-01-20 04:22] pvldigital commented on #290
Hi @cjgrauco,

Pushed a fix for the issue. Will make a release for it soon.

[2020-01-22 04:57] pvldigital commented on #290
Hi @cjgrauco,

Fix added for release v2.5.10.

[2020-01-22 04:57] #290 closed

[2020-01-22 04:58] pvldigital commented on #286
Hi @nickroberts,

Fix has been implemented in release 2.5.10.

[2020-01-22 04:58] #286 closed

[2020-01-22 04:58] pvldigital commented on #217
Hi all,

Fix has been implemented in release 2.5.10.

Report back if there's any issues and i'll reopen the ticket.

[2020-01-22 04:58] #217 closed

[2020-01-22 17:07] maxstrebel commented on #233
Hi, I got the same issue. Any status on this?

[2020-01-23 21:43] pvldigital commented on #233
I had a look at the issue and wasn't able to replicate it. Can you list out your steps or send me a quick video of the issue? You can send it to plugins@spicyweb.com.au

[2020-01-24 09:43] maxstrebel commented on #233
Mail is sent, thanks in advance.

[2020-01-27 21:47] pvldigital commented on #233
Hi @maxstrebel,

Thanks for that. I'll see what I can do.

[2020-01-28 07:42] maxstrebel commented on #233
@pvldigital let me know if you need details, console or similar.

[2020-01-28 13:39] Mosnar opened #293 "Craft 3.4: Integrity constraint violation when deleting entry with Neo blocks"
#### Description
Deleting an entry with a Neo block results in the following error:
[code]

#### Steps to reproduce
1. Attempt to delete an entry with a single Neo field and blcoks

#### Other information
- Site was originally migrated with Neo fields from Craft 2
- Neo version: 2.5.10
- Craft version: 3.4-dev
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis:

[2020-01-29 00:03] pvldigital commented on #293
Hi @Mosnar,

I just made a release for Craft 3.4.0, can you update and see if the issues continue? I've tried replicating but was unsuccessful.

[2020-01-29 00:05] pvldigital commented on #27
Hi all,

This feature has now been added in 2.6.0 (the update for craft 3.4.0).

[2020-01-29 00:05] #27 closed

[2020-01-29 00:33] Mosnar commented on #293
@pvldigital Thanks for looking at it! Still seems to be broken on one particular entry. I suspect something must be corrupted in the database - how that happened is anyone's guess. Fortunately, it seems to be a one-off, so I'm fine deleting the element data from the database manually. If you're comfortable with it, I'm comfortable with closing the issue.

[2020-01-29 00:39] Mosnar commented on #293
**Update:** so it turns out, somehow there were a bunch of entries in my craft_neoblockstructures with null `ownerSiteId` values. Most of these were quite old, so I would assume they were from the Craft 2 site. I ran a quick update:
`UPDATE craft_neoblockstructures SET ownerSiteId = 1;`

and was able to delete the entry again!

[2020-01-29 00:39] #293 closed

[2020-01-29 00:45] pvldigital commented on #293
@Mosnar oh, good to know you got it working.

It must've been an issue with the migration process from craft 2. I'll need to make sure the site id must be at least 1 (the default primary site) when saving the record.

[2020-01-29 07:59] vandres commented on #27
Woohoo, thanks! :D

[2020-01-31 15:48] superflausch opened #296 "Neo Block Fields not stored"
#### Description

Somehow after the latest updates (Craft 3.4.1 / Neo 2.6.0) I'm not able to save the contents of Neo blocks anymore. The blocks themselves get created/stored but not the values/content of the fields within. This happens on updated or on initial creation of entries. The admin panel displays the "Entry saved." message, I don't see any errors or related entries in my logs.

The same

[2020-01-31 19:43] pvldigital commented on #296
Hi @superflausch,

I've been testing it myself with the latest version of craft and I'm unable to recreate the issue, blocks and the field data is successfully saved.

Are you using any non standard field plugins?
Is project.yaml usage enabled?

[2020-01-31 20:07] superflausch commented on #296
Strange thing is that this worked with Craft 3.4-RC and Neo 2.5.9/10 prior to the latest updates. The only other plugin, which got updated was Freeform. Disabling it doesn't help.

Yes, project.yaml usage is and was enabled.

Those are all the plugins activated right now:
AsyncQueue | 2.0.0
Control Panel CSS | 2.2.0
Embedded Assets | 2.1.1.1
Freeform | 3.6.1
Imager | v2.3.1
Imager Pretransform | 2

[2020-02-01 23:50] hatzipanis commented on #296
Also seeing this behaviour. Existing Neo field content is still there but no new data is being saved unfortunately.

- Craft CMS 3.4.2
- Neo 2.6.0

[2020-02-02 00:14] pvldigital commented on #296
Hi @hatzipanis, are you also using the same plugins listed by @superflausch.

Can you both also see any errors in the browser console?

[2020-02-03 08:30] superflausch commented on #296
I don't see any warnings in the browser console log or in the craft logs.

I'm able to add, remove or disable the blocks themselves, but what ever field I change within those blocks just gets lost.

Also updating to Craft 3.4.2 doesn't help.

[2020-02-03 18:34] besimhu commented on #296
I am also having this issue. It is definitely not related to other plugins. I had to switch back down to `2.5.10` in order for fields to save again. I am on 3.4.2 of Craft.

As with @superflausch I am experiencing the same.

[2020-02-03 19:56] pvldigital commented on #296
Strange I still haven’t been able to replicate the issue.

Can you send me a copy of your composer.json + lock file and if possible a copy of the database? You can send it to plugins@spicyweb.com.au.

Also what php version are you using?

@hatzipanis @superflausch @besimhu

[2020-02-03 20:04] superflausch commented on #296
Thanks. Just sent you the files by mail.

I see this behaviour on PHP 7.4.1 and 7.3.14.

[2020-02-03 22:56] pvldigital commented on #296
@superflausch Thanks for files. I'm pretty sure I know the cause of this now and have applied a fix.

@besimhu @hatzipanis Did you name your neo field as 'blocks'?

[2020-02-03 22:59] pvldigital commented on #233
small update: i've been working on a fix for this issue and will most likely get it finished in 2.6.2.

[2020-02-04 00:23] besimhu commented on #296
@pvldigital  I sure did

[2020-02-04 00:33] pvldigital commented on #296
@besimhu yep thanks for confirming. A fix will be released for this issue in a bit.

[2020-02-04 04:07] pvldigital commented on #296
Hi All,

A release has been made for this issue, v2.6.1.

@superflausch @hatzipanis @besimhu

[2020-02-04 19:07] hatzipanis commented on #296
@pvldigital thank you so much! Will give this a run today.

[2020-02-05 01:05] hatzipanis commented on #296
Working perfectly thank you @pvldigital

**Other information**

Neo version: 2.6.1
Craft version: 3.4.4

[2020-02-05 01:37] pvldigital commented on #296
@hatzipanis awesome, good to know it's working for you.

---

I'll be closing this issue for now, if there's any issues it can be reopened.

[2020-02-05 01:37] #296 closed

[2020-02-05 08:04] superflausch commented on #296
Works fine now. Thanks a lot.

[2020-02-05 13:46] maxstrebel commented on #233
Greatly appreciated, thank you so much.

[2020-02-06 16:13] besimhu commented on #296
@pvldigital  yes, thank you for the fix. It is appreciated.

[2020-02-17 02:40] OscarBarrett opened #297 "Failure when updating from Craft 3.3 to 3.4 with unpublished drafts"
#### Description
Upgrading from the following:
- Craft 3.3.18.1 -> 3.4.5
- Neo 2.5.8 -> 2.6.1

We get the following exception.
[code]

If we manually delete the block with the referenced primary ID then the upgrade completes successfully.

The owning entry appears to be an unpublished draft, so my guess would be it's some issue to do with that where Neo thinks that it needs to duplicate the block

[2020-02-17 23:28] SnarkieDesign opened #298 "Neo blocks disappear on save"
#### Description
This issue took down our production site homepage for a weekend. We were editing a seperate field (not the Neo field and in another tab) before hitting Save, not realising that Neo had not yet loaded and the Blocks had been wiped.

#### Steps to reproduce
1. Load an entry with a large populated Neo field
2. Hit Save immediately before the Neo field loads (on our site, this can tak

[2020-02-17 23:51] SnarkieDesign commented on #298
Here is a recreation of the issue

![neo-bug](https://user-images.githubusercontent.com/8190792/74692701-4bb4ae80-5238-11ea-9970-8debcada7d9d.gif)

[2020-02-18 17:26] chasegiunta commented on #298
I wonder if this is more Craft related. The save button should be disabled until all fields have fully loaded. Then again, with Craft 3.4, something like this has probably already been addressed with Delta updates.

@SnarkieDesign would it be possible for you to update to 3.4 and try to recreate the issue?

[2020-02-18 22:21] pvldigital commented on #298
Hi @SnarkieDesign,

You can updating like @chasegiunta suggested and see if it solves the issue (make sure to test locally first). If not I'm guessing it's something to do with the serialized data that's being sent on save. Once neo has loaded all the blocks it'll update the serialized data of the form but if it hasn't been processed the data will be seen as empty (for neo) which can cause the iss

[2020-02-18 22:22] pvldigital commented on #297
Hi @OscarBarrett,

Thanks for the report. I'll work on a fix for future updates.

[2020-02-19 14:14] romainpoirier opened #299 "Neo does not show the tab with error after save"
#### Description

In case of empty required field located in tab on _Save_, there is no highlight of which tab caused the error.

This is very difficult to guess on a page with a lots of Neo blocks with tabs. You need to to click on each tab until you found the empty field to complete.

I sometimes got feedbacks from clients which does not understand why there is an error warning on top of the pag

[2020-02-24 23:06] pvldigital commented on #299
Hi @romainpoirier,

I have replicated the issue and will be working on a fix.

[2020-02-25 02:02] pvldigital commented on #297
Quick question, is this happening when you used composer to update or was it in the control panel? @OscarBarrett

[2020-02-25 02:10] OscarBarrett commented on #297
The packages were updated using composer, and the update was triggered via the manual update notification that takes over the CP.

[2020-02-25 02:12] pvldigital commented on #297
Ah really? that's strange, I wasn't able to trigger the issue using that method.

[2020-02-25 03:22] OscarBarrett commented on #297
I'll try and set up a minimal reproduction from our affected project/db - do you have an email address that I could send files through to?

[2020-02-25 03:23] pvldigital commented on #297
sure. you can send it to plugins@spicyweb.com.au

[2020-02-26 10:13] romainpoirier opened #301 "Can't translate the block group buttons"
#### Description

I can't translate the block group buttons. However, I can translate the block buttons. Please can you enable the ability to translate this?

![neo-translations](https://user-images.githubusercontent.com/4634192/75334972-053eff80-5889-11ea-90cd-8e05e922ddf4.png)

#### Steps to reproduce
1. Create a Neo field
2. Add translations to locale folder (example `translations/fr/neo.php`)

[2020-02-27 04:47] OscarBarrett commented on #257
We were running into this issue with a complex section. The solution was to disable versioning which almost halved the number of queries being made on save (4800 vs 2600) and eliminated any lock issues.

[2020-02-27 16:11] aaronbushnell commented on #257
Thanks, @OscarBarrett! How were you able to get the number of queries on a save event?

[2020-02-28 00:14] pvldigital commented on #301
Hi @romainpoirier,

I'm not sure why that's the case. You should be able to write in any language for the groups.

See below for my example:

![Screen Shot 2020-02-28 at 11 12 41 am](https://user-images.githubusercontent.com/9030408/75498478-6991c880-5a1b-11ea-8cee-0923b511b9f9.png)

Is there any error you can see when saving the field?

[2020-02-28 01:47] pvldigital commented on #299
Small update: It looks like the issue is specifically with the matrix field sitting within a neo field. I've made some changes and will push a fix out soon.

[2020-02-28 01:51] OscarBarrett commented on #257
You can find it on the Yii debug toolbar - after saving an entry, select the POST request that was made and open up the Database tab.

[2020-02-28 02:00] pvldigital commented on #233
New release v2.6.2 should fix this issue. Let me know if there's any issues and i'll reopen.

[2020-02-28 02:00] #233 closed

[2020-02-28 02:01] pvldigital commented on #299
release v2.6.2 has a fix for this issue.

[2020-02-28 03:59] pvldigital commented on #298
Small update: So currently neo uses JS to add all the blocks within the page which is why it's causing the delay and the issue listed. This was how neo always functioned from craft 2 to 3.

To remedy this issue I'll need to rewrite a section of neo so it adds previous blocks directly onto the page without JS. It'll take time to do but i'll keep you updated on the progress.

[2020-02-28 09:00] romainpoirier commented on #299
Thank you! I can confirm this is much more clear now.

However, I found a special case that perhaps could still be improved: if the block is not expanded, there's still no highlight of an error (see screenshot below).

![not-expanded](https://user-images.githubusercontent.com/4634192/75525902-fe42f900-5a10-11ea-9d9b-04b062ecabda.png)
![expanded](https://user-images.githubusercontent.com/4634192/75

[2020-02-28 10:30] romainpoirier commented on #301
There is no error when saving the field, neither on the Entry, neither in the browser console. And I can confirm this happen for several of my Neo fields.

In my case, my primary website is in French, the User CP is setup to French, and all of these fields translations are stored inside `translations/fr/neo.php`.

[2020-03-01 21:23] pvldigital commented on #301
Ah I understand now. Will have a look into it.

[2020-03-01 21:28] pvldigital commented on #299
Ah I'll add the a highlight on the block name as well.

[2020-03-02 08:55] romainpoirier commented on #301
This is the content of `translations/fr/neo.php` file:
[code]

[2020-03-03 10:55] gglnx opened #304 "Fails on Dashboard"
#### Description

If you using elements with Neo blocks in the Quick Post dashboard widget, starting with the last update (related to this commit: https://github.com/spicywebau/craft-neo/commit/8c95f71a1b5e71ce9fa4534aafdce0700029e285), the dashboards fails with an exception.

[code]

#### Steps to reproduce
1. Create an element with Neo blocks
2. Add Quick Post Dashboard widget with this element

[2020-03-03 23:17] kellypacker opened #305 "Child blocks disappear on Preview -> Publish Changes"
#### Description
Child blocks disappear on Preview -> Publish Changes.

#### Steps to reproduce
1. Add block, add child block
2. Click Preview (wait for checkmark)
3. Close Preview
4. Click Publish Changes, child blocks disappear

#### Other information
- Neo version: 2.6.2
- Craft version: 3.4.3
- (if multi-site) Are the affected Neo fields set to manage blocks on a per-site basis: No.
- (if mult

[2020-03-04 01:49] pvldigital commented on #305
Hi @kellypacker,

So the child block would disappear but the top level block will still be in the entry, is that correct?

[2020-03-04 02:12] pvldigital commented on #304
Hi @gglnx,

I’ve added a fix for this issue. Will be release in v2.6.3

[2020-03-04 03:59] pvldigital commented on #304
Fix has been released for this issue

[2020-03-04 03:59] #304 closed

[2020-03-04 03:59] pvldigital commented on #301
Changes has been made for this issue in v2.6.3

[2020-03-04 03:59] #301 closed

[2020-03-04 03:59] pvldigital commented on #299
Changes has been made for this issue in v2.6.3

[2020-03-04 03:59] #299 closed

[2020-03-04 04:24] kellypacker commented on #305
Hi @pvldigital,
That is correct.

[2020-03-05 02:07] pvldigital commented on #305
Can you send your composer.json + lock file to plugins@spicyweb.com.au? @kellypacker

[2020-03-05 02:10] aaronbushnell commented on #257
Wow I had _no_ idea about this! Thanks, @OscarBarrett!

[2020-03-05 03:05] #108 closed

[2020-03-05 15:14] kellypacker commented on #305
@pvldigital done. Thanks for your help!

[2020-03-06 17:42] tekstrand commented on #120
Can confirm we're seeing in 1.5.2 as well, will update with a fix if I find anything.

[2020-03-10 16:28] lenvanessen commented on #257
Same issue here, is there a possibility that this gets reopened and NEO takes a look at how to improve this? We'd like to keep versioning, but then saving takes around 60 seconds or so.

[2020-03-10 18:47] aaronbushnell commented on #257
Do delta updates from Craft 3.4 help at all here? Which should allow only the changes Neo content to have to get processed?

[2020-03-10 19:57] lenvanessen commented on #257
We're on Craft 3.4.9, with 2 sites

[2020-03-10 20:23] aaronbushnell commented on #257
Ah so it sounds like there’s still some Neo optimizations to be made here.

[2020-03-10 21:18] pvldigital commented on #257
@lenvanessen sure I'll reopen and will have a look at this issue again.

@aaronbushnell the delta updates should mitigate the issue but it looks like it might not be behaving correctly. I'll revisit this first which should improve the situation.

[2020-03-10 22:43] aaronbushnell commented on #257
No problem, @pvldigital! If it's useful I could send you a DB, our codebase and some reproduction steps that trigger these types of issues?

[2020-03-10 22:52] pvldigital commented on #257
Hi @aaronbushnell,

That would be helpful, the db and reproduction steps would be great. You can send them through to plugins@spicyweb.com.au and I'll have a look.

[2020-03-11 11:27] andris-sevcenko opened #306 "Neo block type returns wrong context for GraphQL eagerloading."
#### Description

Neo block type [returns the field context ](https://github.com/spicywebau/craft-neo/blob/master/src/models/BlockType.php#L152)to be `neoBlockTypes:<UID>`, similar to how Matrix and SuperTable block types do it.

However, the Neo field itself does not define new fields in that context, making this context incorrect. Since Neo field re-uses fields from the global context, all Neo b

[2020-03-11 16:22] lenvanessen commented on #257
@pvldigital if you want, we can provide test-data as well. Our set-up does 7700 queries when changing a single field, consuming 70mb of memory and eventually failing. And this is on a high-performance Heroku database.

![Schermafbeelding 2020-03-11 om 17 19 55](https://user-images.githubusercontent.com/23024452/76439504-c6e32d80-63bc-11ea-9059-bbcfed8410f8.png)

We have around 16 blocks on this pa

[2020-03-11 16:25] aaronbushnell commented on #257
It might take me a bit to prepare our data so if @lenvanessen‘s helps expedite things here that might help troubleshoot this further!

[2020-03-11 21:36] #306 closed

[2020-03-12 05:14] pvldigital commented on #257
@aaronbushnell @lenvanessen i've just released a new version which has a change for delta updates. hopefully it should help mitigate the issue.

I'll still wait for the databases for a more in-depth look at the issue.

[2020-03-12 08:25] lenvanessen commented on #257
@pvldigital as a heads-up, it lowers it to 4000 queries when changing 1 field. Other actions like duplication of an entry and storing an new one with all new content are still pretty much impossible unfortunately.

[2020-03-12 15:58] lenvanessen commented on #257
@pvldigita Maybe it helps, but I'm seeing a lot of duplicate queries, most of the queries come by 4 times.

[2020-03-13 01:38] pvldigital commented on #257
@lenvanessen @aaronbushnell

small update: I found out that the creation of the neo structures is causing the large amounts of queries. I'm going to have to redo how the structure is retrieved and recorded to prevent this issue.

I'll keep you all updated on my progress.

[2020-03-13 05:21] javangriff commented on #305
@pvldigital I am encountering what seems to be the same issue with strange behaviour after making changes within live preview and then publishing changes. It is important to note that this issue only seems to affect nested blocks below 2 levels deep, at least for me.

Consider the following block structure before entering live preview:
[code]

If I then enter live preview and make any changes that

[2020-03-13 07:51] pvldigital commented on #257
@lenvanessen @aaronbushnell changes has been made in the `craft-3-dev` branch. Will be testing it thoroughly before releasing. From my preliminary testing the performance is much better now.

[2020-03-13 09:07] lenvanessen commented on #257
@pvldigital I'll test as well, let you know if I find anything.

[2020-03-13 09:18] pvldigital commented on #257
@lenvanessen reminder to test it locally.

The migration is kinda iffy at the moment so if you could report back after testing that would be good.

use to migrate"
`./craft migrate/up --plugin=neo`

[2020-03-13 09:41] lenvanessen commented on #257
Locally migration went fine, on acceptance got the following error:
[code]

[2020-03-13 10:12] AxelStorm13 opened #309 "Sort blocks over X axis"
![image](https://user-images.githubusercontent.com/54795137/76611132-54885f80-651a-11ea-8c42-166cecb1761e.png)

We want to be able to sort these (text) blocks by dragging them left to right and vice versa.
I changed the container to a display flex so the blocks are showing side by side.

Is there a way to get some guidance on this so we can extend it ourself.
If there is some more info needed I'm

[2020-03-13 11:57] pvldigital commented on #257
ah i should've allowed nulls. made a change for it.

[2020-03-13 14:25] kellypacker commented on #305
An update on our specific issue: we narrowed it down to a conflict with the Scout plugin. We are still troubleshooting it to find the exact issue.

For our case, the preview is removing all child blocks. But also on the initial save of an entry, all child blocks are missing. But it does save correctly on subsequent saves if the child blocks are added back in.

[2020-03-13 16:15] lenvanessen commented on #257
@pvldigital well the migrations work now, but:

[code]

[2020-03-15 08:48] lenvanessen commented on #257
@pvldigital we've tested it further on mysql. Back-end performance is much better, howerev the `level` query doesn't return any results anymore.

`entry.pageparts.level(0).all()` is empty, even though there are blocks at this level!

[2020-03-15 22:34] pvldigital commented on #257
Hi @lenvanessen,

Hmm I'll look into the level query issue.

As for the migration, that's error appears when using postgre right?

[2020-03-16 00:51] pvldigital commented on #257
@lenvanessen level querying should be fixed with the latest commit in the dev branch.

[2020-03-16 07:24] lenvanessen commented on #257
Yes, that error appears using postgres, but not in the migratiion, when trying to save an entry.
Also, I think since the new version, we're not able to apply config changes anymore:

[code]

[2020-03-17 00:23] pvldigital commented on #257
@lenvanessen added a small change for postgres. i've also re-added the project config read only check which should prevent that issue.

[2020-03-17 07:59] lenvanessen commented on #257
@pvldigital cool, when do you expect a stable version to drop?

[2020-03-17 09:44] pvldigital commented on #257
@lenvanessen within this week for sure. I’ll just need to test it thoroughly first and fix any issues I can find.

[2020-03-17 18:09] OscarBarrett commented on #297
Unfortunately I haven't been able to create a simple reproduction yet.

But I have lookied further into it. The affected entry was an unsaved draft ("First draft", not visible in the CMS at all), with all but one neoblocks deleted. The one neoblock not deleted is the id mentioned in the exception.

Other specifics that seem to lead to this issue:
- There is a Single that also includes same Neo fie

[2020-03-17 20:24] TonyFwin opened #310 "Unable to add to/edit Neo field after updating craft version"
#### Description
Unable to add to/edit Neo field after updating craft version 3.4.10

#### Steps to reproduce
1. Update to craft 3.4.10
2. Create, edit, add fields to neo field and save
3. No changes are saved

#### Other information
- Neo version: 2.6.4
- Craft version: Craft CMS 3.4.10
- Is eager-loading used? No

[2020-03-17 23:42] pvldigital commented on #310
Hi @TonyFwin,

I have replicated the issue and have started working on a fix.

[2020-03-18 04:23] pvldigital commented on #310
@TonyFwin fix has been released in v2.6.5.

[2020-03-18 04:23] #310 closed

[2020-03-18 04:47] pvldigital commented on #297
Hi @OscarBarrett,

Thanks for the detailed analysis. I'll have a more in-depth look and see if I can get it resolved.

[2020-03-18 04:54] jaydensmith commented on #310
@pvldigital I'm getting a new error with this release:
[code]

[2020-03-18 05:02] pvldigital commented on #310
@jaydensmith oh i needed to check if that value is set. will release a hotfix.

[2020-03-18 05:08] pvldigital commented on #310
@jaydensmith released a new version, 2.6.5.1. should fix that issue

[2020-03-18 08:15] lenvanessen commented on #257
@pvldigital well we've increased the number of sites to a 100 and it's still working.

By the way, nested level queries are not working.
`{% set columns = block.children.level(0) %}`

[2020-03-18 22:30] lenvanessen opened #312 "Duplicating Entries doesn't copy neo content and structure"
When trying to duplicate a page with neo fields, the entry doesn't copy the neo content anymore.

Example code:
[code]

I saw this was an issue in an older version as well, perhaps some regression slipped in?

[2020-03-18 22:37] #312 closed

[2020-03-19 02:30] pvldigital commented on #257
@lenvanessen I've made some changes in the latest commit which should solve most querying issues. Can you test to see if it's still performing well? From what I can see there's a slight increase.

[2020-03-19 07:46] lenvanessen commented on #257
@pvldigital looks good, can't find any bugs on my end.

[2020-03-19 21:40] pvldigital commented on #257
@lenvanessen cool. I'm going to do a final round of testing and will make a release some time today.

[2020-03-22 19:43] Mosnar opened #315 "[2.7.0] SQL error when trying to edit entry"
#### Description
It looks like the latest update violates the GROUP BY aggregation rules in some MySQL installations. I receive the following error when trying to view an edit entry page:

[code]

Presumably I could fix this by updating the sql_mode like we used to have to do with Craft 2; however, it's probably better to fix this in the plugin.

#### Other information
- Neo version: 2.7.0
- Craft

[2020-03-22 21:13] pvldigital commented on #257
@aaronbushnell @lenvanessen new release has been made for this issue.

[2020-03-22 21:15] pvldigital commented on #315
Hi @Mosnar,

Ah, the group by clause was added for postgres since it was throwing an error. I'll make a change so it's only added for postgres.

[2020-03-22 21:40] wrux commented on #315
Hi @pvldigital will there be a patch release for this?

[2020-03-22 21:57] pvldigital commented on #315
@wrux Yes, I'm just testing it now. Should be released within the next hour.

[2020-03-22 22:04] wrux commented on #315
@pvldigital Nice, I was getting the same error in my test site and your change seems to fix the issue

[2020-03-22 22:25] pvldigital commented on #315
@wrux @Mosnar fix has been made for this issue in v2.7.1.

[2020-03-22 22:25] #257 closed

[2020-03-22 22:48] Mosnar commented on #315
Sure enough! Thanks for the quick support.

[2020-03-22 22:51] Mosnar commented on #315
@pvldigital Erk! Problem 2: All of my blocks are showing twice, both in the CP and on the frontend. Let me know if I can provide any additional info to help.

[2020-03-22 22:58] pvldigital commented on #315
@Mosnar hmm that's strange. what happens when you remove the extra blocks and resave?

[2020-03-22 23:09] pvldigital commented on #315
Actually i do remember something similar happen, where some blocks appeared out of nowhere after the migrations. I found that they we remnant/duplicated/revision blocks that wasn't completely removed from the DB after content changes was made. This was mainly because of how the structure was created previously which has been modified.

Removing them and then resaving should fix the issue. If not,

[2020-03-22 23:17] Mosnar commented on #315
It's a little complicated to explain, so I'll try to illustrate it. These are my blocks:

[code]

If I delete A1, the backend shows the same thing minus the single block I deleted; however, the frontend now only shows A2 and does not render the other blocks.

If I delete A2, the backend corrects itself and all duplicates are removed; however, due to the delta-saving, only A1 appears on the fronten

[2020-03-22 23:21] pvldigital commented on #315
hmm that is strange. I'll see if I can replicate the issue.

[2020-03-22 23:28] pvldigital commented on #315
@Mosnar are you using eagerloading at all?

[2020-03-22 23:31] Mosnar commented on #315
@pvldigital Nope

[2020-03-22 23:54] pvldigital commented on #315
@Mosnar I was unable to replicate the issue but I've added some changes to the latest commit to check and rebuild if there has been any block deletions.

Is it possible for you to send your DB and composer files? So I can test and see what the issue might be.

[2020-03-23 01:52] pvldigital commented on #310
@TonyFwin @jaydensmith It seems this issue was related to https://github.com/craftcms/cms/issues/5803. Since a fix for it has been made i'll be remove the temp fix that was implemented.

[2020-03-23 04:44] OscarBarrett opened #316 "Neo 2.7.0 - field data not returned from GraphQL unless query is narrowed"
#### Description

We upgraded to 2.7.0 to test it on one of our sites. GraphQL `entries` queries don't seem to be returning all Neo field data unless the query is narrowed to a single entry. When querying for all entries, about 10% of them return the field data whereas all of them have the field filled out.

For example, where the `addresses` field is a Neo field:

[code]

[code]

Narrowed query

[2020-03-23 04:57] pvldigital commented on #316
Hi @OscarBarrett,

That is strange. The only thing that was changed recently in regards to GraphQL was the field context. I'll have a look and see what I can find out.

[2020-03-23 05:21] pvldigital commented on #316
@OscarBarrett just tested it myself with the follow query:
[code]

and it seems to be returning the correct data:
[code]

The field you're trying to retrieve is just a plain text field right?

[2020-03-23 06:28] OscarBarrett commented on #316
Yes it's just a plain text field. It doesn't seem to happen with a clean DB.

I believe I've found the cause - many neoblocks in our database have a sortOrder of `null`. The new `GROUP BY` clause appears to make only a single row with a sortOrder of `null` returned.

For example, if I include sortOrder in the output of the generated elements query for the addresses fields:

[code]

![image](https:

[2020-03-23 09:39] luke-nehemedia opened #317 "Update destroys Neo structure and deletes elements"
#### Description
I just updated a site to the new Neo version. I was aware of the warning, that there could be changes in the structure, therefore I checked all pages. On almost all of the pages, the order of the blocks changed. This was already difficult to fix, since it is a multi-language site and I do not speak all those languages. "Re-saving the page" as mentioned in the notes did not restore

[2020-03-23 14:32] LarsDol opened #318 "Update to 2.7.1.1 duplicates/triples neo field blocks"
#### Description
This morning I updated the plugin to v2.7.1.1. I did this on my local machine first, and deployed to the client's staging server afterwards. Locally, I noticed no problems at all. Then after deploying to the staging server, a lot of the neo blocks were duplicated or even tripled.

This wasn't fixed after saving the page as suggested. So we had to revert the database to a previous

[2020-03-23 14:59] zizther commented on #318
Same issue for myself, on the same versions.
Resaving entries did not solve the issue.

[2020-03-23 16:12] studiobruikbaar commented on #318
I've got the same problem after updating to 2.7.1.1. (with Craft 3.4.10.1). All blocks are tripled, both in the CMS and front-end.

Possible useful info: the website contains 3 languages as well.

[2020-03-23 21:12] pvldigital commented on #316
Ah whoops. It needs to be grouped by all selected values instead of just sortOrder. Added a fix and will be releasing it soon.

[2020-03-23 21:20] pvldigital commented on #318
Hi All,

I'm sure I know what the issue was and have added a fix for it

[2020-03-23 21:29] pvldigital commented on #317
Hi @luke-nehemedia,

The issue is probably because the `structureId` wasn't set when querying the blocks. I have added the it to the element query so could you try it again?

[2020-03-23 21:31] pvldigital commented on #316
Has been released in v2.7.2. Can you try it again after updating?

[2020-03-23 21:34] pvldigital commented on #317
Also when updating neo, did the migration of the `sortOrder` field get processed? The order issue sounds like the `sortOrder` value wasn't set correctly.

[2020-03-23 21:49] Mosnar commented on #315
@pvldigital Unfortunately I can't share the database at this point due to client privacy. I did find that your latest update fixed the block duplication issue; however, now my blocks are out of order both on the frontend and backend. Resaving doesn't help

[2020-03-23 21:51] pvldigital commented on #315
Ah no worries. In that case can you check the `neoblocks` table within the DB? Can you see if the `sortOrder` columns is `null`?

[2020-03-23 22:12] Mosnar commented on #315
@pvldigital I just did a fresh re-run of the update and found that the neoblocks that were appearing out of order did not have a sortOrder; however, there are a handful of blocks that do have a sort order set.

[2020-03-23 22:48] Mosnar commented on #315
I believe I found the problem with the migration:
https://github.com/spicywebau/craft-neo/blob/master/src/migrations/m200313_015120_structure_update.php#L41

1) `'structureelements.id as sId'` should be `'structureelements.elementId as sId'` on line 39
2) structureelements is being joined on `id` rather than `elementId` on line 41

I updated the migration as such:
[code]

and re-ran it, and found

[2020-03-23 22:53] pvldigital commented on #315
ahh thanks for looking into that. I knew it was something to do with the migration but didn't notice that it should've been the elementId instead of id. Thanks for that!

[2020-03-23 23:11] pvldigital commented on #315
@Mosnar your fix has been applied and release in v2.7.2.1. thanks again for looking into that.

[2020-03-24 00:21] pvldigital commented on #317
@luke-nehemedia thanks to @Mosnar (issue #315), a fix has been made for the migration file which should fix up the sort order issue

[2020-03-24 00:53] #315 closed

[2020-03-24 06:19] OscarBarrett commented on #316
Confirming it's fixed 👍. Thanks

[2020-03-24 06:19] #316 closed

[2020-03-24 13:31] kffein-david opened #319 "On change event not trigger in redactor fields nested in a Neo when applying a style"
#### Description
When changing style in a redactor bloc ( adding bold) for exemple, on change event is not trigger.
We need to change content of the redactor ( adding a space for exemple)

#### Steps to reproduce
1. having a redactor field into a new
2. had a bold in the redactor field
3. save the entry
4. reload the page
Result: bold is not applied.

But if we

1. having a redactor field into a n

[2020-03-24 14:10] luke-nehemedia commented on #317
I just tried it again and this time everything works fine!

Thank you for your help.

[2020-03-24 14:10] #317 closed

[2020-03-24 23:51] zizther commented on #318
This issue is fixed for me using v2.7.2

[2020-03-25 05:57] pvldigital commented on #318
@zizther awesome.

@LarsDol @studiobruikbaar did it work for you?

[2020-03-25 06:20] studiobruikbaar commented on #318
@pvldigital Yes, everything works again after updating to v2.7.2. Thanks for the quick action.

[2020-03-25 21:29] pvldigital commented on #318
@studiobruikbaar awesome.

@LarsDol since the others has their issues resolved I assume your one will be as well after updating.

[2020-03-25 21:29] #318 closed

[2020-03-25 21:30] pvldigital commented on #319
@kffein-david v2.7.2.2 should fix this issue.

[2020-03-25 21:30] #319 closed

[2020-03-26 09:47] LarsDol commented on #318
Hi @pvldigital, thanks for the quick action! We'll test it soon, but currently on the verge of releasing some large updates to the rest of the codebase — so postponing the neo update for a bit. I assume everything works as intended now, as it does for the rest 🙂

If something pops up anyway I'll let you know.

[2020-03-26 14:42] sgtpenguin commented on #62
This would be nice!

[2020-03-26 15:25] httpster opened #320 "Block structure/order is completely screwed up since updating to 2.7.2.2"
#### Description
Since updating to 2.7.2.2 if I need to edit an entry my blocks are all over the place. Completely out of order or no longer nested properly. I have a bunch of content edits I need to make, but now I need to take a screenshot of the page and then essentially rebuild it. Not ideal.

#### Steps to reproduce
1. Edit an existing entry

#### Other information
- Neo version: 2.7.2.2
- Cr

[2020-03-26 21:27] pvldigital commented on #320
Hi @httpster,

Couple of questions:
Did you update from ~2.7.1 to the latest?
Can you check within the `neoblocks` table and see if there's any null values in the `sortOrder` column?
Is this a multisite?
Are you using mysql or postgresql?

If you could, can you send your composer files to plugins@spicyweb.com.au

[2020-03-27 13:52] httpster commented on #320
I updated from 2.6.5.1. I've checked my neoblocks table and the sortOrder column is pretty much all 'Null', there are very few rows with an integer value. I am not using multisite, and the database is mysql. I've sent my composer files.

[2020-03-27 16:22] maxstrebel opened #321 "Resaving a Matrix Block in NEO results in "throw new Exception('Attempting to save an element in an unsupported site.');""
#### Description
If you have a Matrix Block in a NEO Field the first save works fine. If you want to save it you get the error.

#### Steps to reproduce
1. Create a new Matrix Block nested in a NEO Field
2. Save entry
3. Reopen Entry
4. Edit content
5. Save

#### Other information
- Neo version: 2.7.3
- Craft version: Craft Pro 3.4.11
- (if multi-site) Are the affected Neo fields set to manage blo

[2020-03-27 16:47] maxstrebel commented on #321
Just to add, it also does not save the element to the other site on first save. So this might the cause of the issue?

[2020-03-28 07:31] pvldigital commented on #320
thanks for the info. it looks like the migration must have failed or didn't start at all for the `sortOrder` column.

can you check in the `migration` table and see if if has a row with `m200313_015120_structure_update` (or similar). if not try running `./craft migrate/up --plugin=neo`,

[2020-03-28 23:56] kerns opened #322 "Empty Neo tables left behind after uninstall..."
I don't know if this is a bug or if this is how Crafts plugin model is designed by I gave Neo a quick test drive, uninstalled it shortly thereafter, but noticed four (empty) tables remained in my database. I'm inclined to remove them, but wanted to let you know these were being orphaned. Again, maybe this is normal.

[2020-03-29 02:59] pvldigital commented on #322
Hi @kerns,

It should be fine to remove them.

[2020-03-29 02:59] #322 closed

[2020-03-29 03:00] pvldigital commented on #321
Hi @maxstrebel,

Hmm strange. I’ll have a look and see what I can do.

[2020-03-30 08:35] luke-nehemedia opened #323 "NEO field content disappears after preview → save (appears again with reload)"
#### Description
When I make some changes to a page while being in preview mode, then press "publish changes," the site will reload and all the contents of the Neo field will not show up. It shows an empty Neo field.
After pressing reload, the field shows up again with all its contents.
I am not sure whether this is purely Neo-related or also craft-related. However, all other fields on that page l

[2020-03-30 13:52] pablofernandezgh opened #324 "SQL error after updating to 2.7.3"
#### Description
I run into this SQL error after updating Neo from **2.5.7** to **2.7.3** and Craft from **3.3.14** to **3.4.11**
I go to an entry which contains a neo fields, and this happens

Database Exception – yii\db\Exception
SQLSTATE[42803]: Grouping error: 7 ERROR: column "elements.id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT "elements"."id", "e

[2020-03-30 14:05] httpster commented on #320
@pvldigital that row is in my migration table. Locally, I deleted that row and reran the migtation and my sortOrder table looks good now. I'll let you know if I notice anything weird, but I appreciate your help!

[2020-03-30 14:05] #320 closed

[2020-03-30 14:15] gglnx opened #325 "Displaced children"
#### Description

Since upgrading 2.7.3 we got sometimes the problem, that after saving an entry, all children get displaced from thier parents and all blocks are on the root level. Only moving all children to the correct parents after saving helps.

#### Steps to reproduce
I couldn't find a way to reproduce the problem yet.

#### Other information
- Neo version: 2.7.3
- Craft version: 3.4.11

[2020-03-30 22:12] markjoeljimenez commented on #257
#324

[2020-03-31 03:22] pvldigital commented on #323
Ah i think I know the issue. Will make some changes for it

[2020-03-31 03:23] pvldigital commented on #324
Hi @pablofernandezgh,

Are you using postgresql?

[2020-03-31 03:25] pvldigital commented on #325
Hi @gglnx,

When the issue occurs were you editing a draft and publishing the changes?

[2020-03-31 07:22] pablofernandezgh commented on #324
Hello @pvldigital
Yes indeed postgresql 10.6

[2020-03-31 08:33] Lennso commented on #321
Same here

[2020-03-31 09:17] gglnx commented on #325
My users say yes (I didn't encountered the problem yet myself), mostly using the live preview.

[2020-03-31 09:25] gglnx commented on #325
I reproduced the problem, like you said after editing a draft:

1. Create an entry with a Neo block
2. Publish it
3. Open it again, change like the title and save it as draft
4. Publish the draft

Now the the child blocks are outsite thier parents.

[2020-03-31 11:05] tomdavies opened #326 "[documentation request]Docs on updating Neo 2.5.x => 2.7.x while updating to Craft 3.4"
Hey,

I have a suggestion for an addition to the docs.

I found I was getting a failed craft (core) migration when attempting to upgrade from Neo 2.5.10 => 2.7.3 at the same time as updating from Craft 3.3.20.1 => 3.4.11

I traced it to the fact that `./craft migrate/all` will run Craft's own migrations _before_ plugin migration. However because the 3.4 update triggers element resaves, these resav

[2020-03-31 14:46] mmorkt opened #327 "Empty fields makes multiple queries and duplicated queries"
#### Description

Got a problem with empty fields generating multiple queries and duplicated queries in Neo.
A template example:

[code]

[code]

#### Steps to reproduce
1. Include dropdown or color field without a value set to default
2. fetch it
3. look at the number of queries / duplicated queries
4. Now add a value and test it. The queries are reduced

#### Other information
- Neo version: 2.7

[2020-04-01 00:47] pvldigital commented on #321
@maxstrebel @Lennso currently trying to replicate the issue. can you tell me what the propagation method is for the matrix field?

[2020-04-01 03:56] pvldigital commented on #326
Hi @tomdavies,

That's interesting, i'll have a look if I can prevent this issue from happening when using to Craft 3.4. If not i'll update the docs as you suggested

[2020-04-01 07:47] maxstrebel commented on #321
There are several Matrix Fields in use, but they should all be set to "Save blocks to all sites the owner element is saved in"

I was using Icon Picker (which is now removed) and use Super Table once. But not in the given case.

![image](https://user-images.githubusercontent.com/910594/78111919-b17e8380-73fd-11ea-9442-af8d1657f441.png)

[2020-04-01 11:20] luke-nehemedia commented on #323
Thank you!

[2020-04-01 12:45] Lennso commented on #321
<img width="1676" alt="Bildschirmfoto 2020-04-01 um 14 43 52" src="https://user-images.githubusercontent.com/11076634/78138475-3fbb2f80-7427-11ea-8746-7567666bbedc.png">
<img width="995" alt="Bildschirmfoto 2020-04-01 um 14 43 15" src="https://user-images.githubusercontent.com/11076634/78138487-42b62000-7427-11ea-9a52-1603157b516a.png">

If I want to change Dropdown value, the error occured. i use

[2020-04-02 01:44] pvldigital commented on #321
@maxstrebel @Lennso i've been trying to replicate the issue on my end but still weren't able to recreate it. is it possible for you to send your db and composer files to plugins@spicyweb.com.au?

[2020-04-02 05:05] pvldigital commented on #327
Hi @mmorkt,

Hmm that is strange. I'll have a look into it.

[2020-04-02 07:45] maxstrebel commented on #321
I will try. This happened on a Client project which I might not be allowed to share. But I'll try to pin it down.

It "might" be an issue with a set siteUrl, as I found out that this can cause trouble with the primarySite, which was new to me. I had set the site URL like this:

[code]

and got the error `An Error occurred while handling another error:
craft\errors\SiteNotFoundException: No primary

[2020-04-02 11:14] janmeeus opened #328 "Multi language site: blocks don't propagate to other languages"
#### Description
Multi (language) site setup: NL and EN
Trying to add Neo blocks to a homepage (entry type "Single"). The blocks don't get propagated from NL to EN.

#### Steps to reproduce
1: Neo block gets saved in NL. It doesn't propagate to EN.
2: Adding the Neo block in EN; the previous Neo block in NL gets removed.

#### Other information
- Neo version: 2.7.4
- Craft version: 3.4.12
- (if mu

[2020-04-02 16:33] rmdiaconu commented on #326
Hey @tomdavies.

I encounter the same error and tried your solution, but I keep getting the same error.

Any chance you can tell me the steps you followed to update to Craft 3.4?

Thank you.

[2020-04-02 16:49] its-me-mario opened #329 "Changes to links are not saved"
#### Description
Saving changes to a link on a (redactor) rich text field usually don't save changes. When the rich text field content is saved the first time everything seems fine but when editing an existing entry, updates to links don't save. This includes changes to: target, unlinking, link text and link url.

There are no console errors and did not notice any errors in the Craft debug toolbar

[2020-04-02 21:41] pvldigital commented on #329
Hi @its-me-mario,

It looks like the current detection of changes for redactor isn't working that well with the delta updates. I'll look into rewriting it to make it work as intended.

[2020-04-02 21:51] pvldigital commented on #328
Hi @janmeeus,

Is this issue only occurring for entry type "Single"? Or are "Structure" and "Channels" types affected as well?

[2020-04-02 23:46] pvldigital commented on #328
@janmeeus,

I've made a fix for the issue. Will be releasing it later this afternoon (my time).

[2020-04-03 02:40] pvldigital commented on #321
@maxstrebel thanks for the update. I'll keep looking into it on my end as well.

[2020-04-03 04:21] pvldigital commented on #326
Hey @rmdiaconu,

Can you try updating to Craft 3.4 with neo set as `"spicyweb/craft-neo": "2.6.5.1",` within your composer file first? You can then revert neos version within composer and then update it.

Steps:
1. Change neo within composer to "spicyweb/craft-neo": "2.6.5.1" (version before any migration changes for neo + 3.4 update).
2. Update Craft to 3.4
3. Revert neo within composer.
4. Updat

[2020-04-03 06:36] janmeeus commented on #328
@pvldigital To answer this question: I tested it with a Structure and there it was propagating fine. So only on a Single.

[2020-04-03 07:42] janmeeus commented on #328
Looks like your fix did the trick. Thank you!

[2020-04-03 07:42] #328 closed

[2020-04-03 10:12] Lennso commented on #321
Thanks for the fast update. It fixed the problem.

[2020-04-03 13:51] luke-nehemedia commented on #323
Latest update resolved the issue.

[2020-04-03 13:51] #323 closed

[2020-04-03 18:48] mach1media opened #330 "Failed jobs in queue manager: "Saving the neo structure for duplicated elements""
#### Description
Failed jobs in queue manager: "Saving the neo structure for duplicated elements."

#### Steps to reproduce
1. I'm guessing my client may have duplicated a NEO block, but not sure. A bunch of these failed jobs started showing up in the Queue Manager.
2. Go to Utilities > Queue Manager in Craft control panel to see failed jobs.

#### Other information
- Neo version: 2.7.3
- Craft ve

[2020-04-03 20:08] pvldigital commented on #330
Hi @mach1media,

What was the error within the failed job?

[2020-04-03 20:38] mach1media commented on #330
Thanks for taking a look at this. When I click one of the failed jobs it doesn’t show anything on the detail page, but does show a Craft flash message saying "Error at offset 56893 of 649158 bytes" for each failed job. Of course the offsets are bytes are different for each failed job. Sorry that doesn’t provide much info.

Roger Glenn
Mach 1 Media
roger@mach1media.com
www.mach1media.com
512-922-73

[2020-04-06 00:15] pvldigital commented on #330
@mach1media can you send your queue.log file to plugins@spicyweb.com.au? i've been trying to replicate but was unsuccessful

[2020-04-06 02:56] pvldigital commented on #329
@its-me-mario the latest release should have fixed this issue. have you tried it out yet?

[2020-04-06 02:58] pvldigital commented on #325
Hi @gglnx,

The latest release should have fixed the issue. Did you try it out?

[2020-04-06 02:58] pvldigital commented on #324
@pablofernandezgh the latest release contains a fix for sure issue. can you test it out on your end and see if it works?

[2020-04-06 06:12] pvldigital commented on #321
@Lennso oh the latest release fixed it for you?

@maxstrebel if you have a chance can you test it out as well?

[2020-04-06 07:22] pablofernandezgh commented on #324
Yep that fixed it, thanks a lot

[2020-04-06 07:22] #324 closed

[2020-04-06 07:26] maxstrebel commented on #321
@pvldigital sorry, not yet. But I will as soon as go-live is done ;)

[2020-04-06 11:22] gglnx commented on #325
Yes, looks goods. Thank you!

[2020-04-06 15:18] its-me-mario commented on #329
yes, it is working in 2.7.5.

Thanks!

[2020-04-06 17:27] rmdiaconu commented on #326
Hey @pvldigital, tried your solution and the following error occurred:

`Performing one update:

    - craft 3.3.20.1 => 3.4.13

Backup the database? (yes|no) [no]:n
Skipping database backup.
Performing update with Composer ... error: An error occurred

Output:

<warning>Package "craftcms/vue-asset" listed for update is not installed. Ignoring.</warning>
<warning>Package "danielstjules/stringy" li

[2020-04-06 21:04] pvldigital commented on #329
Awesome, good to know it’s working for you

[2020-04-06 21:04] #329 closed

[2020-04-06 23:52] pvldigital commented on #326
Hi @rmdiaconu,

How are you updating to the latest craft version? Are you using the command line (if so what was the command)?

Can you also send over the composer file to plugins@spicyweb.com.au so I can have a look?

[2020-04-07 10:59] gglnx commented on #325
I'm sorry. We got still the issue. Our hotfix is to patch out the job creation (`src/services/Fields.php`) and make everything synchronous.

[2020-04-07 16:08] yoannisj commented on #325
I have been experiencing the same issue, with live entries as well (not only drafts), on every save, but only for one of the neo fields on the site. I then noticed that the entry were the Neo field was used, also made use of a Preparse field, which was rendered beforeSave and accessed the neo field contents using a `type` criteria.

Updating the Preparse field's twig code to not include any filter

[2020-04-07 16:11] yoannisj commented on #325
@gglnx , it might be worth checking if you have any code that runs on the `Elements::EVENT_BEFORE_SAVE` event and accesses your Neo field blocks in a similar way (by selecting some blocks only with query criteria).

[2020-04-08 12:33] hiasl commented on #326
@pvldigital We had the same issue as @tomdavies (hi btw :-) ) and I can confirm that locking to Neo to 2.6.5.1  in the first steps solves the problem.

It also solves another problem, which might happen when coming from before Craft 3.4.0 because the Neo migration of 3.7.5 tries to delete a row from the separate projectconfig table, which does not exist if Craft's migrations have not been done bef

[2020-04-10 09:32] TimvanDijkhuizen commented on #330
@pvldigital I'm also having some major issue's with a site I'm working on. We've got a bunch of nesting and the jobs that NEO is trying to push cause the SQL server to give up: MySQL server has gone away.

The commit above should fix this too. I hope it will be released soon as our client is unable to save some entries. Thanks in advance!

[2020-04-11 21:07] avr commented on #326
I ran into this today and followed these steps without any issue.

Before the update, I was at Neo 2.5.10 and Craft 3.3.20.1

1. Modify composer.json to set Craft to "3.4.0" and Neo to "2.6.5.1"
2. From the command line, run `composer update`
3. From the Admin CP, run the available updates independently (vs. running "Update All")
4. After updating all my other plugins and Craft, finally update Neo

[2020-04-12 12:11] andrewfairlie opened #331 "Collapsed blocks don't show preview until you click it once"
#### Description
Collapsing blocks is useful on entries with loads of nested blocks. But currently, the preview of what's inside a block doesn't show on page load which reduces how useful it is

#### Steps to reproduce
1. Collapse a block with nested blocks
2. Save the entry
3. Go back to the entry
4. The preview doesn't show until you click it

**On Load**
![image](https://user-images.githubuserc

[2020-04-15 00:01] nickroberts commented on #330
I am getting this same error, as well. Not sure what the issue is. I even killed the db, then started over from the project config. It doesn't seem to be causing any issues with any of the entries, so I have no idea what is going on.

[2020-04-15 01:29] pvldigital commented on #330
@nickroberts @TimvanDijkhuizen can you answer the points below:

Neo version:
Craft version:
Is multisite:
PHP version:
Mysql or postgresql:
Any errors within the failed job:

If you can send your composer.json and lock to plugins@spicyweb.com.au

[2020-04-15 01:30] pvldigital commented on #331
Hi @andrewfairlie,

I'll look into it.

[2020-04-15 01:31] pvldigital commented on #326
@hiasl @avr good to know those steps worked for you. I'm currently working on a fix for this so any future updates will not have this issue.

[2020-04-15 02:07] engram-design commented on #330
Getting the same error, pretty persistently with a whole other bunch of Neo issues at the moment. Blocks are disappearing as well.

Error message is `Creating default object from empty value`, I'll try to get some more detail in a second.

[2020-04-15 03:29] nickroberts commented on #330
Pretty much the same thing here. I'm running a headless multi-site install...

## Saving the neo structure for duplicated elements
| | |
| --- | --- |
| ID | 253 |
| Status | Failed |
| Error | Creating default object from empty value |
| Progress | 30% |
| Time to reserve | 300 seconds |
| Priority  | 1024 |
| Pushed at | Apr 14, 2020, 11:20:27 PM |
| Updated at | Apr 14, 2020, 11:20:28 PM |
| Fa

[2020-04-15 05:28] pvldigital commented on #330
@engram-design @nickroberts  thanks for the info. The only issue I'm facing is being unable to replicate it all this time which is baffling to me.

@engram-design interesting that `getBlockById ` needed the `siteId`, I guess multisite requires it so it can narrow down the block.

Can you both also send me your queue logs as well? (to plugins@spicyweb.com.au or attach it with a comment).

[2020-04-15 05:58] engram-design commented on #330
@pvldigital Not sure if you're testing on a multi-site? I can potentially provide some access to the database. We're facing a couple of other issues with Neo, in that saving drafts in one site completely wipes blocks in all other sites - which is a nightmare for our client.

Sending the queue log to you. Feel free to get in touch on the Craft Discord (handle `crawf`)

[2020-04-15 06:03] pvldigital commented on #330
@engram-design yep i'm testing with both multisite and non multisite and still wasn't able to replicate the issue. For now I'll make a release that doesn't use job and immediately creates the neo structure. Will look into the draft issue as well.

[2020-04-15 06:22] pvldigital commented on #330
@engram-design re draft issue: the issue occurs when publishing a draft and not when it auto saves correct?

[2020-04-15 07:58] engram-design commented on #330
@pvldigital Correct although @javangriff can shed some more details on this. After a bit of testing it seems that the previous issue of blocks losing their nesting has been fixed.

However, when publishing changes from a draft the content of the field within other sites is deleted/overwritten. This is pretty noticeable because using Live Preview does this, as it creates a draft, and the client wil

[2020-04-15 08:39] TimvanDijkhuizen commented on #330
As I expected my error has already been fixed by version 2.7.6

[2020-04-15 12:14] nickroberts commented on #330
I haven't seen the disappearing blocks issue, but I haven't really got into dealing with other sites, yet, as I have just been testing on a single site.

As far as versions of things, you can see what versions of plugins I have running in https://github.com/spicywebau/craft-neo/issues/330#issuecomment-613795125.

Here are my composer.json and composer.lock files (in a zip).

[composer-files.zip](h

[2020-04-16 00:17] pvldigital commented on #330
@nickroberts thanks. is this occurring with testing it locally and on the live site?

I've made further changes in my latest commit. If possible can you test it out? @engram-design @nickroberts.
I'm currently testing it myself with single and multi site and will release the changes soon once that's completed.

[2020-04-16 02:15] javangriff commented on #330
@pvldigital After doing some testing with your latest changes, it looks like the issue has been fixed. After publishing changes from a draft, the contents of the other sites within a multisite setup are unaffected. Thanks for the prompt work on this one and thanks @engram-design for the input.

[2020-04-16 02:27] pvldigital commented on #330
@javangriff good to know it's working for you. I will release the new version in a bit after some further testing.

[2020-04-16 03:08] nickroberts commented on #330
This was happening both locally and in a published dev environment.

Glad to hear testing is going well! I haven't had time to go through and test myself, but I hope to in the next day or so, possibly with the latest release (if you make one before I can get to it).

Thanks!

[2020-04-16 03:23] pvldigital commented on #331
Hi @andrewfairlie,

Issue with the preview is resolved in the latest version, 2.7.7.

[2020-04-16 03:23] #331 closed

[2020-04-16 03:29] pvldigital commented on #330
A new version has been released, 2.7.7, which includes changes for this issue.

@nickroberts when you have time test out the new version and see if it resolves it on your end.

[2020-04-16 03:31] pvldigital commented on #325
@gglnx a new release with changes to the job has been made. if you can test it out and see if it resolves your issue.

[2020-04-16 04:59] nickroberts commented on #330
I just pulled down the latest release, and it looks like we are good to go. Thanks!

[2020-04-16 06:53] jarheadcore opened #332 "Serialization of 'Closure' not allowed"
#### Description
Keep getting the error «Serialization of ‘Closure’ is not allowed» when I try to save an entry that contains a wheelform form field inside a Neo content builder.

#### Steps to reproduce
1. Open entry, select new neo block with wheelform field (to select a form)
2. Save entry -> Error

#### Other information
- Neo version: 2.7.3
- Craft version: 3.4.12
- Wheelform version: 2.4.2
-

[2020-04-16 07:03] pvldigital commented on #332
Hi @jarheadcore,

Can you try updating to the latest version? I've made changes to neo job structure for the last couple versions.

Also if possible can you send your web and queue log to plugins@spicyweb.com.au

[2020-04-16 07:16] jarheadcore commented on #332
Good Morning

Updating the plugin solved the issue, thank you for the fast reply

Kind regards
Christian

Am Do., 16. Apr. 2020 um 09:03 Uhr schrieb PL <notifications@github.com>:

[2020-04-16 08:39] pvldigital commented on #332
Awesome good to know it worked for you.

[2020-04-16 08:39] #332 closed

[2020-04-16 08:40] pvldigital commented on #330
@nickroberts awesome good to know it resolved the issue on your end.

@mach1media has the latest update resolved this issue for you?

[2020-04-16 12:40] joruro opened #333 "Assets already uploaded don't appear on new entries"
#### Description
Our assets are configured to dynamic upload locations (e.g. `{{object.section.handle}}`)

<img width="589" alt="Screenshot 2020-04-16 at 14 35 14" src="https://user-images.githubusercontent.com/12788171/79456858-87c57f00-7fef-11ea-8062-dc6bed5408d1.png">

It happens that when creating a new entry, the user can't see the already uploaded assets for that location. I also found out t

[2020-04-16 14:23] mach1media commented on #330
Yes Peter! The latest release fixed the “Saving the neo structure for duplicated elements” I originally reported. Thank you! 🙏🏻

[2020-04-16 18:50] pvldigital commented on #330
@mach1media awesome.

[2020-04-16 18:50] #330 closed

[2020-04-16 19:01] pvldigital commented on #321
@maxstrebel have you had a chance to test it out?

[2020-04-16 22:31] pvldigital commented on #333
Hi @joruro,

There was a similar issue previously, #233, and this was fixed in version v2.6.2.

[2020-04-17 13:24] maxstrebel commented on #321
@pvldigital will test next week. Sorry to keep you waiting.

[2020-04-20 07:46] tomdavies commented on #326
Just to close the loop on this: updating to `2.6.5.1` first worked for me too. Many thanks @pvldigital. Feel free to close this issue if you have another place you're tracking the required change for a long term fix

[2020-04-20 07:53] tomdavies opened #336 "[question] How to test for broken neo structures after update to 2.7.x?"
#### Description

In the release notes for [2.7.0](https://github.com/spicywebau/craft-neo/releases/tag/2.7.0) it says:

Can you tell me how this issue presents to the user when it occurs? i.e. how do we test after running the update + migration in order to know if we are affected?

My question is aimed at avoiding the issue in #317, but we're using Neo on a pretty large production site, so manual

[2020-04-20 13:54] gglnx commented on #325
Now it works. Thank you @pvldigital! :)

[2020-04-20 13:54] #325 closed

[2020-04-20 15:49] rhoffmann commented on #120
I have this problem appearing again after updating to the latest version of the neo plugin on a multi language site. (Craft 3.4.13 / Neo 2.7.5) When saving any entry (basically creating a new version) in a locale, the neo content on the other locales just disappears. Resetting it to an old version of the entry did not work.

I remember that I had this issue also a few months back, it cost me a lot

[2020-04-21 00:11] pvldigital commented on #336
Hi @tomdavies,

Ah I should've gave a better explanation. That warning was mostly because blocks that might appear after updating. Once you remove those blocks and save it should fix itself. It should be fine when updating to the latest neo version, most issues with the migration was taken care of.

I suggest cloning the site locally, update and then see if anything is out of place first.

[2020-04-21 02:07] pvldigital commented on #120
Hey @rhoffmann,

Can you update to the latest neo version? There has been some changes when saving for multisites and how the structure is created for it.

[2020-04-21 08:46] rhoffmann commented on #120
Hello @pvldigital,
thanks for the hint. I updated to this version and it seems to have fixed it, i could revert the entry to a previous state.

[2020-04-21 14:00] joruro commented on #333
Thanks!

[2020-04-22 08:12] medoingthings opened #338 "relatedTo criteria seems to mess with following queries"
#### Description
I have a weird behavior of Neo in combination with the `relatedTo` criteria.

When I do this – I get the data I expect:

    {% set defaultTarget = person.shortDescriptions.type('defaultText').one %}
    {% set relatedTarget = person.shortDescriptions.type('relatedText').relatedTo(entry).one %}

But as soon as I switch out those lines into the following – `defaultTarget` becomes `

[2020-04-22 23:03] pvldigital commented on #338
Hi @medoingthings,

Hmm that is strange. I'll have a look into it.

In the second example what does `defaultTarget` return compared to the first one?

[2020-04-23 09:21] medoingthings commented on #338
Thanks for getting in touch @pvldigital.

In the first example I get the Neo block as expected, so I can get the text like this: `{{ defaultTarget.richtext }}`
In the second example `defaultTarget` is `null`.

[2020-04-23 09:22] phillmorgan28 commented on #336
Hi

I am also affected by this issue. I have run an updated test on our site and it appears that the majority of our data is being lost.  Re-saving entries either through CLI or control panel does not correct the issue.

For example, our header/nav uses Neo on a global. Upon update, all but one of the menu items were lost. When re-saving repeatedly through the control panel, 4 out of 8 items were

[2020-04-23 13:55] joruro commented on #333
Hey @pvldigital

I've updated the NEO and CraftCMS. The issue was fixed for entries, but for categories I still have the same issue.

Neo version: 2.7.7.1
Craft version: 3.4.16

[2020-04-23 14:12] tomdavies commented on #336
Gotta say this is giving me the fear about updating, as we're using on a site with 3000+ entries that use Neo, so checking each one is infeasible. But this also seems different from the description in the release notes / @pvldigital's last post: that was about unwanted blocks appearing, not existing blocks being lost.

Is this actually new bug report @phillmorgan28?

[2020-04-23 22:31] pvldigital commented on #333
@joruro ah really? i'll have a look into it.

[2020-04-23 22:34] pvldigital commented on #336
@phillmorgan28 @tomdavies stay at version `v2.6.x` for now. I'll have a look further into the issue and the migration file. `v2.6.x` should be fine since `v2.7.x` mostly changes how the structure is built.

[2020-04-23 22:35] pvldigital commented on #326
Latest version v2.7.8 has a fix for this issue. Updating from an older version to Craft 3.4 shouldn't cause any issues.

[2020-04-23 22:35] #326 closed

[2020-04-23 23:15] pvldigital commented on #336
@phillmorgan28 are you using a multi-site setup?

[2020-04-24 00:17] pvldigital commented on #338
@medoingthings ah sorry I didn't read your initial comment correctly, just noticed you said it was `null`.

As for this issue, it's because `relatedTo` has been set previously in `relatedTarget`, which sets it for the whole query. You'll need to set the `relatedTo` to `null` before it can be queried. Or clone the block query beforehand first so it can do two separate queries.

e.g
[code]

However

[2020-04-24 00:38] pvldigital commented on #338
Hmm it looks like the matrix field also behaves like this. I assume this is just how `relatedTo` is used.

[2020-04-24 02:03] pvldigital commented on #333
@joruro can you post the sub path used for categories?

[2020-04-24 06:33] pvldigital commented on #336
@tomdavies @phillmorgan28 with my latest commit and testing, I can see no issues with updating from

Craft 3.3.10 -> 3.4.16
Neo 2.5.10 -> latest commit

All the globals, category and entries that has neo blocks are correctly set for me.

I'll do some further testing with multisite and bigger sites with a huge amount of entries.

[2020-04-24 07:47] tomdavies commented on #336
@pvldigital we are using multi site FWIW. I am also going to do some testing too, as I figure I can fairly easily write a debug template that counts the neo blocks displayed on each entry, and can use that to before/after test

[2020-04-24 08:36] maxstrebel commented on #321
Okay, tested it. Works. Though I'm still not sure if this might have been the `siteUrl` parameter, which seems to have issues with default site.

I will try to test it myself when I find the time:

1. New setup without siteUrl in general.php
2. Create Sites via Backend, set a default Site
3. AFTER that: create a siteUrl Array

This happened in my project. As I said, I don't know if that created th

[2020-04-24 08:36] #321 closed

[2020-04-24 22:25] pvldigital commented on #336
@tomdavies thanks for the info.

You can test the latest commit by changing the version within composer to `dev-craft-3-dev`, this should switch to the dev branch of the repo.

[2020-04-27 04:16] tyssen opened #342 "Return value of benf\neo\Plugin::_setupBlocksHasSortOrder() must be an instance of benf\neo\void, none returned after updating from 2.7.6 to 2.7.8"
#### Description
I've just updated Neo from 2.7.6 to 2.7.8 and everything went fine on my local, but when running the update on staging, I got

in the terminal and the same message when visiting any page, front or back end.

#### Steps to reproduce
1. Composer update on local, everything checks out OK
2. Commit, push to staging
3. Composer install on staging, it reports

and then when it runs thro

[2020-04-27 07:10] pvldigital commented on #342
Hi @tyssen,

Fix has been made for this issue. Released in v2.7.9

[2020-04-27 07:11] pvldigital commented on #333
@joruro fix has been made for this issue in v2.7.9

[2020-04-27 09:51] tyssen commented on #342
Getting a different error now when trying to create a new entry (resaving old ones works OK):

[2020-04-27 10:06] pvldigital commented on #342
Hi @tyssen, which php version are you using?

[2020-04-27 10:07] tyssen commented on #342
7.0.33

[2020-04-27 21:02] pvldigital commented on #342
Ah that’s probably why. The void return type isn’t available in 7.0. Will make the changes so it’s more compatible.

[2020-04-27 23:07] pvldigital commented on #342
@tyssen v2.7.9.1 has removed the `void` return type. This should make it compatible with php 7.0

[2020-04-28 20:15] chasegiunta opened #346 "Update Neo styles to match 3.4"
The styles of Matrix blocks have changed slightly (a little more blue, a little less lines) with 3.4 and it sure would be _swell_ if Neo's block styling was updated to match!

[2020-04-28 23:02] pvldigital commented on #342
@tyssen so is everything good on your end? if so we can close this issue.

[2020-04-28 23:03] pvldigital commented on #333
Hey @joruro, has the release fixed the issue for you?

[2020-04-28 23:08] tyssen commented on #342
Yep, all good.

[2020-04-28 23:08] #342 closed

[2020-04-28 23:09] pvldigital commented on #346
Hi @chasegiunta,

Sure I can do that. Should be available in the next release.

[2020-05-05 01:30] tyssen opened #347 "Conditional for first and last Neo blocks of certain type"
I want to have a Neo column block that can contain some text followed by some FAQs followed by more text. Column, text, and FAQ are all separate blocks; columns can contain text and FAQs.

I also want to wrap the FAQs in an element so, as the loop is running, I need a conditional for the first and last FAQ block types.

I thought I might be able to do something like this:

    {% for module in neo

[2020-05-06 01:06] pvldigital commented on #347
Hi @tyssen,

You could try something like this instead:
[code]
Explanation: the `module` is the returned data and not a block query which is why when you try to output the `id` it displays nothing. You'll need to query the `first` and `last` FAQ outside the loop first before doing what you need.

[2020-05-06 01:57] tyssen commented on #347
Great, thanks. That's what I needed. 👍

[2020-05-06 01:57] #347 closed

[2020-05-07 03:32] pvldigital commented on #338
since this inherently how the query works in craft, which neo extends, there's not much I can do. The method I listed above to get around the issue will work though as it clears the `relatedTo` in the query.

[2020-05-07 03:32] #338 closed

[2020-05-07 03:51] pvldigital commented on #346
Hi @chasegiunta,

Just released a new version, 2.7.10. It has styling for neo blocks that are more inline with craft 3.4.

[2020-05-07 03:51] #346 closed

[2020-05-08 08:58] joruro commented on #333
Hey @pvldigital
Thanks for the fix but still having the same issue. I've updated everything to the latest.

Neo version: 2.7.10
Craft version: 3.4.18

[2020-05-09 11:10] r0skar commented on #106
Hi! First of all thanks for your work on this plugin. Its awesome. I was wondering if you are still considering adding this feature? Or is there workaround?

[2020-05-10 23:05] pvldigital commented on #106
Hi @r0skar,

Can't be certain when it will be released but it is on my TODO list.

[2020-05-10 23:06] pvldigital commented on #333
@joruro ah really? is the issue still happening within the category?

[2020-05-11 08:04] r0skar commented on #106
That's great news! Let us know if there is anything we can help you with :+1:

[2020-05-11 12:08] joruro commented on #333
Yes, only on the categories now. Entries was fixed

[2020-05-12 13:30] Sam-Black-0013 opened #348 "Text field inside matrix gets empty after save"
#### Description
I have a neo block that contains a matrix field that contains some text field
-Neo Block(Main Block)
    -- Title
    -- Post Date
    -- Matrix Field(Sub Blocks)
         ------Description
         ------Related Entries
         ------Enable Search

After i save the entry, the Description field becomes empty. After i changed the propagation method for the matrix field to **Only s

[2020-05-12 22:22] bryantAXS commented on #256
This is essentially what I'm talking about!

https://github.com/weareferal/craft-matrix-field-preview

[2020-05-13 07:16] r0skar opened #349 "Nested Matrix fields not resolved when queried with a GraphQL Fragment"
#### Description
When using Fragments to query blocks, nested Matrix fields are not resolved:

[code]

returns

[code]

Once we inline the fragment like so:

[code]
all fields are resolved:

[code]

This is an issue because we have numerous blocks and dont want to inline them all into a huge query (also the apollo:codegen utility will output much nicer types when using Fragments).

#### Other info

[2020-05-13 09:13] medoingthings commented on #338
Thanks @pvldigital for digging into this. Good to know there is a workaround.

Keep up the great work, cheers!

[2020-05-13 23:10] pvldigital commented on #333
@joruro hmm that's strange. can you send me the sub path for the asset field?

[2020-05-14 00:44] pvldigital commented on #336
@tomdavies I've been testing with the latest releases and it seems to be working correctly for me (updated some sites to the latest). I think the issue lied with #326 + some issues with the migration file which is now updated. The only thing the migration should do is add the `sortOrder` value to the blocks, which after updating will be used instead.

[2020-05-14 00:45] pvldigital commented on #348
Hi @Sam-Black-0013,

That's a strange issue, i'll have a look into it.

[2020-05-14 01:04] pvldigital commented on #348
@Sam-Black-0013 is the description a redactor/rich text field or is it a plain text field?

[2020-05-14 04:18] pvldigital commented on #349
Hi @r0skar,

it seems like this works:

[code]

which is strange.. I'll have a look into the issue.

[2020-05-14 06:35] pvldigital commented on #349
another thing I noticed was fragmenting works with neo block types but not matrix block types. still looking into the issue.

[2020-05-14 07:47] tomdavies commented on #336
Thanks for following up @pvldigital. Back on this project next week so will take a look then

[2020-05-14 08:42] Sam-Black-0013 commented on #348
a plain text field

[2020-05-14 23:01] pvldigital commented on #348
@Sam-Black-0013 tested with both plain text field and redactor and still unable to replicate the issue.

Have you noticed any errors within the browser console? And if possible can you send your web.log file (to plugins@spicyweb.com.au) after the issues occurs.

[2020-05-19 09:10] royslampaq opened #350 "Changes to text/Redactor fields are invisibly lost after required relationship field update"
#### Description
If changes are made to a Neo field which includes both a Redactor field and a Content or Asset field, where the Asset field fails verification at first, the changes to the Content field seem to still be present, but if the Neo field is saved after the Relation/Asset field is fixed, the changes to the Redactor field are lost.

#### Steps to reproduce
1. Have an entry with a Neo fie

[2020-05-20 00:40] ttempleton commented on #350
Thanks for reporting this, @royslampaq; turns out the blocks' modified state was not being set on the page reload, causing any blocks not modified after the validation error not to be resaved.  This has now been fixed in Neo 2.7.11.

[2020-05-20 00:40] #350 closed

[2020-05-20 09:58] ttempleton commented on #124
There is currently no easy way to limit the returned Neo blocks across an entire section.  My best suggestion for anyone wanting to achieve this is to keep a counter variable of the number of blocks processed, do your for loops over the entries/blocks (*without* a limit parameter, unless you want to limit the number of entries), increment the counter for each block processed, and stop processing b

[2020-05-20 09:58] #124 closed

[2020-05-22 13:49] ttempleton commented on #333
I can reproduce this issue with categories and also Craft Commerce products.  I'll test with other element types to confirm those, but it seems like the lack of element ID for new categories and products (as opposed to entries, which already have an ID thanks to the automatic saving of entry drafts) is causing Neo not to be able to set the correct folder to view when dynamic asset paths are involv

[2020-05-24 02:48] ttempleton commented on #333
This has been fixed in Neo 2.7.12.  Neo now passes the owner element through to the Neo blocks when rendering the block tabs on an element edit page, rather than just the owner ID, so a dynamic upload path using properties of the owner element will have the appropriate owner to query even if the owner hasn't been saved yet.

[2020-05-24 02:48] #333 closed

[2020-05-26 09:27] lexislav opened #351 "Collapsed field cover action buttons on right side"
In some cases collapsed Neo field summary covers action buttons on right side and is harder to locate them.
This happens at least when another Neo block or Supertable is nested.
I guess it would desire a bit of tuning.

![image](https://user-images.githubusercontent.com/7147349/82883894-55d6ff00-9f43-11ea-8725-575f1ac505b4.png)

[2020-05-26 20:52] lucasvallenet opened #352 "Attempting to duplicate an unsaved element."
#### Description
I have a multi-site Craft setup and a main Neo field with multiple blocks (supertable, matrix, select, ...).
When I add any block and save the entry, I encounter the following error:
"Attempting to duplicate an unsaved element."

<img width="1634" alt="Screen Shot 2020-05-26 at 4 46 46 PM" src="https://user-images.githubusercontent.com/6137581/82949112-07d8f000-9f71-11ea-946c-88e9

[2020-05-27 18:27] richardegil commented on #352
I am having a similar issue, I couldn't tell if it was Craft or Neo causing the problem.

https://github.com/craftcms/cms/issues/6142

[2020-05-28 02:50] ttempleton commented on #352
I've yet to reproduce the error, but I agree with the resolution from the Craft issue report that this is probably a Neo bug.

Is the involved Super Table (or Matrix) field set to the same propagation method as the Neo field?

[2020-05-28 05:42] BSBjorn commented on #352
I am having a similar issue when trying to save an entry with a Neo field, with matrix and supertable fields inside.

The issue emerged when I added a supertable field, to an existing matrix block. The supertable first throws error for missing values in my frontend template, even when I have a test for null or empty, if i try to add the values in CP the "duplicate unsaved element" exception is thr

[2020-05-29 05:49] ttempleton commented on #352
@BSBjorn, could you please let me know if your Craft installation is multi-site, and if so, what the propagation methods of the Neo, Matrix and Super Table fields are?  I haven't been able to reproduce the error and I'm wondering if there is a certain combination that causes it.

[2020-05-29 06:25] BSBjorn commented on #352
My site is NOT a multisite setup. Can you set propagation on a single site?

[2020-05-29 11:49] r0skar commented on #349
Hi! I was just wondering whether there is any progress on this issue? We are in the middle of creating multiple client projects with Craft+Neo and would really love to refactor our codebase to use Fragments once this bug is resolved.

[2020-05-29 12:40] ttempleton commented on #349
Hi @r0skar,

I recently tested with Craft's 3.5 beta branch after seeing craftcms/cms#5998, and saw that a Matrix->Super Table fragment query that wasn't working with 3.4 was working with the 3.5 code.  However, Neo->Matrix (and Neo->Super Table, for that matter) wasn't working, so at this stage I'm not sure whether it's something that would need to be fixed on Craft's or Neo's end.

What I do kno

[2020-05-29 13:24] emandiev opened #353 "How can I set a Neo field's values from my plugin/module?"
Hello!
I wish to programmatically set the value of a Neo field.
This is my current approach:
[code]
Of course this doesn't work.
Can someone point me in the right direction?
Here is a screenshot of the Form Data that is passed when setting the value manually from Craft CMS.
![image](https://user-images.githubusercontent.com/15157695/83264344-9b582e00-a1c8-11ea-979a-51ff9466a247.png)

Just to confi

[2020-05-29 13:48] emandiev commented on #353
I just figured it out.

For anyone facing the same issue, here is what worked for me:

[code]

[2020-05-29 13:48] #353 closed

[2020-05-29 20:22] mach1media opened #354 "Updating entry w NEO field results in exception "Attempting to duplicate an unsaved element""
#### Description
Updating existing entry with NEO field produces yii exception "Attempting to duplicate an unsaved element."

vendor/craftcms/cms/src/services/Elements.php at line 734

#### Steps to reproduce
1. Create new entry with NEO field and SAVE
2. UPDATE entry with NEO field making one small change to any field
3.

#### Other information

##### Application Info
PHP version	7.3.9
OS version

[2020-05-30 01:50] ttempleton commented on #352
Thanks, @BSBjorn, and no, there are no propagation method settings on the fields on a single site.  I'll keep looking into it and figure out why this is happening.

[2020-05-30 01:56] ttempleton commented on #354
Closing this issue as a duplicate of #352.

[2020-05-30 01:56] #354 closed

[2020-06-01 14:38] riusi88 commented on #226
Hi @pvldigital

We are currently experiencing this issue, and we believe we've isolated it to the Neo fields we are using since they are the fields being effected. Multi-Lingual Neo Fields is a mission critical system we've built into the site, and this issue is unfortunately leading to lost work.

**Project Overview:**
The project has many language specific multi-sites, with Sections that have a

[2020-06-01 14:38] lucasvallenet commented on #352
My Neo field was set to "Save blocks to other sites in the same site group" and I had multiple Super Tables with a mix of propagation methods ("Save blocks to other sites in the same site group" / "Save blocks to all sites the owner element is saved in").

I've updated all my Super Table fields to have the same propagation method as the Neo field and I don't have any error for now.

I'll keep you

[2020-06-01 23:16] pvldigital commented on #226
Hi @riusi88,

We'll look into this. Will try to replicate the issue first before requesting for the db/logs/composer.

Can you also add a new issue with the information posted? Will make it easier for us to keep track. Thanks.

[2020-06-02 14:20] riusi88 opened #355 "Neo Propagation/Translation Method Issues"
**Summary:**
We are currently experiencing an issue where the Translation Method on internal block type fields are not always being respected. A Neo field saved on one site sometimes has it's fields contents propagated to other sites, and overwriting content. The issue does not occur all the time, but it is persistent.

**Project Overview:**
The project has many language specific multi-sites, with

[2020-06-02 14:21] riusi88 commented on #226
Thank for looking into this @pvldigital . As requested I've created a new [issue #355 ](https://github.com/spicywebau/craft-neo/issues/355).

[2020-06-03 06:03] ttempleton commented on #351
Thanks for reporting this, @lexislav, it has now been fixed in Neo 2.7.13.

[2020-06-03 06:03] #351 closed

[2020-06-03 12:14] ttempleton commented on #209
Closing this issue now, due to inactivity and the error not being reproducible.  If the error persists for you, please let us know the information that was requested regarding the Neo block configuration and field layout changes that triggered the error, and we will reopen the issue.

[2020-06-03 12:14] #209 closed

[2020-06-03 14:58] rbaud commented on #325
We have been experiencing this issue off and on for at least a couple of months, and I can confirm that it is still an issue (this morning) with Neo 2.7.12 and Craft 3.4.21.

[2020-06-04 01:05] tom-id-au opened #356 "Disabling parent block in live preview causes children to save to top level"
#### Description
When editing in live preview, if you disable a block, the child blocks are saved on the same level as the parent block, not child blocks. Does not occur outside of live preview.

#### Steps to reproduce
1. Create a page with a block with child blocks
2. Open in live preview and disable the parent block
3. Save, then check back to find the child blocks on same level as parent (top

[2020-06-04 01:28] tom-id-au commented on #356
It appears to be okay with Neo 2.7.13 and Craft 3.4.20, so I'm assuming it is an issue that has come out in Craft 3.4.21, Craft 3.4.22 or Craft 3.4.22.1. There are lots of changes relating to structures in those Craft updates.

[2020-06-04 02:56] ttempleton commented on #356
Thanks for reporting this, @tom-id-au; I can see this behaviour for any case where the parent block is disabled while editing a draft entry, not just when live previewing an entry.  I'll keep looking into what's happening to cause this.

[2020-06-04 03:33] jacksoncool opened #357 "Can't create a new block"
#### Description
I upgraded to the most recent version of Craft and Neo. When I try to create a new neo field, I'm unable to create a new block. This only occurs when creating a new neo field. Not working with existing fields.

The only way i can make things work correctly is to save the field, then go back in and edit.

#### Steps to reproduce
1. Create new field
2. select neo type
3.select block

[2020-06-04 04:02] jacksoncool opened #358 "Link plugins don't work correctly with Neo"
#### Description
I've tried all the link field plugins and none of them work correctly with neo. The Linkit plugin options do not show up all. And all three including Linkit, The Typed Link field, and LInk none of them can be "replicated" when you are creating an entry.

#### Steps to reproduce
1.
2.
3.

#### Other information
- Neo version:
- Craft version:
- (if multi-site) Are the affected Neo

[2020-06-04 04:07] ttempleton commented on #356
This was happening during the Neo fields service's `duplicateBlocks()` method call, which internally calls the Craft elements service's `duplicateElement()` method, so I suspect that Craft's element duplication is causing this somehow.  In any case, the newest Neo release v2.7.14 makes sure that a duplicate block has the same level as the original block, which fixes this issue.

[2020-06-04 04:07] #356 closed

[2020-06-04 05:56] tom-id-au commented on #356
Thank you @ttempleton for the rapid patch! I've tested on my local and deployed to staging, working there too. 👍

[2020-06-04 13:59] ttempleton commented on #358
Hi @jacksoncool,

I've been unable to reproduce this so far, all three link plugins seem to be working with Neo when I test them.  Are there any JavaScript errors when the fields aren't working?

[2020-06-05 09:36] berraisabdelaziz opened #359 "After updating from craft 2 to craft 3 why old neo contents are missing in backoffice entries?"
#### Description
After updating craft to craft 3 and installing Neo plugin for craft 3, old neo contents not appear for all entries
#### Steps to reproduce
1. update craft 2 with neo plugin  to craft 3
2. Install new plugin Neo for craft 3
3. Go to backoffice and open entries => old contents built with Neo are missing

#### Other information
- Neo version: Neo 2.7.9.1
- Craft version: Craft CMS 3.

[2020-06-05 14:36] loweoj opened #360 "Missing Element Thumbnails when switching to a "hidden" tab"
#### Description
1) Asset field "element thumbnails" are not displaying on "hidden" tabs when switching between field tabs.
2) Asset selector button is incorrectly positioned when asset selector is last field in the tab - notice missing lower border of the button here -https://www.dropbox.com/s/d9f807wme1422im/Screenshot%202020-06-05%2015.34.13.png?dl=0

#### Steps to reproduce
1. Create a Neo fie

[2020-06-05 18:27] martijnluyckx commented on #125
I have the same request! It would be lovely to be able to set a minimum number of children.

Specifically in my scenario: I have a layout with two CTA calls next to each other, both with the same layout: icon, title, text, button. In the Neo field, I would love the user to be able to select exactly two (can be done with min+max combo) "Icon Tile" blocks.

[2020-06-07 14:48] ttempleton commented on #119
I don't have a Solspace Calendar license to test compatibility on Craft 2 (given that there is no way to trial the Craft 2 version of Calendar) but the timing of this issue report suggests that, if the error was caused by Neo, it was probably related to the issues with Neo 1.5.0 that were fixed in later 1.5.x releases.

In any case, the Craft 2 versions of both plugins are out-of-date at this poin

[2020-06-07 14:48] #119 closed

[2020-06-07 15:07] ttempleton commented on #357
Hi @jacksoncool,

Similarly to #358 I've been unable to reproduce this, and I'm wondering if any JavaScript errors are occurring when you try this.  If there are JavaScript errors, could you please also let us know the other plugins and plugin versions you have installed?

[2020-06-08 12:46] aaronbushnell opened #361 "Field marked as "modified" in Craft 3.4 draft even when nothing was changed"
#### Description
When I create a draft of a page that has a Neo block the draft thinks the Neo field has changed even if none of the content was modified.

![Screen Shot 2020-06-08 at 8 44 26 AM](https://user-images.githubusercontent.com/315202/84031816-59677e80-a964-11ea-93da-578d68977921.png)

#### Steps to reproduce
1. Create an entry and add a Neo block
2. Create a draft of this entry without

[2020-06-08 12:55] ttempleton commented on #359
Hi @berraisabdelaziz,

I've been running some test upgrades, upgrading from Craft 2.9.2 and Neo 1.5.2 to various recent Craft 3.x (including Craft 3.5 beta 1, 2, and the latest from Craft's `3.5` branch at the time of this comment) and the latest release of Neo, 2.7.15.  In my tests so far, all of the Neo blocks are still there after the upgrade, so at this stage I'm not sure what is happening in

[2020-06-08 15:20] ttempleton commented on #352
@lucasvallenet If possible, could you please send your composer.json/lock and database backup to plugins@spicyweb.com.au?

[2020-06-08 15:56] aaronbushnell commented on #361
I don't know enough about the inner-workings of Craft 3.4 to see if the "modified" indicator is just a visual of what's changed or if—upon save—Craft is truly treating the contents of the field as something that needs to be resaved into the database.

I imagine the latter is creating unneeded database queries that could speed saves up, but if it's the former than this is just a visual glitch!

[2020-06-08 19:23] proimage opened #362 "Database Exception when trying to save entry"
#### Description
I've got an entry with a number of Neo fields. One in particular seems to be causing the problem, `headerReadabilityTweaks` (not sure if the fieldname is relevant). It has 4 simple blocks, and I was able to add and remove them for a little bit, but now the entry is saved with two blocks, and doing anything to them—adding, deleting, or reordering them—results in a database exceptio

[2020-06-08 23:06] pvldigital commented on #362
Hi @proimage,

Did you recently upgrade your craft from an older version to the latest? I've noticed there was a similar issue like yours and it was when the site was updated from craft 2 -> 3.

[2020-06-09 08:41] berraisabdelaziz commented on #359
Hi @ttempleton
Thank you for your reply.
I have the same problem after updating Neo to 2.7.15, But I can't Downgrade craft to 3.4 is not possible.
To explain more my problem:
-All Fields created with neo appear in back office Fields, but when we open entries from backoffice, neo contents are missing. For example  in my home page with craft 2 I have several neo content like home page slider , ect,

[2020-06-09 10:48] proimage commented on #362
Nope, the site was originally built with 3.x.

[2020-06-09 11:19] ttempleton commented on #359
Hmm, that is strange.  If you look into the database, are the Neo blocks all still there in the `neoblocks` table?

[2020-06-09 13:11] berraisabdelaziz commented on #359
All the tables of neo module exist in our database
![Annotation 2020-06-09 150926](https://user-images.githubusercontent.com/49982155/84151292-6cad4380-aa63-11ea-9e2b-57f3e485065c.png)
neoblocks table
![Annotation 2020-06-09 150601](https://user-images.githubusercontent.com/49982155/84151326-7d5db980-aa63-11ea-8fea-627b473a7965.png)

[2020-06-09 23:05] pvldigital commented on #362
Yeah the migration might not have run for some reason. Can you try running `./craft migrate/up --plugin=neo` and see if the migrations has been run?

[2020-06-10 14:01] stefangallas opened #363 "Exception when trying to save pages with duplicated entries"
When I copy and paste a Neo Structure consisting of three nested elements in the Craft Backend, the elements appear in the Backend view, but an exception occurs when saving the page because the parent element cannot be determined. Sometimes the element is still saved in the first attempt, but then the exception occurs the next time the page is saved. As soon as you delete the duplicated entry from

[2020-06-10 23:09] ttempleton commented on #363
To elaborate: At this stage, I think this is being caused by a Craft bug, because a number of you have reported this issue over the past few hours, Craft's latest version release was only about 26 hours ago and Neo's latest version release was almost a week ago.

In addition to providing the above-requested information, could you please also downgrade Neo to 2.7.13 and let me know if the error per

[2020-06-10 23:30] rbaud commented on #363
I have just tested downgrading to Craft 3.4.22.1 and can confirm that the issue does **not** persist. So this does seem to be a conflict related to 3.4.23. I suspect around the changes to `src/services/Elements.php` in [this commit](https://github.com/craftcms/cms/commit/9a16630114780c721a227a5d1f9a07956ee89f5e).

[2020-06-10 23:51] ttempleton commented on #363
@rbaud, if you downgrade Neo to 2.7.13 and use that with Craft 3.4.23, does the error still occur?

[2020-06-10 23:57] rbaud commented on #363
Just tried, issue exists with Neo 2.7.13 and Craft 3.4.23.

[2020-06-11 00:16] ttempleton commented on #363
Thanks @rbaud.  The only recent Neo release that could've affected entry saving was 2.7.14 (the only other releases so far this month, 2.7.13 and 2.7.15, were both fixing JavaScript issues) so at this point it's likely to be a Craft bug introduced in 3.4.23 that is breaking Neo.  I recommend opening an issue over there and linking to this issue so they have all the information.  I'll keep this iss

[2020-06-11 08:14] berraisabdelaziz commented on #359
The  neoblockstructures table contains 127 records
FieldId ("338" 3 times and "459" 124 times),
ownerSiteId ("1" 7 times and "null" 120 times
![Annotation 2020-06-11 095516](https://user-images.githubusercontent.com/49982155/84360130-ed864f80-abc9-11ea-9cf1-4178a390d29b.png)

For the ownerId column all records are not the same except these values
![Annotation 2020-06-11 101351](https://user-images

[2020-06-11 15:32] e-roc commented on #363
I've been experiencing this issue on Craft 3.4.23 with Neo 2.7.15. Just wanted to add a few scenarios I've found that hopefully might help with debugging.

1. For an entry that is having the issue, saving without editing will show the error.
2. If I add or remove a block or I reorder a block, then it saves successfully.
3. Then if I save again without making changes (or content only edits) the err

[2020-06-11 18:54] proimage commented on #362
:(

[code]

[2020-06-11 19:00] proimage commented on #362
I'm trying to understand a bit more of what exactly is going wrong here... Assuming that the `sortOrder` column mentioned is indeed missing somehow, what scope would that affect? Is that a column specific to the individual custom field where I'm seeing the problem, or would it affect all Neo fields?

Where in the database would I find the (lack of this) column? I do have backups going back quite a

[2020-06-11 20:57] ambidustrious commented on #363
How Can I revert Craft? I recently updates and now I'm experiencing this issue as well

[2020-06-11 21:39] markjoeljimenez opened #364 "Nested blocks appear out of root/parent block"
#### Description
All nested blocks have some how moved out of parent scope and appear top-level.

![Screen Shot 2020-06-11 at 5 28 31 PM](https://user-images.githubusercontent.com/5943430/84441309-91432000-ac09-11ea-898f-ac3cfe51878c.png)

We have our Neo blocks set up like this:

- Panel
    - Row
        - Column
            - Custom block

![Screen Shot 2020-06-11 at 5 28 45 PM](https://user-im

[2020-06-11 21:49] markjoeljimenez commented on #364
Nevermind! Looks like this version [2.7.14](https://github.com/spicywebau/craft-neo/releases/tag/2.7.14) fixes my issue.

I'll keep this issue open for now and will close if it does!

[2020-06-11 21:49] e-roc commented on #363
Edit the composer.json file: change the version of craftcms/craft to 3.4.22.1. Then run `composer update`.

[2020-06-11 21:54] ambidustrious commented on #363
Perfect - Problem solved for now. Thank you!

[2020-06-12 00:52] pvldigital commented on #362
`sortOrder` is used to check if there's any changes to the structure of the neo blocks. It'll update the structure if there's any changes else it would just save any content changes, this was done for delta updates and to improve the speed when saving an entry.

From your logs the column should be located in `craft_neoblocks`. It's strange how it the migration hasn't been applied, not sure what co

[2020-06-12 09:26] stefangallas commented on #363
In the meantime, I have also created a corresponding ticket at Craft CMS:  https://github.com/craftcms/cms/issues/6205

[2020-06-12 09:40] proimage commented on #362
That did the trick! I renamed it from `m200313_015120_structure_update` to `m200313_015120_structure_update2`, re-ran `./craft migrate/up --plugin=neo`, and got this result:

[code]

So now should I rename that migration back to the original name; is there a point in doing that?

[2020-06-12 11:36] pvldigital commented on #362
Nope, should be fine to leave it as is.

[2020-06-12 13:37] brandonkelly commented on #363
Looks like 4b39c14b9fe2d1edb3315558975bd646bf35af18 was the culprit. `duplicateElement()` is now working to position newly duplicated elements in the structure relative to the source element, but that doesn’t factor in the possibility that the source and duplicated elements should belong in different structures altogether, as is the case with Neo blocks.

As of Craft 3.4.24, it will be possible fo

[2020-06-12 13:56] #362 closed

[2020-06-14 05:12] #363 closed

[2020-06-15 11:30] nitech opened #366 "FR: Prepopulate entry"
Is it possible to pre populate an entry upon creation, so it contains a predefined list of sections (based on Neo-fields)?

My intention is to make it easier for users who don't want the freedom of composing their own document/entry. Instead of starting off with a blank canvas, I want to give them the possibility of having the entry prepopulated.

Kind of what Microsoft is doing in SharePoint Onli

[2020-06-15 11:42] nitech commented on #366
I see a similar question is asked here, with regards to the matrix-field: https://craftcms.stackexchange.com/questions/9080/setup-default-matrix-blocks-and-default-values-for-sub-fields

[2020-06-15 15:04] ttempleton commented on #359
Thanks for posting the screenshots, @berraisabdelaziz.  I can see something strange happening in the second screenshot: there are cases where two structures have the same `ownerId` and `fieldId`, but one of them has `ownerSiteId` = 1, and the other has `ownerSiteId` = null.  I think this is why fields are not showing their blocks: they're looking at the wrong structure.

Could you please try two t

[2020-06-15 16:45] berraisabdelaziz commented on #359
Thank you @ttempleton my problem is solved
by deleting this line all neo block appear in backoffice
![Annotation 2020-06-15 184419](https://user-images.githubusercontent.com/49982155/84684020-5b1edc80-af38-11ea-9ed7-5255ed232637.png)

[2020-06-15 19:17] rbaud commented on #305
We are continuing to face this, or a closely related issue -- possibly also related to [#323](https://github.com/spicywebau/craft-neo/issues/323), [#325](https://github.com/spicywebau/craft-neo/issues/325), [#356](https://github.com/spicywebau/craft-neo/issues/356) & [#364](https://github.com/spicywebau/craft-neo/issues/364) -- in Neo 2.7.15 and Craft 3.4.22.1.

This issue makes editing via Live P

[2020-06-15 19:22] rbaud opened #367 "Continued Live Preview nesting issues"
#### Description

We are continuing to face an issue in Neo 2.7.15 and Craft 3.4.22.1 where making changes to an Entry with a Neo field (while in Live Preview) causes deeply-nested blocks to break out of their nesting. This is likely related to some or all of the following issues: [#305](https://github.com/spicywebau/craft-neo/issues/305), [#323](https://github.com/spicywebau/craft-neo/issues/323)

[2020-06-15 19:49] rbaud commented on #367
I have just tested this with 2.7.15 and 3.4.22.1 on a fresh install with no other plugins. The issue exists under these conditions, and I have recorded the results of my test below.

1. First, I setup a Neo field with 4 levels of nesting. Each level can only contain the next level (e.g. L1 only can contain L2). I added this field to the Home page Single Section.

2. I then created an index templat

[2020-06-16 15:21] ttempleton commented on #359
In that case, [this content migration](https://gist.github.com/ttempleton/24344fa944ab09082a5eabc07718c782) should remove all of those cases with `ownerSiteId` = 1.  Save that in your project's `migrations` folder, run it and that should hopefully get all of your blocks to appear again.  Let me know how it goes!

[2020-06-16 15:24] ttempleton commented on #282
Closing this issue, due to inactivity and not being reproducible. If the issue persists for you with the latest Craft and Neo releases, please let us know and we will reopen the issue.

[2020-06-16 18:26] Tim-Wils commented on #367
I have experienced this to last week! Unfortunately it makes the plugin unusable for clients to work with.
Let's hope this will be fixed soon.

[2020-06-16 19:41] brandonkelly commented on #363
@ttempleton Craft 3.4.24 is out now, so it’s safe for you to release that Neo update.

[2020-06-17 01:44] ttempleton commented on #363
Awesome, thanks @brandonkelly!

[2020-06-17 01:51] ttempleton commented on #361
This has now been fixed in Neo 2.7.16.

[2020-06-17 01:51] #361 closed

[2020-06-17 02:41] ttempleton commented on #367
I've been testing with Neo 2.7.16 and Craft 3.4.24, and have been unable to reproduce the issue -- can you update both and let me know if it still happens?

[2020-06-17 05:39] rbaud commented on #367
Ok, I've tried a couple of things:

First, I rolled up a 100% fresh install with an empty test database via `composer create-project` and `./craft setup`, installed Neo 2.7.16 via the Plugin Store, setup a Home Entry and Neo field as I did above, and couldn't replicate the issue.

Next, I tried upgrading from Neo 2.7.15 and Craft 3.4.23 using the following steps:

1) Removed all tables in the test

[2020-06-17 13:09] ttempleton commented on #367
Thanks for that, @rbaud, with that information I could reliably reproduce the issue for entry drafts in general, not just with live preview.

So, when Craft prepares to save the draft, part of Craft's preparation of the draft data to be POSTed involves [replacing original element IDs with their duplicates' IDs](https://github.com/craftcms/cms/blob/a85014a2aa5ea538a9054b360ec257b9e663ac87/src/web/a

[2020-06-17 13:09] #367 closed

[2020-06-17 14:00] Tim-Wils commented on #367
Looks like the leading 0 fix works :) thanks Thomas!

[2020-06-17 16:50] rbaud commented on #367
@ttempleton, 2.7.17 fixes this issue for us across our sites. Thank you for addressing this!

[2020-06-17 21:31] proimage opened #368 "Couple of different-related errors relating to project config"
#### Description
I've been developing a major feature for a client that uses 3 Neo fields, a multitude of Super Tables, and even a Matrix field (not to mention all the other, "regular" fields). I got it working great locally, so I pushed the changes to the repo for testing on a staging server.

We set up the staging server with a fresh DB from production, then pulled down the latest changes I had

[2020-06-18 03:32] wei2go opened #369 "Neo field doesn't get saved when editing an entry field containing the neo field"
#### Description

- I have an entry and let's call it "Parent".
- "Parent" has an entry field called "Children", which is set to the entries in "Children" section.
- "Children" section has a Neo field, and also other types of field which comes with Craft.
- On this "Parent" entry, I already have one entry set for the "Children" field, let's call it "Child A".

- Now when I edit the "Parent", I dou

[2020-06-18 10:48] ttempleton commented on #369
Thanks for reporting this, @wei2go; this was being caused by the blocks' sort order not being set properly in element editor modals, and it has now been fixed in Neo 2.7.18.

[2020-06-18 10:48] #369 closed

[2020-06-18 11:46] Jones-S commented on #273
It seems that this problem persists. I am getting all draft data via graphql but my neo field returns just an empty object... (I also made sure I had the newest version: `v. 2.7.18`...).

any idea what I am missing?

[2020-06-18 13:29] MK-PL commented on #364
Nested blocks move out of root/parent block to the top level also in revisions. When you revert previous version the blocks arrangement will be broken and you will have to recreate all arrangement on your own (because all versions are broken, even last one). In a normal page edition, the arrangement is fine.

Screenshot with page edit:
![obraz](https://user-images.githubusercontent.com/8502239/850

[2020-06-18 15:37] markjoeljimenez commented on #364
@MK-PL, would you like to create a new ticket? I'm going to close this one as 2.7.14 does technically solve my issue.

[2020-06-19 14:14] proimage commented on #368
[knock knock]

[2020-06-19 16:51] #364 closed

[2020-06-21 08:43] ttempleton commented on #358
I'm going to assume you've got the issue sorted out, then, but if the issue persists, please let us know and we'll reopen it.

[2020-06-21 08:43] #358 closed

[2020-06-21 08:44] ttempleton commented on #357
I'm going to assume you've got the issue sorted out, then, but if the issue persists, please let us know and we'll reopen it.

[2020-06-21 08:44] #357 closed

[2020-06-21 08:47] ttempleton commented on #352
Thanks for sending the files, @lucasvallenet, unfortunately I still can't reproduce the issue though... Was there a particular section or entry where it was happening?

[2020-06-21 08:51] ttempleton commented on #359
Oh, I think I misread your comment; if the homepage was the only entry with missing blocks, then it's great that you've got all your blocks back now.  I'll leave my previous comment up with the link to the content migration I wrote, in case it's useful to you or anyone else in the future.  I'll close this issue now, but please let us know if there are any other issues!

[2020-06-21 08:51] #359 closed

[2020-06-21 08:59] ttempleton commented on #368
The sync error is probably not a Neo issue, as Craft is in control of adding a field to the project config, and in this case the error has occurred with a field that happens to be a Neo field (Neo itself only controls adding block types and block type groups to the project config).  Check and make sure there aren't two fields with the handle `headerReadabilityTweaks` in the project.yaml, or there

[2020-06-22 04:04] ttempleton commented on #91
The next Neo release (which will probably be version 2.7.20) will display a spinner on Neo fields before their contents load.  Our overall goal to resolve situations such as this is to move the rendering of existing field content out of the JavaScript, as has been more recently described in #298, so at this point I'll close this issue in favour of that one.

[2020-06-22 04:04] #91 closed

[2020-06-23 14:26] Osze opened #370 "Design issue in the latest NEO update"
#### Description
 When minimizing the NEO structure each block is in the latest update larger than before. Not as nice as before when having many blocks.

![image](https://user-images.githubusercontent.com/4204962/85415664-df431680-b56d-11ea-9195-91359c60b019.png)

The text in the minimized version also shows under the dragging icon.

#### Other information
- Neo version: 2.7.19
- Craft version: 3

[2020-06-23 15:00] ttempleton commented on #370
Hi @Osze,

I'll have a look at fixing the block sizes in the next day or so.

Regarding the text overlapping with the icons, that should have been fixed in Neo 2.7.13; could you please clear your browser cache and let me know if it still occurs?

[2020-06-23 18:09] Osze commented on #370
Hi @ttempleton,
Sorry, doesn't seem to be fixed. The text is still overlapping the icons.

[2020-06-23 19:43] riusi88 commented on #355
Hi @ttempleton thank you for looking into this.

Can I request that you take a copy of my db and composer.json/lock files? We've just recently had to stop all edits on the site due to this issue, and won't be starting up again until it's resolved unfortunately.

[2020-06-24 13:13] riusi88 commented on #355
One of our users just experienced this after attempting to make changes on a Vietnamese version of a page. After logging in they noticed Korean and English content had overwritten her work. Unfortunately I don't know the steps that were taken to reproduce this issue, but perhaps it may be associated with the  "Merge Changes Into Draft" feature in Craft CMS as of 3.4? Furthermore whats also odd is

[2020-06-24 14:08] ttempleton commented on #355
Hmm, that is strange.  If you'd still like to send us your database and composer.json/lock, could you please send them to plugins@spicyweb.com.au.  That said, I will have a play around with merging changes into a draft on my local testing setup, and see if I can reproduce this for Neo or Craft in general.

[2020-06-24 14:31] ttempleton commented on #370
Neo 2.7.20 has just been released with the padding fix for collapsed blocks.

Regarding the text/icon overlap that is still happening for you, could you please answer the following:

- Is it happening on multiple browsers?  If not, with which browser and version is it happening?
- Is it happening on different Craft installs and on different servers?

[2020-06-24 21:22] riusi88 commented on #355
Hi @ttempleton I was actually able to replicate some issues that out users were experiencing, and recorded a  Loom video:

https://www.loom.com/share/05795f13cf754bb68ae6533c478a48e3

**The steps to replicate were:**

1. Save a draft of an Entry in English (or any language). Drafts also get automatically saved in Preview mode.
2. Open another browser tab and load the same Entry, but this time in a

[2020-06-25 02:15] ttempleton commented on #52
We no longer plan to support Sprout Import as it was discontinued last year.

[2020-06-25 02:15] #52 closed

[2020-06-25 08:20] Osze commented on #370
Thanks for fixing the padding-bottom issue!

This is how it looks in Chrome. I also tried on Microsoft Edge and same problem.

![image](https://user-images.githubusercontent.com/4204962/85683043-2562bc00-b6cd-11ea-8364-2abd8d2c4cb4.png)

By adding overflow: hidden; on the class .ni_block_topbar_left it looks more correct.  (maybe not the best solution)

![image](https://user-images.githubuserconte

[2020-06-25 08:20] ttempleton commented on #173
Craft Pro has had in-built GraphQL support for a while now (which Neo supports), and CraftQL hasn't been updated since last August, so I'm going to close this issue now and announce that we no longer have plans to include CraftQL support in Neo.  I understand that this might be disappointing for any Neo users who are still using CraftQL with Craft Solo, but we feel it would not be responsible to i

[2020-06-25 08:20] #173 closed

[2020-06-25 11:38] ttempleton commented on #355
Thanks for the additional information and video, @riusi88, with that I've been able to reproduce the loss of edits in the second site's entry.  Thanks also for sending the email, unfortunately I could not get the database, but I don't think it will be necessary to send that anymore, now that I've reproduced (most of) the issue locally.

The one thing I haven't reproduced yet is the overwriting wit

[2020-06-25 12:02] ttempleton commented on #370
Hmm, it definitely should not look like that, the fade-out should happen before the text reaches the icons.

I've just done a brief, Firefox-only test with applying the hidden overflow and the fade-out to .ni_block_topbar_left, and it looks like it should be fine.  I'll have a more comprehensive look with Chrome/Safari/Edge and if everything looks fine, we'll include that in the next release.

[2020-06-26 01:35] ttempleton commented on #60
Neo 2.7 introduced the `sortOrder` block property, which should ensure block orders are always saved correctly.

[2020-06-26 01:35] #60 closed

[2020-06-26 20:31] chadwells commented on #352
This is also happening for me, and from what I can tell, it happens like this:

1. Already have a neo field with a structure that includes an existing Super Table field.
2. Already have an entry saved that is using that field.
3. Add the same ST field again within the same Neo field, within some other block type.
4. Edit the existing entry, change the value of the newly added field in your neo blo

[2020-06-30 02:31] ttempleton commented on #352
@chadwells, if possible, could you please send your composer.json/lock and database backup to plugins@spicyweb.com.au?  If that is possible, could you please also let us know if it only happens with certain sections, or any section that uses the affected Neo field?

[2020-07-01 12:07] Osze opened #371 "Design update not so great - tab strucure preferred"
#### Description

The web administrators at my company really dislike the dropdown menu instead of the tab- structure.

![image](https://user-images.githubusercontent.com/4204962/86241670-a295a180-bba3-11ea-9330-08e5f35ff9a2.png)

Is it possible to change back? Or maybe add a setting so I can change to the old style?

![image](https://user-images.githubusercontent.com/4204962/86241718-bc36e900-bba

[2020-07-02 05:14] ttempleton commented on #371
This has now been fixed in Neo 2.7.21.

[2020-07-02 05:14] #371 closed

[2020-07-02 05:16] ttempleton commented on #370
Neo 2.7.21 has just been released, which I believe should resolve the issue with the preview still overlapping the icons in your case.  I'll close the issue now, but if the issue persists, please let me know and I'll reopen it.

[2020-07-02 05:16] #370 closed

[2020-07-02 13:30] ttempleton commented on #368
I will assume either the 2.7.19 update fixed it or you've otherwise sorted it out, then, but if the issue persists, please let us know and we'll reopen.

[2020-07-02 13:30] #368 closed

[2020-07-03 12:37] ttempleton commented on #283
Regarding adding support for directly querying Craft entries based on their Neo field's block's field's contents -- we'd love to be able to do this, but it is unfortunately not possible for us to do.

[2020-07-03 12:37] #283 closed

[2020-07-03 13:27] ttempleton commented on #349
Sorry for the late response to this.  I've been testing tonight after seeing craftcms/cms#6294 and its resolution, and I can confirm that the fix for that issue resolves this issue too.  I'm not sure when the next Craft CMS release will be, exactly, but it seems certain that you will be able to use fragments to query Matrix fields nested within Neo fields with that release.

[2020-07-03 13:27] #349 closed

[2020-07-03 13:41] lucasvallenet commented on #352
The issue seems to have disappeared on my side aswell, i'll get back to you if it appears again
Thank you !

[2020-07-09 13:45] riusi88 commented on #355
Hi @ttempleton thanks for working on a fix for this. Do you have an ETA for the next release that would include a fix?

[2020-07-12 01:26] nfq commented on #105
What happened to the Gist above?

[2020-07-12 12:02] ttempleton commented on #355
Hi @riusi88,

I'm aiming to have a fix for this completed and released by the end of the month.  Having looked into it further, it seems part of the issue is that draft blocks are separate to the published blocks, with different block IDs, so the merging of published entry data into a draft currently has no way of knowing which blocks to merge into.  This applies to both the "merge changes into dr

[2020-07-14 00:01] brandonkelly opened #373 "Neo field layout settings not working with new field layout designer in Craft 3.5"
#### Description

Craft 3.5 is getting a new field layout designer (craftcms/cms#4647). It was designed to be as backwards-compatible as possible with current implementations, but looks like Neo is completely discarding the FLD-registered JS, and I guess overriding it with something custom.

https://github.com/spicywebau/craft-neo/blob/ea1e6d8ac55f877c2e04573044f8d8504663250a/src/assets/FieldAsset

[2020-07-14 07:45] ttempleton commented on #373
Thanks for letting us know @brandonkelly, we'll look into it and will let you know if we need any help.

[2020-07-14 17:14] e-roc commented on #352
I am seeing the same error **SuperTableService.php(917)**. All plugins are up to date.

yii\base\Exception: Attempting to duplicate an unsaved element. in /Users/eric/Sites/tjc/vendor/craftcms/cms/src/services/Elements.php:734
Stack trace:
#0 /Users/eric/Sites/tjc/vendor/verbb/super-table/src/services/SuperTableService.php(917): craft\services\Elements->duplicateElement(Object(verbb\supertable\ele

[2020-07-15 11:36] ttempleton commented on #62
I'm going to close this as `wontfix` from a Neo-specific implementation perspective, because it'll be possible to do this with the new field layout designer coming to Craft 3.5, and the UI elements you'll be able to add to a field layout.  In particular, the Tip element seems like it would suit this purpose perfectly.

[2020-07-15 11:36] #62 closed

[2020-07-16 12:50] medoingthings opened #374 "Self relation causes entry field to loose value after saving"
### Description
When setting "Allow self relation" to true for an entry field within Neo, the value gets lost after saving, if the selected entry is the one you are editing at that moment – but only in live preview mode. Kinda hard to explain, see the steps to reproduce.

### Steps to reproduce

1. Add a new entry field and activate the "Allow self relation" option let’s call it `entrySource`
2. A

[2020-07-16 19:49] markjoeljimenez opened #375 "Saving a Neo block's name/handle as 'filter' causes Neo blocks to not show"
#### Description
Saving a Neo block's name/handle as 'filter' causes Neo blocks to not show

#### Steps to reproduce
1. Save a Neo block as name/handle:  **filter**
2. Navigate to where the Neo block is being used
3. Neo blocks are not showing

#### Other information
- Neo version: 2.7.14
- Craft version: 3.4.22.1
- (if multi-site) What is the affected Neo field's propagation method: Save blocks t

[2020-07-17 04:15] ttempleton commented on #374
Thanks for reporting this, @medoingthings; in my testing, though (with Craft 3.4.28.1 and the latest from the 3.5 beta branch), this is actually happening with all entry fields, not just those within Neo blocks.  I recommend opening an issue with Craft about this.

[2020-07-17 04:15] #374 closed

[2020-07-17 05:27] medoingthings commented on #374
That’s funny, because that’s what I did in the first place, but we couldn’t reproduce it anymore on fields outside of Neo 🤔
https://github.com/craftcms/cms/issues/6385

[2020-07-17 08:28] #375 closed

[2020-07-17 08:31] ttempleton commented on #375
Thanks for reporting this, @markjoeljimenez; the error is fixed in Neo 2.7.23, you'll be able to use `filter` as a block type handle now.

[2020-07-17 15:06] taylordaughtry commented on #328
@pvldigital  Hey! Sorry to bump this, just a super-quick followup question—after updating to get this fix, is there a way to trigger Neo to propagate its content for all entries? I have a situation in a client project where we've created a new Site, and the entries have already propagated with version `2.7.20` in place.

Of course, manually making a change in the source Site + saving propagates it

[2020-07-18 03:17] ttempleton commented on #123
This will be resolved in Neo 2.8 with the removal of babel-polyfill.

[2020-07-18 03:17] #123 closed

[2020-07-22 00:53] 23d1 commented on #373
@ttempleton happy to test on my end, let me know when the `craft-3.5-field-layout-support` branch is in a good spot to try out.

[2020-07-22 05:01] ttempleton commented on #373
Thanks @23d1, it should be ready to go now!

[2020-07-22 13:59] ttempleton commented on #106
This is coming to Neo 2.8, the setting is currently planned to be named 'Max Sibling Blocks of This Type'.  It will apply to blocks within a parent block, as this issue describes, but it will also apply at the top level.

[2020-07-22 13:59] #106 closed

[2020-07-22 15:12] theskyfloor commented on #373
Will Neo be getting the column support? @ttempleton

[2020-07-22 15:20] theskyfloor commented on #373
Never mind, I tested it and see that it does!! Fantastic!!

[2020-07-23 03:40] 23d1 commented on #373
Amazing. Gonna give it a go right now.

[2020-07-24 09:14] proimage commented on #368
Yes, sorry, another dev on my team managed to figure this one out somehow, so it fell off my radar. Sorry for not updating you!

[2020-07-25 00:20] 23d1 commented on #373
Works great so far. Haven't run into any issues yet. 🖖🏻

[2020-07-26 15:24] ttempleton commented on #368
No worries @proimage, glad it's all been sorted!

[2020-07-27 03:25] javangriff opened #377 "Field Validation Display Issue"
Ran into an issue recently when trying to publish a draft entry where a field was failing validation failed to display the fields validation error (in this case the field was the typed link field) within Neo.

Unfortunately, Craft didn't seem to log the error anywhere either and it wasn't until we added `Craft::dd($draft->getErrors());` to [line 407](https://github.com/craftcms/cms/blob/develop/sr

[2020-07-27 08:19] ttempleton commented on #377
Thanks for reporting this @javangriff, turns out it did affect all field types at all levels.  It'll be fixed in Neo 2.8.

[2020-07-27 08:19] #377 closed

[2020-07-28 14:52] DylanEuteneier commented on #355
Any update on this bug? We have a Multilingual site with Neo installed that has experienced this content overwrite issue quite a few times with the use of preview.

[2020-07-29 06:49] ttempleton commented on #355
After looking further into this, it seems we unfortunately won't be able to add support for merging published Neo block content into draft blocks at this time.  I believe this is related to craftcms/cms#5503; that issue gives a good explanation of why this happens, which is described in the context of Matrix fields, but clearly also applies to Neo.  That issue doesn't mention multi-site scenarios

[2020-07-29 08:19] ttempleton commented on #348
Closing this issue due to inactivity.  If the issue persists with the latest versions of Craft and Neo, please let us know here and send your web.log file to plugins@spicyweb.com.au, and we'll reopen the issue.

[2020-07-29 08:19] #348 closed

[2020-07-29 13:45] genetschneider opened #379 "Blocks are not propagated across sites in the same group with new propagation method"
#### Description
Craft 3.5 introduces a new propagation method ["Let each entry choose which sites it should be saved to”](https://github.com/craftcms/cms/issues/5988#issuecomment-622473302). Neo blocks however don't seem to propagate across sites when this propagation method is enabled for sections. Neo field's propagation method is set to "siteGroup".

#### Steps to reproduce
1. Set section prop

[2020-07-29 14:57] ttempleton commented on #379
This is working correctly in the [`dev`](https://github.com/spicywebau/craft-neo/tree/dev) branch, so you'll need to use that branch if you need this functionality before the official Neo 2.8 release.

[2020-07-29 14:57] #379 closed

[2020-07-30 11:52] AlexandreKilian opened #380 "Neo Block Title, Tab names not translated in the ACP"
#### Description
Using the translation method for fields in the ACP (translations/en/site.php), names of block titles and tabs are not getting translated

#### Steps to reproduce
1. Set a block title to a translation key
2. Set a translation for that key in translations/en/site.php
3. Block title is not getting translated in the entries dashboard

#### Other information
- Neo version: 2.7.24
- Cra

[2020-07-30 12:36] ttempleton commented on #380
Hi @AlexandreKilian,

This should be working if the block/tab title translations are set in `translations/en/neo.php`.  Try that and let us know if that doesn't work.

[2020-07-30 12:36] #380 closed

[2020-08-03 08:07] AlexandreKilian commented on #380
Indeed it does, thx!

[2020-08-04 03:35] ttempleton commented on #373
Thanks for the feedback @23d1 and @theskyfloor!

Neo 2.8.0 has just been released including this update, with a minimum requirement of Craft 3.5.0-RC6.

[2020-08-04 03:35] #373 closed

[2020-08-04 09:43] mheob opened #381 "Each tab represents all contents of all tabs in 2.8.0 / Craft 3.5.0-RC6"
### Description
Since version 2.8.0, in combination with Craft 3.5.0-RC6, all fields are displayed in each tab of a block.

### Steps to reproduce
1. Create a Neo field with two tabs
1. Insert at least one field in each tab
1. Add the Neo field to a section
1. Add the block to the entry and watch / switch the tabs

#### Step 1 and 2
![Screen Shot 2020-08-04 at 11 19 48](https://user-images.githubu

[2020-08-04 10:25] jerome2710 opened #382 "Undefined index: maxSiblingBlocks"
After upgrading the plugin to 2.8.0, the project-config/sync throws an error that `maxSiblingBlocks` is undefined. Re-saving all Neo-fields adds this setting to the config-files and fixes the issue.

[code]

[2020-08-04 10:31] #381 closed

[2020-08-04 10:46] #382 closed

[2020-08-04 10:48] ttempleton commented on #381
Thanks for reporting this @mheob, it's fixed in 2.8.1.

[2020-08-04 10:49] ttempleton commented on #382
Thanks for reporting this @jerome2710, it's fixed in 2.8.1.

[2020-08-05 04:07] ttempleton commented on #352
Could anyone who was experiencing this issue please confirm whether it still occurs with the latest versions of Craft (3.5.0), Neo (2.8.1) and Super Table (2.5.4)?

If it is still occurring, could you please confirm that here, and also send your composer.json/lock and database backup to plugins@spicyweb.com.au?

[2020-08-05 09:18] #309 closed

[2020-08-05 10:26] meestaben commented on #381
Hi @ttempleton - I think this might not be completely fixed. I'm seeing the same issue when in Preview mode - all tab contents are displayed, clicking the tabs does nothing. Regular edit mode is fine. Craft 3.5.0 and Neo 2.8.1.

[2020-08-05 11:00] ttempleton commented on #381
Thanks for pointing that out @meestaben, that should now be fixed in Neo 2.8.2.

[2020-08-05 22:37] ccchapman opened #383 "Cannot apply Project Config changes"
#### Description

When using Project Config and `allowAdminChanges` on Craft 3.5, Neo field changes cannot be applied automatically based on the configuration files.

This is a continuation of https://github.com/craftcms/cms/issues/6561.

#### Steps to reproduce

1. Make changes to a Neo field locally
1. Commit changes (notice that more Project Config files change than you'd expect)
1. Deploy to t

[2020-08-05 23:39] meestaben opened #384 "Project configuration changes are being generated unnecessarily on save"
#### Description

Whenever I hit Save on a Neo field, the names of the neoBlockTypeGroups yaml files are being changed. The contents remains the same.

![Screenshot 2020-08-06 at 00 18 29](https://user-images.githubusercontent.com/15892203/89473455-cb98eb80-d77a-11ea-93c8-244ae75f4ff0.png)

In this example I have two Groups called UI Components and Shared Content. This happens on every save.

I th

[2020-08-06 02:04] ccchapman commented on #384
This seems to be the root cause of https://github.com/spicywebau/craft-neo/issues/383.

[2020-08-06 02:27] 23d1 opened #385 "Cannot Rebuild Project Config"
#### Description
Here's the stack trace;

[code]

#### Steps to reproduce
1. Go to `Utilities` > `Project Config`
2. Hit `Rebuild` under Rebuild the Config

#### Other information
- Neo version: 2.8.2
- Craft version: 3.5.1

[2020-08-06 03:51] #385 closed

[2020-08-06 04:05] ttempleton commented on #385
Thanks for reporting this, it seems to be happening when a block type's field layout consists only of blank tab(s) (in my case it was because of a tab that used to have a field that I'd deleted, so you should check if your affected field layout has a similar case), and it'll be fixed in the next release.  Note that, due to the fact Neo can no longer support blank tabs with Craft 3.5, project confi

[2020-08-06 04:07] 23d1 commented on #385
Thanks. That's good to know. Is it sufficient to add a header or something like that? Similar to the warning prior to upgrading a few releases back?

[2020-08-06 04:24] ttempleton commented on #384
This is the expected behaviour with how saving block type groups currently works; when a field's block type groups are resaved, it actually deletes the old groups and saves new ones, which will have new UIDs.  It does appear to be causing #383, though, so we may need to change how it works in the near future.  I'll continue to update on this in #383.

[2020-08-06 04:24] #384 closed

[2020-08-06 04:26] ttempleton commented on #385
Yeah, that should be fine.

[2020-08-06 04:31] ttempleton commented on #383
As also mentioned in #384, this will probably need to be fixed by changing how block type group resaving works (i.e. actually resaving a group if it's been changed, not just deleting the old one and creating a new one).

[2020-08-06 04:38] ccchapman commented on #383
I also had an issue with block groups being duplicated and sometimes removed entirely. Same thing mentioned on the other issue. But it sounds like the resolution suggested above should solve that too. Thanks for the help!

[2020-08-06 04:43] ttempleton commented on #166
I'm going to close this due to inactivity, and due to changes in Craft 3.5 to how template caching works, which might have resolved this issue if it hadn't already been resolved.  If the issue does persist with Craft 3.5 and Neo 2.8, though, please let us know and we'll reopen.

[2020-08-06 04:43] #166 closed

[2020-08-06 07:17] amici-infotech opened #386 "Dropdown default value not works"
#### Description
I have created a dropdown field and mark one option as default. In Neo, that default field is not pre selected when creating a new NEO block.

#### Steps to reproduce
1. Create a new Dropdown field and add few options.
2. Mark any one option as pre selected.
3. Assign that field into Neo.

#### Other information
- Neo version: 2.8.2
- Craft version: 3.5.1

[2020-08-06 09:33] #386 closed

[2020-08-06 09:35] ttempleton commented on #386
Thanks for reporting this, @amici-infotech, it will be fixed in the next release.

[2020-08-06 10:35] BSBjorn commented on #352
I just ran into a problem when trying to update Craft from 3.4.13 to 3.5.1 ...

`Performing update with Composer ... done
Applying new migrations ... error: The command "'/Users/bjornkamfjord/Sites/www.norturaproff.no/craft' 'migrate/all' '--no-backup' '--no-content'" failed.

Exit Code: 1(General error)

Working directory: /Users/bjornkamfjord/Sites/www.norturaproff.no

Output:
================
Y

[2020-08-06 18:08] sjcallender commented on #383
For us, simply installing without creating fields doesn't translate into project config correctly either. A new environment doesn't end up getting Neo installed.

[2020-08-06 19:14] sgtpenguin opened #387 "Duplicate block data coming back through graphql / eager loading"
#### Description
After updating to Craft 3.5.1 and Neo 2.8.2 I'm getting some blocks back twice through graphql, even though they appear only once in the backend.  They come through with identical `id`.  It's not every block mind you, only some, and it seems very arbitrary.  Re-saving does nothing.  I've so far resorted to recreating the duplicated blocks and deleting the old ones.  This is a majo

[2020-08-07 13:37] ttempleton commented on #352
@BSBjorn, I don't think this issue is involved with that, but it looks like a problem involving the `m200313_015120_structure_update` migration from Neo 2.7.0; either that it's in the `migrations` table twice somehow or it's tried to add it a second time for some reason.  Could you please confirm whether that migration is in the `migrations` table more than once?  If it is actually in there more t

[2020-08-07 14:15] sgtpenguin opened #388 "Dropdowns inside Neo fields don't get the default value after upgrading"
#### Description
After updating to 2.8.2 (and simultaneously Craft to 3.5) dropdown fields inside neo blocks do not default to the selected default value

#### Steps to reproduce
1. Install Craft + Neo
2. Create a dropdown with a default value other than the first, add it to a neo block
3. try it out

#### Other information
- Neo version: 2.8.2
- Craft version: 3.5.1
- (if multi-site) What is the

[2020-08-07 14:18] ttempleton commented on #388
See #386, this will be fixed in the next release.

[2020-08-07 14:18] #388 closed

[2020-08-07 14:25] sgtpenguin commented on #388
fantastic.  thank you!

[2020-08-10 11:36] ttempleton commented on #388
Dropdown field default values should now be correctly applied in Neo 2.8.3.

[2020-08-10 11:36] ttempleton commented on #386
Dropdown field default values should now be correctly applied in Neo 2.8.3.

[2020-08-10 11:38] ttempleton commented on #385
Neo 2.8.3 has just been released, which includes the fix for this error.

[2020-08-10 11:39] ttempleton commented on #384
Neo 2.8.3 has just been released; existing block type groups are now resaved when modified, rather than being deleted and recreated.

[2020-08-10 11:52] ttempleton commented on #383
Neo 2.8.3 has just been released with the change to block type group resaving; @ccchapman, please update Neo and let me know if you're now able to run `./craft project-config/apply`.

@sjcallender, I think that is more likely to be a Craft issue, because Craft controls applying installed plugin data and basic field data; Neo itself only controls applying Neo fields' block types and block type grou

[2020-08-10 16:16] proimage opened #389 "Error updating from 2.7.25 -> 2.8.3"
#### Description
After updating Neo to the latest version available for Craft 3.4.x (Neo v2.7.25), I successfully updated Craft to 3.5.x. Then I saw there were additional updates for Neo that required Craft 3.5+. But when I click "Update" for Neo, I get this:

[code]

I'm not sure if this is a Neo or Craft issue, but since it's happening while updating Neo, I'm posting it here.

[2020-08-11 02:00] ccchapman commented on #383
@ttempleton - I updated Neo to 2.8.3 and deployed some (Neo related) Project Config changes to an environment with setting changes disallowed. I can now apply the changes in that situation, where I would not be able to do so before.

The duplicate block categories needed to be manually removed from the primary environment DB, and then the corresponding Project Config needed to be committed.

Thank

[2020-08-11 10:51] ttempleton commented on #389
Looks like this was a Craft issue: https://craftcms.stackexchange.com/questions/35974/craft-3-5-1-cli-update-error-failed-to-instantiate-component-or-class-yii-shel

I'll leave this issue open for now; please try the update again after following the instructions from the link, and let us know how it goes.

[2020-08-11 11:09] ttempleton commented on #383
Thanks for confirming that, @ccchapman, glad to hear it's working now!

[2020-08-11 11:09] #383 closed

[2020-08-11 15:07] proimage commented on #389
Ahh, that does indeed seem to have been the problem. Thanks!!

[2020-08-11 15:07] #389 closed

[2020-08-11 15:54] proimage opened #390 "Empty block tab with only a UI element (heading) isn't getting transferred via Project Config"
#### Description
I've got a Neo block ("Button Group") that has two tabs: Content, and Settings. The block has child blocks ("Regular Button", "Outline Button", etc), but otherwise the Content tab is empty.

I read the warning about empty blocks in the changelog, so I added a Heading UI element to that tab.

Then I pushed the changes to the staging site, applied the changed project config files, a

[2020-08-11 16:27] proimage commented on #390
Gah, nevermind... somehow git didn't pull down the changes properly. Sorry.

[2020-08-11 16:27] #390 closed

[2020-08-12 09:37] christianruhstaller opened #391 "getSerializedFieldValues on entry does not return deactivated blocks and breaks block structure"
#### Description
For the SiteCopy (https://github.com/Goldinteractive/craft3-sitecopy) to enable copying from one site to another we use the `getSerializedFieldValues` method on the entry to get the serialized form of the field layout to save it to another entry.

The problem is that the method does not return deactivated blocks (It just skips them).
For the copying this isn't nice but not a catas

[2020-08-12 09:51] christianruhstaller commented on #391
Addendum: It seems that the matrix has the same behavior. It seems that this is a bigger issue and maybe even the wrong method to handle copying.

[2020-08-12 11:45] ttempleton commented on #391
I explained in a bit more detail in #372 how the behaviour of a Neo field's `serializeValue()` method is consistent with Matrix and structure section entry queries, and why `serializeValue()`'s return value should therefore not be considered reliable structure data if only enabled blocks are included.  That said, I did also discuss whether enabled blocks should be excluded when querying for enable

[2020-08-12 11:49] ttempleton commented on #387
Hmm, that's pretty strange, and I haven't been able to reproduce this yet.  Just to confirm, even within one field on one entry, it could happen with some blocks and not others?

[2020-08-12 12:04] kaspervdm opened #392 "Can not drag/drop child block entries to change order"
#### Description
When using child blocks, it does not seem to be possible to drag/drop the entries to change the order. The drag-icon is present, but when dragging it is not possible to drop to a new location.

#### Steps to reproduce
1. Create a parent block type
2. Create a child block type
3. Add multiple child block entries
4. Try to drag/drop the entries to change the order

#### Other inform

[2020-08-12 12:40] #392 closed

[2020-08-12 12:44] ttempleton commented on #392
Thanks for reporting this @kaspervdm; this was happening due to a bug that was disallowing dragging of child blocks if the new `Max Sibling Blocks of This Type` setting was not set on the block type, and it should now be fixed in Neo 2.8.4.

[2020-08-12 14:24] kaspervdm commented on #392
Seems to work great again! Thanks for the fast fix!

[2020-08-12 15:23] richardfrankza commented on #355
Hi @ttempleton

We're also experiencing this issue which is causing a lot of frustration for our translators, including overwrite of all translateable content as experienced and demonstrated by @riusi88 in the video.

Are there any suggestions for a workaround at this stage in terms of dos and don'ts for our translators while this gets fixed upstream and hopefully by yourselves eventually.

What c

[2020-08-12 17:45] sgtpenguin commented on #387
That's correct.  Sorry I know it's not much to go on.  I'll update you if I'm able to understand it any better.  Most or all of the content has been fixed at this point and I didn't backup the affected database, so I think I've destroyed the evidence too.

[2020-08-13 14:26] lukasNo1 commented on #391
As a workaround, in the SiteCopy plugin we override the  `getSerializedFieldValues()` function to return both enabled and disabled elements for now. https://github.com/Goldinteractive/craft3-sitecopy/commit/91334a1197d99965cffff9fddbe7c27a9b47f24e#diff-85a66352a4b6e09286584934d796f53eR284

[2020-08-13 17:51] GaryReckard commented on #352
I'm experiencing this same issue on:

Craft v3.4.30
Neo v2.7.25
SuperTable v2.5.4
Multisite: yes

[2020-08-14 07:23] ttempleton commented on #352
@GaryReckard, if possible, could you please send your composer.json/lock and database backup to plugins@spicyweb.com.au? If that is possible, could you please also let us know if it only happens with certain sections, or any section that uses the affected Neo field?

[2020-08-14 07:38] ttempleton commented on #216
This will be fixed in the next Neo release.

[2020-08-14 07:38] #216 closed

[2020-08-14 14:11] GaryReckard commented on #352
Hi @ttempleton, I won't be able to share a db dump, sorry.

I just did a quick test, and I can edit and save an entry in a section that does not have the Neo-with-supertable.

[2020-08-15 00:26] jacobgranberry commented on #387
experiencing the same issue. seems random

[2020-08-16 04:57] brettgullan opened #393 "Hiding field labels on second and subsequent fields"
#### Description

I believe this is a bug. I'm trying to hide the field labels on a number of fields for different Neo Blocks. I can activate the `Hide` checkbox on the first field I select. But on the second and subsequent fields, the `Hide` checkbox doesn't respond. I can't click on it, nor tab to it.

If I save the Neo field, then re-enter the edit screen, I can select a Block, edit a field and

[2020-08-16 05:43] ttempleton commented on #393
It looks like we'll need to make a compatibility update for Craft 3.5.4 to properly support the new checkbox, which I'll have a look at in the next couple of days.  In the meantime, setting `__blank__` as the field label override will also hide the label.

[2020-08-17 03:25] ttempleton commented on #393
Fixed in Neo 2.8.5.

[2020-08-17 03:25] #393 closed

[2020-08-18 08:15] ttempleton commented on #387
I've found an old entry I'd used for testing purposes which is doing this with two blocks.  I'll have a look and try to figure out why it's happening.

[2020-08-18 08:38] ttempleton commented on #355
@richardfrankza, I don't think there's any official way to disable drafts or previews; I *think* the closest thing to disabling previews would be to remove the preview targets on a section.  But the draft and preview buttons could be hidden, if you're using a plugin like [Control Panel JS](https://plugins.craftcms.com/cp-js) (or if you have another way that you can add custom JavaScript to the con

[2020-08-18 18:33] rlapierre-kffein opened #394 "Required fields doesn't pass validation"
#### Description
Redactor fields that are required doesn't pass validation as entry can be saved without any errors. Others fields like image show validation errors when required.

#### Steps to reproduce
1. Insert a redactor field into a neo block
2. Mark as required
3. Try to save the new block with empty data on redactor field.
4. Validation should not throw any errors but let user save entry.

[2020-08-19 01:44] ttempleton commented on #394
I was able to reproduce this, not only with a Redactor field that was on a Neo block, but also on a Redactor field that was on an entry, so I recommend opening an issue with Craft about this.

[2020-08-19 01:44] #394 closed

[2020-08-19 03:44] ttempleton commented on #7
Reopening this: Matrix fields have move up/down options as of Craft 3.5, so it'd be good if Neo could do it too.

[2020-08-20 09:14] geertw opened #395 "How to migrate or update content programatically?"
#### Description

Hello! We have built a quite extensive system with Neo to create our own page builder, but I now want to update a large amount of content where we change some data stored in Neo to a new format. I'm not sore what would be the best way to go about this and I have a hard time finding the relevant documentation for this.

How would I approach this?

- I have some block types on root

[2020-08-20 13:03] ttempleton commented on #395
Hi @geertw,

Firstly, regarding block types, we have some documentation on [updating, duplicating and creating block types](https://github.com/spicywebau/craft-neo/blob/master/docs/content-migration-guides/updating-duplicating-creating-block-types.md) with a content migration.  I've just made a few small updates to the file for Neo 2.8 / Craft 3.5, but the [previous version of the file](https://gi

[2020-08-21 08:57] jerome2710 opened #396 "`Invalid owner ID` when updating to Craft 3.5"
#### Description
We currently have > 20 Craft sites running on 3.4 with the Neo plugin installed. Now 3.5 is officially released and a few bug fixes have been made, we are looking to upgrade all our sites to 3.5. Unfortunately, we are experiencing this issue on each and every site we are trying to migrate.

[code]

This seem to be caused by https://github.com/spicywebau/craft-neo/blob/master/src/e

[2020-08-25 19:27] joeRob2468 commented on #355
@richardfrankza Just a temporary fix that might help, in addition to hiding the buttons - looks like they just added a config setting to turn off draft autosaving in the latest release (craftcms/cms#6704). Doesn't address the core issue, but it's a workaround that should work in the meantime.

[2020-08-26 09:06] genetschneider commented on #396
Ran into the same issue when updated craft-neo from `2.8.1` to `2.8.4`. Craft version we're using is `3.5.0`.
Our reproduction steps:
- Have multiple sites
- Update craft-neo version to `2.8.4`
- Go to create a new entry
- Once we add a child neo block, we get a `Invalid owner ID` error

[2020-08-26 11:44] sjcallender commented on #387
@ttempleton - Any updates on this by chance? We've hit this bug and it's a bit of a showstopper for us.

[2020-08-26 11:48] sjcallender commented on #387
I can report that deleting the block and recreating it fixes the issue for us. We just have some fields with a lot of content we'd rather not have to rebuild.

[2020-08-26 12:32] ttempleton commented on #387
The just-released Neo 2.8.7 should no longer be returning duplicate block data.

[2020-08-28 04:13] ttempleton commented on #396
@jerome2710, thanks for sending the files; unfortunately I could not reproduce the error with that setup, but after some more testing with my usual testing environment, I did find a situation where I could cause this error.  It appears that Neo blocks are not being deleted if the *site* they belong to is deleted or disabled for their entry's section.  A later attempt by the system to delete those

[2020-08-31 15:04] ambidustrious opened #397 "Error updating from 2.7.13 to latest"
#### Description
Craft CMS and all other plugins have been updated to the latest version (Craft 3.5.7)

Neo is the only update remaining. I need to go from 2.7.12 to 2.8.7

When I run the update, It stalls and brings my site down.  There's no way to recover except to restore everything from backup.

Here's the error that is produced:

`Status: Internal Server Error

Response: {"name":"PHP Compile

[2020-09-01 03:39] ttempleton commented on #395
Closing this issue now, as the question should be sufficiently answered by my previous comment, but please let us know if you have any other questions!

[2020-09-01 03:39] #395 closed

[2020-09-01 13:54] ttempleton commented on #397
Hi @ambidustrious,

A few questions:

Firstly I just want to confirm that there are no issues with the `config/general.php` mentioned in the error?

If no issues with `config/general.php`, could you please try a reinstall of your composer dependencies in case something has been corrupted?

If that doesn't resolve it, could you please let me know:
- how far does the update get before it stalls; e.g

[2020-09-03 03:49] engram-design opened #398 "Neo blocks disappear on save"
#### Description
Getting the following issue on a Craft 2 upgraded site.

https://d.pr/v/VQaJ5W

You'll notice two Neo fields there. The first one has two levels, which seems to not save the blocks. The second Neo field has one level of blocks and seems to save fine.

I've re-saved all the fields, run `./craft project-config/rebuild` updated Craft and all plugins to the latest.

Short of re-creati

[2020-09-03 03:57] engram-design commented on #398
Notably, I didn't follow the steps in https://github.com/spicywebau/craft-neo/blob/master/docs/craft3.4.md because I didn't receive any errors during the update. I'll test this just in case.

[2020-09-03 06:16] engram-design commented on #398
No dice, despite correcting _several_ errors during migration to Craft 3.4.0 (so that it all goes through migration correctly without a single error), this issue is still there. In fact, I tested it as soon as I upgraded to Craft 3.4.0 and Neo 2.6.5.1 - and it was still an issue. So maybe this is unrelated?

[2020-09-03 09:50] Joorren opened #399 ""Required field" asterisk disappears on save"
#### Description
When editing a Neo field, making a field required in the Field Layout, there will appear an asterisk after the Field name.
Once you save this Neo field, and open the Field Layout again, the required field will no longer show the asterisk, even though it is still required in the backend.

**Before Save:**
<img src="https://imgur.com/t9vJngu.png" width="20%" />

**After Save:**
<img

[2020-09-03 12:15] #398 closed

[2020-09-04 11:55] chadwells commented on #352
Hi There. Just wanted to let you know I emailed a copy of our db and composer files to assist you in fixing this issue. One thing I failed to mention in the email is we are running PHP 7.3.21

[2020-09-04 13:29] jlcharette opened #400 "Multiple issues when updating from 3.4 to 3.5"
#### Description
Multiple issues when upgrading from 3.4 to 3.5.

1. All fields are "required" in the blueprint configuration. Unchecking "required" and saving the field toggles the "required" back again. On the entry form, the fields don't appear as required even if they seem to be from the blueprint.

2. Migrating from 3.4 to 3.5 applies configuration changes to neo field (label, descriptions) w

[2020-09-04 15:24] ttempleton commented on #352
Thanks @chadwells -- confirming that I can reproduce the error with your files.  I'll keep looking into it and will update as soon as I've figured out why it's happening and how it can be fixed.

[2020-09-04 15:33] ttempleton commented on #396
I've made progress on this in the [`bugfix/delete-blocks-with-site`](https://github.com/spicywebau/craft-neo/tree/bugfix/delete-blocks-with-site) branch.  It seems to be working well so far for Neo fields that only save blocks to the site they were created in, but I'll still need to do more testing especially with the site group / language propagation methods before release.

[2020-09-05 05:50] #352 closed

[2020-09-05 05:51] ttempleton commented on #399
Fixed in Neo 2.8.8.

[2020-09-05 05:51] #399 closed

[2020-09-05 05:58] ttempleton commented on #352
This should now be fixed in Neo 2.8.8.  I was able to reproduce this on my usual testing environment after seeing what was happening with @chadwells' database, and figured out this was happening when an otherwise-unmodified Neo block had a Super Table field added to it with either a minimum number of rows set or a static row, which will automatically create the row(s).  Because the Neo block was o

[2020-09-08 12:43] chadwells commented on #352
Can confirm fixed. Thank you!

[2020-09-09 03:20] ttempleton commented on #400
1. Issues with the display of required fields in Neo field layout designers with Craft 3.5.8 should be fixed in Neo 2.8.8.

2. Changes to Neo block types in the project config would not be unexpected after upgrading to Craft 3.5, with the changes to how field layouts work including labels/descriptions (and possibly also the new `maxSiblingBlocks` property that Neo 2.8 block types have).  Unless un

[2020-09-16 06:41] jordikroon commented on #396
@ttempleton do you have an update regarding the fix? We want to get our sites to Craft 3.5, therefore we need this fix.

[2020-09-16 13:51] bryantAXS commented on #396
I just ran into this issue as well today. Would love to get an update!

[2020-09-16 21:32] jwrudzin commented on #400
Relating to issue 1 - I'm running Craft 3.5.10.1 and Neo 2.8.8 now and I'm still seeing this. In the Neo field layout designer all fields are showing that they're required (they not only have a star next to the name, but when you click into the field settings the required lightswitch is toggled on. However, on the entry page, they are not actually required so this seems to be a bug only with the l

[2020-09-17 19:58] yoannisj commented on #387
After udpating from Neo v2.7.25 to v2.8.7, I have the same issue in front-end twig templates. Here too, this happens only for some fields, and it seems only when the field is eager loaded:

[code]

[code]

In the craft CP, the issue does not occur (maybe the field blocks are not eager-loaded in the element edit screens?).

I call `{% do block.useMemoized() %}` in a for loop right after accessing t

[2020-09-17 20:12] yoannisj commented on #387
Maybe this is related to the fact that the buggy neo field blocks have a relational field (an asset field) ?

[2020-09-18 03:02] ttempleton commented on #400
The incorrect display of non-required fields as required should now be fixed in Neo 2.8.9.

I was unable to reproduce the last part of issue 2 regarding labels and UI elements disappearing, though -- @jlcharette if possible could you please let me know the specific Craft/Neo versions you were upgrading from?

[2020-09-18 03:04] ttempleton commented on #397
Closing due to inactivity and not being reproducible.  If the error persists, please provide the previously requested information, and we'll reopen the issue.

[2020-09-18 03:04] #397 closed

[2020-09-18 08:00] ttempleton commented on #387
@yoannisj thanks for pointing that out; confirming that it is happening for me when eager loading the same entry of mine that was doing this with GraphQL queries.  I'm starting to wonder if there's something wrong with Neo's eager loading map, or maybe we just need to update how it works, if it was working fine with Craft 3.4.  I'll keep looking into it.

[2020-09-18 08:48] jerome2710 commented on #396
@ttempleton could you provide us with an update on this matter? You mentioned the progress in the branch, but some difficulties with the propagations. When could this be fixed and released as an update?

We are paying $49 and $19/year for updates almost 20 times for our websites using your plugin. It would be nice if such bugs would be fixed within a month after reporting them.

[2020-09-18 11:24] ttempleton commented on #396
This was a Craft bug caused by craftcms/cms#6780 and was fixed in Craft 3.5.9.

[2020-09-18 11:24] #396 closed

[2020-09-20 16:23] #387 closed

[2020-09-20 16:35] ttempleton commented on #387
Just needed to make sure the returned data from `Field::getEagerLoadingMap()` included the owner ID.  All duplicate results should be gone now in Neo 2.8.10!

[2020-09-21 13:32] smcyr commented on #387
I now have duplicate blocks in my GraphQL queries. It was working fine with 2.8.8 (with my pull request for the level: 1) but it now returns multiple times the same block in 2.8.10.
Here is the query:
[code]
Here is the result on 2.8.8:
[code]
And here are the results on 2.8.10:
[code]
It's a Craft neo block inside a an entry field inside a Craft neo block.

[2020-09-21 13:38] smcyr commented on #387
If I put back the array_unique, it works again:
https://github.com/spicywebau/craft-neo/commit/dbdf18fbfeba4e482f27e34d03a1ae7d4b174817#diff-a74db024a9c641dac9390b3a0e7465e6L38

[2020-09-21 13:52] ttempleton commented on #387
Thanks for letting me know @smcyr, should be working again in Neo 2.8.10.1.

[2020-09-21 13:59] smcyr commented on #387
@ttempleton thanks!!

[2020-09-22 09:03] ttempleton commented on #360
Thanks for reporting this, the asset thumbnails will be fixed in the next release.

Regarding the asset field selector and the missing border -- this is happening due to empty asset fields having a little less height on them compared with other empty element fields, which causes the selector button for asset fields to overflow the field area.  This seems to be happening regardless of context.  In

[2020-09-22 09:03] #360 closed

[2020-09-23 12:55] psalkowskisii opened #402 "GraphQL - php serialized instead of json"
#### Description
We are using GraphQL (CraftQL) for fetching data into Gatsby. With CraftCMS Matrix we are able to fetch specific fields from that matrix, but with Neo we are not. My field is appearing as a property instead of relation, and contains PHP Serialized array. Is there any way to convert it to JSON or even, make relations from it?

![image](https://user-images.githubusercontent.com/6025

[2020-09-24 09:05] psalkowskisii commented on #402
We can close issue. I have found somewhere here that Craft Neo doesn't support CraftQL anymore. We removed CraftQL and use native solution, and now it works well.

[2020-09-24 09:05] #402 closed

[2020-09-28 04:32] ttempleton commented on #400
Closing this now; hopefully you've resolved part two of your issue, but if not, please let us know the information requested in my previous two comments and we'll reopen the issue.

[2020-09-28 04:32] #400 closed

[2020-09-28 05:36] ttempleton commented on #205
The calls to `all()` will each execute a new query, so something like

[code]

is executing a query for all `componentsMatrix` blocks, for each block in `componentsMatrix`.  Furthermore, the memoized data is effectively lost after the loop completes execution -- the `entry.componentsMatrix.all()` being looped over won't exist afterwards.  The blocks should be set to a variable beforehand:

[code]

[2020-09-28 05:36] #205 closed

[2020-10-01 03:42] ttempleton commented on #360
Neo 2.8.11 has just been released with the fix for this issue.

[2020-10-07 05:15] ttempleton commented on #7
Now implemented in the [`neo-2.9`](https://github.com/spicywebau/craft-neo/tree/neo-2.9) branch.

[2020-10-07 05:15] #7 closed

[2020-10-07 16:12] proimage opened #403 "Choose where the buttons for child blocks are placed"
If a block in a Neo field can be a parent block (i.e. it can have child blocks), then the buttons to add them show up at the bottom of the parent block. They also are shown regardless of which field tab is active in the parent block.

It would make a lot more sense if those buttons could optionally be placed _inside_ a specific tab, at a specific location among the parent block's custom fields.

I

[2020-10-08 04:55] ttempleton commented on #403
Great idea, will add this to the todo list for Neo 2.9.

At the moment, I imagine it working a bit more like the title field for entries/categories, where there is always exactly one element of that type on the field layout (just because I'm not sure if it's possible to have a reusable element that only Neo blocks can use; ideally we would want to allow reuse if possible, though, so the buttons ca

[2020-10-09 09:42] proimage opened #404 "Fields in Neo always marked as required after editing title or description"
Note: This seems to be the same as issue 1 in https://github.com/spicywebau/craft-neo/issues/400.

#### Description
In a Neo block's field layout, if a field is added and then its properties are edited in any way—such as customizing or hiding the Title, or customizing the Instructions—then from that point onwards, the Required lightswitch will always be toggled to `TRUE` when opening its propertie

[2020-10-12 02:18] ttempleton commented on #404
Thanks for reporting this -- should now be fixed in Neo 2.8.12.

[2020-10-12 02:18] #404 closed

[2020-10-14 20:04] BrandonJamesBorders opened #405 "Integrity Constraint Violation on rebuild / apply"
#### Description
Have parallel development happening on a site. Each branch is adding/modifying blocks. When merging branches and applying the changes we get the following error:
[code]

#### Steps to reproduce
1. In attached file, init craft project with files and db from`branchA`'
2. Merge content from `branchB`
3. Run config apply.
4. Get error message

#### Other information
- Neo version: 2.8

[2020-10-14 21:16] BrandonJamesBorders opened #406 "project-config/apply rebuilds from db instead of using yaml file"
#### Description
Trying to replicate some quirks I've found lately with this plugin. One is that project-config/apply will not apply changes from the YAML files on changed block handles. I've created a test repository so you could follow along with my steps exactly if you choose.

#### Steps to reproduce
1. In a project, create a new branch.
2. In the new branch, [rename a neo block and update han

[2020-10-15 13:47] ttempleton commented on #405
Hi @BrandonJamesBorders,

Thanks for providing the files.  According to the YAML file for the affected Neo block type, it belongs to a field with a UID that doesn't exist for any field anywhere within the DB, or the field YAML files.  I don't think it's a case of the Neo field being deleted without deleting its block types, because that field UID still appears in one field layout.  It seems more l

[2020-10-15 13:47] #405 closed

[2020-10-15 13:56] ttempleton commented on #406
This is strange -- clearly there's a bug somewhere, but I'm not really sure *where* at this point.  Neo's `handleChangedBlockType()` seems to be working correctly, as far as I can tell -- it's just being given the *old* block type settings by the project config apply process for some reason.  That said, I don't think it's a Craft bug, because everything works correctly for a Matrix field, and the

[2020-10-15 17:58] gquimper commented on #406
Following this thread since we do have this issue as well, applying config is overriding the YAML files. This is a major road block for development collaboration, thanks for looking into this issue.

We are running the same versions mentioned above (Craft Pro 3.5.12.1 and Neo 2.8.12)

[2020-10-16 04:07] ttempleton commented on #406
This seems to be working fine for me now with Craft 3.5.13.1 -- @BrandonJamesBorders @gquimper could you please confirm if this is the case for you?

[2020-10-16 13:48] gquimper commented on #406
@ttempleton Did some tests after updating Craft and indeed it seems to fix the sync issue, the YAML were not override by DB values. Thanks for looking into it.

[2020-10-18 15:20] ttempleton commented on #406
Thanks for confirming, @gquimper!  I've also just made the fix in Neo for this to work properly with Craft 3.5 releases prior to 3.5.13, which will be included in the next release.

[2020-10-18 15:20] #406 closed

[2020-10-27 16:11] BrandonJamesBorders opened #407 "Feed Me Related Error: Call to a member function all() on string - Field.php: 399"
#### Description
When using Feed Me to import entries into a section and instructing it to create related categories, if the category has a neo field the import fails.

#### Steps to reproduce
1. Create a category group and add a neo field to its field layout.
2. Create a section and add a category field with the source of the category group created in step 1.
3. Create a CSV with a title and cate

[2020-10-28 02:00] ttempleton commented on #407
Feed Me doesn't support Neo, unfortunately -- I'd recommend adding a +1 to the feature request at craftcms/feed-me#335.

[2020-10-28 02:00] #407 closed

[2020-10-28 14:46] viooolDN opened #408 "Invalid Argument – yii\base\InvalidArgumentException EntryTitleField can only be used in entry field layouts."
#### Description
After updating Craft and Neo, the following error shows when opening/creating an Entry.
[code]

See the following fix in Craft:
https://github.com/craftcms/cms/issues/6503

#### Steps to reproduce
1. Update Craft CMS  from 3.5.11.1 => 3.5.14
2. Update neo from 2.7.25 => 2.8.12
3. Open or create an Entry in Craft CMS

#### Other information
- Neo version: 2.8.12
- Craft version: 3.

[2020-10-28 15:08] rauwebieten opened #409 "Project config sync fails"
#### Description

When applying a existing project config, a SQL error occurs

[code]

#### Steps to reproduce
1. Create a website with neo fields
2. Use project config to transfer to another environment

#### Other information
- Neo version: 2.8.12
- Craft version: 3.5.14
- (if multi-site) What is the affected Neo field's propagation method:  translationMethod: site
- Is eager-loading used?

[2020-10-29 02:34] ttempleton commented on #409
`fieldId` being null implies that the field with the UID specified in the block type's YAML file doesn't exist.  Admittedly we should probably throw an exception the moment we get a null ID, before we try the insert, so I'll make that change for the next release.  I'd recommend double-checking that the field actually does exist in the project config, that the field YAML file hasn't just gone missi

[2020-10-29 02:34] #409 closed

[2020-10-29 04:11] ttempleton commented on #408
I was unable to reproduce this error, but it should never be possible to have an `EntryTitleField` on a Neo block type's field layout -- indeed there is nothing in Neo that references `EntryTitleField` in any way.

Does that field appear on the field layout when editing the affected block type?  If it does appear, can it be dragged out?  If it doesn't appear, does resaving the Neo field resolve th

[2020-10-29 14:33] viooolDN commented on #408
Hello Thomas,
Thank you for your answer. Resaving the Neo fields did the trick!

[2020-10-29 14:33] #408 closed

[2020-11-02 14:35] proimage opened #410 "Getting "Unknown Downloader Type" when trying to update to Neo 2.8.13"
[code]

#### Other information
- Neo version: 2.8.12 -> 2.8.13
- Craft version: 3.5.14
- OS: Windows 10

[2020-11-03 01:58] ttempleton commented on #410
It seems like others who have gotten that error have had success clearing Composer's cache, or deleting the `vendor` directory and reinstalling the packages (see https://stackoverflow.com/a/38838670).  Do either of those fix the error?

[2020-11-05 18:37] nstCactus opened #411 "When saving an entry in site X, edited neo block disappears on site Y"
#### Description

We have a Craft instance having 2 sites: `fr` and `en`. There is a neo field that used to be configured with the *Save blocks to other sites in the same site group* propagation method. Some content were added and at some point we decided to switch to the *Only save blocks to the site they were created in*. We didn't notice anything wrong so we went on adding more content.

A few

[2020-11-06 13:50] timmyomahony opened #412 "Possibility of adding an "afterInit" event to the Neo input JavaScript?"
I'm working on adding Neo support to our [Craft Matrix Field Preview](https://github.com/weareferal/craft-matrix-field-preview) plugin.

In order to be able to render previews and optional preview modal, we need to know when the matrix field or neo input field has finished loading on the frontend.

With matrix fields, Craft have a specific `afterInit` event here:

https://github.com/craftcms/cms/b

[2020-11-08 14:22] ttempleton commented on #411
Thanks for reporting this, it appears that the new propagation method was not being applied to existing blocks.  Neo 2.8.14 has just been released with the fix for this -- including a migration to reapply propagation methods on existing blocks.  My testing has indicated the migration is working fine, but please make sure to backup your database before updating, just in case.

[2020-11-08 14:22] #411 closed

[2020-11-08 14:28] ttempleton commented on #412
The `afterInit` event has now been included in Neo 2.8.14.  Let us know if there's anything else we can do to allow Neo support in Matrix Field Preview!

[2020-11-08 14:28] #412 closed

[2020-11-08 15:04] proimage commented on #410
Yes, thanks!

[2020-11-08 15:04] #410 closed

[2020-11-08 18:18] timmyomahony commented on #412
This is great, thanks so much.

[2020-11-09 11:08] nstCactus opened #413 "Error in "Applying new propagation method to Neo blocks" queue job"
#### Description

After upgrading to 2.8.14, I get errors in the Craft queue job **Applying new propagation method to Neo blocks**:

After digging a little, it seems like the issue is thrown when saving a Super table field inside the Neo block (but if I understand correctly how Craft saves data internally, I think nested Matrix field may be affected as well).

I can provide a db dump to help debug

[2020-11-09 11:11] nstCactus commented on #411
Thanks for the quick fix!

Unfortunately I'm now getting another error when the new queue job is run but I created a new issue (#413) to tackle that.

[2020-11-10 07:59] haabe commented on #413
I got this error as well. I got all the Neo fields set to **Only save blocks to the site they were created in**. I also have a mix of Neo blocks and Super Table fields.

[2020-11-11 03:09] ttempleton commented on #413
I've not been able to reproduce this error so far -- did this only happen after resaving the Neo field, or did this start happening as soon as the 2.8.14 migration was applied?

[2020-11-11 09:01] haabe commented on #413
To me it happened as soon as the 2.8.14 migration was applied. I have not resaved any of the fields.

[2020-11-11 11:09] haabe commented on #413
An update on my side. Some of my sites had empty Neo blocks. After adding a block, saving and trying to propagate again, it all checked out OK.

[2020-11-11 16:48] proimage opened #414 "Block grouping (the dropdown) not shown when there is only one block in the group"
#### Description
If there's a group of blocks with only one block, then instead of having a dropdown with a single option, the grouping is hidden entirely, and that single block is shown instead.

This also happens when there is only one valid block in a group of multiple blocks for the current context.

For example, I have a group called "Containers", with two blocks, "Container" and "Tabbed Cont

[2020-11-12 09:00] ttempleton commented on #414
Yeah, this is how groups with one block type have been displayed since the early days of Neo (see #5).  It's an interesting question about whether it should display a dropdown anyway, or at least have the option, as you suggest.  My personal preference is the current behaviour; my concern is that, when you only have one block type in a group, displaying the dropdown doesn't help much in terms of b

[2020-11-12 09:25] proimage commented on #414
While I'm all for reducing clicks where possible, I think that goal is overshadowed by the mental confusion caused by unexpected behavior.

Let's consider the two instances where a group could only have a single block.

1. A group was created, given a name, and manually assigned by the developer to have only a single block. The intended result of the developer would be that the block appear in tha

[2020-11-12 20:54] nstCactus commented on #413
As for me, I had some serious issues with my Super Table blocks. After fixing them, the migration applies without trouble.

[2020-11-12 20:54] #413 closed

[2020-11-13 02:07] ttempleton commented on #413
@nstCactus, @haabe, glad it's sorted out!

[2020-11-15 13:17] ttempleton commented on #82
Now implemented in the [`neo-2.9`](https://github.com/spicywebau/craft-neo/tree/neo-2.9) branch.

[2020-11-15 13:17] #82 closed

[2020-11-16 07:20] ttempleton commented on #38
Closing this now, as it is no longer an issue as of the Craft 3 version.

[2020-11-16 07:20] #38 closed

[2020-11-18 10:40] ttempleton commented on #256
Matrix Field Preview is adding Neo support, so there's no more need for this to be implemented on Neo's end.

[2020-11-18 10:40] #256 closed

[2020-11-19 01:42] keenanpayne commented on #400
In case anyone is looking for a workaround for the inability to have empty tabs 👇🏻

1. Create a tab that you want to be empty and place a `Template` UI Element inside of it
  - <img width="644" alt="Screen Shot 2020-11-18 at 5 37 27 PM" src="https://user-images.githubusercontent.com/1534650/99609495-dfccc580-29c4-11eb-99a5-b19b7969ebee.png">
2. Put the name of the template as `blank` and save your

[2020-11-19 16:45] bradleyw92 opened #415 "Internally link to another page"
I can't seem to find out a way to internally link to another page.

The best option I found was to create a field using entries which enables you to select a page you want to link with however there doesn't appear to be a way to echo that url in twig.

I then wondered whether the entries option was even suitable as that looks like it's getting information from the page you select.

I know there's

[2020-11-20 03:01] brianrivet-tilt opened #416 "Some Blocks are losing field layouts when project config is applied."
#### Description
I have a number of blocks that are losing their field layouts when the project config is applied from another computer.

#### Steps to reproduce
1. Created block type and added fields to field layout on one computer.
2. Commit changes in project config to repository.
3. Pull changes to local repository on other computer and apply project config changes in CP.
4. Go to block in Neo

[2020-11-20 04:24] ttempleton commented on #415
You can get the `url` property from an entry.  So if your entry field is in a Neo block, your Twig code might look something like this:

[code]

[2020-11-20 04:24] #415 closed

[2020-11-23 04:55] ttempleton commented on #416
I've been unable to reproduce this so far -- are there any specific fields that are common to the disappearing field layouts?

[2020-11-25 06:18] brianrivet-tilt commented on #416
You can close this out. It seems to have fixed itself. I'm going to chalk it up to user error :)

[2020-11-25 06:19] #416 closed

[2020-11-26 11:34] ttempleton commented on #416
No worries, glad it's sorted out!

[2020-11-30 06:31] ttempleton commented on #203
A max level field setting will be added to Neo 2.9.

I'm not sure whether this feature request intended for the setting to be added to the field or the block type, but we've decided it would be better placed on the field: firstly, it's consistent with Craft's behaviour with structure sections (i.e. the entire structure has a single max level, not varying max nesting levels per entry); and secondly

[2020-11-30 06:31] #203 closed

[2020-11-30 17:00] twosixcode commented on #413
I'm encountering this issue with the migration as well, post update. I'm not sure yet the root cause. What is the upshot here or recommended way to diagnose or fix this?

[2020-11-30 17:05] nstCactus commented on #413
In my case, the problem was caused by inconsistencies in super table blocks I had nested in my Neo blocks.
The Super Table *Check content table* utility helped me diagnose but couldn't fix all errors by itself and I had to figure out by myself how to fix them.
I you also use Super table, it might be worth trying. You can find this utility at `admin/super-table/settings`.

[2020-11-30 17:07] twosixcode commented on #413
Thanks. We are not using Supertable. I'm hoping @ttempleton  might have an idea here.

[2020-11-30 19:51] twosixcode opened #417 ""Applying new propagation method to Neo blocks" Job fails with "Attempting to save an element in an unsupported site.""
#### Description

This is very similar (really verbatim) to a closed issue https://github.com/spicywebau/craft-neo/issues/413

But the resolution to that issue references Supertable, which we are not using.

This queued Neo job has 1,000s of items in it and gets about 70% complete before failing with the above error.

#### Steps to reproduce
1. Have Multisite Craft install with Neo field set to "O

[2020-12-01 08:12] ttempleton commented on #417
The migration running that job was added as part of the fix for #411, so my best guess at this point is that some Neo fields that had already been affected by that issue would be involved.  I don't think this should have any other side effects or other impact on the site, but if you're concerned about that possibility, then feel free to revert to Neo 2.8.13 for the time being.

Are there any warni

[2020-12-01 14:44] twosixcode commented on #417
Thanks for the reply.

Yes, we use Matrix fields within Neo.

No, I did not see any occurences of this warning in queue.log

[2020-12-02 03:44] ttempleton commented on #417
I was thinking about whether the errors could be coming from nested Matrix blocks; even if #413 turned out to be Super Table-specific, I can't yet rule out a situation where nested block element fields are being affected in general, e.g. if there are any cases where the Neo block isn't providing the correct supported sites to them.

That makes it unlikely that #411 has affected the field, then (I

[2020-12-02 17:32] twosixcode commented on #417
Sent! Thank you for the continued support here.

[2020-12-07 10:02] nordentwickler commented on #417
Hello, we do have the same problem. The job "Applying new propagation method to Neo blocks" fails with "There was a problem getting the parent element." and we do have lots of errors with this messag in queue.log

[code]

And yes, it is a multi-site installation with neofields including matrix-fields. Should i send the composer.json/lock and db-backup as well?

--

[2020-12-07 10:45] ttempleton commented on #417
Thanks for sending the email, @twosixcode; sorry about this, but could you please allow access to the included link for peter@spicyweb.com.au (currently he gets the emails sent to the plugins address) and he'll make sure the files get to me.

Thanks for the offer, @nordentwickler, hopefully we won't need any more database backups to debug this, however I am wondering whether that element with ID 3

[2020-12-07 10:49] nordentwickler commented on #417
The element with id 310809 is a neo - type-Column: benf\neo\elements\Block

[2020-12-07 11:12] ttempleton commented on #417
Thanks @nordentwickler, that makes it less likely that nested Matrix fields are involved with the errors, then.

[2020-12-07 11:16] nordentwickler commented on #417
If you need to watch at a running system with this issue, just drop me a line and i could share a screen for you for a local environment.

[2020-12-07 14:08] twosixcode commented on #417
@ttempleton I granted peter@spicyweb.com.au access.

[2020-12-08 14:45] ttempleton commented on #417
Thanks @twosixcode.  I've identified a number of older Neo blocks that just seem like leftover data that isn't really associated with any sites or block structure anymore, so the queue job's attempt to save these blocks for *any* site will cause the error.  I'm currently doing some testing with deleting that Neo block data and any relevant Matrix data, which so far is working in letting the job co

[2020-12-09 07:40] ttempleton commented on #417
Just released Neo 2.8.15 including the migration to soft-delete the Neo blocks with no associated block structure.  I'll close this issue now, but @twosixcode and @nordentwickler please let me know if you're still getting this error and I'll reopen it.

[2020-12-09 07:40] #417 closed

[2020-12-09 19:08] twosixcode commented on #417
Thank you for taking a look. We will test 2.8.15 in the near future and will let you know how it goes.

[2020-12-10 09:18] nordentwickler commented on #417
@ttempleton thank you for your work - seems to be allright!

[2020-12-14 09:57] Antimated opened #419 "Neo block with "Dropdown" field does not update live preview correctly after page is saved at least once"
#### Description
I have a "content builder" made in Neo where the client is able to update the background color of a certain block via a "Dropdown" field. However when you switch from **Wit** (white) to **Geel** (yellow) and back, the background color won't update properly in live preview mode.

 **_This ONLY happens when the page has been saved at least once!!!_**

#### Steps to reproduce

I have

[2020-12-15 21:40] nordentwickler opened #420 "NEO-field-content gets lost"
#### Description
I got a very strange behavior on project. There are different neo-fields for different sections - all with the same propagation mode. On a section with a simple neofield (just 4 block types) everything works fine, but on a very complex neo-field if got the following very bad bug:

After creating and saving a new entry with content in the neo-field, the content of the neo field get

[2020-12-16 12:29] ttempleton commented on #419
I haven't been able to reproduce this yet, but I was wondering if it happens with any entry, or only with a certain entry or section?

[2020-12-16 12:44] ttempleton commented on #420
I don't think this is the case if it was working before you updated to Neo 2.8, but just to rule it out -- are you using either the Preparse Field or Scout plugins?  In some cases they have been reported to cause Neo field data loss, see #398 and https://github.com/spicywebau/craft-neo/issues/305#issuecomment-598745689.

If that isn't the case, if possible, could you please send your composer.json

[2020-12-16 13:12] Antimated commented on #419
Should happen with any entry iirc.

[2020-12-16 13:32] nordentwickler commented on #420
@ttempleton you guys rock! Never got a better support on a plugin  🚀  👏

After removing the preparse field from the section, saving entries as a revision and duplicating them works like aspected! Thank you very much! This is the reason why a good plugin should be chargeable and should cost a yearly fee!

[2020-12-16 14:44] #420 closed

[2020-12-17 10:06] ttempleton commented on #420
No worries @nordentwickler, glad it's working again!

[2020-12-18 15:25] luke-nehemedia opened #421 "Error in queue: Applying new propagation method to Neo blocks"
#### Description
I just did a couple of updates on a clients side. A queue "Applying new propagation method to Neo blocks" was started but persistently fails near the end with the error message:

This is the information given for the queue:
[code]

The error-logs (queue.log) show this:
[code]

Do you have any idea what the problem is and how to solve it?

#### Other information
- Neo version: 3.6.

[2020-12-21 01:17] ttempleton commented on #421
The current Neo version is 2.8.15.1, but if that's the version you have, could you please send your composer.json/lock and database backup to plugins@spicyweb.com.au if possible, and we'll have a look at it.

[2020-12-21 12:34] mohan1712 opened #422 "neo fields are not saving properly (after saving the neo field values are disappearing)"
#### Description
we have migrated our content from v2.6.x to v3.5 of craft and installed neo plugin. some of the contents got missed like images .

#### Steps to reproduce
1.I have used neo fields and tried to modify the content as some of the images got missed in the entry
2.I saved after the images are uploaded
3. the neo field content was disappeared.

#### Other information
- Neo version:2.8.1

[2020-12-21 17:49] luke-nehemedia commented on #421
Oh yes, I accidentally copied the version of the wrong plugin.

I just sent you an email with the files.

[2020-12-22 01:34] ttempleton commented on #422
Just to clarify, is it just the content of the images field that's disappearing, or the entire Neo block(s)?

Which other plugins do you have installed?

Which version of Neo was your Craft 2 install using?

[2020-12-22 06:18] mohan1712 commented on #422
"Neo version on craft2 is 1.4.1"

[2020-12-22 06:54] ttempleton commented on #421
Thanks for sending those files, @luke-nehemedia.  The affected Neo block has an `ownerId` which doesn't exist as an element in the database -- it seems that, somehow, the owner entry/category/etc. has been deleted without this Neo block being deleted.  I'll add a migration to delete any Neo blocks with an owner element that doesn't exist, which should be released in the next day.

[2020-12-22 07:07] ttempleton commented on #422
Thanks for that, @mohan1712.  This is likely due to an issue with Preparse Field, which has been reported to cause Neo field content to be lost (see #398, which also involves an upgrade from Craft 2).  Disabling the Preparse Field plugin, or removing it from the affected section, should let the Neo field content save properly.

[2020-12-22 07:07] #422 closed

[2020-12-22 17:21] luke-nehemedia commented on #421
Thank you very much!

I have no idea how this happened, but thank you very much for the fix. I am curious to see how it works.

[2020-12-23 13:57] ttempleton commented on #421
An update on this: after applying the migration, the error persists; it just involves a different Neo block.  After looking into that further, I believe it's related to issue #363, and found that (at least in this case) the block appears to have been affected by the bug that also caused issue #411, it's associated with two different structures and is using the wrong structure ID when duplicating t

[2020-12-23 22:36] luke-nehemedia commented on #421
Thank you for all your efforts.

I have no idea what caused this problem. Maybe the reason was the jump in version numbers. This site has not been updated for a while, so there was quite a jump in the versions. Maybe that caused the problem somehow.

[2020-12-30 11:25] ttempleton commented on #421
Just released Neo 2.8.16, where the block propagation fix migration from Neo 2.8.14, that added the queue job causing this error, has been rewritten to apply propagation methods to Neo blocks on a per-block-structure basis rather than a per-field basis.  There are two actions that should be taken before updating (sorry for the inconvenience):

- Cancel the existing failed job
- Delete the row from

[2020-12-30 11:25] #421 closed

[2021-01-04 04:09] ttempleton commented on #204
I'm not sure what would've been happening to cause this error, but at this point I'm going to close this issue because the `templatecachequeries` table is no longer used as of Craft 3.5.  If there are any other Neo-related template caching errors happening with Craft 3.5, please feel free to open a new issue.

[2021-01-04 04:09] #204 closed

[2021-01-04 04:12] ttempleton commented on #87
Closing this issue due to its age and inactivity since the release of Neo for Craft 3.  If anyone has any issues with the speed of loading/saving Neo field data with Craft 3, please feel free to open a new issue.

[2021-01-04 04:12] #87 closed

[2021-01-04 04:13] ttempleton commented on #41
Closing this issue due to its age and inactivity since the release of Neo for Craft 3.  If anyone has any issues with the speed of the UI with Neo and Craft 3, please feel free to open a new issue.

[2021-01-04 04:13] #41 closed

[2021-01-04 17:48] lenvanessen opened #423 "Can't delete groups in 2.8.16"
#### Description
Unable to delete and empty group, it just keeps popping up again

[2021-01-07 15:43] bradleyw92 opened #424 "Linking to channel parent rather than entry"
#### Description

I have a field for entries which I use for internal buttons and works really well and I can get to my relevant channels or pages nicely. The only drawback I seem to have is being able to link to the actual parent channel / structure on say a homepage CTA button such as /news.

Curious to understand what would be the best route around this please?

[2021-01-08 07:50] ttempleton commented on #424
For general Craft CMS issues and questions that aren't specific to the Neo plugin, you might be better off either [opening an issue with Craft](https://github.com/craftcms/cms/issues), or (maybe better in this situation) [checking out some of the Craft resources and community links](https://github.com/craftcms/cms#popular-resources) for some ideas and assistance.

[2021-01-08 07:50] #424 closed

[2021-01-08 10:24] ttempleton commented on #3
Going to close this issue now -- while we always greatly appreciate any translation contributions from the community, at this point we would prefer to discourage posting translations here and instead exclusively encourage pull requests.  Starting with Neo 2.9 (and already added to the [`neo-2.9`](https://github.com/spicywebau/craft-neo/blob/neo-2.9/src/translations/en/neo.php) branch), we will pro

[2021-01-08 10:24] #3 closed

[2021-01-08 17:17] drobin03 opened #425 "Graphql: When specifying a Neo field twice in a Query, nested children are returned at the top-level"
#### Description

When querying content of a Neo field that exists on multiple entry types, as soon as a second reference to the field is added to the query (for the second entry type), all nested children are duplicated and returned at the field-level as well as being returned in the children array.

#### Steps to reproduce

Our use-case is more complex, but we managed to boil it down to the foll

[2021-01-11 12:03] ttempleton commented on #425
Thanks for reporting this, @drobin03, confirming that I can reproduce it.  Will look into it further and hopefully have a fix released soon.

[2021-01-11 13:32] drobin03 commented on #425
Fantastic, thanks @ttempleton!

[2021-01-12 11:20] ttempleton commented on #425
Should now be fixed in Neo 2.8.17!

[2021-01-12 11:20] #425 closed

[2021-01-15 09:28] jeffreyschmitz87 opened #426 "Multisite - Neo blocks disappear after saving it for the first time"
#### Description
We've updated our site from 1 language to a site with 2 languages. Our propagation method in our section is 'Only save entries to the site they were created in'.

## Neo - blocks disappear

The content from the Neo - blocks disappear after we're trying to save an Entry for the first time. After the Entry is saved for the first time the Neo - blocks *won't* remove after a save.

ht

[2021-01-18 10:43] ttempleton commented on #426
I haven't been able to reproduce this, but I'm wondering if you're using either the Preparse Field or Scout plugins? In some cases they've been reported to cause Neo field data loss, see #398 and https://github.com/spicywebau/craft-neo/issues/305#issuecomment-598745689.

[2021-01-18 12:16] jeffreyschmitz87 commented on #426
Thanks for your reply. We're not using the Preparse Field or the Scout plugin. I've listed the used plugins below:

- Advanced Url Field
- Amazon S3
- Amazon SES
- Asset Rev
- Expanded Singles
- Imager
- Mailchimp Subscribe
- Neo
- Redactor
- Relabel
- Sentry
- SEOmatic
- Table Maker

[2021-01-19 10:42] ttempleton commented on #426
Thanks for that @jeffreyschmitz87.  If possible, could you please send your database backup and composer.json/lock to plugins@spicyweb.com.au and we'll have a look at it.

[2021-01-20 09:08] jeffreyschmitz87 commented on #426
I would love to do that but we're using 4 custom fields from a module inside our Neo - field which causes errors if I would send over the database and composer.json/lock.

Is it possible to also send a ZIP - file containing the required modules for the custom fields?

[2021-01-20 11:58] ttempleton commented on #426
Yeah, please do send those as well.  Thanks!

[2021-01-21 09:24] jeffreyschmitz87 commented on #426
I've sent you the files via WeTransfer

[2021-01-25 11:54] ttempleton commented on #426
Thanks for sending those files.  I was able to reproduce the issue on your setup with the Neo field, but I was also able to reproduce it with a Matrix field, so it seems to be an issue that generally affects block element fields.  I was still unable to reproduce it on my usual testing setup (with either Neo or Matrix), so I'm not sure if this is a Craft bug or if any plugins or modules are causing

[2021-01-25 11:54] #426 closed

[2021-01-25 12:34] ttempleton commented on #423
Please edit your issue report to follow the [issue template](https://github.com/spicywebau/craft-neo/blob/2.8.16/.github/ISSUE_TEMPLATE).

[2021-01-25 12:52] jeffreyschmitz87 commented on #426
Thanks for your reply and looking into this. I've just sent an email with the same files to the support of Craft.

[2021-01-28 14:02] 2mas opened #427 "Blocks are losing position when changing revision of an entry"
#### Description
Hi, Neo-blocks are losing their levels when working with revisions. They all end up on the top-level when switching to older revisions.

#### Steps to reproduce
1. Create some blocks that have child-blocks on a page and save the page:
![image](https://user-images.githubusercontent.com/372362/106146692-431e6500-6177-11eb-93e4-61f69544565d.png)

2. Add something new on the page, a n

[2021-01-29 15:22] deanfields opened #428 "Add visual indicator when validation error occurs for a field in a tab (when content editing)"
When editing content and a validation error occurs on a field in a neo block tab, theres no visual clue where the issue has occurred. You have to click on every block's tabs to find the culprit. A good solution would be to make the title of the tab red and bold, or add an icon to indicate theres a validation error on that particular tab. It would save a lot of time for content editors.

[2021-02-01 00:51] ttempleton commented on #423
Going to close this as not reproducible, based on the information we have.

If the problem persists, please let us know after you've edited your issue report to follow the issue template, and we'll reopen the issue.

[2021-02-01 00:51] #423 closed

[2021-02-01 23:13] stevendierick commented on #282
I'm having the same issue. I'm trying to eager load my Neo field, which has one top level block with several children. The children still show if I disable a top level block. It's as if the children get appended to the previous top level block.

Works perfectly fine if I remove the eager loading bit of code.

**content-builder.twig:**

[code]

**top-level.twig:**

[code]

Neo version: 2.8.17
Craft

[2021-02-02 06:01] ttempleton commented on #282
Thanks for the template example @stevendierick, with that I was able to reproduce the bug, and it should now be fixed in Neo 2.8.18.

[2021-02-02 06:01] #282 closed

[2021-02-03 09:18] ttempleton commented on #427
I've been unable to reproduce this so far, but I have a couple of questions:

- Does this occur for all entries in all sections, or just specific entries/sections?
- Do the affected entries/sections have any common fields besides the Neo field, particularly from other plugins or modules?

[2021-02-03 15:07] 2mas commented on #427
We have a single for the startpage where it occurs, and also in a structure on other entries where it also occurs. I simplified this and removed the other fields to just use a minimum here:

![neo_block_order](https://user-images.githubusercontent.com/372362/106765523-2b445680-6639-11eb-90bc-5e5009e4cc38.gif)

Field type is URL on the externLink field:
![image](https://user-images.githubuserconten

[2021-02-04 03:24] ttempleton commented on #427
Thanks @2mas, unfortunately I'm still unable to reproduce the issue on my usual testing environment.  If possible, could you please send your composer.json/lock and database backup to plugins@spicyweb.com.au and we'll have a look at it.

[2021-02-04 08:23] 2mas commented on #427
Much appreciated, I have sent an email. Thanks!

[2021-02-07 21:46] lewisjenkins commented on #419
I'm also experiencing this. Neo block with a dropdown field. Live Preview works fine until first save. After saving, and going back into Live Preview mode, further changes to the dropdown are often (but not always) ignored by Neo. I don't know if this affects any other field types but it's certainly noticeable with dropdown fields .

[2021-02-07 22:12] lewisjenkins commented on #419
Just tried to recreate the issue with Radio Buttons but was working perfectly. This only seems to affect Dropdown fields so far.

[2021-02-07 22:18] lewisjenkins commented on #419
I'm now also seeing this with Radio Buttons as well as Dropdowns. Everything works perfectly until first save. After that, Neo sometimes ignores changes, but seemingly only in Live Preview mode.

[2021-02-08 08:21] ttempleton commented on #427
Thanks for sending that, @2mas.  After observing what was happening, I was able to reproduce it on my own testing setup.  It looks like it affects entries where the section isn't enabled for the primary site, the block structure isn't being saved for revisions, so we have no record of the block levels.

Interestingly, I found with your setup that after I saved the entry as a draft, then published